/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@font-face { 
   font-family: 'Spartan';  
   font-weight: 500;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('SpartanMB'),       
       url('../fonts/Spartan-Medium.woff2') format('woff2'),
       url('../fonts/Spartan-Medium.woff') format('woff'),
       url('../fonts/Spartan-Medium.ttf') format('ttf'),
       url('../fonts/Spartan-Medium.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'Spartan';  
   font-weight: 700;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('SpartanMB'),       
       url('../fonts/Spartan-Bold.woff2') format('woff2'),
       url('../fonts/Spartan-Bold.woff') format('woff'),
       url('../fonts/Spartan-Bold.ttf') format('ttf'),
       url('../fonts/Spartan-Bold.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'Spartan';  
   font-weight: 800;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('SpartanMB'),       
       url('../fonts/Spartan-Black.woff2') format('woff2'),
       url('../fonts/Spartan-Black.woff') format('woff'),
       url('../fonts/Spartan-Black.ttf') format('ttf'),
       url('../fonts/Spartan-Black.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'PlayfairDisplay';  
   font-weight: 400;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('PlayfairDisplay-Italic'),       
       url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
       url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
       url('../fonts/PlayfairDisplay-Italic.ttf') format('ttf'),
       url('../fonts/PlayfairDisplay-Italic.eot') format('eot');
   font-display: swap;
}
@font-face { 
   font-family: 'RobotoMono';  
   font-weight: 500;  
   font-style: normal;
   unicode-range: U+000-5FF;
   src: local('RobotoMono-Medium'),       
       url('../fonts/RobotoMono-Medium.woff2') format('woff2'),
       url('../fonts/RobotoMono-Medium.woff') format('woff'),
       url('../fonts/RobotoMono-Medium.ttf') format('ttf'),
       url('../fonts/RobotoMono-Medium.eot') format('eot');
   font-display: swap;
}
* {
   box-sizing: border-box;
}
html, body {
/* overflow-x: hidden; */
}
  
body {
 height: 100vh;
 width: 100%;
 font-family: Helvetica, arial;
 font-size: 16px;
 background-repeat: no-repeat;
 background-size: 100%;
 background: rgb(111,111,111);
 background: -o-radial-gradient(circle, rgba(111,111,111,1) 10%, rgba(82,82,82,1) 47%);
 background: radial-gradient(circle, rgba(111,111,111,1) 10%, rgba(82,82,82,1) 47%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6f6f6f",endColorstr="#525252",GradientType=1);
}

svg {
 border-radius: 2px 2px 10px 10px;
}

#piano-content {
 position: relative;
 top: 10vh;
 width: 100%;
 margin-bottom: 30%;
 margin-left: auto;
 margin-right: auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
}

.piano-body {
 height: 100% !important;
/*  width: 1240px; */
 margin: 0px auto;
 padding-left: 6px;
 padding-right: 6px;
 padding-bottom: 6px;
 border-radius: 10px;
 user-select: none;
 // background: rgb(50,50,50);
 // background: -webkit-gradient(linear, left top, left bottom, from(rgba(77,77,77,1)), color-stop(5%, rgba(59,59,59,1)), color-stop(22%, rgba(34,34,34,1)), color-stop(37%, rgba(30,30,30,1)), color-stop(96%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
 // background: -o-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);
 // background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);
 // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d4d4d",endColorstr="#343434",GradientType=1);
 background: linear-gradient(to bottom, #3B3B3B 0%, #222222 20%, #000000 40%, #191919 95%, #343434 100%);
 border: 1px solid black;
 font-family: Spartan;
}

// PIANO MENU STYLING
.piano-menu {
   padding: 10px 6px;
   &__top {
      display: flex;
      justify-content: space-between;
      padding-left: 7px;
      padding-right: 7px;
   }
   &__panel {
      box-sizing: border-box;
      display: flex;
      width: 66%;
      border: 2px solid #000;
      border-radius: 10px;
      padding: 0;
      position: relative;
      z-index: 15;
      height: 100px;
      background: linear-gradient(to bottom, #3C3C3C 0%, #222222 4%, #000 15%, #212020 50%, #000 85%, #191919 96%, #343434 100%);
      > div {
         box-sizing: border-box;
         opacity: 0;
         visibility: hidden;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         transition: .25s;
         padding: 10px;
         &.active {
            opacity: 1;

            visibility: visible;
            position: relative;
            transition: .25s .1s;
         }
      }
      > .piano-menu__song {
         height: 170px;
         bottom: -10px;
         top: auto;
         padding: 0;
         width: calc(100% + 4px);
         left: -2px;
         transform: scaleY(.8);
         transform-origin: 50% 100%;
         transition: .3s;
         border-radius: 11px 11px 0 0;

         &.active {
            transform: scaleY(1);
            transition: .4s;
            position: absolute;
         }
      }
   }
   .close {
      position: absolute;
      right: 20px;
      top: 15px;
      width: 14px;
      height: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      transition: .15s;
      &::before, &::after {
         content: '';
         background: #939393;
         width: 100%;
         height: 2px;
         position: absolute;
         border-radius: 2px;
      }
      &::before {
         transform: rotate(45deg);
      }
      &::after {
         transform: rotate(-45deg);
      }
   }
   &__search {
      color: #939393;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: .5px;
      display: flex;
      &-box {
         position: absolute;
         width: 35%;
         transition: .4s, background .2s .4s, width .2s;
         position: absolute;
         left: 11%;
         top: 50px;
         border: 1px solid #6C6C6C;
         border-radius: 5px;

         &::after {
            content: '';
            position: absolute;
            right: 10px;
            top: 5px;
            display: block;
            width: 15px;
            height: 15px;
            transition: .4s;
            background: url('../img/search.svg') no-repeat center center / contain;
         }
         &.active {
            outline: none;
            width: 100%;
            transition: .3s;
            width: 78%;
            background: linear-gradient(to bottom, #000 0, #000 50px, #353535 100%);
            padding: 10px 20px;
            &::after {
               right: 94%;
               top: 13px;
               transition: .3s;
            }
            input {
               padding-left: 32px;
               transition: .3s;
            }
            .close {
               opacity: 1;
               visibility: visible;
               transition: .4s;
            }
         }
      }
      
      &-results {
         visibility: hidden;
         opacity: 0;
         list-style: none;
         font-size: 13px;
         color: #B7B7B7;
         width: 100%;
         text-align: left;
         transition: .3s, height .2s, opacity .15s;
         height: 0;
         width: 100%;
         padding: 0;
         margin: 0;
         &.active {
            border-top: 1px solid #2F2F2F;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            transition: .3s;
            height: auto;
            padding-top: 10px;
            margin-top: 8px;
         }
         li {
            transition: .25s;
            position: relative;
            padding: 7px 0 7px 45px;
            cursor: pointer;
            border-radius: 3px;
            &::before {
               content: '';
               position: absolute;
               left: 10px;
               top: 7px;
               display: block;
               width: 15px;
               height: 15px;
               transition: .4s;
               background: url('../img/search.svg') no-repeat center center / contain;
            }
         }
         li:hover {
            background: rgba(255,255,255,.13);
            transition: .25s;
         }
      }
      > div {
         width: 50%;
         padding: 6px 30px;
      }
      
      h3 {
         font-size: 23px;
         text-transform: uppercase;
         color: #FF8300;
         text-shadow: none;
         text-align: initial;
         text-shadow: 0px 0px 10px rgba(255,131,0, 0.53);
         margin: 0 0 8px 0;
         font-weight: 800;
      }
      > div:first-child {
         text-align: right;
         border-right: 1px solid #505050;
         h3 {
            text-align: right;
         }
      }
      p {
         margin: 0;
         line-height: 1.5;
         max-width: 280px;
         text-align: left;
         font-weight: 700;
      }
      input {
         box-sizing: border-box;
         border: none;
         border-radius: 0;
         -webkit-appearance: none;
         font-size: 13px;
         color: #939393;
         letter-spacing: .5px;
         padding: 5px 15px;
         letter-spacing: 1px;
         width: 100%;
         display: block;
         background: transparent;
         font-family: Spartan;
         font-weight: 700;
         line-height: 1.1;
         &::placeholder {
            font-size: 13px;
            color: #939393;
            letter-spacing: .5px;
         }
         &:focus {
            outline: none;
         }
      }
   }

   &__song {
      
      &-wrapper {
         width: 100%;
         border: 3px solid #313131;
         border-bottom: none;
         box-shadow: 0 0 15px rgba(0,0,0,.8);
         border-radius: 10px 10px 0 0;
         position: relative;
         z-index: 15;
         background: linear-gradient(to bottom, #fff 0%, #fff 15%, #D8D8D8 55%, #BCBCBC 75%, #919191 95%, #555 100%);
      }
      &-info {
         display: flex;
         align-items: center;
         border-bottom: 1px solid #BABABA;
         justify-content: space-between;
         padding: 10px 25px 10px 30px;
         h4 {
            margin: 0;
            font-weight: 700;
            font-size: 13px;
            color: #4E4E4E;
            letter-spacing: .6px;
            line-height: 1;
            margin-bottom: -3px;
         }
         button {
            -webkit-appearance: none;
            border: none;
            font-size: 13px;
            font-weight: 800;
            margin-right: 20px;
            padding-left: 20px;
            letter-spacing: 1px;
            color: #4E4E4E;
            cursor: pointer;
            &:focus {
               outline: none;
            }
            &.play-btn {
               background: url('../img/play.svg') no-repeat left center / 14px auto;
            }
            &.restart-btn {
               background: url('../img/restart.svg') no-repeat left center / 14px auto;
            }
            &.autoplay-btn {
               background: url('../img/autoplay.svg') no-repeat left bottom 1px / 16px 16px;
            }
         }
         > div {
            display: flex;
            align-items: center;
         }
         .close {
            position: relative;
            top: 0;
            left: 0;
            opacity: 1;
            visibility: visible;
            width: 16px;
            height: 16px;
            &::before, &::after {
               background: #4E4E4E;
               height: 3px;
            }
         }
      }
      &-pattern {
         text-align: center;
         font-family: 'RobotoMono';
         font-weight: 500;
         font-size: 15px;
         padding: 10px 10px 25px;
         height: 127px;
         overflow-y: scroll;
         span {
            color: #0F0F0F;
            display: inline-block;
            line-height: 1;
            padding: 1px 2px 3px;
            margin-left: -8px; 
            transition: .25s;
            &.active {
               background: rgba(255,131,0, .5);
               border-radius: 3px;
               transition: .25s;
            }
            &.correct {
               color: #2FAA53;
               transition: .25s;
            }
            &.wrong {
               color: #E01E17;
               transition: .25s;
            }
         }
      }
      &-start {
         display: block;
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         background: rgba(0,0,0,.55);
         padding: 15px;
         transition: .4s;
         &.hidden {
            display: block;
            opacity: 0;
            visibility: hidden;
            transform: translateY(15px);
            transition: .3s;
         } 
         h3 {
            margin: 0;
            font-size: 26px;
            color: #FF8300;
            margin-bottom: 6px;
            line-height: 1;
            letter-spacing: 1.2px;
            font-weight: 800;
            text-shadow: 2px 2px 2px rgba(0,0,0,.6);
         }
         p {
            margin: 0;
            font-size: 14px;
            color: #939393;
            font-weight: 700;
            letter-spacing: .5px;
         }
      }
      .stats-toggle {
         position: absolute;
         left: 0;
         bottom: 22px;
         transform: translateX(-100%);
         height: 72px;
         display: flex;
         align-items: center;
         padding: 0 8px;
         margin-top: -1px;
         cursor: pointer;
         z-index: 15;
         &.active {
            span {
               transform: rotate(-135deg);
               left: 3px;
               transition: .3s;
            }
         }
         &::after,&::before {
            content: '';
            width: 1px;
            position: absolute;
            right: 10px;
            height: 25px;
            background: #505050;
         }
         &::after {
            bottom: 0;
         }
         &::before {
            top: 0;
         }
         span {
            display: inline-block;
            width: 0;
            height: 0;
            padding: 3px;
            border-top: 2px solid #939393;
            border-right: 2px solid #939393;
            position: relative;
            transform: rotate(45deg);
            transition: .3s;
         }
      }
      &-stats {
         border: 2px solid #000;
         border-right: 0;
         border-radius: 10px 0 0 10px;
         color: #939393;
         font-size: 10px;
         font-weight: 800;
         position: absolute;
         left: 0;
         bottom: 8px;
         z-index: 14;
         transform: translateX(-100%);
         background: linear-gradient(to bottom, #3C3C3C 0%, #222222 4%, #000 15%, #212020 50%, #000 85%, #191919 96%, #343434 100%);
         width: 26.7%;
         height: 100px;
         letter-spacing: .5px;
         display: flex;
         align-items: center;
         transition: .4s;
         font-weight: 700;
         &.invisible {
            transform: translateX(-11%);
            transition: .4s;
         }
         ul {
            padding: 0;
            margin-top: -2px;
            margin-bottom: 0;
            width: 100%;
         }
         li {
            display: flex;
            width: 100%;
            span {
               padding: 3px 12px;
            }
            span:first-child {
               text-align: right;
               width: 60%;
               border-right: 1px solid #505050;
            }
         }
      }
   }
   &__played {
      display: flex;
      &-functions {
         border-left: 1px solid #505050;
         padding: 7px 15px 10px; 
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         position: absolute;
         right: 0;
         top: 10px;
         height: calc(100% - 20px);
         span {
            width: 16px;
            cursor: pointer;
            height: 16px;
            display: block;
            position: relative;
            svg {
               display: block;
               width: 100%;
               height: auto;
            }
            &:hover {
               path {
                  fill: #fff;
                  transition: .25s;
               }
            }
         }
         path {
            transition: .25s;
         }
      }
      &-back {
         // background: url('../img/home.svg') no-repeat center center/ contain;
      }
      &-copy {
         // background: url('../img/copy.svg') no-repeat center center/ contain;
      }
   }
   &__chord {
      box-sizing: border-box;
      width: 13%;
      border-right: 1px solid #505050;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 20px;
      font-weight: 800;
      span {
         width: 100%;
         text-align: center;
         line-height: 1;
         letter-spacing: 1.5px;
         font-size: 22px;
         color: #FF8300;
         padding: 10px 0 6px;
         &:first-child {
            border-bottom: 1px solid #505050;
         }
      }
   }
   &__history {
      color: #939393;
      font-size: 15px;
      padding: 1px 32px;
      margin: 0;
      width: 75%;
      letter-spacing: 1px;
      text-align: left;
      font-family: RobotoMono;
   }

   &__speaker {
      position: relative;
      width: 15.5%;
      background: url('../img/speaker.svg') no-repeat center center / contain;
      &.right::after {
         position: absolute;
         content: '';
         width: 90%;
         height: 90%;
         left: 5%;
         top: 5%;
         background: url('../img/logo.svg') no-repeat center center / contain;
      }
   }
   &__bottom {
      position: relative;
      z-index: 14;
      padding: 8px;
      margin-top: 8px;
      border-radius: 6px;
      border: 2px solid #000;
      background: linear-gradient(to bottom, #3C3C3C 0%, #212020 5%, #000 33%, #101010 50%, #191818 56%, #212121 95%, #343434 100%);
      ul {
         padding: 0;
         display: flex;
         justify-content: space-between;
         max-width: 700px;
         margin: 0 auto;
         list-style: none;
      }
      li {
         position: relative;
      }
      a {
         text-decoration: none;
         color: rgba(255,255,255,.34);
         font-size: 12px;
         text-transform: uppercase;
         letter-spacing: 1px;
         transition: .25s;
         padding: 0 10px;
         font-weight: 700;
         position: relative;

         // ORANGE BTN
         &.orange {
            color: #FF8300;
            height: 20px;
            text-shadow: 0 0 15px #FF8300;
            transition: .25s;

         }

         &::after {
            content: '';
            position: absolute;
            width: 75px;
            height: 4px;
            bottom: -5px;
            left: 50%;
            opacity: 0;
            transition: .3s;
            transform: translateX(-50%);
            background: radial-gradient(circle at center, rgba(255,255,255,.3) 0%, rgba(255,255,255,.3) 4%, transparent 4%),
                        radial-gradient(ellipse at top, rgba(255,255,255,.26) 0%, transparent 80%);
         }
         &.active::after {
            opacity: 1;
            transition: .3s;
         }
         &::before {
            transition: .25s;
            content: '';
            width: 18px;
            position: absolute;
            left: -15px;
            top: -1px;
            height: 12px;
            display: inline-block;
            opacity: 0;
         }
         &:hover {
            color: #fff;
            text-shadow: 0 0 15px #fff;
            transition: .25s;
            &::before {
               opacity: 1;
               transition: .25s;
            }
         }
      }
      .record-btn {
         padding-left: 0;
         svg {
            position: relative;
            top: 1px;
            margin-right: 5px;
            opacity: 0;
            transition: .3s;
            path {
               fill: #fff;
               transition: .3s;
            }
         }
         &:hover svg {
            opacity: 1;
            transition: .3s;
         }
         &.recording {
            color: #e01e17;
            text-shadow: 0 0 15px #E01E17;
            svg {
               opacity: 1;
            }
            path {
               fill: #e01e17;
               transition: .3s;
               &:first-child {
                  animation: blink 2s infinite;
               }
            }
         }
      }
      @keyframes blink {
         // 0% {
         //    opacity: 1;
         // }
         30% {
            opacity: 1;
         }
         50% {
            opacity: 0;
         }
         80% {
            opacity: 0;
         }
         100% {
            opacity: 1;
         }
      }
      .assist-btn {
         &::before {
            background: url('../img/assist.svg') no-repeat center center / contain;
         }
      }
      .metronome-btn {
         &::before {
            background: url('../img/metronome.svg') no-repeat right center / contain;
         }
      }
      .sound-btn {
         &::before {
            background: url('../img/sound.svg') no-repeat right center / contain;
         }
      }
      .styles-btn {
         &::before {
            height: 14px;
            top: -2px;
            background: url('../img/styles.svg') no-repeat right center / contain;
         }
      }
      .save-btn {
         &::before {
            background: url('../img/save.svg') no-repeat right center / contain;
         }
      }
     
   }
}
.submenu {
   position: absolute;
   color: #919191;
   bottom: -10px;
   width: 360px;
   border-radius: 10px;
   left: 50%;
   background: rgba(0,0,0,.85);
   backdrop-filter: blur(15px);
   border: 2px solid #000;
   box-shadow: 0 0 15px #000;
   opacity: 0;
   visibility: hidden;
   transform-origin: 0% 100%;
   transform: scaleY(.8) translate(-50%, 100%);
   transition: .4s, opacity .5s;
   &.active {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1) translate(-50%, 100%);
      transition: .4s;
   }
   .close {
      opacity: 1;
      width: 18px;
      height: 18px;
      visibility: visible;
      right: 10px;
      top: 10px;
      &::before, &::after {
         height: 3px;
         background: #FF8300;
      }
   }
}
.metronome {
   padding: 90px 40px 70px;
   &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
         font-size: 44px;
      }
      div {
         display: flex;
         align-items: center;
      }
      p {
         font-size: 10px;
         text-transform: uppercase;
         text-align: left;
         font-weight: 800;
         letter-spacing: .7px;
         margin: 0;
         margin-top: -8px;
         margin-left: 10px;
         line-height: 1.4;
      }
   }
   &__play {
      position: relative;
      width: 40px;
      height: 45px;
      display: block;
      cursor: pointer;
      margin-top: -7px;
      &.played {
         &::after {
            transition: .2s;
            opacity: 0;
         }
         &::before {
            transition: .25s .2s;
            opacity: 1;
         }
      }
      &::after,&::before {
         position: absolute;
         content: '';
         left: 0;
         transition: .25s;
      }
      &::after {
         width: 100%;
         height: 100%;
         transition: .25s .2s;
         background: url('../img/play-btn.svg') no-repeat center center/ contain;
      }
      &::before {
         width: 40px;
         height: 40px;
         top: 2px;
         background: #FF8300;
         border-radius: 5px;
         opacity: 0;
         transition: .2s;
      }
   }
   &__bpm {
      text-shadow: 0 0 15px #fff;
      font-weight: 800;
      color: #fff;
      letter-spacing: 8px;
      line-height: 1;
   }
   &__range {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 30px;
      span {
         font-size: 32px;
         color: #fff;
         font-weight: 400;
         line-height: 1;
         height: 28px;
         position: relative;
         cursor: pointer;
         &:first-child {
            font-weight: 800;
            top: -4px;
            line-height: 1;
            margin-right: 9px;
         }
         &:last-child {
            top: 2px;
            margin-left: 5px;
         }
      }
      input {
         width: 100%;
      }

      input[type=range] {
         display: block;
          height: 20px;
          cursor: pointer;
          -webkit-appearance: none;
          width: 100%;
          background: transparent;
      }

      input[type=range]:focus {
          outline: 0;
          border: 0;
      }

      input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: #707070;
          border-radius: 2px;
          
      }

      input[type=range]::-webkit-slider-thumb {
          border: none;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -8px;
          box-shadow: 0 0 10px #fff;
          background: #fff;
          animation: pulse-dot 1s cubic-bezier(.215,.61,.355,1) infinite;
           // background: radial-gradient(transparent 0,transparent 55%,#fff 60%);
           -webkit-animation-play-state: running;
           animation-play-state: running
      }

      input[type=range]:focus::-webkit-slider-runnable-track {
          background: #707070;
      }

      input[type=range]::-moz-range-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: #707070;
          border-radius: 2px;
      }
      input[type=range]:focus::-moz-range-track {
          outline: none;
          border: none;
      }

      input[type=range]::-moz-range-thumb {
          background: #fff;
          border: none;
          -webkit-appearance: none;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          cursor: pointer;
          box-shadow: 0 0 10px #fff;
      }

      input[type=range]::-ms-track {
          width: 100%;
          height: 3px;
          color: transparent;
          background: #707070;
          border-radius: 2px;
      }

      input[type=range]::-ms-fill-lower {
          background: #fff;
          border: none
      }

      input[type=range]::-ms-fill-upper {
          border: none;
          background: #fff;
      }

      input[type=range]::-ms-thumb {
          border: none;
          background: #fff;
          -webkit-appearance: none;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          cursor: pointer;
          box-shadow: 0 0 10px #fff;
      }

      input[type=range]:focus::-ms-fill-lower {
          background: #fff;
      }

      input[type=range]:focus::-ms-fill-upper {
          background: #fff;
      }
      @keyframes pulse-dot {
         0% {
            -webkit-transform: scale(1);
            transform: scale(1)
         }

         50% {
            -webkit-transform: scale(1.5);
            transform: scale(1.5)
         }

         100% {
            -webkit-transform: scale(1);
            transform: scale(1)
         }
      }
   }
}
  // END OF PIANO MENU STYLING
  .key-white, .key-black {
   transition: .2s;
  }
  .key-white:hover {
    fill: url("#grad-white-hover");
    transition: .2s;
  }
  
  .key-black:hover {
    fill: url('#grad-black-hover');
    transition: .2s;
  }
  
  .key-black:active, .key-white:active {
    fill: transparent;
    box-shadow: none;
    transition: .2s;
  }
  .key-span-black:active, .key-span-white:active {
   box-shadow: none;
   transition: .2s;
  }
  .key-span-white {
   transition: .2s;
    background: linear-gradient(#000 0%, #fff 1.48%, #d3d3d3 3.95%, #a5a5a5 93.6%, #d1d1d1 94.62%, #bababa 95.57%, #e0e0e0 96.44%, #c1c1c1 97.67%, #a0a0a0 98.85%, rgba(0, 0, 0, 0) 100%);
    
    // border-radius: 2px 2px 11px 11px;
    overflow: hidden;
    border-radius: 2px 2px 11px 11px;
    box-shadow: 3px 3px 3px rgba(255,255,255,.3);
      svg {
         border-left: 1.5px solid #707070;
         border-radius: 2px 2px 11px 11px;
      }
      &:first-child {
         svg {
            border-left: 2px solid #000;
         }
      }
  }
  
  .key-span-black { 
      transition: .2s;
      height: 136px !important;
      transform: translateX(2px);
    background: linear-gradient(#656565 0%, #000 1.38%, #585858 3.53%, #1c1c1c 93.01%, #5a5a5a 94.87%, #343434 96.44%, #2b2b2b 99.79%, rgba(0, 0, 0, 0) 100%);
      border-radius: 2px 2px 10px 10px;
      box-shadow: 0px 3px 2px rgba(0,0,0,.2);
      svg,rect {
         height: 135px;
      }
  }
  
  .key-span-black, .key-span-black svg, .key-span-black svg rect {
    width: 20px !important;
    margin-left: 0.5% !important;
  }
  
  select {
    visibility: hidden;
  }
  
  .container {
   display: none;
  }
  
  .noselect {
    -webkit-touch-callout: none;
   /* iOS Safari */
    -webkit-user-select: none;
   /* Safari */ /* Konqueror HTML */
    -moz-user-select: none;
   /* Old versions of Firefox */
    -ms-user-select: none;
   /* Internet Explorer/Edge */
    user-select: none;
   /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */;
  }


.hidden {
    display: none;
  }
  
  #Keyboard {
    margin: 3px!important;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 100%;
   /*scroll-snap-align: start;
    */
    scroll-behavior: smooth;
    -webkit-box-shadow: black 1px 0 5px;
    box-shadow: black 1px 0 5px;
  }
  
  .slider {
    /*  width: 700px;*/
    /* height: 240px;*/
    display: block;
    overflow-x: auto;
     /* -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory; 
  */;
  }

  #menu-div-low {
      display: none;
  }

.keylabel-w {
   
    position: absolute;
    left: 0px;
    padding: auto;
    top: 70%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    pointer-events: none;
    font-family: 'Lato', sans-serif;

  }

  .keylabel-b {
      
    position: absolute;
    left: 0px;
    padding: auto;
    top: 30%;
    width: 100%;    
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 13px;
    pointer-events: none;
    font-family: 'Lato', sans-serif;

  }
  
  
  
  
  
  /*ipad*/
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) {
   
    .piano-body {
      width: 95vw;
      margin: 0px auto;
      padding-left: 7px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-image: -o-linear-gradient(#454545 32px, #000 278px);
      background: rgb(43,43,43);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(43,43,43,1)), color-stop(3%, rgba(59,59,59,1)), color-stop(15%, rgba(82,82,82,1)), color-stop(38%, rgba(0,0,0,1)), color-stop(90%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b",endColorstr="#343434",GradientType=1);
      border: 2px solid black;
    }
  
    .slider {
      margin: 0px;
      height: 240px;
      display: block;
      overflow-x: auto;
          /* background-image: linear-gradient(#454545 32px, #000 278px); */;
    }
  
    #menu-div {
      margin: 1%;
   
      width: 100%;
      margin-left: 0;
      margin-right: 0px;
      border: 2px solid black;
      border-radius: 10px;
      background: rgb(60,60,60);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(60,60,60,1)), color-stop(3%, rgba(34,34,34,1)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(33,32,32,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(95%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3c3c",endColorstr="#343434",GradientType=1);
    }
  
    body, html {
      background-size: 110%;
      background-repeat: repeat-y;
      overflow-x: hidden !important;
    }
  
    body {
      position: relative !important;
    }
  
    #Selector {
      display: none;
    }
  
    #piano-content {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  
  /*iphone x*/
  
  

  
  .slider-active {
    width: 700px;
  }
  
  .pressed {
    fill: transparent;    
   
  }

  .span-pressed {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  
  h1, h3 {
    text-align: center;
    color: whitesmoke;
    text-shadow: black 1px 0 5px;
    text-transform: uppercase;
      /* -webkit-text-fill-color: white; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px black;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar:horizontal {
    margin-top: 10px;
    height: 10%;
    border-radius: 10px;
    background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-mob-port.png');
    background-position-y: 0px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  ::-webkit-scrollbar-track:horizontal {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    height: 30px;
    background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-mob.png');
    background-size: 100%;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    height: 20px;
    background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-thumb.png');
    background-size: initial;
    background-repeat: no-repeat;
  }
  
  p {
    text-align: center;
  }
  
  .song-wrapper {
    text-align: center;
    margin: 0 36%;
    display: block;
    padding: 5px;
    border-radius: 0.6em;
    background-color: #3a3a3a;
    color: #f5831f;
    display: none;
  }
  
  .sustain-button {
    /*  margin: auto;*/
    border-color: #3a3a3a;
    color: #f5831f;
    -webkit-box-shadow: 0 0 40px 40px #3a3a3a inset, 0 0 0 0 #3a3a3a;
    box-shadow: 0 0 40px 40px #3a3a3a inset, 0 0 0 0 #3a3a3a;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid  #3a3a3a;
    border-radius: 0.6em;
    cursor: pointer;
   /*   display: -webkit-box;
      display: -ms-flexbox;
     */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  .sustain-button:hover {
    -webkit-box-shadow: 0 0 10px 0 #3a3a3a inset, 0 0 10px 4px #3a3a3a;
    box-shadow: 0 0 10px 0 #3a3a3a inset, 0 0 10px 4px #3a3a3a;
    color: #ff9538;
    outline: 0;
  }
  
  .sustain-button.clicked {
    -webkit-box-shadow: 0 0 10px 0 #3a3a3a inset, 0 0 10px 4px #f5831f;
    box-shadow: 0 0 10px 0 #3a3a3a inset, 0 0 10px 4px #f5831f;
    color: #ff9538;
    outline: 0;
  }
  
  #loading-scr {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  
  .load-wrap {
    margin: 0 auto;
    top: 15vh;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  
  
  
  
  
  
  
  /*  Tablets in landscape mode, older desktop monitors */
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
  
    h1 {
      font-size: 32px;
    }
  }

  /* IPAD */
  @media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation:portrait) {
    
    body{
        overflow-x: hidden;
        margin: 0px;
    }
    .slider {
        margin: 0px;
        height: 290px;
        display: block;
        overflow-x: auto;

      }

    .piano-body {
        
    }  

    #menu-div {
        height: 100px;
    }

    #menu-div-low {
    display: block;
    width: 735px;
    height: 34px;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(#3c3c3c 0%, #212020 5.91%, #000 25.62%, #101010 47.78%, #191818 56.27%, #212121 92.61%, #343434 100%);
    margin: 0.5%;    
    width: 100%;
    margin-left: 0;
    margin-right: 0px;  

    }
    .key-span-black, .key-span-black svg, .key-span-black svg rect {
        width: 31px !important;
        height: 115px !important;
        margin-left: 0.5% !important;
        margin-top: -1px;
        -webkit-box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);
        box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);
        border-radius: 2px 2px 13px 13px;
      }
    
      .key-span-white, .key-span-white svg, .key-span-white svg rect {
        -webkit-box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.2);
        box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.2);
        border-radius: 2px 2px 17px 17px;
        width: 47px !important;
      }

      ::-webkit-scrollbar:horizontal {
        top: -10px;
        position: relative;
        height: 30px;
        
        background: rgb(77,77,77);
        background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);

        background-position-y: 0px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-track:horizontal {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        height: 30px;
        background: rgb(77,77,77);
        background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);
        background-size: 100%;
      }
    
      ::-webkit-scrollbar-thumb:horizontal {
        border-radius: 10px;
        height: 10px;
        background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-thumb.png');
        background-size: 90% 50%;
        background-position: center;
        background-repeat: no-repeat;
      }
  }
      
      /*  Tablets in portrait mode, large display smartphones landscape mode */
      
  @media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation:landscape) {

    body {
        width: 100%;
    }
  
    .piano-body {
      width: 95vw;
      margin: 0px auto;
      padding-left: 7px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-image: -o-linear-gradient(#454545 32px, #000 278px);
      background: rgb(43,43,43);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(43,43,43,1)), color-stop(3%, rgba(59,59,59,1)), color-stop(15%, rgba(82,82,82,1)), color-stop(38%, rgba(0,0,0,1)), color-stop(90%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b",endColorstr="#343434",GradientType=1);
      border: 2px solid black;
    }
  
    .slider {
      margin: 0px;
      height: 240px;
      display: block;
      overflow-x: auto;
          /* background-image: linear-gradient(#454545 32px, #000 278px); */;
    }
  
    #menu-div {
      margin: 1%;
      height: 88px;
      width: 100%;
      margin-left: 0;
      margin-right: 0px;
      border: 2px solid black;
      border-radius: 10px;
      background: rgb(60,60,60);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(60,60,60,1)), color-stop(3%, rgba(34,34,34,1)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(33,32,32,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(95%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3c3c",endColorstr="#343434",GradientType=1);
    }
  
    body, html {
      background-size: 110%;
      background-repeat: repeat-y;
      overflow-x: hidden !important;
    }
  
    body {
      position: relative !important;
    }
  
    #Selector {
      display: none;
    }
  
    #piano-content {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
    .key-span-black, .key-span-black svg, .key-span-black svg rect {
      width: 31px !important;
      height: 100px !important;
      margin-left: 0.5% !important;
      margin-top: -1px;
      -webkit-box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);
      box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);
      border-radius: 2px 2px 13px 13px;
    }
  
    .key-span-white, .key-span-white svg, .key-span-white svg rect {
      -webkit-box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.2);
      box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.2);
      border-radius: 2px 2px 17px 17px;
      width: 48px !important;
    }

    ::-webkit-scrollbar:horizontal {
        top: -10px;
        position: relative;
        height: 30px;
        
        background: rgb(77,77,77);
        background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);

        background-position-y: 0px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-track:horizontal {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        height: 30px;
        background: rgb(77,77,77);
        background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);
        
        background-size: 100%;
      }
    
      ::-webkit-scrollbar-thumb:horizontal {
        border-radius: 10px;
        height: 20px;
        background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-thumb.png');
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
      }
  }
  
  /*  Smartphones in landscape mode */
  
  @media only screen and (min-width: 421px) and (max-width: 767px) {

    body {
        width: 100%;
    }
  
    .piano-body {
      width: 90vw;
      margin: 0px auto;
      padding-left: 7px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-image: -o-linear-gradient(#454545 32px, #000 278px);
      background: rgb(43,43,43);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(43,43,43,1)), color-stop(3%, rgba(59,59,59,1)), color-stop(15%, rgba(82,82,82,1)), color-stop(38%, rgba(0,0,0,1)), color-stop(90%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b",endColorstr="#343434",GradientType=1);
      border: 2px solid black;
    }
  
    .slider {
      margin: 0px;
      height: 240px;
      display: block;
      overflow-x: auto;
          /* background-image: linear-gradient(#454545 32px, #000 278px); */;
    }
  
    #menu-div {
      margin: 1%;
      height: 88px;
      width: 100%;
      margin-left: 0;
      margin-right: 0px;
      border: 2px solid black;
      border-radius: 10px;
      background: rgb(60,60,60);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(60,60,60,1)), color-stop(3%, rgba(34,34,34,1)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(33,32,32,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(95%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3c3c",endColorstr="#343434",GradientType=1);
    }
  
    .menu-table {
      color: #FF8300;
      width: 100%;
    }
  
    .menu-table td {
      margin: 20px;
    }
  
    .menu-left {
      text-align: right;
    }
  
    body, html {
      background-size: 110%;
      background-repeat: repeat-y;
      overflow-x: hidden !important;
    }
  
    body {
      position: relative !important;
    }
  
    #Selector {
      display: none;
    }
  
    #piano-content {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  
    .key-span-black, .key-span-black svg, .key-span-black svg rect {
      height: 100px !important;
      width: 31px !important;
      margin-left: 0.5% !important;
      margin-top: -1px;
      
      border-radius: 5px 5px 13px 13px;
    }
  
    .key-span-white, .key-span-white svg, .key-span-white svg rect {
       
      border-radius: 2px 2px 17px 17px;
      width: 48px !important;
    }

    .key-span-black {
        -webkit-box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);
        box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);

    }

    .key-span-white{

        -webkit-box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.4);
        box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.4);

    }

    ::-webkit-scrollbar:horizontal {
        top: -10px;
        position: relative;
        height: 30px;
        
        background: rgb(77,77,77);
        background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);

        background-position-y: 0px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-track:horizontal {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        height: 30px;
        background: rgb(77,77,77);
        background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(59,59,59,1) 5%, rgba(34,34,34,1) 22%, rgba(30,30,30,1) 37%, rgba(25,25,25,1) 96%, rgba(52,52,52,1) 100%);
        
        background-size: 100%;
      }
    
      ::-webkit-scrollbar-thumb:horizontal {
        border-radius: 10px;
        height: 20px;
        background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-thumb.png');
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
      }

  }
  
  /*  Smartphones in portrait mode  */
  
  @media only screen and (max-width: 420px) {
    body {
        width: 100%;
    }
  
    .key-span-black, .key-span-black svg, .key-span-black svg rect {
      width: 31px !important;
      margin-left: 0.5% !important;
      margin-top: -1px;
      -webkit-box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);
      box-shadow: 0px 6px 4px -3px rgba(0,0,0,0.4);
      border-radius: 2px 2px 13px 13px;
    }
  
    .key-span-white, .key-span-white svg, .key-span-white svg rect {
          /*margin-right: 22px !important;
        */

      border-radius: 2px 2px 17px 17px;
      width: 45px;
    }
  
    .key-span-white {
    
      background: linear-gradient(#b5b5b5 0%, #fff 1.48%, #d3d3d3 3.95%, #a5a5a5 93.6%, #d1d1d1 94.62%, #bababa 95.57%, #e0e0e0 96.44%, #c1c1c1 97.67%, #a0a0a0 98.85%, rgba(0, 0, 0, 0) 100%);

      -webkit-box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.4);
      box-shadow: 2px 6px 4px -3px rgba(255,255,255,0.4);
      
      border-radius: 2px 2px 17px 17px;
      background-size: 20px 100%;
      width: 45px !important;
    }
  
    .piano-body {
      height: 100% !important;
      width: 90vw;
      height: 24rem;
      margin: 0px auto;
      padding-left: 7px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-image: -o-linear-gradient(#454545 32px, #000 278px);
      background: rgb(43,43,43);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(43,43,43,1)), color-stop(3%, rgba(59,59,59,1)), color-stop(15%, rgba(82,82,82,1)), color-stop(38%, rgba(0,0,0,1)), color-stop(90%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(59,59,59,1) 3%, rgba(82,82,82,1) 15%, rgba(0,0,0,1) 38%, rgba(25,25,25,1) 90%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b",endColorstr="#343434",GradientType=1);
      border: 2px solid black;
    }
  
    .slider {
      margin: 0px;
      height: 18rem;
      display: block;
      overflow-x: auto;
          /* background-image: linear-gradient(#454545 32px, #000 278px); */;
    }
  
    #menu-div {
      margin: 8px;
      height: 88px;
      width: 100%;
      margin-left: 0;
      margin-right: 0px;
      border: 2px solid black;
      border-radius: 10px;
      background: rgb(60,60,60);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(60,60,60,1)), color-stop(3%, rgba(34,34,34,1)), color-stop(10%, rgba(0,0,0,1)), color-stop(50%, rgba(33,32,32,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(95%, rgba(25,25,25,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(34,34,34,1) 3%, rgba(0,0,0,1) 10%, rgba(33,32,32,1) 50%, rgba(0,0,0,1) 90%, rgba(25,25,25,1) 95%, rgba(52,52,52,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3c3c",endColorstr="#343434",GradientType=1);
    }

    ::-webkit-scrollbar:horizontal {
        top: -10px;
        position: relative;
        height: 30px;
        background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-mob-port.png');
        background-position-y: 0px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-track:horizontal {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        height: 30px;
        background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-mob.png');
        background-size: 100%;
      }
    
      ::-webkit-scrollbar-thumb:horizontal {
        border-radius: 10px;
        height: 20px;
        background: url('https://devv.virtualpiano.net/wp-content/themes/generatepress_child/js-dev/assets//scroll-thumb.png');
        background-position: center;
        background-size: 100% 40%;
        background-repeat: no-repeat;
      }

  
   
  }
  
  .menu-table {
    color: #FF8300;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .menu-table td {
    margin: 20px;
  }
  
  .menu-left {
    text-align: right;
  }

