body {
  background: #f7f0f0;
}
body * {
  display: block;
  box-sizing: border-box;
  font-family: 'Comfortaa-Regular';
}
.promo__span,
.promo__button,
.contact-form__button {
  font-family: 'PoiretOne-Regular';
}
.promo__creative,
.section-h {
  font-family: 'Comfortaa-Light';
}
.nav-list__link,
.alt-nav-list__link,
.portfolio-item__price,
.logo-span {
  font-family: 'Comfortaa-Bold';
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.section-h,
.section-span {
  text-transform: uppercase;
  text-align: center;
}
.section-h {
  font-size: 1.5em;
  margin-bottom: 16px;
  color: #390606;
}
.section-span {
  font-size: 0.9em;
  letter-spacing: -0.5px;
  margin-bottom: 60px;
}
.section-padding {
  padding: 50px 10px 50px;
}
.promo {
  background: url('../img/promo3.jpg') center center;
  background-size: cover;
  min-height: 320px;
  height: 100vh;
  padding: 0 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}
.promo__logo {
  margin: 0 auto;
  margin-bottom: 4vh;
  width: 89px;
  height: 88px;
}
.promo__span {
  color: #fff;
  text-shadow: 1px 2px 1px #000;
  font-size: 1.8em;
  margin-bottom: 3vh;
  text-transform: uppercase;
}
.promo__creative {
  color: #c9c9c9;
  font-size: 1.2em;
  margin-bottom: 5vh;
  text-transform: initial;
  letter-spacing: 1px;
}
.promo__button {
  font-size: 1.25em;
  color: #fff;
  width: 233px;
  margin: 0 auto;
  padding: 20px 0;
  border: 1px solid #8f1010;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 5vh;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.promo__button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.promo__arrow-link {
  width: 40px;
  height: 20px;
  margin: 0 auto;
  background: url('../img/sprite.png');
  cursor: pointer;
  background-position: -512px -128px;
}
.main-header {
  padding: 40px 20px;
  position: relative;
  background: #610b0b;
}
.logo-link {
  display: inline-block;
}
.logo-img {
  width: 40px;
  display: inline-block;
}
.logo-span {
  display: inline-block;
  color: #e9e9e9;
  position: relative;
  top: -13px;
  right: -5px;
  font-size: 1.15em;
}
.nav {
  float: right;
  margin: 5px 0;
  
}
.nav-list__item {
  display: inline-block;
}
.nav-list__link {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  color: #e1e1e1;
  padding: 10px 20px;
  margin-right: 10px;
}
.nav-list__item:last-child .nav-list__link {
  margin-right: 0;
}
.nav-list__link:hover {
  color: #fff;
  transition-duration: 0.2s;
}
.alt-nav-div {
  display: none;
  float: right;
}
.nav-burger-label {
  position: absolute;
  right: 3%;
  top: 48px;
  display: block;
  width: 28px;
  height: 22px;
  cursor: pointer;
  padding-top: 10px;
  z-index: 5;
}
.nav-burger {
  display: block;
  width: 28px;
  height: 2px;
  background: #ccc;
}
.nav-burger::after,
.nav-burger::before {
  content: "";
  display: block;
  width: 28px;
  height: 2px;
  background:  #ccc;
  transition-duration: 0.2s;
}
.nav-burger-label:hover .nav-burger,
.nav-burger-label:hover .nav-burger::after,
.nav-burger-label:hover .nav-burger::before {
  background: #fff;
}
.nav-burger::before {
  transform: translate(0, -8px);
}
.nav-burger::after {
  transform: translate(0, 6px);
}
.nav-burger-box {
  display: none;
}
.nav-burger-box:checked ~ .nav-burger-label .nav-burger {
  background: #8f1010;
  transition-duration: 0.5s;
}
.nav-burger-box:checked ~ .nav-burger-label .nav-burger::before,
.nav-burger-box:checked ~ .nav-burger-label .nav-burger::after {
  opacity: 0;
  transition-duration: 0.5s;
}
.alt-nav-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
  height: 100%;
  text-transform: uppercase;
  background: #fff;
  line-height: 3em;
  opacity: 0;
  border-bottom: 1px solid #8f1010;
  z-index: -1;
  transition: opacity 0.4s, z-index 0.5s;
}
.alt-nav-list__item {
  display: inline-block;
  width: 28%;
  text-align: center;
}
.alt-nav-list__link {
  font-size: 0.85em;
  letter-spacing: -0.4px;
  color: #323232;
}
.alt-nav-list__link:hover {
  color: #000;
  transition-duration: 0.3s;
}
.nav-burger-box:checked ~ .alt-nav .alt-nav-list {
  opacity: 1;
  z-index: 3;
  transition: 0.4s ease;
}
.about {
  padding-top: 70px;
}
.about-list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.about-list__item {
  flex-basis: 240px;
  margin-bottom: 50px;
}
.about-list__icon {
  width: 128px;
  height: 128px;
  background: url('../img/sprite.png');
  margin: 0 auto;
  margin-bottom: 25px;
  background-position-y: -128px;
}
.about-list__fresh {
  background-position-x: 0;
}
.about-list__deliver {
  background-position-x: -128px;
}
.about-list__mood {
  background-position-x: -256px;
}
.about-list__order {
  background-position-x: -384px;
}
.about-list__text {
  color: #323232;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: -0.4px;
  text-align: center;
}
.portfolio {
  padding: 40px 15px 0;
}
.portfolio .section-h {
  margin-bottom: 60px;
}
.portfolio-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.portfolio-item {
  flex-basis: 49%;
  background: #999;
  margin-bottom: 20px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.portfolio-item__img {
  width: 100%;
  height: 100%;
  transition-duration: 1s;
}
.portfolio-img-scale {
  height: 100%;
  width: 110%;
  position: relative;
  right: 25px;
}
.portfolio-item:hover > .portfolio-item__img {
/*   filter: blur(1px); */
  transform: scale(1.2);
  transition-duration: 1s;
}
.portfolio-item:last-child {
/*   display: none; */
}
.portfolio-item:hover > .portfolio-item__title {
  bottom: 0px;
  transition-duration: .6s;
}
.portfolio-item__title {
  position: absolute;
  bottom: -50px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  font-size: 1.1em;
  color: #eee;
  padding: 10px;
  transition-duration: .4s;
}
.portfolio-item__price {
  display: inline-block;
  float: right;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
  cursor: pointer;
}
.popup-img {
  vertical-align: center;
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}
.portfolio__more {
  font-size: 0.9em;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 55px;
  cursor: pointer;
}
.portfolio__more::after {
  content: '';
  display: block;
  width: 40px;
  height: 20px;
  margin: 0 auto;
  background: url('../img/sprite.png');
  background-position: -512px -148px;
  position: relative;
  top: 20px;
}

.contact-list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-bottom: 30px;
}
.contact-list__item {
  flex-basis: 140px;
  margin-bottom: 50px;
  padding: 0 0px;
}
.contact-list__item-title {
  position: relative;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5em;
}
.contact-list__item-title::before {
  content: '';
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 30px;
  background: url('../img/sprite.png');
  background-position-y: 0;
}
.contact-list__tel::before {
  background-position-x: 0;
}
.contact-list__mail::before {
  background-position-x: -128px;
}
.contact-list__inst::before {
  background-position-x: -256px;
}
.contact-list__vk::before {
  background-position-x: -384px;
}
.contact-list__location::before {
  background-position-x: -512px;
}
.contact-form {
  max-width: 970px;
  margin: 0 auto;
}
.contact-form__input {
  background: #8f1010;
  border: none;
  padding: 15px 20px;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 0.9em;
  cursor: pointer;
}
.contact-form__input:focus {
  background: #bd1515;
}
.contact-form__input:invalid {
  box-shadow: none;
  background: #bd1515;
}

.contact-form__input::-webkit-input-placeholder       {opacity: 1; color: #fff;}
.contact-form__input::-moz-placeholder                {opacity: 1; color: #fff;}
.contact-form__input:-moz-placeholder                 {opacity: 1; color: #fff;}
.contact-form__input:-ms-input-placeholder            {opacity: 1; color: #fff;}
.contact-form__input:focus::-webkit-input-placeholder {opacity: 0;}
.contact-form__input:focus::-moz-placeholder          {opacity: 0;}
.contact-form__input:focus:-moz-placeholder           {opacity: 0;}
.contact-form__input:focus:-ms-input-placeholder      {opacity: 0;}

.contact-form__input-half {
  width: 49%;
  display: inline-block;
}
.contact-form__email-input {
  float: right;
}
.contact-form__button {
  width: 100%;
  padding: 12px 0 14px;
  text-transform: uppercase;
  font-size: 1.15em;
  letter-spacing: 1px;
  background: #610b0b;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.page-footer {
  background: #131316;
  height: 60px;
  text-align: center;
}
.page-footer__tel {
  color: #ddd;
  float: right;
  position: relative;
  top: 20px;
  right: 100px;
} 

@media screen and (max-width:1170px) { 
  .about-list__text {
    font-size: 1em;
  }
  .portfolio-list {
    justify-content: space-evenly;
  }
  .portfolio-item {
    flex-basis: 47%;
  }
  .page-footer__tel {
    right: 10px;
  }
  .portfolio-item__title {
    bottom: 0;
  }
}
@media screen and (max-width: 1023px) {
  .nav-list__link {
    padding: 10px 12px;
    margin-right: 5px;
  }
  .about-list {
    justify-content: space-evenly;
  }
  .about-list__item {
    flex-basis: 350px;
    padding: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .promo br {
    display: none;
  }
  .promo {
    font-size: 0.8em;
    padding: 0 60px;
  }
  .promo__button {
    font-size: 1.5em;
  }
  .alt-nav-div {
    display: block;
  }
  .about-list__item {
    flex-basis: 300px;
    padding: 0 50px;
  }
  .contact-list__item {
    flex-basis: 200px;
  }
  .portfolio-item {
    flex-basis: 90%;
  }
  .social-list {
    text-align: center;
    float: none;
  }
  .popup {
    height: 0;
    padding: 0;
  }
  .popup-img {
    height: 0;
  }
}
@media screen and (max-width: 479px) {
  .promo {
    padding: 0 20px;
    font-size: 0.75em;
  }
  .promo__creative {
    display: none;
  }
  .main-header {
    padding: 40px 10px 50px;
  }
  .nav-burger-label {
    right: 10px;
  }
  .alt-nav-list {
    width: 100%;
    height: 250px;
    z-index: -1;
  }
  .alt-nav-list__item {
    display: block;
    height: 36%;
    width: 150px;
    margin: 0 auto;
  }
  .alt-nav-list__link {
    padding: 16px;
  }
  .portfolio-item {
    flex-basis: 100%;
  }
  .about-list__item,
  .contact-list__item {
    padding: 0 30px;
  }
  .contact-form__input {
    text-align: center;
  }
  .contact-form__input-half {
    width: 100%;
  }
  .contact-form__message-input {
    height: 6em;
  }
}
@media screen and (max-height: 870px) {
  .popup-img {
    height: 100%;
    width: auto;
  } 
}
@media screen and (max-height: 450px) {
  .promo__creative {
    display: none;
  }
  .popup {
    height: 0;
    padding: 0;
  }
  .popup-img {
/*     height: 100%; */
  }
}
