@import "vars"


@media screen and (max-width: 850px)
	.top-header
		&::before
			background-size: 100% 120px
		.contact
				top: -6px
				left: auto
				display: flex
				justify-content: center
				width: 100%
				&-item,&-link
					width: 60px
	.logo-div
		margin-top: 55px
	.video
		top: -45px
		&-container
			background-position: 0 1px
	.widgets
		margin-top: -30px
		flex-flow: column nowrap
		&-1
			max-width: 520px
			width: 87%
			height: 280px
			iframe
				max-height: 260px

	.info
		.screenshot
			max-width: 700px
			&-item
				width: 50%
				margin-bottom: 14px

			&-img
				width: 90%
		.text-block
			max-width: 470px
			padding: 10px 20px
			font-size: 16px
			line-height: 1.6
		.text-sides,.text-block--left, .text-block--right
			max-width: 470px
			width: 100%
		.modal
			&-content
				width: 95%
				padding: 0px
			&-next, &-close
				right: 30px
			&-prev
				left: 30px
	.footer
		position: relative
		height: 210px
		&::before
			height: 210px
			background: url('../img/footer.png') no-repeat 0 10px /100% 250px
		&-content
			top: 95px
			form
				flex-flow: row wrap
				justify-content: center
		&-label
			font-size: 22px
			width: 100%
		&-field
			display: inline-block
			max-width: 200px
			padding: 2px 10px 5px
			font-size: 20px

		&-button
			width: 75px
			height: 75px
			margin-left: 0px
@media screen and (max-width: 579px) 
	.info
		.screenshot
			flex-flow: column nowrap
			justify-content: center
			align-items: center
			&-item
				width: 90vw
				height: 45vw