@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color:#F2F2F2;
}
.text-block {
	width: 50%;
	h2 {
		font-family: 'gilroy-b';
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		line-height: 42px;
		color: $black;
	}
	.p-default {
		font-family: 'proxima';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 22px;
		margin: 30px 0px 40px 0px;
	}
	.button {
		font-family: 'gilroy-b';
		font-weight: bold;
		color: white;
		background-color: $orange;
		padding: 10px 25px;
		border-radius: 4px;
		// padding:10px 20px;
		font-size: 13px;
		line-height: 17px;
		text-decoration: none;
		z-index: 1;
	}
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
}
.button {
	color: white;
	font-family: 'gilroy-b';
	padding: 10px 20px;
	background-color: $orange;
	border-radius: 4px;
	text-decoration: none;
	position: relative;
	z-index:1;
}
.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	max-width: 1300px;
	margin: 0 auto;
}
.header {
	min-height: 600px;
	background: url('../img/header-bg-cut.png') top right / auto 100% no-repeat;
	height:100vh;
	&-container {
		max-width: 1180px;
		margin: 0 auto;
	}
	.logo {
		background: url('../img/logo.svg') center center / contain no-repeat;
		width: 170px;   
		height: 46px;
	}
	nav {
		li {
			display: inline-block;
			&:last-child {
				a {
					color:white;
					background-color: $orange;
					padding: 10px 25px;
					border-radius: 4px;
					padding:10px 20px;
				}
			}
		}
		a {
			color: white;
			text-decoration: none;
			font-family: 'proxima';
			font-style: normal;
			font-weight: bold;
			font-size: 13px;
			line-height: 16px;
			padding: 8px 25px;
		}
	}
	.container {
		max-width: 1250px;
		margin: 0 auto;
		display: flex;
		height: calc(100vh - 126px);
		.left {
			width: 40%;
		}
		.right {
			width: 60%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	h1 {
		font-family: 'gilroy';
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 47px;
		margin-top: 150px;
		span {
			font-family: 'gilroy-b';
		}
	}
	p {
		font-family: 'gilroy';
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		line-height: 29px;
		margin: 25px 0px;
	}
	.play-div {
		text-align: center;
		img {
			margin: 0 auto;
			width: 60px;
		}
		.play-p {
			color: white;
			font-family: 'proxima';
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			line-height: 16px;
			width: 180px;
			margin: 10px auto;
		}
		.play-block {
			cursor: pointer;
			margin: 0 auto;
			width: 60px;
			height: 60px;
			background: url('../img/play-button.svg') center center/cover no-repeat;
		}
	}
}
.popup {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;	
		display:block;
		background-color: #0000008f;
		z-index: -1;
		opacity: 0;
		transition: .2s;
		&.visible {
			transition: .4s;
			opacity: 1;
			z-index: 2;
			iframe {
				transform: scale(1);
				transition: .4s .2s;
			}
		}
		div {
			padding: 5vh;
			height: 100vh;
		}
		.close {
			content: '';
			background: url('../img/cancel.svg') center center / cover no-repeat;
			display: block;
			position: absolute;
			width: 30px;
			height: 30px;
			right: 50px;
			top: 5vh;
			border: 1px solid #fff;
			border-radius: 50%;
			cursor: pointer;
			z-index: 10;
		}
		iframe {
			transform: scale(0);
			transition: .4s;
			display: block;
			width: 100%;
			// max-width: 1200px;
			margin: 0 auto;
			height: 90vh;
			// height: calc(100% - 100px);
		}
	}
.why-legacy {
	position: relative;
	// &::after {
	//     display: block;
	//     content: '';
	//     background: url('../img/splash.svg') left/cover no-repeat;
	//     position: absolute;
	//     height: 117%;
	//     width: 55%;
	//     top: -65px;
	//     z-index: -1;
	// }
	.container {
		max-width: 1250px;
		margin: 0 auto;
		display: flex;
		.text-block {
			margin: 160px 0px 0px 100px;
			.p-default {
				width: 90%;
			}
		}
	}
	.days {
		max-width: 100%;
		display: flex;
		flex-flow: row wrap;
	}
	.days::after {
	    display: block;
	    content: '';
	    background: url('../img/splash.svg') left/cover no-repeat;
	    position: absolute;
	    height: 117%;
	    width: 55%;
	    top: -65px;
	    z-index: -1;
	    left:0;
	}
	li {
		margin: 0px 10px 20px 10px;
		background-color: #fff;
		width: 40%;
		text-align: center;
		border-radius: 20px;
		padding: 60px 5px;
		box-shadow: 5px 6px 30px -10px #000;
		img {
			width: 76px;
			height: auto;
			display: block;
			margin: 0 auto;
		}
		&:nth-child(3) {
			img {
				width: 60px;
			}
		}
		.days-bold {
			color: $black;
			font-family: 'proxima-b';
			display: block;
			margin: 15px 0px 10px 0px;
			font-size: 20px;
			line-height: 25px;
		}
		.days-regular {
			color: $black;
			font-family: 'proxima';
			display: block;
			font-style: normal;
			font-size: 20px;
			line-height: 25px;
		}
	}
}
.mob-info {
	display: none;
}
.how-it-works {
	position: relative;
	margin-top: 200px;
	.text-block {
		padding: 30px 0 0 70px;
	}	
	.possibilities {
		padding: 0px 110px;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		li {
			text-align: center;
			width: 30%;
			margin-bottom: 20px;
		}
		img {
			width: 66px;
			height: auto;
			margin: 0 auto;
			border-radius: 50%;
			box-shadow: 0px 4px 28px -12px #000;
		}
		span {
			display: block;
			font-family: 'proxima';
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 21px;
			width: 90%;
			margin: 0 auto;
			margin-top: 10px;
		}
	}	
}
.mission {
	position: relative;
	margin-top: 150px;
	&::after {
		display: block;
		content: '';
		position: absolute;
		height: 820px;
		z-index: -5;
		width: 555px;
		right: 0;
		top: -280px;
		background: url('../img/second-splash.svg') right top / cover no-repeat;
	}
	.container {
		display: flex;
			.slick-slider {
				margin-top: 40px;
					width: 540px;
				.pic-wrap {
					height: 300px;
					// width: 536px;
					// border-radius: 10px;
					
				}
			}
		}
		.text-block {
			margin: 80px 0px 0px 70px;
			width: 50%;
			.p-mission {
				font-family: 'gilroy';
				font-style: normal;
				font-size: 35px;
				line-height: 42px;
				margin: 5px 0px;
				width: 80%;
			}		
		}	
}
.slick-next.slick-arrow, .slick-prev.slick-arrow {
	display: none;
}
.meet-erno {
	position: relative;
	margin-top: 300px;
	&::after {
		display: block;
		content: '';
		position: absolute;
		background: url('../img/third-splash.svg') center center / cover no-repeat;
		left:0;
		top: -164px;
		height: 615px;
		width: 592px;
		z-index: -1;
	}
	.container {
		.text-block {
			padding-left: 70px;
			.p-default {
				width: 74%;
			}
		}
		.conversation {
			position: absolute;
			right: 0;
			top: -300px;
			width: 700px;
			height: auto;
		}
	}
}
.play-video {
	font-family: 'proxima';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
	color: $orange;
	text-decoration: none;
	cursor: pointer;
}
.play-video::before {
	display: inline-block;
	content: '';
	width: 34px;
	height: 34px;
	transform: translateY(12px);
	background: url('../img/orange-play-button.svg') center center / cover no-repeat;
	margin-right: 10px;
}
.team {
	margin-top: 300px;
	text-align: center;
	.container {
		display: block;
		.play-video {
			transform: translateX(-10px);
			display: inline-block;
		}
		h2 {
		font-family: 'gilroy-b';
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		line-height: 42px;
		color: $black;
		}
		ul {
			display: flex;
			li {
				width: 20%;
				margin-top: 40px;
			}
			img {
				width: 130px;
				height: 130px;
				border-radius: 50%;
			}
			.name {
				display: block;
				margin: 15px 0px 15px 0px;
			}
			.p-default {
				width: 80%;
				font-family: 'proxima';
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				display: inline-block;
			}
		}
	}
}
.contact {
	margin-top: 100px;
	position: relative;
	overflow: hidden;
	padding-bottom: 70px;
	&::after {
		content: '';
		display: block;
		background: url('../img/bottom-splash.png') center center / contain no-repeat;
		width: 650px;
		height: 350px;
		position: relative;
		z-index: -5;
		margin:-310px auto 0px;
	}
	.contact-container {
		background-color: #212121;
		max-width: 750px;
		margin: 0 auto;
		border-radius: 15px;
		text-align: center;
		box-shadow: 0px 25px 56px -6px black;
		h3 {
			font-family: 'gilroy';
			font-style: normal;
			font-weight: bold;
			font-size: 35px;
			line-height: 42px;
			color: white;
			padding-top: 50px;
		}
		form  {
			padding: 0px 50px 60px 50px;
			.inputs {
				text-align: left;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				label {
					margin-top: 30px;
					font-family: 'roboto';
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 32px;
					width: 45%;
					color: white;
					background-color: #212121;
					&:last-child {
						margin-top: 0px;
					}
					input, option, select, textarea {
						background-color: #212121;
						font-family: 'roboto';
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 32px;
						display: block;
						color: #838383;
						border: none;
					    border-bottom: 1px solid #fff;
					    width: 100%;
					    &:focus {
					        outline: none;
					    }
					}
				}
				textarea::placeholder {
				    position: relative;
				    top: 30px;
				}
				select {
					border-bottom: 1px solid #fff;
					border-radius: 0px;
					-webkit-appearance: none;
					background-image: 
					  linear-gradient(45deg,transparent 50%,#fffefe 50%),
					  linear-gradient(135deg,#fffdfd 50%,#ffffff00 50%);
					background-position:
					  calc(100% - 10px) calc(1em + 2px),
					  calc(100% - 5px) calc(1em + 2px),
					  calc(100% - 2.5em) .5em;
					background-size:
					    5px 5px,
					    5px 5px,
					    1px 1.5em;
					 background-repeat: no-repeat;
					 margin: 0;      
					}
				}
				.general-box {
					width: 45%;
					margin-top: 30px;
					margin-right: -20px;
					.check {
						position: relative;
						display: flex;
						width: 90%;
						padding: 10px 0 0px 10px;
						font-family: 'roboto';
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 21px;
						color: #fff;
						-webkit-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
						cursor: pointer;
						input {
							width: auto;
							position: absolute;
							opacity: 0;
							cursor: pointer;
							height: 0;
							width: 0;

						}
						input:checked ~ .checkmark:after {
						    content: '';
						    display: block;
						}
						.checkmark {
							background-color: #212121;
							border: solid 1px white;
							cursor: pointer;
						    position: absolute;
						    top: 10px;
						    left: -20px;
					        height: 15px;
					        width: 15px;
						}
						.checkmark:after {
						    left: 6px;
						    top: -6px;
						    width: 7px;
						    height: 15px;
						    border: solid white;
						    border-width: 0 3px 3px 0;
						    -webkit-transform: rotate(45deg);
						    -ms-transform: rotate(45deg);
						    transform: rotate(45deg);
						    position: absolute;
						}
					}

				}
				.send {
					font-family: 'PT Sans';
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 17px;
					text-align: center;
					color: #FF6B01;
					background-color: #fff;
					padding: 11px 55px;
					border-radius: 7px;
					cursor: pointer;
					float: right;
				    margin: -25px 30px 0px 0px;
				    display: block;
				}	
			}
		}
		.doubt {
			width: 50%;
			text-align: center;
			margin: 50px auto;
			h3 {
				font-family: 'gilroy-b';
				font-style: normal;
				font-weight: bold;
				font-size: 35px;
				line-height: 43px;
				color: white;
			}
			p, a {
				font-family: 'proxima';
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 18px;
				color: white;
				text-decoration: none;
				margin-top: 10px;
			}
		}	
}
.footer {
	border-top: .5px solid #d6dadc;
	padding: 25px 25px;
	.container {
		position: relative;
		p {
			text-align: center;
			font-size: 16px;
			font-family: gilroy;
			margin: 15px auto 7px;
		}
		.logo {
			position: absolute;
			left: 0;
			top: 0;
		}
		ul {
			padding-top: 15px;
			top: -2px;
			position: absolute;
			right: 0;
			display: flex;
			li {
				padding: 0px 6px;
			}
		}
	}
}


@import "media";


	
