@font-face {
    font-family: 'BreakersSlab';
    src: url('BreakersSlab-Bold.woff') format('woff'),
        url('BreakersSlab-Bold.svg#BreakersSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BreakersSlab';
    src: url('BreakersSlab-Light.woff') format('woff'),
        url('BreakersSlab-Light.svg#BreakersSlab-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BreakersSlab';
    src: url('BreakersSlab-Regular.woff') format('woff'),
        url('BreakersSlab-Regular.svg#BreakersSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

