@import "vars";
@import "fonts";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: #fff;
	background: linear-gradient(185deg, rgb(9,90,90), rgba(4,12,20,.83) 85%);
}
h2 {
	font-weight: 800;
	font-size: 80px;
	line-height: 1.1;
	font-family: 'HelveticaNowDisplay-ExtBlk';
	margin-bottom: 40px;
}
p {
	font-family: 'HelveticaNeue-Medium';
	font-size: 40px;
	line-height: 1.3;
}
.pandemic {
	padding: 50px 160px;
	position: relative;
	min-height: 100vh;
	display: flex;
	width: 100%;
	align-items: center;
	&::after {
		content: '';
		width: 50%;
		height: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
		background: url('../img/stars.png') no-repeat right bottom /100% auto;
	}
	&__container {
		width: 100%;
		max-width: 1650px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		>div {
			width: 50%;
		}
	}
	&__map {
		margin-top: 6vh;
		width: 100%;
		margin-left: -5%;
		&-wrap {
			background: url('../img/map.svg') no-repeat center center/contain;
			padding-bottom: 65%;
			position: relative;
		}
		.highcharts-container {
			position: absolute !important;
			width: 100% !important;
			height: 100% !important;
			top: 0;
			left: 0;
		}
		svg {
			position: absolute;
			top: -48%;
			width: 120%;
			left: -9%;
			height: 200%;
			transform: scaleY(1.1);
			transform-origin: 50% 50%;
		}
		.highcharts-map-series {
			display: none;
		}
		.highcharts-background {
			display: none;
		}
		.highcharts-mapbubble-series .highcharts-point {
			stroke: rgba(255,255,255,.6);
			fill: rgba(255,255,255,.78);
			transform: scaleY(0.9);
			transform-origin: 50% 40%;
			animation: pulse 2s infinite;
		}
		.highcharts-halo {
			display: none;
		}
		text {
			display: none;
		}
	}
	&__right {
		text-align: right;
	}
	&__play {
		margin-right: -20px;
		margin-bottom: 15vh;
		span {
			position: relative;
			display: block;
			margin: 0 auto;
			width: 265px;
			height: 265px;
			background: url('../img/play.svg') no-repeat center center/contain;
			cursor: pointer;
			border-radius: 50%;
			animation: pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.5s infinite;
			animation-play-state: paused;
			&:before {
			    content: '';
			    position: absolute;
			    left: 0%;
			    top: 0%;
			    display: block;
			    width: 100%;
			    height: 100%;
			    box-sizing: border-box;
			    border-radius: 50%;
			    opacity: 0;
				animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
				animation-play-state: paused;
				background: transparent;
				transition: .3s;
			}
			&.active {
				background: url('../img/pause.svg') no-repeat center center/contain;
				animation-play-state: running;

				&::before {
					transition: .3s;
					background: radial-gradient(transparent 0%, transparent 55%, #fff 60%);
					animation-play-state: running;
				}
			}
		}
	}
}

@media (max-height: 950px) {
	.pandemic {
		&::after {
			background-position: right bottom -50px;
		}
	}
}
@media (max-width: 1740px) {
	.pandemic {
		padding: 50px 130px;
		&__container {
			justify-content: space-around;
		}
		&__map {
			margin-top: 55px;
		}
		&__play {
			span {
				width: 200px;
				height: 200px;
			}
		}
	}
	h2 {
		font-size: 58px;
		margin-bottom: 30px;
	}
	p {
		font-size: 29px;
	}
}
@media (max-width: 1440px) {
	.pandemic {
		padding: 40px 100px;
		&__map {
			&-wrap {
				background: url('../img/map-mob.svg') no-repeat center center/contain;
			}
		}
		&__play {
			span {
				background: url('../img/play-mob.svg') no-repeat center center/contain;
				&.active {
					background: url('../img/pause-mob.svg') no-repeat center center/contain;
				}
			}
		}
	}
}
@media (max-width: 1280px) {
	.pandemic {
		padding: 40px 55px;
		&__play {
			margin-bottom: 10vh;
		}
	}
	h2 {
		font-size: 40px;
	}
	p {
		font-size: 22px;
	}
}
@media (max-width: 1023px) {
	.pandemic {
		padding: 50px 35px;
	}
}

@media (orientation: portrait) {
	.pandemic {
		padding: 65px 30px 320px;
		align-items: flex-start;
		position: relative;
		background: url('../img/stars-mob.png') no-repeat right top/contain;
		&::after {
			display: none;
		}
		&__container {
			flex-direction: column;
			>div {
				width: auto;
				margin: 0 auto;
			}
		}
		&__play {
			margin: 40px auto;
			span {
				width: 103px;
				height: 103px;
			}
		}
		&__map {
			width: 70%;
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
			position: absolute;
			bottom: 65px;
			svg {
				top: -72%;
				width: 123%;
				left: -10.5%;
				height: 250%;
			}
		}
	}
}
@media (orientation: portrait) and (min-width: 1024px) {
	.pandemic {
		padding-top: 120px;
		&__container {
			>div {
				width: auto;
			}
		}
		&__play {
			margin: 60px auto;
		}
		&__map {
			bottom: 120px;
		}
	}
	h2{
		font-size: 60px;
	}
	p {
		font-size: 26px;
	}
}
@media (max-width: 767px) {
	.pandemic {
		padding: 65px 30px 86%;
		align-items: flex-start;
		position: relative;
		background: url('../img/stars-mob.png') no-repeat right top/contain;
		&::after {
			display: none;
		}
		&__container {
			flex-direction: column;
			>div {
				width: 100%;
			}
		}
		&__play {
			margin: 0;
			span {
				width: 103px;
				height: 103px;
				margin-top: 33px;
				margin-bottom: 58px;
			}
		}
		&__map {
			width: calc(100% - 40px);
			// max-width: 315px;
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
			position: absolute;
			bottom: 65px;
			svg {
				top: -72%;
				width: 123%;
				left: -10.5%;
				height: 250%;
			}
		}
	}
	h2 {
		font-size: 35px;
		margin-bottom: 16px;
	}
	p {
		font-size: 18px;
	}
}
@keyframes pulse {
	0% {
		stroke-width: -10px
	}
	50% {
		stroke-width: 4px
	}
	100% {
		stroke-width: -10px
	}
}
@keyframes pulse-ring {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  10% {
  	opacity: .15;
  }
  100% {
    opacity: 0;
    transform: scale(1.28);
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@import "media";
