@import "fonts";
$accent: #59a745;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: #212529;
	font-family: "Open Sans", sans-serif;
	
}
a {
	color: #212529;
	text-decoration: none;
}
h1,h2,h3,h4 {
	font-family: 'montserrat';
}
li {
	list-style: none;
}
.overflow-wrap {
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
.container {
	max-width: 1200px;
	margin: 0 auto; 
	&-alt {
		max-width: 1400px;
	}
}
section {
	padding: 0 20px;
}
.section-title {
	display: block;
	text-align: center;
	font-weight: 300;
	font-size: 60px;
	line-height: 1;
	b {
		color: $accent;
		font-weight: 700;
	}
}
.flex {
	display: flex;
	justify-content: space-between;
}
.button {
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	background: $accent;
	text-transform: uppercase;
	color: #fff;
	border: 2px solid $accent;
	padding: 10px 25px;
	transition: .3s;
	&.alt {
		background: transparent;
		color: $accent;
	}
	&:hover {
		background: #469006;
		color: #fff;
		border: 2px solid #469006;
		transition: .3s;
		box-shadow: 0 3px 8px 0 rgba(0,0,0,.3);
	}
	
}
.close {
 	position: fixed;
 	justify-content: center;
 	align-items: center;
 	width: 40px;
 	height: 40px;
 	z-index: 6;
 	top: 40px;
 	right: 40px;
 	cursor: pointer;
 	visibility: hidden;
 	opacity: 0;
 	transition: .3s;
 	span {
 		display: block;
 		width: 25px;
 		height: 2px;
 		position: relative;
 		background: #fff;
 		transform: rotate(45deg);
 		&::after {
 			position: absolute;
 			width: 100%;
 			height: 100%;
 			transform: rotate(90deg);
 			left: 0;
 			top: 0;
 			content: '';
 			background: #fff;
 		}
 	}
}



.header {
	padding: 0 20px;
	padding-top: 85px;
	position: relative;
	z-index: 15;
	&.homepage {
		height: 100vh;
		min-height: 650px;
		padding-top: 75px;
	}
	&__top {
		
		padding-top: 20px;
		margin: 0 auto;
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		padding: 20px;
		z-index: 15;
		transition: .3s;
		height: 95px;
		&-container {
			max-width: 1400px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&.sticky {
			background: #fff;
			transition: .3s;
		}
	}
	&__logo {
		display: block;
		width: 250px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__menu {
		display: flex;
		margin-bottom: -13px;
		&-wrapper {
			display: flex;
		}
		li {
			margin-left: 30px;
			position: relative;
		}
		&-hamburger {
			display: none;
			width: 38px;
			height: 37px;
			background: url('../img/hamburger.png') no-repeat 0 0/ contain;
		}
		&-close {
			display: none;
		}
	}
	&__link {
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		position: relative;
		transition: .3s;
		padding-bottom: 13px;
		&:hover, &.active {
			color: $accent;
			transition: .3s;

		}
		&.dropdown {
			&::after {
				content: '';
				width: 100%;
				display: block;
				height: 4px;
				margin-top:10px;
				background: $accent;
				transition: .2s;
				opacity: 0;
			}
		}
		&.dropdown:hover::after, &.active::after {
			opacity: 1;
			transition: .2s;
		}
		&.icon {
			margin-top: 3px;
			display: inline-block;
			width: 20px;
			height: 20px;
			&.tel {
				background: url('../img/tel-black.png') no-repeat center center/ contain;
				&:hover, &.active {
					background: url('../img/tel.png') no-repeat center center/ contain;
				}
			}
			&.mail {
				background: url('../img/mail-black.png') no-repeat center center/ contain;
				&:hover, &.active {
					background: url('../img/mail.png') no-repeat center center/ contain;
				}
			}
			&.cart {
				background: url('../img/cart.png') no-repeat center center/ contain;
				&:hover {
					background: url('../img/cart-green.png') no-repeat center center/ contain;
				}
			}
			&::after {
				margin-top: 33px;
			}
		}
	}
	&__dropdown {
		visibility: hidden;
		position: absolute;
		top: 40px;
		left: 0;
		opacity: 0;
		transition: .3s;
		border-radius: 0 15px 15px;
		padding: 24px 28px;
		background: rgba(17,31,38,.95);
		color: #fff;
		font-size: 15px;
		min-width: 175px;
		&.flex {
			width: 420px;
		}
		&.icon {
			left: auto;
			right: 0;
			border-radius: 15px 0 15px 15px;

		}
		>div {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			color: #fff;
			display: block;
			word-wrap: initial; 
			text-wrap: none;
			margin-bottom: 10px;
		}
		&.active {
			visibility: visible;
			opacity: 1;
			transition: .3s;
		}
		h4 {
			font-family: "Open Sans", sans-serif;
			font-weight: 700;
			&::after {
				content: '';
				display: block;
				height: 3px;
				width: 15px;
				background: $accent;
				margin: 10px 0;
			}
		}
	}
	&__canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;

	}

	&__banner {
		text-align: center;
		height: calc(100vh - 70px);
		min-height: 580px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 2;
		padding: 40px 0;
		font-family: "montserrat";
		h1 {
			font-size: 78px;
			line-height: 1;
			margin-bottom: 10px;
			font-weight: 300;

			strong {
				font-weight: 700;
				color: $accent;
			}
		}
	}
	&__border {
		display: block;
		width: 280px;
		height: 100px;
		margin: 0 auto;
		border: 2px solid $accent;
		padding-top: 30px;
		&.top {
			border-bottom: 0;
			margin-bottom: 10px;
		}
		&.bottom {
			border-top: 0;
			margin-top: 10px;
			padding-top: 18px;
		}
	}
	&__play {
		width: 45px;
		height: 45px;
		display:inline-block;
		cursor: pointer;
		background: url('../img/play.png') no-repeat 0 0 /contain;
	}
	&__headline {
		font-size: 40px;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 10px;
		b {
			font-weight: 700;
		}
		&-accent {
			font-size: 27px;
			font-weight: 700;
			color: $accent;
		}
	}
	&__benefits {
		font-size: 23px;
		font-weight: 300;
		br {
			display: none;
		}
	}

}
.numeric {
	background: #111f26;
	padding: 70px 20px;
	h4 {
		font-size: 14px;
		color: #fff;
		position: relative;
		text-transform: uppercase;
		padding-bottom: 10px;
		margin-bottom: 5px;
		&::after {
			content: '';
			display: block;
			width: 20px;
			height: 2px;
			background: $accent;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__num {
		display: block;
		color: #fff;
		font-size: 70px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 5px;
		font-family: "montserrat";
	}
	&__accent {
		display: block;
		font-size: 15px;
		text-transform: uppercase;
		color: $accent;
	}
}
.products {
	padding-bottom: 150px;
	&__main {
		padding: 120px 0;
		border-bottom: 1px solid #eee;
		&-title {
			width: 50%;
			position: relative;
			display: flex;
			flex-flow: column;
			justify-content: center;
			padding-left: 30px;
			&::before {
				z-index: 1;
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: url('../img/product-bg.png') no-repeat left center/ contain;
				
			}
			h2 {
				font-size: 76px;
				position: relative;
				z-index: 2;
				text-align: left;
			}
		}
		&-lists {
			font-size: 18px;
			width: 50%;
			display: inline-flex;
			font-family: "Open Sans", sans-serif;
			> div {
				width: 50%;
			}
			ul {
				display: inline-block;
			}
			li {
				border-bottom: 1px solid #eee;
				&:last-child {
					border-bottom: 0;
				}
			}
			h3 {
				font-size: 18px;
				padding-bottom: 14px;
				margin-bottom: 10px;
				position: relative;
				&::after {
					content: '';
					display: block;
					width: 18px;
					height: 3px;
					background: $accent;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			a {
				display: block;
				padding: 7px 0 5px;
				transition: .2s;
				&:hover {
					transition: .2s;
					color: $accent;
				}
			}
		}
	}
	&__list {
		padding: 100px 0;
		font-family: "Open Sans", sans-serif;
		width: calc(100% + 60px);
		position: relative;
		left: -30px;
		align-items: flex-start;
		li {
			width: calc(100% / 9);
			text-align: center;
			position: relative;
			cursor: pointer;
			&:first-child {
				.products__tooltip {
					left: 0;
					transform: translate3d(0,100%,0);
					&::before {
						left: 60px;
						transform: translate3d(0,0,0);
					}
				}
			}
			&:last-child {
				.products__tooltip {
					left: auto;
					right: 0;
					transform: translate3d(0,100%,0);
					&::before {
						left: auto;
						right: 60px;
						transform: translate3d(0,0,0);
					}
				}
			}
		}
		&-icon {
			height: 150px;
			width: 100%;
		}
		img {
			display: block;
			margin: 0 auto 25px;
			width: auto;
			height: auto;
			height: 67px;
		}
		span {
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: -0.03em;
		}
	}
	&__tooltip {
		visibility: hidden;
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translate3d(-50%,100%,0);
		opacity: 0;
		transition: .3s;
		border-radius: 15px;
		padding: 15px 18px 20px;
		background: rgba(17,31,38,.95);
		color: #fff;
		font-size: 15px;
		width: 310px;
		z-index: 2;
		text-align: left;
		&::before {
			content: '';
			display: block;
			width: 0; 
			height: 0; 
			position: absolute;
			top: -7px;
			left: 50%;
			transform: translate3d(-50%,0,0);
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;

			border-bottom: 7px solid rgba(17,31,38,.95);
		}
		&.active {
			visibility: visible;
			opacity: 1;
			transition: .3s;
		}
	}
	&__buttons {
		text-align: center;
		.button {
			margin: 0 5px;
		}
	}
}
.delivery {
	background: #FAFAFA;
	padding: 100px 20px;
	&::before {
		content: '';
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.7);
		transition: .3s;
		opacity: 0;
		z-index: 5;
	}
	&.played {
		position: relative;
		z-index: 25;
		&::before, .delivery__screen-close {
			visibility: visible;
			opacity: 1;
			transition: .3s;
		}
		.delivery__screen {
			margin-right: 0;
			width: 100%;
			transition: .8s .3s;
		}
		.wistia_responsive_wrapper {
			opacity: 1;
			transition: .3s 1s;
		}
	}
	h2 {
		margin-bottom: 85px;
	}
	&__list {
		justify-content: center;
		margin-bottom: 160px;
		li {
			margin: 0 40px;
			transition: .4s;
			&:hover {
				transform: translate3d(0, -25px,0);
				transition: .4s;
				
				.title {
					color: $accent;
					font-weight: 700;
					transition: .2s;
				}
			}
		}
		@for $i from 1 through 6 {
		  li:nth-child(#{$i}) .icon {
		    background: url('../img/delivery/delivery#{$i}.png') no-repeat center center/ contain;
		  }
		}

		.title {
			text-transform: uppercase;
			display: block;
			font-size: 17px;
			line-height: 1.3;
			text-align: center;
			transition: .2s;
		}
		.icon {
			height: 69px;
			width: 72px;
			display: block;
			margin: 0 auto 15px;
		}
	}
	&__try {
		position: relative;
	}
	&__left-content {
		width: 40%;
		span {
			display: block;
			font-size: 17px;
			font-weight: 700;
			color: $accent;
			margin-bottom: 16px;
		}
		h3 {
			font-size: 40px;
			font-weight: 300;
			line-height: 1.2;
			margin-bottom: 30px;
			b {
				font-weight: 700;
			}
		}
	}
	&__screen {
		position: absolute;
		width: 72%;
		margin-top: -50px;
		margin-right: -80px;
		right: 0;
		top: 0;
		z-index: 6;
		transition: .8s;
		.wistia_responsive_wrapper {
			opacity: 0;
			transition: .3s;
			cursor: pointer;
			&:hover {
				& + .delivery__screen-play {
					background: url('../img/play.png') no-repeat center center/ contain;
					transition: .3s;
				}
			}
		}
		&-wrapper {
			position: relative;
			padding-bottom: 57.15%;
			width: 100%;
			background: url('../img/macbook.png') no-repeat center center/ contain;
			.w-bottom-bar {
				opacity: 0;
			}
		}
		&-play {
			display: block;
			width: 36px;
			height: 36px;
			position: absolute;
			top: 50%;
			left: 50%;
			cursor: pointer;
			transform: translate3d(-50%,-50%,0);
			transition: .3s;
			background: url('../img/play-delivery.png') no-repeat center center/ contain;
			&:hover {
				background: url('../img/play.png') no-repeat center center/ contain;
				transition: .3s;
			}
		}
		
	}
}
.purchase {
	padding-top: 190px;
	padding-bottom: 100px;
	.container {
		align-items: center;
	}
	&__title {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 30%;
		padding: 100px 0 160px;
		&::before {
			z-index: 1;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url('../img/purchase-bg.png') no-repeat left center/ contain;
		}
		h2 {
			text-align: left;
			position: relative;
			z-index: 2;
		}
	}
	&__content {
		margin-top: 35px;
		width: 63%;
		h4 {
			font-size: 18px;
			text-transform: uppercase;
			&::after {
				content: '';
				width: 15px;
				height: 3px;
				display: block;
				background: $accent;
				margin: 15px 0;
			}
		}
		p {
			font-size: 18px;
		}
		ul {
			padding-bottom: 40px;
			border-bottom: 1px solid #DADADA;
			margin-bottom: 50px;
		}
		li {
			width: calc(100% / 3);
			padding-right: 30px;
			&:last-child {
				padding-right: 0;
			}
		}
	}
}
.clients {
	background: url('../img/partners-bg.png') no-repeat center  bottom/auto 100%;
	padding: 75px 20px 320px;
	.container {
		align-items: center;
	}
	h3 {
		font-size: 30px;
		color: $accent;
		width: 290px;
	}
	&-carousel.owl-carousel {
		width: calc(100% - 290px);
		padding: 0 80px;
		position: relative;
		.owl-dots {
			display: none;
		}
		.owl-stage-outer {
			position: relative;
			z-index: 2;
		}
		.owl-item img {
			width: 100%;
			max-width: 300px;
		}
		.owl-nav {
			position: absolute;
			z-index: 1;
			width: 100%;
			left: 0;
			top: 50%;
			height: 20px;
			transform: translate3d(0,-50%,0);
			.owl-prev,.owl-next {
				width: 12px;
				height: 20px;
				background: url('../img/arrow.png') no-repeat center center/ contain;

				&:focus {
					outline: none;
				}
				span {
					display: none;
				}
			}
			.owl-prev {
				transform: rotate(180deg);
			}
			.owl-next {
				position: absolute;
				right: 0;
			}
		}
	}
	&__list {
		padding: 0 5px;
		position: relative;
		display: flex;

		// width: 100%;
		justify-content: space-between;
	}
}
.contact {
	h2 {
		text-align: left;
		margin-bottom: 30px;
	}
	&__info {
		width: 430px;

		a {
			font-size: 20px;
			line-height: 2;
			display: block;
			padding-left: 30px;
			position: relative;
			transition: .3s;
			&:hover {
				color: $accent;
				transition: .3s;
			}
			&::before {
				content: '';
				width: 19px;
				height: 17px;
				position: absolute;
				left: 0;
				top: 12px;
				background: url('../img/mail.png') no-repeat left center/ contain;
			}
		}
		.phone::before {
			background: url('../img/tel.png') no-repeat left center/ contain;
		}
	}
	&__form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 63%;
		padding-bottom: 100px;
		align-items: flex-end;
		&-input {
			width: 48%;
			margin-bottom: 22px;
			font-size: 15px;
			position: relative;
			label {
				position: absolute;
				left: 0;
				bottom: 12px;
				transition: .3s;
			}
		}
		input,textarea,select {
			-webkit-appearance: none;
			border: none;
			background: none;
			font-size: 15px;
			border-radius: 0;
			color: #282828;
			font-family: "Open Sans", sans-serif;
			&:focus {
				outline: none;
			}
		}
		> label {
			display: flex;
			justify-content: space-between;
			flex-flow: row nowrap;
			align-items: center;
			position: relative;
			white-space: nowrap;

			&::after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 23px;
				width: 12px;
				height: 7px;
				background: url('../img/arrow-black.png') no-repeat 0 0/ contain;
			}
			
		}
		textarea {
			width: 100%;
			border: 1px solid #282828;
			resize: none;
			padding: 10px 15px;
			margin: 26px 0 22px;
			&::placeholder {
				opacity: 1;
				color: #282828;
			}
		}
		input,select {
			border-bottom: 1px solid #282828;
			padding: 15px 0 14px;
		}
		select {
			width: 100%;
			margin-left: 15px;
			&:-moz-focusring {
				color: transparent;
				text-shadow: 0 0 0 #000;
			}
		}
		input {
			width: 100%;
			&::placeholder {
				position: relative;
				font-size: 15px;
				transition: .3s;
				opacity: 1;
				color: #282828;
			}
			&.input-active, &:focus {
				+ label {
					transform: translateY(-28px);
					transform-origin: 0 0;
					font-size: 10px;
					transition: .3s;
					opacity: 1;
				}
			}
		}
		.button {
			margin-top: 22px;
		}
	}

}
.products-page {
	position: relative;
	z-index: 1;
	overflow: hidden;
	.container {
		position: relative;
		display: flex;
		padding-right: 120px;
		padding-left: calc(230px + 5%);
		min-height: 100vh;
	}
	&__menu {
		min-width: 230px;
		width: 230px;
		position: fixed;
		left: 30px;
		top: 145px;
		bottom: auto;
		&.sticky {
			position: absolute;
			left: 10px;
			bottom: 60px;
			top: auto;
		}
		form {
			display: none;
		}
		&-list {
			li {
				width: 100%;
				border-bottom: 1px solid #E1E1E1;
				&:last-child {
					border-bottom: 0;
				}
			}
			a {
				display: block;
				font-size: 18px;
				padding: 7px 0;
				transition: .3s;
				&:hover, &.active {
					font-weight: 700;
					color: $accent;
					transition: .2s;
				}
			}
		}
	}
	&__main {
		position: relative;
		max-width: 900px;
		width: 100%;
		transition: opacity .4s .2s;
		opacity: 1;
		// overflow: hidden;
		&.hidden {
			transition: .2s;
			opacity: 0;
		}
		>div {
			position: absolute;
			opacity: 0;
			visibility: hidden;
			top: 0;
			left: 0;
			transition: .2s;
			&.active {
				position: relative;
				opacity: 1;
				visibility: visible;
				transition: opacity .4s .2s;
			}
		}
	}
	&__item {
		padding: 50px 0 170px;
		h3 {
			font-size: 40px;
			margin-bottom: 15px;
		}
		&-descr {
			font-size: 26px;
			font-family:"montserrat";
			font-weight: 300;
			margin-bottom: 25px;
		}
		&-info {
			font-family:"montserrat";
			font-size: 18px;
			text-transform: uppercase;
			color: $accent;
			margin-bottom: 25px;
			&::after {
				content: '';
				width: 28px;
				height: 5px;
				background: $accent;
				display: block;
				margin-top: 25px;
			}
		}
	}
	&__featured {
		padding-top: 60px;
		width: 100%;
		&-descr {
			font-family: "montserrat";
			font-size: 26px;
			color: $accent;
			font-weight: 300;
			margin-bottom: 55px;
			text-align: center;
			br {
				display: none;
			}
			span {

				border: 1px solid $accent;
				font-weight: 700;
				padding: 5px 8px;
				margin-left: 8px;
			}
		}
		h2 {
			text-transform: uppercase;
			font-size: 40px;
			font-weight: 300;
			text-align: center;
			line-height: 1.3;
			&::after {
				content: '';
				display: block;
				width: 25px;
				height: 5px;
				background: $accent;
				margin: 40px auto 60px;
			}
			b {
				font-weight: 700;
			}
		}
		&-list {
			li {
				padding-left: 20px;
				position: relative;
				font-size: 19px;
				line-height: 1.5;
				font-weight: 400;	
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
				&::before {
					width: 8px;
					height: 8px;
					border-radius: 50%;
					content: '';
					position: absolute;
					left: 0;
					top: 11px;
					background: $accent;
				}
			}
		}
		.flex {
			border-bottom: 1px solid #E1E1E1;
			padding-bottom: 80px;
			margin-bottom: 70px;
			&:last-child {
				border-bottom: 0;
			}
			&.center {
				align-items: center;
			}
			h3 {
				margin-top: 18px;
				margin-bottom: 15px;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 300;
				b {
					font-weight: 700;
				}
			}
			> li {
				width: 46%;
			}
			img {
				width: 100%;
			}
		}
		.flex-3 {
			border-bottom: 0;
			margin-bottom: 0;
			> li {
				width: 25%;
				text-align: center;
				.img {
					height: 250px;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 30px;
				}
				&:first-child {
					img {
						max-height:249px;
						position: relative;
						left: 30px;
					}
				}
				&:nth-child(2) {
					width: 35%;
					img {
						max-height:209px;
					}
				}
				&:nth-child(3) {
					img {
						max-height:225px;
					}
				}
			}
			img {
				width: auto;
				max-height: 230px;
			}
			span {
				display: block;
				font-weight: 700;
				font-family: "montserrat";
				font-size: 16px;
				line-height: 1.4;
			}
		}
		.flex.text {
			h2 {
				font-size: 36px;
				text-align: left;
				font-weight: 300;
				text-transform: initial;
				&::after {
					display: none;
				}
				b {
					font-weight: 700;
				}
			}
		}

	}
	&__qa {
		width: 100%;
		padding-top: 60px;
		padding-bottom: 100px;
		h2 {
			font-weight: 300;
			font-size: 26px;
			b {
				font-weight: 700;
			}
			&::after {
				content: '';
				display: block;
				width: 25px;
				height: 5px;
				background: $accent;
				margin: 20px 0 30px;
			}
		}
		&-list {
			padding-left: 20px;
		}
		.question {
			position: relative;
			font-weight: 300;
			font-family: "montserrat";
			font-size: 30px;
			border: 1px solid #D7D7D7;
			padding: 18px 80px 18px 50px;
			margin-top: 20px;
			cursor: pointer;
			display: flex;
			align-items: center;
			&.active {
				&::after {
					transform: translate3d(0,-50%,0) rotate(180deg) ;
					transition: .3s;
					// transform-origin: 50% 50%;
				}
			}
			&::before {
				position: absolute;
				content: '';
				width: 41px;
				height: 41px;
				left: -20px;
				top: 50%;
				transform: translate3d(0,-50%,0);
				background: url('../img/question-icon.png') no-repeat center center / contain;
			}
			&::after {
				position: absolute;
				content: '';
				width: 25px;
				height: 35px;
				right: 30px;
				top: 50%;
				transition: .3s;
				transform: translate3d(0,-50%,0);
				background: url('../img/arrow-green.png') no-repeat center center / contain;
			}
		}
		.answer {
			position: relative;
			font-size: 18px;
			color: #282828;
			padding: 25px 20px 30px 50px;
			display: none;
			&::before {
				position: absolute;
				content: '';
				width: 30px;
				height: 30px;
				left: 0px;
				top: 25px;
				background: url('../img/answer-icon.png') no-repeat center center / contain;
			}
			p {
				margin-bottom: 17px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&-sm {
				font-size: 15px;
				line-height: 2;
			}
			span {
				width: 40px;
				display: inline-block;
			}
			
			.button {
				border-width: 1px;
				padding: 4px 10px;
				margin-right: 10px;
			}
		}
	}
	&__icons {
		position: fixed;
		top: 50%;
		right: 30px;
		transform: translate3d(0,-50%,0);
		text-align: right;
		&.hidden {
			li:not(.products-page__icons-mob) a {
				opacity: 0;
				width: 0;
				height: 0;
				margin: 0;
				transition: .5s;
			}
		}
		&.sticky {
			position: absolute;
			right: 10px;
			bottom: 60px;
			top: auto;
			transform: none;
		}
		li {
			position: relative;
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.tooltip {
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 40px;
			border-radius: 15px;
			padding: 6px 12px;
			background: rgba(17,31,38,.95);
			color: #fff;
			font-size: 13px;
			white-space: nowrap;
			visibility: hidden;
			opacity: 0;
			transition: .3s;
		}
		
		a {
			cursor: pointer;
			width: 33px;
			height: 29px;
			display: block;
			transition: .3s;
			&:hover {
				transition: .3s;
				& + .tooltip {
					opacity: 1;
					visibility: visible;
					transition: .3s;
				}
			}
			&.icon-cart {
				background: url('../img/cart.png') no-repeat center center / contain;
				&:hover {
					background: url('../img/cart-green.png') no-repeat center center / contain;
				}
			}
			&.icon-tag {
				background: url('../img/tag.png') no-repeat center center / contain;
				&:hover {
					background: url('../img/tag-green.png') no-repeat center center / contain;
				}
			}
			&.icon-hand {
				background: url('../img/hand.png') no-repeat center center / contain;
				&:hover {
					background: url('../img/hand-green.png') no-repeat center center / contain;
				}
			}
			&.icon-ruler {
				background: url('../img/ruler.png') no-repeat center center / contain;
				&:hover {
					background: url('../img/ruler-green.png') no-repeat center center / contain;
				}
			}
		}
		&-mob {
			display: none;
			a {
				background: url('../img/products-menu-mob.png') no-repeat center center / contain;
			}
		}
	}
	&__table {
		> .flex {
			align-items: center;
			margin-bottom: 28px;
		}
		h4 {
			font-size: 40px;
		}
		&-headings {
			background: $accent;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			h5 {
				text-transform: uppercase;
				color: #fff;
				font-weight: 700;
				font-size: 15px;
				padding: 3px 15px;
				text-align: left;
				border-right: 1px solid #fff;

				&:nth-child(1) {
					width: 30%;
				}
				&:nth-child(2) {
					width: 36%;
				}
				&:nth-child(3) {
					width: 19%;
					text-align: center;
				}
				&:nth-child(4) {
					width: 17%;
					border-right: 0;
					text-align: center;
				}
			}
		}
		li {
			border-bottom: 1px solid #ccc;
			min-height: 90px;
			&:last-child {
				border-bottom: 0;
			}
			> * {
				border-right: 1px solid #ccc;
				&:last-child {
					border-right: 0;
				}
			}
		}
		&-name {
			width: 30%;
			font-size: 16px;
			font-weight: 700;
			padding: 15px;
			display: flex;
			align-items: center;
		}
		&-descr {
			width: 36%;
			padding: 15px 20px;
			font-size: 14px;
			display: flex;
			align-items: center;
		}
		&-doc {
			width: 19%;
			background: url('../img/pdf.png') no-repeat center center/ 37px auto;
		}
		&-sample {
			width: 17%;
			background: url('../img/zip.png') no-repeat center center/ 41px auto;
		}
	}

}
.order {
	.container {
		padding-right: 0;
	}
	&__main {
		max-width: 1050px;
		padding-top: 65px;
		padding-bottom: 65px;
	}
	&__info {
		font-weight: 300;
		font-size: 26px;
		font-family: "montserrat";
		line-height: 1.35;
		b {
			font-weight: 700;
		}
		&::after {
			content: '';
			display: block;
			width: 25px;
			height: 5px;
			background: $accent;
			margin: 32px 0 25px;
		}
	}
	h2 {
		font-size: 40px;
		font-weight: 300;
		line-height: 1.3;
		margin-bottom: 40px;
		b {
			font-weight: 700;
		}
	}
	
	&__table {
		line-height: 1.3;
		transition: .4s;
		margin-bottom: 60px;
		> li {
			width: 25%;
			position: relative;
			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 1px;
				background: #ccc;
				height: calc(100% - 80px);
			}
			&:last-child {
				&::after {
					display: none;
				}
			}
			> div:last-child {
				padding-left: 15px;
				padding-right: 15px;
			}
			&:first-child {
				div {
					padding-left: 0;
				}
			}
		}
		label {
			// display: block;
			width: 100%;
			cursor: pointer;
		}
		input,textarea {
			-webkit-appearance: none;
			border: 1px solid #959595;
			background: #fff;
			border-radius: 0;
			&:focus {
				outline: none;
			}
		}
		input[type='date'] {
			-webkit-appearance: initial;
		}
		.products-page__table-headings {
			margin-bottom: 15px;
			position: relative;
		}
		.products__tooltip {
			bottom: 5px;
		}
		h5 {
			cursor: pointer;
			&.last {
				border-right: 0;
			}
			&:nth-child(1) {
				width: 100%;
			}
			&::after {
				width: 19px;
				height: 19px;
				content: '';
				display: inline-block;
				background: url('../img/question.png') no-repeat center center/ contain;
				position: relative;
				top: 3px;
				margin-left: 8px;
			}
		}
		textarea {
			display: block;
			width: 100%;
			resize: none;
			border-color: #C2C2C2;
			margin-top: 25px;
			padding: 10px 12px;
			font-size: 15px;
			font-family: "Open Sans", sans-serif;
		}
		.arrow {
			position: relative;
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 12px;
				right: 0;
				width: 8px;
				height: 8px;
				border: 2px solid $accent;
				border-top: 0;
				border-left: 0;
				transform: rotate(45deg);
				transition: .3s;
			}
			&.active {
				&::after {
					transform: rotate(225deg);
					top: 19px;
					transition: .3s;
				}
			}
			&-sliding {
				height: 0;
				padding-top: 0;
				opacity: 0;
				visibility: hidden;
				transition: .3s;
				overflow: hidden;
				textarea {
					margin-top: 0;
				}
				&.active {
					visibility: visible;
					padding-top: 20px;
					opacity: 1;
					transition: .3s, opacity .3s .3s;
				}
			}
		}

		&-button {
			background: #F1F6F8;
			font-size: 15px;
			color: #787878;
			width: 100%;
			display: block;
			cursor: pointer;
			padding: 15px 20px;
			display: flex;
			align-items: center;
			transition: .2s;
			&:hover {
				background: #E2EFF5;
				transition: .2s;
			}
			&::before {
				width: 28px;
				height: 28px;
				content: '';
				display: inline-block;
				margin-right: 15px;
				background: url('../img/plus.png') no-repeat left center/ contain;
			}
		}
		&-remove {
			position: relative;
			margin-bottom: 20px;
			&::before {
				background: $accent;
				border-radius: 50%;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 27px;
				top: 50%;
				transform: translate3d(0,-50%,0);
				width: 13px;
				height: 2px;
				background: #fff;
			}
		}
	}

	
	&-radio {
		display: block;
		padding: 10px 0 15px;
		&:last-child {
			margin-bottom: 0;
		}
		input {
			border-radius: 50%;
			width: 13px;
			height: 13px;
			margin-right: 10px;
			&:checked {
				background: radial-gradient(circle at 50%, $accent 0%, $accent 45%,#fff 45%, #fff 100%);
			}
		}
	}
	&-check {
		position: relative;
		display: flex;
		align-items: center;
		padding: 10px 0 10px 25px;
		> input, &-mark {
			display: block;
			width: 15px;
			border: 1px solid #959595;
			height: 15px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate3d(0,-50%,0);
		}
		> input {
			z-index: 2;
			opacity: 0;
			&:checked + .order-check-mark::after {
				transition: .25s;
				opacity: 1;
			}
		}
		h6 {
			display: block;
			padding-top: 20px;
			font-size: 15px;
			font-weight: 700;
			&:first-of-type {
				padding-top: 15px;
			}
			&.noline {
				display: block;
				margin-top: 10px;
				margin-bottom: 15px;
			}
			&::after {
				width: 15px;
				height: 2px;
				content: '';
				display: block;
				margin-top: 12px;
				margin-bottom: 10px;
				background: $accent;
			}
		}
		&.arrow {
			display: inline-block;
			input, .order-check-mark {
				top: 12px;
				transform: none;
			}
			.arrow-sliding {
				width: calc(100% + 25px);
				position: relative;
				left: -25px;
			}
			
		}
		&-mark {
			z-index: 1;
			&::after {
				left: 2px;
				top: 0px;
				position: absolute;
				content: '';
				display: block;
				width: 11px;
				height: 4px;
				border: 3px solid $accent;
				border-bottom: 0;
				border-left: 0;
				transform: rotate(135deg);
				opacity: 0;
				transition: .25s;
			}
		}
		
	}
	&-period {
		label {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
		}
		&:first-of-type {
			h6::after,h6::before {
				display: none;
			}
		}
		h6 {
			position: relative;
			color: #212529;
			&:hover::after, &:hover::before {
				opacity: 1;
				transition: .3s;
			}
			&::after, &::before {
				content: '';
				display: block;
				position: absolute;
				width: 12px;
				height: 2px;
				right: 2px;
				bottom: 8px;
				background: #515151;
				opacity: 0;
				transition: .3s;
			}
			&::after {
				transform: rotate(45deg);
				margin-top: 0;
				margin-bottom: 0;
			}
			&::before {
				transform: rotate(-45deg);
			}
		}
		input {
			transition: .3s;
			color: #515151;
			width: calc(100% - 60px);
			border-radius: 0;
			border: none;
			border-bottom: 1px solid #515151;
			padding: 6px 0px;
			height: 35px;
			padding-right: 5px;
			font-size: 15px;
			font-family: "Open Sans", sans-serif;
			background: url('../img/calendar.png') no-repeat right center/ 19px 20px;
		}

		[type="date"]::-webkit-inner-spin-button {
		  display: none;
		}
		[type="date"]::-webkit-calendar-picker-indicator {
		  opacity: 0;
		}
		&-add {
			display: block;
			cursor: pointer;
			padding: 20px 0;
			font-weight: 700;
			color: $accent;
		}
	}
	&-upload {
		display: block;
		width: 100%;
		visibility: hidden;
		position: absolute;
		&-mark {
			display: inline-block;
			padding-left: 15px;
			cursor: pointer;
			display: block;
			padding-top: 20px;
			width: 100%;
			font-size: 15px;
			color: $accent;
			white-space: nowrap;
			overflow: hidden;
			&::before {
				width: 16px;
				height: 18px;
				content: '';
				display: inline-block;
				background: url('../img/upload-green.png') no-repeat center center/ contain;
				position: relative;
				top: 3px;
				margin-right: 8px;
			}
		}
	}
	&__datasets {
		transition: .2s;

		&.hidden {
			opacity: 0;
			transition: .2s;
		}
	}
	button {
		margin: 55px auto 0;
		display: block;
		padding-left: 36px;
		padding-right: 35px;
	}
	&__form {
		margin-top: 70px;
		width: 100%;
		border: 1px solid $accent;
		padding: 65px 15%;

		h2 {
			text-align: center;
		}
		&-block {
			width: 100%;
			padding-bottom: 0;
		}
		&-textarea {
			margin-top: 10px;
			width: 100%;
			textarea {
				margin-top: 15px;
				margin-bottom: 20px;
			}
		}
	}
	&__qa {
		padding-top: 55px;
		margin-top: 70px;
		h2 {
			font-size: 26px;
		}
		span.question-icon {
			width: 19px;
			height: 19px;
			display: inline-block;
			background: url('../img/question-icon-green.png') no-repeat center center/ contain;
			position: relative;
			top: 3px;
			margin-left: 7px;
			margin-right: 8px;
		}
	}
}

.footer {
	position: relative;
	z-index: 2;
	background: #111F26;
	padding: 65px 20px 20px;
	font-size: 14px;
	color: #C8C8C8;
	.container {
		flex-flow: row wrap;
	}
	&__logo {
		width: 152px;
		display: block;
		margin-bottom: 95px;
		img {
			width: 100%;
			display: block;
			height: auto;
		}
	}
	&__left {
		width: 30%;
	}
	&__menu {
		width: 63%;
		display: flex;
		justify-content: space-between;
		>div {
			min-width: 21%;
		}
	}
	&__copyright {
		width: 100%;
	}
	&__list {
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
		h5 {
			line-height: 1;
			margin-bottom: 11px;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
			font-size: 14px;
		}
		a {
			display: block;
			font-size: 14px;
			color: #C8C8C8;
			line-height: 2.5;
			transition: .3s;
			&:hover {
				color: #fff;
				transition: .3s;
			}
		}
	}
}




@import "media";
