*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
/*     overflow: hidden; */
    font-family: 'Roboto-Regular';
}
.header {
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
canvas{
     animation: color-change 30s linear 2s infinite;
  
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 500px;
}
.video-container {
    /*! background-color: rgba(0,0,0,0.2); */
    filter: blur(2px) brightness(0.7);
    position: fixed;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    transition: .8s ease;
}
.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.stopfade { 
    filter: blur(7px) brightness(0.5) grayscale(1);
    transform: scale(1.5);
}
.header__top {
    padding: 50px;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.header__logo {
    color: #fff;
    font-size: 45px;
    font-family: 'Roboto-Thin';
}
.header__nav {
    
}
.header__menu-list {
    
}
.header__menu-item {
    display: inline-block;
}
.header__menu-link {
    color: #fff;
    font-family: 'Roboto-Black';
    font-size: 13px;
    padding: 10px;
    transition: 0.1s;
}
.header__menu-link:hover,
.promo__text--marked:hover {
    color: #aaa;
    transition: 0.3s;
}
.promo {
    height: 50vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items:  center;
    padding: 0px 0;
/*     transform: translate3d(0, -168px, 0); */
}
.promo__title {
    color: #fff;
    font-family: 'Roboto-Black';
    font-size: 75px;
    line-height: 1em;
    margin-right: 50px;
    position: relative;
}
.promo__title::after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 80%;
    background: #fff;
    position: absolute;
    top: 15%;
    right: -25px;
}
.promo__text {
    color: #fff;
    width: 350px;
    font-size: 17px;
    margin-bottom: 20px;
}
.promo__text--marked {
    font: italic 17px roboto-black;
    color: #fff;
    transition: .2s;
}
.section {
    height: 100vh;
/*     min-height: 900px; */
    width: 100%;
    background: #777;
}
    /*background: url('../img/1.jpg') 0 100%/cover;*/
 
.section-2 {
     background: url('../img/2.jpg');
    background-size: 130%;
}

.slider {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;/**/
	overflow: hidden;/**/
	transition: 0.3s;/**/
	width: 100%;/**/
}

.slider__element {
	flex: 1;
	padding: 1em;/**/
	transition: .6s cubic-bezier(.23,.03,0,.99);
    transition-delay: 0.05s;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
}
.slider__element:hover {
	flex: 3;
    transition: .6s cubic-bezier(.23,.03,0,.99);
    transition-delay: 0.05s;
    filter: grayscale(0);
}

.slider__element-title {
    font: 40px roboto-thin;
    letter-spacing: -3px;
    text-transform: uppercase;
/*     transform: translate3d(0, 20px, 0); */
    opacity: 0.7;
    transition: .3s;
    position: relative;
}

.slider__element:hover .slider__element-title {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: .6s cubic-bezier(.53,.02,.3,.89);
    transition-delay: .3s;
    font-size: 65px;
    letter-spacing: -5px;
}

.slider__element:first-child {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.slider__element:nth-child(2) {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}
.slider__element:nth-child(3) {
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}
.form {
    
}
.form input {
    color: #000;
}



@keyframes color-change {
  0%, 100% { background: rgba(0, 0, 90, 0.9); }
  10%      { background: rgba(0, 64, 64, 0.9); }
  35%      { background: rgba(0, 70, 0, .9);  }
  55%      { background: rgba(20, 0, 0, .9);  }
  70%      { background: rgba(120, 0, 0, .9); }
  90%      { background: rgba(46, 0, 60, .9); }  
}