body {
  background: #f7f7f7;
  font-family: 'Roboto';
}
.section-title,
.lg-title {
  font-family: 'Roboto-Thin';
}
.title-bold,
.top-header__contacts::before,
.sticky__request {
  font-family: 'Roboto-Medium';
}
 {
  font-family: 'Roboto-Bold';
}
.section-tag,
.header__request-btn,
.access__submit {
  font-family: 'Roboto-Black';
}

.wrapper {
  max-width: 920px;
  margin: 0 auto;
}
.wrapper-wide {
  max-width: 1440px;
  margin: 0 auto;
}
.section {
  padding: 90px 20px 0;
}
.section-tag {
  display: inline-block;
  color: #fff;
  background: #808df4;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
  padding: 4px 11px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.section-title {
  width: 430px;
  color: #666;
  font-size: 30px;
  margin-bottom: 30px;
}
.prelude {
  font-size: 20px;
}
.section-text {
  color: #999;
  font-size: 14px;
  margin-bottom: 30px;
}
.section-img {
  width: 100%;
  box-shadow: 15px 20px 25px -10px #eaeaea,
              -15px 20px 25px -10px #eaeaea;
}
.lg-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.title-italic {
  display: inline-block;
  transform: skewX(-10deg);
}

.header {
  background: url('../img/header-bg.png') 0% 0%;
  background-size: contain;
}
.top-header {
  padding: 25px 40px 0;
}
.top-header__logo {
/*   float: left; */
}
.top-header__contacts::before {
  content: 'Find us at';
  color: #999;
  font-size: 14px;
  margin-right: 80px;
}
.contacts {
  float: right;
  position: relative;
}
.contacts__contacts-item {
  display: inline-block;
}
.contacts__contacts-link {
}
.contacts__contacts-link:before {
  content: '';
  display: block;
  position: absolute;
}
.contacts__fb::before {
  background: url('../img/fb.png');
  background-size: contain;
  width: 9px;
  height: 16px;
  right: 40px;
  top: 4px;
}
.contacts__tw::before {
  background: url('../img/tw.png');
  background-size: contain;
  width: 17px;
  height: 14px;
  right: 0;
  top: 5px;
}

.sticky {
  height: 60px;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 0 40px;
  display: none;
  background: #fff;
  z-index: 999;
  box-shadow: 0 0 15px 0 #aaa;
}
.sticky-wrapper {
  height: 60px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.sticky__logo {
  position: absolute;
  top: 20px;
  left: 0;
}
.sticky__request {
  color: #7a7a7a;
  font-size: 14px;
  position: relative;
  top: 15px;
}
.sticky__request::before {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: -23px;
  top: 4px;
  background: url('../img/sticky-arrow.png');
  background-size: contain;
}
.sticky__btn {
  display: block;
  width: 37px;
  height: 37px;
  cursor: pointer;
  transition: 0.3s;
}
.sticky__btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.sticky__share {
  position: absolute;
  top: 11px;
  right: 0px;
  background: url('../img/sticky-share.png');
  background-size: contain;
}
.share-animated {
  animation: share 1s;
}
.sticky__contacts {
  position: absolute;
  top: 11px;
  right: 0;
  display: none;
}
.sticky__contacts-item {
  display: inline-block;
  margin-left: 25px;
  animation: contact 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.close {
  animation: close 1s; 
  animation-fill-mode: forwards;
}
.sticky__contact-fb {
  animation-delay: 0;
}
.sticky__contact-tw {
  animation-delay: 0.2s;
}
.sticky__contact-close {
  animation-delay: 0.3s;
}
.sticky__fb {
  background: url('../img/sticky-fb.png');
  background-size: contain;
  animation-delay: 0.2s;
}
.sticky__tw {
  background: url('../img/sticky-tw.png');
  background-size: contain;
}
.sticky__close {
  background: url('../img/sticky-close.png');
  background-size: contain;
  animation-delay: 1s;
}

.nav-bar {
  display: block;
  position: absolute;
  right: 0;
  top: calc((100vh - 150px)/2);
  opacity: 0;
  animation: navbar 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.nav-bar__item {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #d3d3d3;
  margin-bottom: 14px;
  transition: 0.2s ease-out;
}
.nav-bar__active {
  transform: scale(1.2);
  background: #666;
  margin-bottom: 42px;
}
.nav-bar__active::after {
  display: block;
  content: '';
  width: 1px;
  height: 16px;
  background: #d3d3d3;
  position: relative;
  top: 16px;
  left: 3px;
}
.nav-bar__active:last-of-type::after {
  display: none;
}

.header-section {
}

.header-section__text {
  color: #999;
}
.header__request-btn {
  display: inline-block;
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 14px 35px;
  border: 2px solid #666;
  border-radius: 25px;
  transition-duration: 0.2s;
  margin: 60px 0; 
}
.header__request-btn:hover {
  background: #1f2639;
  border: 2px solid #1f2639;
  color: #71df96;
  transition-duration: 0.3s;
} 

.jolted {
}
.jolted__text {
  color: #666;
  line-height: 1.7em;
  letter-spacing: 0.5px;
}
.access__text {
  margin-bottom: 50px;
}

.label-box {
    position: relative;
}

.label-box::before,
.label-box::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 50px;
    background-color: #dedede;
    transition-duration: 1s;
}

.label-box::before {
    left: 50%;
}

.label-box::after {
    right: 50%;
}

.access__input:focus + .label-box::before,
.access__input:focus + .label-box::after {
  width: 50%;
  background-color: #aaa;
  transition-duration: 0.6s;
}

.access {
  padding-bottom: 70px;
}
.access__input {
  position: relative;
  width: 100%;
  background: none;
  color: black;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
  margin-bottom: 50px;
  box-shadow: none;
  font-size: 15px;
}
.access__input::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 5px;
  width: 100px;
  background: #000;
}
.access__label {
  position: absolute;
  top: -86px;
  font-size: 15px;
  color: #aaa;
  transition: 0.3s ease all;
  pointer-events: none;
  text-transform: uppercase;
}
.access__input:focus + .label-box .access__label,
.access__input:valid + .label-box .access__label {
  font-size: 13px;
  transform: translateY(-20px);
}
.access__submit {
  display: inline-block;
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 14px 35px;
  border: 2px solid #666;
  border-radius: 25px;
  transition-duration: 0.2s;
  background: none;
}
.access__submit:hover {
  background: #1f2639;
  border: 2px solid #1f2639;
  color: #71df96;
  transition-duration: 0.3s;
}
.access__name {
  margin-top: 50px;
}
.access__error {
  padding: 10px 15px;
  background-color: #ed6d79;
  color: #fff;
  border-radius: 4px;
  display: none;
}

.footer {
  padding: 40px;
  text-align: center;
}
.footer__copyright {
  float: left;
  font-size: 14px;
  position: relative;
  color: #aaa;
  padding-left: 50px;
}
.footer__copyright::before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../img/footer-logo.png');
  position: absolute;
  left: 0;
  top: -4px;
}
.footer__link-list,
.footer__link-item {
  display: inline-block;
}
.footer__link {
  padding: 5px 15px;
  font-size: 13px;
  color: #aaa;
}
.footer__contacts {
  width: 50px;
}
.hidden-left {
  opacity: 0;
  transform: translateX(-50px);
}
.hidden-right {
  opacity: 0;
  transform: translateX(50px);
}
.revealed {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
  transition-delay: 0.2s;
}
@keyframes navbar {
  100% {
    opacity: 1;
  }
}
@keyframes share {
  60% {
    transform: translateX(-130px) rotate(1000deg);
  }
  100% {
    transform: translateX(0) rotate(-1000deg);
  }
}

@keyframes contact {
  60% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes close {
  30% {
    transform: rotate(360deg);
  }
  45% {
    transform: translate(-20px);
  }
  65% {
    opacity: 1;
  }
  75% {
    transform: translate(-20px);
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}
@media screen and (max-height: 320px) {
  .nav-bar {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .nav-bar {
    display: none;
  }
}