@import "vars";
@import "fonts";
@import "libs";


body * {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	font-family: $default-font;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	color: $text;
}
.container {
	max-width: 1300px;
	margin: 0 auto;
}
section {
	
}
h2 {
	font-size: 46px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
.button {
	background: $accent;
	border-radius: 5px;
	padding: 8px 35px;
	font-size: 26px;
	text-transform: uppercase;
	position: relative;
	color: $text;
	display: inline-block;
}
.contact-list {
	li {
		display: block;
	}
	a {
		display: inline-block;
		padding: 10px;
	}
}
.fixed-faq {
	position: fixed;
	z-index: 999;
	right: 0;
	top: 0;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-end;
	&__button {
		display: block;
		font-size: 22px;
		padding: 8px 40px;
		letter-spacing: 1px;
		background: $accent;
		transform: rotate(90deg) translate3d(20px,0,0);
		transform-origin: 100% 0;
		border-radius: 0 0 3px 3px;
		cursor: pointer;
		&::after {
			content: '';
			display: inline-block;
			width: 9px;
			height: 15px;
			background: url('../img/angle-down.svg') no-repeat center center/contain;
			transform: rotate(-90deg);
			margin-left: 15px;
			transition: .25s ease;
		}
		&.rotate::after {
			transition: .25s ease;
			transform: rotate(90deg);
		}
	}
	.contact-list {
		margin-bottom: -150px;
		padding-right: 3px;
	}
	&__block {
		position: fixed;
		min-width: 750px;
		background: rgba(193, 193, 193, .95);
		right: 45px;
		top: 50%;
		border: 2px solid $accent;
		color: $text-dark;
		padding: 25px 40px 30px;
		transition: .5s ease-out;
		transform: translate3d(120%,-50%,0);
		&.revealed {
			transition: .5s ease-out;
			transform: translate3d(0,-50%,0);
		}
		h2 {
			text-transform: initial;
			text-align: center;
			margin-bottom: 20px;
		}
		li:last-child {
			a {
				border-bottom: none;
			}
		}
		a {
			display: block;
			color: #646464;
			font-size: 21px;
			padding: 8px 5px;
			border-bottom: 2px solid rgba(255,255,255,.3);
			letter-spacing: 2px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				right: 0;
				top: 10px;
				width: 30px;
				height: 30px;
				background: url('../img/faq-icon.svg') center center/cover;
			}
		}
	}
}

.header {
	background: url('../img/banner.jpg') center center/cover;
	min-height: 100vh;
	padding: 0 10px;
	&__top {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		min-height: 70px;
		& > div {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		.logo {
			width: 157px;
			height: auto;
			display: inline-block;
			margin-right: 20px;
		}
		nav {
			display: inline-block;
			li {
				padding: 0 20px;
				display: inline-block;
			}
			a {
				font-size: 23px;
				color: #E6E6E6;
				font-family: 'unit-b';
				padding: 5px;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
		&-list {
			li {
				display: inline-block;
			}
			a {
				padding: 5px 8px;
			}
		}
	}
	&__banner {
		padding: 40px 20px 60px;
		min-height: calc(100vh - 70px);
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: flex-start;
		letter-spacing: 4px;
		h1 {
			font-size: 68px;
			font-family: 'unit-b';
			margin-bottom: 25px;
			letter-spacing: 5px;
			// font-family: UnitRoundedPro;
		}
		p {
			font-size: 44px;
			margin-bottom: 65px;
		}
		a {
			&::after {
				content: '';
				display: inline-block;
				position: relative;
				top: 2px;
				width: 21px;
				height: 21px;
				margin-left: 10px;
				background: url('../img/play-circle.svg') center center/contain;
			}
		}
	}
}

.features {
	min-height: 100vh;
	&__list {
		max-width: 1150px;
		margin: 0 auto;
		padding: 0 15px;
		ul {	
			display: flex;
			justify-content: space-between;
			height: 130px;
			align-items: center;
		}
		li {
			color: $text-dark;
			font-size: 28px;
			line-height: 1;
			text-transform: uppercase;
			img {
				position: relative;
				top: -4px;
				vertical-align: middle;
				margin-right: 25px;
			}
		}
	}
	&__video {
		position: relative;
		background: url('../img/video-bg.jpg') center center/cover;
		.container {
			display: flex;
			flex-flow: column;
			justify-content: center;
			min-height: calc(100vh - 115px);
			padding: 70px 30px 80px;
		}
		.play {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: 100px;
			height: 100px;
			backdrop-filter: blur(10px);  
		  	-webkit-backdrop-filter: blur(10px);
			background: rgba(255,255,255,.25);
			padding: 10px;
			border-radius: 50%;
			cursor: pointer;
			transition: .25s ease-in-out;
			&:hover {
				padding: 0px;
				transition: .25s ease-in-out;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		h2 {
			margin-bottom: 35px;
		}
		li {
			font-size: 18px;
			padding-left: 25px;
			position: relative;
			margin-bottom: 12px;
			&::before {
				position: absolute;
				left: 0;
				top: 8px;
				content: '';
				display: inline-block;
				width: 10px;
				height: 10px;
				background: $accent;
				border-radius: 50%;
			}
		}
		p {
			
		}
	}
}

.durability {
	background: url('../img/question.svg') no-repeat left center/auto 80%;
	padding: 30px 30px 50px 200px;
	.container {
		max-width: 1300px;
		margin: 0 auto;
		color: $text-dark;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	h3 {
		font-size: 32px;
		line-height: 1.2;
	}
	&__info {
		max-width: 670px;
		font-size: 23px;
		line-height: 26px;
		span {
			color: $accent;
			cursor: pointer;
		}
	}
}

.stats {
	padding: 60px 10px 0;
	background: url('../img/stats.jpg') 0 0 / cover;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 990px;
		margin: 0 auto;
		padding: 0 15px;
		& > li {
			position: relative;
			text-align: center;
			padding: 25px 0;
			min-width: 250px;
			&::after, &::before {
				content: '';
				width: 250px;
				height: 2px;
				background: #fff;
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate3d(-50%,0,0);
			}
			&::before {
				bottom: 0;
				top: auto;
			}
		}
		img {
			height: 128px;
			width: auto;
		}
		p {
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 25px;
			font-size: 21px;
			line-height: 24px;
		}
		.info {
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			position: relative;
			right: 7px;
			cursor: pointer;
			background: url('../img/info.svg') no-repeat center center/contain;
		}
		ul {
			position: absolute;
			background: #fff;
			width: 100%;
			left: 0;
			bottom: 20px;
			transform: translate3d(0,90%,0);
			border-radius: 3px;
			padding: 25px 35px;
			text-align: left;
			opacity: 0;
			transition: all .3s ease, visibility 0s 0.3s;
			visibility: hidden;
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 50px;
				top: -50px;
				position: absolute;
				left: 0;
				z-index: 3;
				opacity: 0;
				background: #000;
			}
			li {
				display: block;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				display: block;
				color: $text-dark;
				line-height: 1.3;
			}
			&.visible {
				transform: translate3d(0,100%,0);
				opacity: 1;
				transition: .3s ease;
				visibility: visible;
			}
		}
	}
	.container {
		min-height: 65vh;
		padding: 80px 50px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: flex-end;
		h2 {
			text-align: right;
			line-height: 1.4;
			margin-bottom: 50px;
		}
	}
}

.footer {
	
}


@import "media"; // Always at the end
