@import "vars";

@media (max-width: 1250px) {
	.header {
		&__banner {
			
			&-remote {
				// background: url('../img/remote-mob.jpg') center center/cover;
				padding: 100px 20px 200px;
				h2 {
					font-size: 55px;
					p {
						left: 35px;
						bottom: -55px;
						display: block;
					}
				}
			}
			h1 {
				max-width: 610px;
				font-size: 55px;
				padding: 100px 0;
				transform: none;
				line-height: 1;
				&::before {
					left: -100px;
				}
			}
		}
	}
	.services-home {
		margin-bottom: 150px;
		h2 {
			margin-bottom: 40px;
			text-align: left;
			padding: 0 30px;
		}
		&__list {
			flex-flow: row wrap;
			align-items: stretch;
			height: auto;
			padding: 0 30px;
			margin-bottom: 40px;
			li {
				height: auto;
				width: 50%;
				padding: 80px 0 50px;
				&:nth-of-type(1),
				&:nth-of-type(4) {
					h3 {
						top: 0;
						margin-top: -45px;
					}
				}
				&:nth-of-type(2n) {
					h3 {
						top: 0;
					}
					a.button {
						border-color: $text;
					}
				}
				&:hover {
					transform: translate3d(0,0,0);
					height: auto;
					.services-home__list-info ,h3,a.button {
						transform: translate3d(0,0,0);
					}
				}
			}
			h3 {
				font-size: 35px;
				margin-bottom: 40px;
			}
			&-info {
				display: block;
				opacity: 1;
				transform: none;
				position: relative;
				margin-bottom: 70px;
				p {
					line-height: 1.6;
				}
			}
			a.button {
				position: relative;
				transform: none;
				opacity: 1;
				font-size: 16px;
				text-transform: lowercase;
				background: $text;
				width: 180px;
				border: 1px solid $yellow;
				color: $yellow;
				font-family: 'volte';
				padding-top: 10px;
				padding-bottom: 10px;
				&::after {
					top: 14px;
				}
			}
		}
	}
	.remote {
		h2 {
			line-height: 1.2;
		}
		.br-mob {
			display: block;
		}
		&__how {
			padding-left: 30px;
		}
		&__estimation {
			padding-left: 30px;
			h2 {
				text-align: left;
				font-size: 55px;
			}
		}
	}
}
@media (max-width: 1023px) {
	.languages {
		&__list {
			a {
				&::before {
					display: none;
				}
			}
		}
	}
	.header {
		z-index: 20;
		&__top, &__main {
			display: none;
		}
		&__mob {
			display: flex;
			flex-flow: row nowrap;
			position: relative;
			z-index: 3;
		}
		&__banner {
			min-height: auto;
			height: auto;
			padding: 45px 20px 90px;
			&.alt {
				padding: 50px 30px 80px;
				text-align: center;
				h2 {
					text-align: center;
					margin-bottom: 65px;
				}
				.text-main {
					font-size: 28px;
					margin-bottom: 20px;
					line-height: 1.2;
					b {
						text-transform: capitalize;
						font-size: 28px;
					}
				}
				
			}
			&-remote {
				padding: 140px 20px 150px;
				h2 {
					font-size: 37px;
					p {
						margin-top: 10px;
						position: relative;
						bottom: 0;
						left: 0;
						font-size: 24px;
					}
				}
			}
			h1 {
				max-width: 240px;
				font-size: 37px;
				padding: 0;
				transform: none;
				line-height: 1;
				.br-mob {
					display: block;
				}
				&::before {
					display: block;
					position: relative;
					width: 130px;
					height: 130px;
					left: -25px;
					margin-bottom: -45px;
				}
			}
			.bubbles {
				top: 0;
				left: 0;
				z-index: 2;
				left: 50%;
				transform: translate3d(-50%,0,0);
				overflow: hidden;
				li:before {
					display: none;
				}
				li:nth-of-type(1) {
					top: 75%;
					left: 0%;
					width: 14%;
					padding-bottom: 14%;
					max-width: 60px;
					max-height: 60px;
				}
				li:nth-of-type(2) {
					left: auto;
					right: 10%;
					top: 91%;
					width: 9%;
					padding-bottom: 9%;
					max-width: 30px;
				}
				li:nth-of-type(3) {
					top: 42%;
					right: -4%;
					width: 10%;
					padding-bottom: 10%;
					max-width: 55px;
				}
				li:nth-of-type(4) {
					top: 30%;
					right: 20%;
					width: 14%;
					padding-bottom: 14%;
					max-width: 80px;
				}
				li:nth-of-type(5) {
					top: 8%;
					right: 5%;
					width: 32%;
					padding-bottom: 32%;
					max-width: 140px;
				}
				li:nth-of-type(6) {
					top: 22%;
					right: 28%;
					width: 23%;
					padding-bottom: 23%;
					max-width: 100px;
				}

			}
			.scroll {
				display: none;
			}
		}
		&-bottom {
			text-align: left;
			padding-bottom: 0;
			margin-bottom: 70px;
			&::before {
				height: 120px;
			}
			h3 {
				font-size: 26px;
				line-height: 1.15;
				margin-bottom: 25px;
			}
			p {
				line-height: 1.5;
			}
		}
	}
	.about {
		padding: 0;
		&::before {
			display: none;
		}
		.flex {
			flex-flow: column;
		}
		h2 {
			padding: 0 30px;
		}
		&__left {
			width: 100%;
		}
		&__right {
			width: 100%;
			background: $text;
			margin-top: 60px;
			padding-top: 0;
			.bubbles {
				top: 0;
				li::before {
					display: none;
				}
				li:nth-of-type(1) {
					top: -4%;
					left: auto;
					right: 8%;
					width: 8%;
					padding-bottom: 8%;
					max-width: 90px;
				}
				li:nth-of-type(2) {
					left: auto;
					right: 5%;
					top: -5;
					width: 23%;
					padding-bottom: 23%;
					max-width: 140px;
				}
				li:nth-of-type(3) {
					top: 8%;
					left: auto;
					right: 20%;
					width: 13%;
					padding-bottom: 13%;
					max-width: 70px;
				}
				li:nth-of-type(4) {
					top: 3%;
					left: auto;
					right: 7%;
					width: 9%;
					padding-bottom: 9%;
					max-width: 70px;
				}
				li:nth-of-type(5) {
					top: 30%;
					left: 20%;
					width: 8%;
					padding-bottom: 8%;
				}
				li:nth-of-type(6) {
					top: 26%;
					left: 35%;
					width: 30%;
					padding-bottom: 30%;
					max-width: 180px;
				}
				li:nth-of-type(7) {
					top: 35%;
					left: 15%;
					width: 13%;
					padding-bottom: 13%;
					max-width: 100px;
				}
				li:nth-of-type(8) {
					top: 43%;
					left: 20%;
					width: 45%;
					padding-bottom: 45%;
					max-width: 240px;
					z-index: 2;
				}
				li:nth-of-type(9) {
					top: 54%;
					left: 50%;
					width: 30%;
					padding-bottom: 30%;
					max-width: 180px;
					z-index: 1;
				}

				li:nth-of-type(10) {
					top: 40%;
					left: 40%;
					width: 55%;
					padding-bottom: 55%;
					max-width: 130px;
					z-index: 1;
				}
				li:nth-of-type(12) {
					top: 32%;
					left: 50%;
					width: 30%;
					padding-bottom: 30%;
					max-width: 190px;
					z-index: 2;
				}
				li:nth-of-type(13) {
					top: 35%;
					left: 23%;
					width: 23%;
					padding-bottom: 23%;
					max-width: 130px;
					z-index: 2;
				}


				li:nth-of-type(11) {
					top: 100%;
					left: -5%;
					width: 35%;
					padding-bottom: 35%;
					max-width: 120px;
				}
				li:nth-of-type(14) {
					display: block;
					top: 100%;
					left: -5%;
					width: 10%;
					padding-bottom: 10%;
					max-width: 80px;
				}
				li:nth-of-type(15) {
					display: block;
					top: 94%;
					left: 20%;
					width: 25%;
					padding-bottom: 25%;
					max-width: 140px;
					z-index: 3;
				}
				li:nth-of-type(17) {
					display: block;
					top: 104%;
					left: 55%;
					width: 17%;
					padding-bottom: 17%;
					z-index: 3;
					max-width: 100px;
				}
				li:nth-of-type(16) {
					display: block;
					top: 94%;
					left: 80%;
					width: 10%;
					padding-bottom: 10%;
					z-index: 3;
					max-width: 70px;
				}
			}
			.flex {
				align-items: flex-start;
				overflow: hidden;
			}
			.img-text {
				width: 95%;
				background-position: left top;
				position: relative;
				top: -4px;
				left: -4px;
				height: 260px;
				margin-bottom: 430px;
			}
			.about__text {
				position: relative;
				padding: 0 30px;
				bottom: 0;
			}
		}

		&__text {
			padding: 0 30px;
			margin-bottom: 90px;
			&:first-of-type {
				margin-bottom: 75px;
			}
			p {
				line-height: 1.65;
			}
		}
	}
	.services {
		margin-top: 0;
		background: #fff;
		margin-bottom: 50px;
		padding-bottom: 0;
		width: 100%;
		overflow: hidden;
		.bubbles {
			display: none;
		}
		&__banner {
			height: 195px;
		}
		.more {
			display: block;
		}
		&__menu {
			width: 70%;
			height: 380px;
			right: 0;
			top: 0;
			position: absolute;
			padding-left: 40px;
			transform: translate3d(100%,0,0);
			transition: .3s ease-in;
			&.active {
				transform: translate3d(0,0,0);
				transition: .3s ease-out;
			}
			.close {
				position: absolute;
				z-index: 16;
				top: 0;
				right: 0;
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					width: 21px;
					height: 2px;
					background: #fff;
					position: relative;
					transform: rotate(45deg);
					&::before {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						background: #fff;
						transform: rotate(90deg);
					}
				}
			}
			li {
				font-size: 18px;
			}
		}
		&__text-blocks {
			width: 100%;
			li {
				padding: 70px 30px;
				&.active {
					position: relative;
				}
			}
			.title-wrapper {
				top: 22px;
			}
			h2 {
				font-size: 42px;
			}
		}
		&__expertises {
			padding: 30px;
			&-list {
				li {
					width: 50%;
					padding-bottom: 50%;
					background: $yellow;
					border-width: 2px;
				}
				span {
					color: #0b00ea;
					opacity: 1;
					font-size: 16px;
				}
			}
		}
	}

	.expertise {
		.br-mob {
			display: block;
		}
		.img {
			width: 40%;
		}
		&__info {
			width: 60%;
			padding-left: 30px;
			h2 {
				font-size: 50px;
			}
		}
		&__blue {
			padding-left: 30px;
		}
	}
	.footer {
		.container {
			max-width: 500px;
		}
		.flex {
			flex-flow: column;
		}
		padding-top: 25px;
		&__left {
			width: 100%;
			&-text {
				margin-bottom: 70px;
			}
		}
		&__right {
			padding-top: 15px;
			width: 100%;
			text-align: center;
			.language-button {
				display: none;
			}
			&-newsletter {
				margin-bottom: 30px;
				margin-left: auto;
				margin-right: auto;
				input, button {

					font-size: 16px;
				}
				button {
					padding-top: 7px;
				}
			}
		}
		.flex-half {
			.social {
				padding-left: 30px;
				width: 50%;
				display: flex;
				flex-flow: row wrap;
				align-self: flex-start;
				padding-top: 20px;
				li {
					width: 34%;
					margin-bottom: 24px;
				}
				a {
					padding: 0;
					width: 25px;
					height: 25px;
				}
			}
			> li {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
			}
			.flex {
				width: 100%;
				flex-flow: row wrap;
				div {
					width: 50%;
					margin-bottom: 50px;
					&:nth-of-type(2n) {
						padding-left: 30px;
					}
				}
			}
		}
		&__list {
			width: 50%;
			margin-bottom: 70px;
			a {
				font-size: 14px;
			}
		}
		&__list, &__block {
			&::before {
				margin-bottom: 10px;
			}
		}
		&__block {
			h3 {
				font-size: 22px;
				font-family: 'volte-m';
			}
			p, a {
				font-size: 14px;
			}
		}
		&__bottom {
			.social {
				display: none;
			}
			&-privacy {
				text-align: center;
				li {
					a {
						font-size: 11px;
						padding: 4px 6px;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	body {

	}
	.flex {
		flex-flow: column;
	}
	h2 {
		font-size: 48px;
		line-height: 1.25;
	}
	.br-mob {
		display: block;
	}
	.header {
		&__mob {
			display: flex;
			flex-flow: row nowrap;
			position: relative;
			z-index: 3;
		}
		&__banner {
			&.alt {
				text-align: left;
				h2 {
					text-align: left;
				}
				
			}
		}
	}
	.services-home {
		margin-bottom: 60px;
		&__list {
			flex-flow: column;
			li {
				width: 100%;
			}
		}
	}
	
	.contact {
		padding-top: 30px;
		margin-bottom: 70px;
		&.page {
			padding-top: 0;
			margin-top: -10px;
			padding-bottom: 45px;
			h2 {
				margin-bottom: 70px;
			}
		}
		h2 {
			text-align: center;
		}
		.bubbles {
			display: none;
		}
		.text {
			padding: 0 30px;
			p {
				text-align: left;
				line-height: 1.55;
			}
			p.text-main {
				text-align: left;
				font-size: 26px;
				margin-bottom: 20px;
				line-height: 1.2;
				b {
					text-transform: capitalize;
					font-size: 26px;
				}
			}
		}
		
		h2 {
			margin-bottom: 70px;
		}
		&__form {
			.select {
				margin-bottom: 80px;
			}
			select {
				display: block;
				width: 250px;
			}
			&-inputs {
				margin: 0 auto;
				max-width: 250px;
				div {
					width: 100%;
				}
				input {
					margin-bottom: 65px;
				}
			}

			label, textarea, .checkbox {
				max-width: 250px;
				margin: 0 auto;
			}
			.checkbox {
				margin: 25px auto 40px;
				position: relative;
				input {
					position: absolute;
					left: 0;
					top: 3px;
				}
				.checkmark {
					position: absolute;
					left: 4px;
					top: 3px;
				}
				label {
					padding-left: 30px;
					font-size: 15px;
					line-height: 1.25;
				}
			}
		}
	}
	.blog {
		padding-bottom: 75px;
		h2 {
			text-align: left;
			margin-bottom: 70px;
		}
		&__list {
			li {
				width: 100%;
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0;
				}
				h3 {
					font-size: 16px;
				}
				p {
					font-size: 14px;
					line-height: 1.2;
				}
			}
		}
	}
	
	.services {
		&__expertises {
			&-list {
				flex-flow: row wrap;
			}
		}
	}
	.expertise {
		.img {
			width: 100%;
			padding-bottom: 50%;
			max-height: 300px;
			margin: 0 auto 40px;
			&::before {
				display: none;
			}
		}
		&__info {
			width: 100%;
			padding: 0 30px 70px;
			p.main {
				font-size: 26px;
				margin-bottom: 20px;
				line-height: 1.2;
				b {
					text-transform: capitalize;
					font-size: 26px;
				}
			}
		}
		&__blue {
			padding: 60px 30px;
			p.main {
				font-size: 26px;
				margin-bottom: 20px;
				line-height: 1.2;
			}
		}
		h2 {
			text-align: left;
			font-size: 40px;
		}
	}
	.remote {
		margin-bottom: 80px;
		padding-left: 0px;
		padding-right: 0px;
		&__title {
			padding: 40px 30px 70px;
			text-align: left;
			p.text-main {
				font-size: 26px;
				margin-bottom: 20px;
				line-height: 1.2;
				b {
					text-transform: capitalize;
					font-size: 26px;
				}
			}
		}
		.flex {
			padding-left: 30px;
			padding-right: 30px;
		}
		.left {
			width: 100%;
		}
		.right {
			margin-top: 0;
			width: 100%;
		}
		&__offer {
			padding: 40px 0px 65px;
			background: $yellow;
			&::before {
				width: 110vw;
				transform: translate3d(-30px,0,0);
			}
		}
		&__list {
			padding: 50px 0px;
			li {
				margin-bottom: 50px;
			}
		}
		&__how {
			padding: 60px 0px;
			&::before {
				left: -30px;
			}
			h2 {
				line-height: 1.2;
				margin-bottom: 85px;
			}
			.blue {
				line-height: 1.3;
				margin-bottom: 80px;
			}
		}
		&__estimation {
			margin-left: -30px;
			padding: 60px 0px 120px 30px;
			margin-bottom: 35px;
			&::before {
				left: -30px;
				height: calc(100% - 50px);
			}
			h2 {
				text-align: left;
			}
		}
		&__table {
			display: none;
		}
		.bg-gray {
			display: none;
		}
		&__mob {
			display: block;
			.based {
				display: block;
				font-family: "avant";
				line-height: 1.2;
				text-align: center;
				padding: 0 30px;
				margin-bottom: 20px;
				font-size: 15px;
			}
			h3 {
				background: $text;
				font-family: 'avant';
				font-size: 16px;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				padding: 7px 0;
				margin-bottom: 20px;
			}
			&-list {
				> li {
					padding: 28px 30px 32px;
					&:nth-child(2n) {
						background: #f2f3f8;
					}
					li {
						display: block;
						line-height: 1.4;
					}
				}
				h4 {
					font-size: 19px;
					line-height: 1.2;
					margin-bottom: 8px;
					span {
						display: block;
						margin-top: 4px;
						font-size: 15px;
					}
				}

				b,span {
					display: inline-block;
					line-height: 15px;
				}
				b {
					font-family: "avant";
				}
			}
		}	
		
	}
	.contact-us {

	}
	.map {
		padding-top: 70px;
		margin-bottom: 0;
		h2 {
			font-size: 36px;
			margin-bottom: 120px;
		}
		&__list {
			text-align: center;
			h3 {
				margin-bottom: 8px;
			}
			li {
				width: 100%;
				margin-bottom: 110px;
				&:last-child {
					margin-bottom: 50px;
				}
				&::before {
					margin: 0 auto 8px;
				}
			}
			a, p {
				font-size: 18px;
				line-height: 1.75;
			}
		}
		&__embed {
			margin-top: 0;
			border: none;
			transform: none;
			height: 100vh;
		}
	}
	.privacy {
		h2 {
			text-align: left;
			margin-bottom: 50px;

		}
		p, li {
			line-height: 1.55;
		}
	}
}

@media (max-width: 475px) {
	.header {
		&__banner {
			.bubbles {
				li::before {
					display: block;
				}
			}
		}
	}
	.services {
		&__expertises {
			&-list {
				flex-flow: column;
				li {
					width: 100%;
					padding-bottom: 100%;
				}
			}
		}
	}
	.expertise {
		.img {
			width: 100%;
			padding-bottom: 100%;
		}
	}
}
















