@import "vars";
@import "fonts";
@import "libs";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: $text;
}
body {
	font-size: 16px;
	font-family: 'volte';
	min-width: 320px;
	position: relative;
	line-height: 1.8;
	overflow-x: hidden;
	color: $text;
}
.container {
	max-width: 1350px;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
h2 {
	font-family: 'avant';
	font-size: 64px;
	text-align: center;
	.blue {
		color: $blue;
	}
}
.social {
 	li {
		display: inline-block;
	}
	a {
		display: block;
		width: 28px;
		height: 28px;
		padding: 5px 5px;
		svg {
			width: 100%;
			height: auto;
		}
	}
}
.language-button {
	display: inline-block;
	position: relative;
	opacity: .5;
	transition: .2s;
	cursor: pointer;
	margin-bottom: 25px;
	color: #fff;
	&:hover {
		opacity: 1;
		transition: .2s;
	}
	&::after {
		content: '';
		display: inline-block;
		transform: rotate(90deg);
		width: 10px;
		height: 10px;
		margin-left: 12px;
		background: url('../img/arrow-white.svg') no-repeat center center/contain;
	}
}

.sidebar {
	background: transparent;
	–webkit-overflow-scrolling: touch;
	display: flex;
	overflow: hidden;
	height: 100vh;
	transition: 1s cubic-bezier(.71,.04,0,1);
	transform: translate3d(100%,0,0);
	position: fixed;
	width: 100%;
	backface-visibility: hidden;
	will-change: overflow;
	z-index: 20;
	&.active {
		transition: .5s cubic-bezier(.12,.64,.4,.98);
		transform: translate3d(0,0,0);
		.contact__form {
			opacity: 1;
			transition: .25s .15s cubic-bezier(.12,.64,.4,.98);
		}
		.languages__list {
			opacity: 1;
			transition: .25s  cubic-bezier(.12,.64,.4,.98);
		}
	}
	&.languages {

		
		li {

		}
	}
	.contact__form {
		background: #fff;
		overflow: auto;
	    height: auto;
	    -webkit-overflow-scrolling: touch;
	    -ms-overflow-style: none;
	    margin-right: 0;
	    padding: 50px;
	    opacity: 0;
	    // transform: translate3d(0,20px,0);
	    transition: .3s ease-in-out;
			h2 {

			}
	}
	.close {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 21;
		span {
			width: 16px;
			height: 2px;
			background: $text;
			display: block;
			transform: rotate(45deg);
			position: relative;
			&::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				transform: rotate(90deg);
				background: $text;
			}
		}
	}
}
.languages {
	&__list {
		display: block;
		background: $text;
		overflow: auto;
	    height: auto;
	    -webkit-overflow-scrolling: touch;
	    -ms-overflow-style: none;
	    margin-right: 0;
	    padding: 60px 0;
	    opacity: 0;
	    transition: .3s ease-in-out;
	    max-width: 285px;
	    margin-right: 0;
	    margin-left: auto;
	    width: 100%;
	    li {
			display: block;
			width: 100%;
	    }
		a {
			display: block;
			color: #fff;
			font-size: 19px;
			padding: 12px 40px;
			background: transparent;
			transition: .3s ease-out;
			position: relative;
			&::before {
				content: './';
				display: inline-block;
				width: 0px;
				opacity: 0;
				transition: .3s ease-out;
				color: $yellow;
			}
			&:hover {
				background: $blue;
				color: $text;
				transition: .3s ease-out;
				&::before {
					width: 15px;
					opacity: 1;
					transition: .3s ease-out;
				}
			}
		}
	}
	.close {
		cursor: pointer;
		span, span::after {
			background: #fff;
		}
	}
}
.contact {
	margin-bottom: 90px;
	.text {
		width: 950px;
		margin: 60px auto 90px;
		text-align: center;
		h2 {
			margin-bottom: 40px;
		}
		p {
			font-size: 19px;
			line-height: 1.75;
		}
		p.text-main {
			font-family: "volte-m";
			margin-bottom: 8px;
			font-size: 32px;
			p {
				font-size: 32px;
			}
			b {
				font-family: "volte-sb";
				font-size: 35px;
			}
			span {
				color: $blue;
			}
		}

	}
	&__form {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 50px;
		text-align: center;
		input,select,textarea {
			background: transparent;
			border: none;
			border-radius: 0;
			-webkit-appearance: none;
			transition: .2s;
			font-family: "volte-m";
			font-size: 19px;
			line-height: 1;
			&:focus, &:active {
				outline: none;
			}
		}
		input {
			&:valid, &:focus, &:active {
				border-color: $blue;
				transition: .2s;
				color: $blue;
				& + label {
					font-size: 12px;
					transition: .2s;
					transform: translate3d(0,-15px,0);
				}
			}
			&:invalid {
				border-color: $text;
				color: $text;
			}
		}
		h2 {
			margin-bottom: 50px;
		}
		.select {
			display: inline-block;
			position: relative;
			text-align: center;
			margin-bottom: 65px;
			&::after {
				content: '';
				display: inline-block;
				width: 10px;
				position: absolute;
				top: 18px;
				right: 18px;
				height: 10px;
				transform: rotate(90deg);
				z-index: 1;
				background: url('../img/arrow.svg') no-repeat center center/contain;
			}
			
		}
		select {
			display: inline-block;
			width: auto;
			border: 2px solid $text;
			border-radius: 25px;
			width: 100%;
			padding: 10px 40px 10px 25px;
			position: relative;
			z-index: 2;
		}
		&-inputs {
			text-align: left;
			flex-flow: row wrap;
			font-family: "volte-m";
			div {
				width: 47%;
				position: relative;
			}
			label {
				position: absolute;
				left: 0;
				top: 10px;
				line-height: 1;
				transition: .2s;
				z-index: 1;
			}
			input {
				position: relative;
				z-index: 2;
				width: 100%;
				padding: 8px 0;
				border-bottom: 2px solid $text;
				margin-bottom: 60px;
				transition: .2s;
			}
		}
		label {
			display: block;
			width: 100%;
			font-family: "volte-m";
			text-align: left;
			font-size: 19px;
		}
		textarea {
			display: block;
			width: 100%;
			resize: none;
			border: 2px solid $text;
			border-radius: 10px;
			padding: 15px 20px;
			transition: .2s;
			&:focus,&:active {
				border-color: $blue;
				color: $blue;
				transition: .2s;
			}
		}
		.checkbox {
			margin-top: 12px;
			font-size: 15px;
			position: relative;
			margin-bottom: 40px;
			label {
				font-size: 14px;
			}
			.checkmark {
				width: 13px;
				height: 20px;
				display: inline-block;
				position: absolute;
				top: 5px;
				left: 4px;
				background: url('../img/check.svg') no-repeat center center/contain;
				opacity: 0;
				transition: .2s;
			}
			input {
				width: 20px;
				height: 20px;
				border: 2px solid $text;
				border-radius: 5px;
				border-color: $text !important;
				transition: .2s;
				margin-right: 5px;
				position: relative;
				top: 5px;
				&:checked {
					transition: .2s;
					& + .checkmark {
						opacity: 1;
						transition: .2s;
					}
				}
			}
			a {
				color: $blue;
			}
		}
		button {
			outline: none;
			border: none;
			background: $yellow;
			width: 166px;
			height: 57px;
			padding: 14px 60px 14px 25px;
			font-family: "volte-sb";
			font-size: 24px;
			color: $text;
			margin: 0 auto;
			border-radius: 30px;
			position: relative;
			cursor: pointer;
			display: block;
			&::before {
				display: block;
				cursor: pointer;
				content: 'Sent';
				width: 100%;
				height: 100%;
				color: #fff;
				font-size: 21px;
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				padding-top: 12px;
				margin-left: -10px;
				font-size: 0;
			}
			&::after {
				display: block;
				cursor: pointer;
				content: '';
				width: 30px;
				height: 30px;
				background: $text url('../img/envelope.svg') no-repeat center center/15px;
				transform: rotate(-35deg);
				border: 2px solid $text;
				border-radius: 50%;
				position: absolute;
				right: 11px;
				top: 11px;
			}
		}
		.sent-message {
			opacity: 0;
			overflow: hidden;
			height: 0;
			display: block;
			margin: 20px auto 0;
			max-width: 250px;
			font-size: 13px;
			font-family: "volte";
			padding: 5px 25px;
			border-radius: 20px;
			background: #f9f9f9;
		}
		&.submitted {
			button {
				transition: font-size .3s ease, background .3s 1s ease;
				font-size: 0;
				background: #1fe696;
				&::after {
					transition: .25s;
					animation: rotate 2s forwards;
					background: transparent;
					border-style: solid;
					border-width: 2px;
					border-color: $text transparent $text $text;
				}
				&::before {
					font-size: 24px;
					transition: .3s 1s ease-in-out;
				}
			}
		}
		&.sent {
			button {
				&::after {
					border-color: #1fe696;
					transition: .25s;
					background: #fff url('../img/check.svg') no-repeat center center/14px;
				}
			}
			.sent-message {
				opacity: 1;
				height: 33px;
				transition: .3s 1s ease-in-out;
			}
		}
	}
}

.header {
	background: url('../img/banner.jpg') center center/cover;
	&.alt {
		background: #fff;
	}   
	&__top {
		background: $text;
		padding: 7px 20px;
		font-size: 13px;
		li {
			display: inline-block;
		}
		&-contact {
			margin-left: -10px;
			a {
				transition: .2s;
				color: #8083ac;
				padding: 10px;

				&::before {
					position: relative;
					top: 2px;
					margin-right: 6px;
					content: '';
					display: inline-block;
					width: 12px;
					height: 12px;
					background: url('../img/phone.svg') no-repeat center center/contain;
				}
				&:hover {
					color: #fff;
					transition: .2s;
				}
			}
			li:last-child {
				a::before {
					background: url('../img/envelope.svg') no-repeat center center/contain;
				}
			}
		}
	}
	&__main {
		padding: 25px 20px;
		border-bottom: 1px solid rgba(255,255,255,.15);
		.logo {
			max-width: 170px;
			display: block;
			img {
				width: 100%;
				height: auto;
			}
		}
		&-menu {
			
			li {
				display: inline-block;
				&:last-child {
					a {
						padding-right: 0;
					}
				}
				a {
					display: block;
					color: rgba(255,255,255,.5);
					padding: 15px 20px;
					position: relative;
					transition: .2s;
					font-family: 'volte-m';
					margin-left: 15px;

					&:hover {
						color: #fff;
						transition: .2s;
					}
					&::after {
						display: block;
						position: absolute;
						bottom: 0;
						left: calc(50% - 5px/2);
						width: 7px;
						height: 7px;
						background: $blue;
						border-radius: 50%;
						text-align: center;
					}
				}
				&.active {
					a {
						color: #fff;
						&::after {
							content: '';
						}
					}	
				}
			}
			.language-button {
				cursor: pointer;
				margin: 0;
				padding: 15px;
				margin-left: 15px;
				font-family: "volte-m";
			}
			.contact-button {
				display: inline-block;
				cursor: pointer;
				width: 25px;
				height: 17px;
				margin-left: 18px;
				position: relative;
				top: 3px;
				opacity: 0.5;
				transition: .2s;
				background: url("../img/envelope.svg") no-repeat center center/19px;
				&:hover {
					opacity: 1;
					transition: .2s;
				}
			}
			&.alt {
				li {
					a {
						color: $text;
						opacity: 0.5;
						&:hover {
							opacity: 1;
							color: $text;
						}
					}
					&.active {
						a {
							opacity: 1;
							color: $text;
						}
					}
				}
				.language-button {
					color: $text;
					&::after {
						background: url('../img/arrow-text.svg') no-repeat center center/contain;
					}
				}
				.contact-button {
					background: url("../img/envelope-text.svg") no-repeat center center/19px;
				}
			}
		}
	}
	&__banner {
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
		min-height: 550px;
		height: calc(100vh - 150px);
		&.alt {
			height: auto;
			min-height: auto;
			text-align: center;
			padding: 60px 20px;
			h2 {
				display: block;
				margin-bottom: 75px;
			}
			p {
				font-size: 19px;
				line-height: 1.6;
				max-width: 900px;
				margin: 0 auto;
			}
			.text-main {
				font-family: "volte-m";
				font-size: 32px;
				margin-bottom: 12px;
				.blue {
					color: $blue;
				}
				b {
					font-family: "volte-sb";
					font-size: 35px;
				}
			}
		}
		&-remote {
			height: auto;
			min-height: auto;
			padding: 120px 20px 235px;
			.title {
				font-family: "avant";
				display: inline-block;
				text-align: center;
			}
			h2 {
				position: relative;
				width: auto;
				display: inline-block;
				color: #fff;
				font-size: 96px;
				line-height: 1;
				span {
					color: $yellow;
				}
			}
			p {
				display: inline-block;
				font-size: 43px;
				color: $yellow;
				position: absolute;
				bottom: -65px;
				left: 92px;
				span {
					color: #fff;
				}
			}
		}
		.scroll {
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translate3d(-50%,0,0);
			content: '';
			width: 20px;
			height: 40px;
			&-animated {
				animation: scroll 1.4s infinite;
			}
		}

		&-bubbles {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			li {
				opacity: 0;

			}
		}
		h1 {
			display: block;
			line-height: 1.1;
			color: #fff;
			font-size: 96px;
			font-family: "avant-h1";
			max-width: 1080px;
			width: 100%;
			margin: 0 auto;
			padding: 150px 0;
			position: relative;
			z-index: 2;
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: -150px;
				z-index: -1;
				background: url('../img/banner-rect.png') no-repeat left center/contain;
			}
		}
	}
	&-bottom {
		margin: 0 auto 80px;	
		max-width: 1050px;
		text-align: center;
		padding: 50px 20px 70px;
		position: relative;
		b {
			font-family: "volte-sb";
		}
		h3 {
			font-size: 32px;
			margin-bottom: 20px;
		}
		p {
			font-size: 19px;
			line-height: 1.6;
		}
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: url('../img/header-bottom.png') center bottom/cover;
			z-index: -1;
		}
	}
}
.services-home {
	position: relative;
	z-index: 4;
	margin-bottom: 50px;
	h2 {
		margin-bottom: 40px;
	}
	&__list {
		align-items: flex-start;
		position: relative;
		height: 525px;
		margin-bottom: 100px;
		li {
			position: relative;
			width: 25%;
			height: 525px;
			height: calc(1350px / 4);
			transition: .3s .15s cubic-bezier(.73,.04,.38,1.01);
			overflow: hidden;
			padding: 40px 0 50px;
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			&:hover {
				height: 525px;
				transition: .8s cubic-bezier(.71,.04,0,1);
				transform: translate3d(0,0,0);
				.services-home__list-info {
					opacity: 1;
					width: 100%;
					transition: .5s .3s cubic-bezier(.12,.64,.4,.98);
					transform: translate3d(0,0,0);
				}
				h3 {
					top: 0;
					transform: translate3d(0,0,0);
					transition: .5s cubic-bezier(.71,.04,0,1);
				}
				a.button {
					z-index: 10;
					display: block;
					transform: translate3d(0,0,0);
					opacity: 1;
					transition: .5s .3s cubic-bezier(.12,.64,.4,.98);
				}
			}
			&:nth-of-type(2n-1) {
				color: #fff;
				h3 {
					top: 0;
				}
			}
			&:nth-of-type(1) {
				background: url('../img/services1.jpg') top center/cover;
			}
			&:nth-of-type(2) {
				background: url('../img/services2.jpg') top center/cover;
			}
			&:nth-of-type(3) {
				background: url('../img/services3.jpg') top center/cover;
			}
			&:nth-of-type(4) {
				background: url('../img/services4.jpg') top center/cover;
				h3 {
					position: relative;
					top: calc(100% - 105px);
				}
				&:hover h3 {
					top: 0;
				}
			}
		}
		h3 {
			position: relative;
			top: calc(100% - 70px);
			left: -3px;
			font-size: 42px;
			font-family: 'avant';
			line-height: 1.2;
			transition: .4s .2s cubic-bezier(.73,.04,.38,1.01);
		}
		&-info {
			padding: 0 35px;
			opacity: 0;
			transform: translate3d(0,-25px,0);
			transition: .2s cubic-bezier(.12,.64,.4,.98);

			p {
				font-size: 16px;
			}
		}
		a.button {
			display: block;
			width: 150px;
			text-align: center;
			padding: 8px 38px 8px 15px;
			background: $yellow;
			color: $text;
			margin: 0 auto;
			border-radius: 25px;
			font-size: 13px;
			font-family: "volte-sb";
			opacity: 0;
			transform: translate3d(0,25px,0);
			transition: .25s cubic-bezier(.12,.64,.4,.98);
			&::after {
				content: '';
				width: 20px;
				height: 20px;
				display: inline-block;
				position: absolute;
				background: #000759 url('../img/arrow-yellow.svg') no-repeat center center /6px;
				right: 9px;
				top: 9px;
				border-radius: 50%;
			}
		}
	}
}
.about {
	position: relative;
	z-index: 2;
	margin-bottom: 130px;
	.container {
		align-items: stretch;
	}
	&::before {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		right: 0;
		top: 0;
		background: $text;
	}
	h2 {
		text-align: left;
		margin-bottom: 40px;
	}
	&__left {
		width: 50%;
		padding-top: 35px;
	}
	&__right {
		width: 50%;
		position: relative;
		color: #fff;
		padding-top: 50px;
		.flex {
			justify-content: flex-end;
		}
		.img-bubbles {
			position: absolute;
			width: 125%;
			height: 100%;
			top: 0;
			left: 0;
			transform: translate3d(-16%, -18%, 0);
			background: url('../img/about-bubbles.png') no-repeat left top/contain;
		}
		.img-text {
			width: 50%;
			height: 230px;
			margin-bottom: 200px;
			background: url('../img/about-text.svg') no-repeat top right/contain;
		}
		.about__text {
			padding-left: 70px;
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
		}
	}
	&__text {
		padding: 0 50px;
		margin-bottom: 90px;
		&:first-of-type {
			margin-bottom: 45px;
		}
		h3 {
			font-size: 29px;
			position: relative;
			text-transform: uppercase;
			font-family: 'avant';
			margin-bottom: 5px;

			&::before {
				display: inline-block;
				content: '';
				width: 25px;
				height: 25px;
				position: relative;
				margin-right: 5px;
				top: 3px;
			}
			&.qualite {
				font-family: 'avant-m';
				font-style: italic;
				&::before {
					background: url('../img/about1.svg') no-repeat left center/contain;
				}
			}
			&.flexibilite {
				letter-spacing: 10px;
				&::before {	
					transform: rotate(45deg);
					margin-right: 5px;
					background: url('../img/about2.svg') no-repeat left center/contain;
				}
			}
			&.avant {
				letter-spacing: -1px;
				&::before {
					background: url('../img/about3.svg') no-repeat left center/contain;
				}
			}
		}
		p {
			font-size: 19px;
			line-height: 1.6;
		}
	}
}
.blog {
	padding: 0 20px 200px;
	h2 {
		margin-bottom: 60px;
	}
	&__list {
		align-items: flex-start;
		li {
			width: 28%;
			img {
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 20px;
			}
			h3 {
				font-size: 22px;
				margin-bottom: 6px;
				font-family: "volte-sb";
				line-height: 1.4;
			}
			p {
				font-size: 16px;
				color: #6e728c;
				line-height: 1.5;
			}
		}
	}
}

//	SERVICES PAGE
.services {
	background: #f2f3f8;
	padding-bottom: 120px;
	margin-top: 115px;
	margin-bottom: 115px;
	&__banner {
		position: relative;
		width: 100%;
		height: 215px;
		width: 100%;

		li {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity .3s .3s;
			z-index: 1;
			&:nth-of-type(1) {
				background: url('../img/services/services1.jpg') center center/cover;
			}
			&:nth-of-type(2) {
				background: url('../img/services/services2.jpg') center center/cover;
			}
			&:nth-of-type(3) {
				background: url('../img/services/services3.jpg') center center/cover;
			}
			&:nth-of-type(4) {
				background: url('../img/services/services4.jpg') center center/cover;
			}
			&.active {
				z-index: 3;
				opacity: 1;
				transition: opacity .3s;

			}
		}
	}
	.flex {
		align-items: stretch;
	}
	&__menu {
		background: #0b00ea;
		width: 25%;
		max-width: 360px;
		padding: 55px 0 55px 85px;
		padding-right: 0;
		cursor: pointer;
		position: relative;
		z-index: 5;
		li {
			font-size: 22px;
			line-height: 1.25;
			padding: 17px 0;
			color: #fff;
			font-family: "avant";
			transition: .25s ease-out;
			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: './';
				display: inline-block;
				width: 0px;
				opacity: 0;
				transition: .25s ease-out;
				color: $yellow;
			}
			&:hover, &.active {
				color: $yellow;
				transition: .25s ease-out;
				&::before {
					width: 20px;
					opacity: 1;
					transition: .25s ease-out;
				}
			}
		}
	}
	&__text-blocks {
		background: $text;
		position: relative;
		width: 75%;
		z-index: 4;
		li {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			flex-flow: column;
			justify-content: center;
			padding: 0 150px 0 90px;
			&.active {
				opacity: 1;
				.title-wrapper {
					width: 550px;
					transition: .6s .4s ease;
				}
				p {
					opacity: 1;
					// transform: translate3d(0,0,0);
					transition: .3s .4s ease-out;
				}
			}
			
		}
		.title-wrapper {
			width: 0px;
			transition: 0.25s;
			overflow: hidden;
			transform: translate3d(0,-100%,0);
			position: absolute;
			top: 30px;
			padding-bottom: 13px;
			
		}
		h2 {
			width: 550px;
			font-size: 74px;
			color: #fff;
			line-height: 1.2;
			text-align: left;
			top: 15px;

			span {
				color: $yellow;
			}	
		}
		p {
			color: #fff;
			font-size: 16px;
			line-height: 1.75;
			opacity: 0;
			// transform: translate3d(-50px,0,0);
			transition: 0.25s;
			b {
				font-family: "volte-sb";
			}
		}
	}
	&__expertises {
		width: 100%;
		position: relative;
		& > li {
			position: absolute;
			width: 100%;
			transition: .25s;
			opacity: 0;
			&.active {
				opacity: 1;
				transition: .3s .4s;
				position: relative;
			}
		}
		&-list {
			width: 100%;
			flex-flow: row wrap;
			justify-content: flex-start;
			li {
				width: 25%;
				background: #fff;
				padding-bottom: 25%;
				border-right: 1px solid #f2f3f8;
				border-bottom: 1px solid #f2f3f8;
				position: relative;
				transition: .25s;
				&:hover {
					background: $yellow;
					transition: .25s;
					span {
						opacity: 1;
						transition: .25s;
					}
					img {
						transform: scale(1.3);
						transition: .25s ease-out;
					}
				}
			}
			a {
				text-align: center;
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;

			}
			img {
				display: block;
				width: 80px;
				height: 80px;
				transform: scale(1);
				transition: .25s ease-in;
				margin-bottom: 50px;
			}
			span {
				opacity: .4;
				transition: .25s;
				font-size: 19px;
				color: $text;
				line-height: 1.3;
				font-family: "volte-m";
			}
		}
	}
}

//	CONTACT PAGE
.map {
	padding-top: 65px;
	background: $text;
	color: #fff;
	margin-bottom: 350px;
	h2 {
		margin-bottom: 100px;
		font-size: 48px;
		span {
			color: $yellow;
		}
	}
	&__list {
		justify-content: space-around;
		align-items: flex-start;
		margin-bottom: 70px;
		li {
			&::before {
				content: '';
				display: block;
				width: 25px;
				height: 3px;
				background: $yellow;
				margin-bottom: 20px;
			}
		}
		h3 {
			font-size: 29px;
			font-family: "volte-sb";
			margin-bottom: 15px;
		}
		a, p {
			display: block;
			font-size: 16px;
			line-height: 1.9;
			color: #fff;
		}
		.link {
			color: $yellow;
		}
	}
	&__embed {
		border: 5px solid #0b00ea;
		height: 620px;
		transform: translate3d(0,160px,0);
		margin-top: -160px;
	}
}

//	REMOTE PAGE
.remote {
	position: relative;
	margin-bottom: 120px;
	&__title {
		text-align: center;
		padding: 100px 20px 115px;
		p.text-main {
			font-family: "volte-m";
			margin-bottom: 28px;
			font-size: 32px;
			b {
				font-family: "volte-sb";
				font-size: 35px;
			}
		}
		p {
			font-size: 19px;
			max-width: 900px;
			margin: 0 auto;
			line-height: 1.7;
		}
	}
	.flex {
		align-items: flex-start;
	}
	.left,.right {
		width: 50%;
	}
	.right {
		margin-top: 160px;
	}
	&__offer {
		position: relative;
		padding: 75px 100px 80px 0;
		&::before {
			content: '';
			position: absolute;
			width: 100vw;
			left: 0;
			top: 0;
			height: 100%;
			background: $yellow;
			transform: translate3d(-30vw,0,0);
			z-index: -1;
		}
		h2 {
			text-align: left;
			color: #0b00ea;
			margin-bottom: 26px;
			span {
				color: #fff;
			}
		}
		p {
			font-size: 19px;
			line-height: 1.6;
			word-break: break-word;
			hyphens: auto;
		}
	}
	&__list {
		padding: 100px;
		padding-left: 0;
		li {
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		h3 {
			font-family: "avant-m";
			font-size: 19px;
			color: #0b00ea;
			margin-bottom: 5px;
		}
		p {
			line-height: 1.5;
		}
	}
	&__how {
		background: $text;
		padding: 55px 0 95px 85px;
		padding-right: 0;
		position: relative;
		&::before {
			content: '';
			width: 200%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: $text;
			z-index: -1;
		}
		h2 {
			margin-bottom: 75px;
			line-height: 1.5;
			color: #fff;
			text-align: left;
			span {
				color: $blue;
			}
		}
		.blue {
			color: $blue;
			font-size: 26px;
			line-height: 1.6;
			text-transform: uppercase;
			margin-bottom: 70px;
			position: relative;
			font-family: 'avant';
		}
		.text {
			margin-bottom: 78px;
			&:last-child {
				margin-bottom: 0;
			}
			h3 {
				color: #fff;
				font-size: 22px;
				line-height: 1.2;
				font-family: "avant";
				text-transform: uppercase;
				margin-bottom: 16px;
			}
			p {
				font-size: 19px;
				color: #fff;
				line-height: 1.6;
			}
		}
	}
	&__estimation {
		padding: 120px 0 170px 55px;
		background: url('../img/estimate.png') left bottom/cover;
		position: relative;
		margin-bottom: 125px;
		h2 {
			span {
				color: $blue;
			}
		}
		&::before {
			content: '';
			width: 200%;
			height: calc(100% - 60px);
			position: absolute;
			top: 0;
			left: 0;
			background: #f2f3f8;
			z-index: -1;
		}
	}
	&__table {
		width: 100%;
		font-size: 19px;
		td {
			line-height: 1.3;
			padding: 6px 0;
			padding-left: 6%;
			vertical-align: top;
			&:nth-of-type(1) {
				padding-left: 0;
			}
		}
		th {
			vertical-align: top;
			font-size: 23px;
			font-family: "avant";
			line-height: 1.25;
			text-transform: uppercase;
			text-align: center;
			width: 50%;
			padding-bottom: 25px;
			&:last-child {
				font-size: 24px;
			}
		}
		tbody {
			tr:nth-child(2) td {
				padding-top: 25px;
				vertical-align: bottom;
			}
		}
		.cost {
			font-size: 24px;
		}

		.bold {
			font-family: "volte-m";
		}
		.total-top {
			td {
				padding-top: 20px;
			}
		}
		.total-bottom {
			td {
				padding-bottom: 45px;
			}
		}
		.total-bg {
			background: #f2f3f8;
			position: relative;
			td {
				padding-top: 40px;
				&:first-child {
					font-family: "volte-m";
				}
				&:last-child {
					font-family: "volte-sb";
					font-size: 22px;
				}
			}
			&:last-child {
				td {
					padding-top: 2px;
					padding-bottom: 50px;
				}
			}
		}
		.developer {
			font-size: 22px;
			font-family: 'avant';
			background: #f2f3f8;
			border-collapse: collapse;
			padding: 21px 0 21px 6%;
		}
	}
	.bg-gray {
		display: block;
		position: relative;
		width: 100%;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 155px;
			top: 0;
			transform: translateY(-100%);
			left: 0;
			background: #f2f3f8;
			z-index: -1;
		}
	}
}	

.footer {
	background: $text;
	color: #fff;
	padding: 50px 20px 0;
	&__main {
		align-items: flex-start;
	}
	&__left {
		width: 47%;
		&-text {
			max-width: 420px;
			line-height: 1.3;
			font-size: 16px;
			margin-bottom: 35px;
			b {
				font-family: "volte-sb";
			}
			.blue {
				color: $blue;
			}
		}
	}
	.flex-half {
		align-items: flex-start;
		> li {
			width: 50%;
		}
	}
	&__list, &__block {
		&::before {
			display: block;
			content: '';
			width: 15px;
			height: 2px;
			background: $blue;
			margin-bottom: 14px;
		}
	}
	&__list {
		a {
			font-size: 16px;
			color: #fff;
			display: inline-block;
			line-height: 1.95;
		}
		li {
			line-height: 1.72;	
		}
	}
	&__block {
		h3 {
			font-size: 22px;
			font-family: "volte-sb";
			margin-bottom: 3px;
		}
		p, a {
			display: block;
			font-size: 16px;
			line-height: 1.8;
			color: #fff;
		}
		.route {
			color: $blue;
			display: block;
		}
	}
	&__right {
		text-align: right;
		width: 47%;
		
		&-newsletter {
			display: block;
			width: 100%;
			max-width: 330px;
			margin-right: 0;
			margin-left: auto;
			label {
				display: block;
				font-size: 19px;
				padding-bottom: 45px;
				position: relative;
			}
			input {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 36px;
				line-height: 1;
				padding-bottom: 2px;
				padding-left: 15px;	
				padding-right: 130px;
				display: block;
				margin-right: 0;
				margin-left: auto;
				margin-top: 16px;
				border-radius: 25px;
				border: none;
				background: #fff;
				color: $text;
				font-size: 16px;
				font-family: "volte";
				-webkit-appearance: none;
				&:focus,&:active {
					outline: none;
				}
				&::placeholder {
					color: #7d8c96;
					font-size: 16px;
				}
			}
			button {
				font-family: "volte-m";
				-webkit-appearance: none;
				position: absolute;
				width: 120px;
				height: 36px;
				right: 0;
				bottom: 0;
				font-size: 19px;
				background: $yellow;
				color: $text;
				padding: 3px 0px;
				border-radius: 25px;
				border: none;
				outline: none;
			}
		}
	}
	&__bottom {
		padding: 20px 0;
		.social {
			path {
				fill: #fff;
			}
		}
		&-privacy {
			li {
				display: inline-block;
				a {
					color: #fff;
					font-size: 12px;
					text-transform: uppercase;
					padding: 4px;
				}
				&:last-child a {
					padding-right: 0;
				}
			}
		}
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(720deg);
	}
}
@keyframes scroll {
	0% {
		transform: translate3d(0,0,0);
	}
	35% {
		transform: translate3d(0,15px,0);
	}
	100% {
		transform: translate3d(0,0,0);
	}
}









@import "media";
