
@media (min-width: 1023px) {

}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1279px) {
	.articles {
	    padding: 0 40px;
	}
}

@media screen and (max-width: 1023px) {
	.map {
		&-container {

		}
	}
	.articles {
		&-list {
	    	flex-flow: row wrap;
		}
		&-item {
			width: 48%;
			margin-bottom: 50px;
		}
		&-single {
			width: 100%;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		&-top {
			padding: 15px;
		}
		&-logo {
			width: 130px;
		}
		.hsocial_sec {
			display: none;
		}
		.banner {
			padding: 0;
			min-height: 400px;
			&-container {
				padding: 20vh 0 60vh;
				min-height: 400px;
				background: none;
				&::before {
					content: '';
				}
			}
			&-title {
				width: 100%;
				margin: 0 auto;
				.transparent {
					font-size: 52px;
				}
				.tomorrow {
					font-size: 18px;
					bottom: 2px;
					right: auto;
					right: calc((100% - 300px)/2);
					font-family: 'Korolev-Light';
					letter-spacing: 2px;
				}
			}
			&-text {
				position: absolute;
				bottom: 0;
				color: #fff;
				font-size: 17px;
				padding-right: calc((100% - 300px)/2);
				padding-left: calc((100% - 300px)/2);
			}
		}
	}
	.navigation {
		display: none;
	}
	.map {
		padding-right: 0;
		padding-left: 0;
		&-container {
			min-width: 310px;
			width: 70%;
		}
	}
	.articles {
		padding: 0 15px;
		&-owl {
			display: flex;
		}
		&-container {
			display: none;
		}
	}
	.footer {
		&-social {
			padding: 15px 10px;
		}
		&-bottom {
			padding: 20px 15px 25px;
		}
		&-articles {
			padding-bottom: 25px;
		}
		&-logo {
			width: 155px;
		}
		&-link:link {
			position: absolute;
			right: 10px;
			font-size: 18px;
			top: 3px;
			line-height: 1.1;
		}
	}
}

@media screen and (max-width: 479px) {
	.header {
		.banner-title {
			.transparent {
				font-size: 50px;
				letter-spacing: 2px;
			}
			.tomorrow {
				right: calc((100% - 285px)/2);
			}
		}
	}
	
	.map {
		&-container {
			width: 94%;
		}
	}

}