body {
  font-family: 'Roboto-Regular'; 
}
.menu-link,
.title,
.button,
.bold,
.features-description,
.footer-contact-title {
  font-family: 'Roboto-Bold'; 
}
.container {
/*   margin: 0 auto; */
  padding: 0 110px;
}
.button {
  display: block;
  color: #fff;
  background: #FFBC00;
  border: none;
  border-radius: 25px;
  padding: 12px 0;
  font-size: 13px;
  text-align: center;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.header {
  position: relative;
  height: 757px;
  background-image: linear-gradient(-211deg, rgba(54,3,3,0.42), rgba(180,119,119,0.42)), url('../img/slider1.jpg');
  background-position: 12% 42%;
  background-size: 110%;
  background-repeat: no-repeat;
}
.header-top .container {
  padding: 40px 80px 40px 125px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 280px;
}
.menu {
}
.menu-list {
}
.menu-item {
  display: inline-block;
}
.menu-link {
  color: #fff;
  font-size: 13px;
  transition: 0.2s;
  padding: 22px;
}
.menu-link:hover {
  color: #FFBC00;
  transition: 0.2s;
}

.promo {
  padding-top: 82px;
}
.promo-title {
  font-size: 77px;
  color: #fff;
  line-height: 90px;
  padding: 0 253px 0 170px;
  text-shadow: 0 2px 6px rgba(129,129,129,0.50);
  display: inline-block;
  position: relative;
}
.promo-title::after {
  display: block;
  content: '';
  width: 230px;
  height: 3px;
  background: #FFD200;
  position: absolute;
  right: 0px;
  bottom: 125px;
  border-radius: 1px;
}
.promo-info {
  display: inline-block;
  padding: 35px 0 0 25px;
  vertical-align: top;
}
.promo-decription {
  font-size: 23.2px;
  color: #FFF;
  line-height: 38px;
  display: inline-block;
  width: 330px;
  margin-bottom: 18px;
  text-shadow: 0 2px 6px #555;
}
.promo-button {
  width: 145px;
}
.contact-bar {
  position: absolute;
  bottom: -26px;
  right: 140px;
  padding: 17px 18px;
  border-radius: 10px;
  background: #191166;
}
.contact-bar-item {
  display: inline-block;
  padding: 0 8px;
}
.contact-bar-tel,
.contact-bar-mail {
  color: #fff;
  font-size: 13px;
}
.contact-bar-tel::before,
.contact-bar-mail::before {
  display: inline-block;
  content: '';
  margin-right: 8px;
  margin-bottom: -2px;
/*   background-size: cover; */
}
.contact-bar-tel::before {
  background: url('../img/phone.svg') 0 0/cover;
  width: 13px;
  height: 13px;
}
.contact-bar-mail::before {
  background: url('../img/envelope.svg') 0 0/cover;
  width: 18px;
  height: 11px;
}

.partnership {
  display: block;
  width: 822px;
  padding: 63px 120px 73px 345px;
  position: relative;
  background: #fff;
  top: -145px;
}
.parntnership-title {
  font-size: 33px;
  color: #191166;
  position: relative;
  line-height: 44px;
  margin-bottom: 16px;
}
.parntnership-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 3px;
  background: #191166; 
  border-radius: 1px;
  position: absolute;
  left: -178px;
  top: 23px;
}
.parntnership-text {
  font-size: 14px;
  line-height: 20px;
  color: #454545;
  margin-bottom: 11px;
  padding-right: 30px;
}
.parntnership-button {
  font-size: 14px; 
  color: #191166;
}
.parntnership-button::after {
  display: inline-block;
  content: '';
  width: 18px;
  height:10px;
  background: url('../img/arrow.svg');
  margin-left: 10px;
}
.partnership::after {
  display: block;
  content: '';
  width: 613px;
  height: 115px;  
  position: absolute;
  bottom: 15px; 
  right: 0px;
  box-shadow: 0 40px 115px 0 rgba(0,0,0,0.13);
  border-radius: 32px;
  z-index: -1;
}

.features-section {
  margin-top: -54px;
  margin-bottom: 50px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.features-item {
  
}
.features-icon {
  display: block;
  margin: 0 auto;
  width: 105px;
  height: 105px;
  background-color: #999;
  border-radius: 50%;
  box-shadow: 0 12px 24px 0 rgba(198,198,198,0.50);
  margin-bottom: 24px;
}
.features-description {
  color: #191166;
  font-size: 14px;
  
}
.features-button {
  width: 143px;
  margin: 0 auto;
  box-shadow: 0 10px 29px 0 rgba(179,179,179,0.50);
}

.products-section {
  background-image: linear-gradient(-45deg, rgba(17,60,102,0), rgba(25,17,102,0.8)), url('../img/products.jpg');
/*   background-position: 12% 42%; */
  background-size: 100%;
  background-repeat: no-repeat;
  height: 580px;
  display: flex;
}




.products-info {
  color: #fff;
  display: block;
  width: 822px;
  padding: 63px 120px 73px 345px;
  position: relative;
}
.products-title {
  font-size: 33px;
  color: #fff;
  position: relative;
  line-height: 44px;
  margin-bottom: 16px;
}
.products-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 3px;
  background: #FFBC00; 
  border-radius: 1px;
  position: absolute;
  left: -178px;
  top: 22px;  
}
.products-description {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 11px;
  padding-right: 30px;
}
.products-button {
  color: #fff;
  font-size: 14px;
}
.products-button .arrow {
  margin-left: 6px;
}
.products-button .arrow path {
  fill: #ffbc00;
}

.products-list {
  width: 40%;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.products-item {
  width: 50%;
}
.products-item-img {
  
}
.products-item-title {
  color: #191166;
  font-size: 14px;
}
.products-item-link {
  
}
.products-more {
  
}




