body {
  font-family: 'Roboto-Regular'; 
  position: relative;
  overflow-x: hidden;
}
.menu-link,
.title,
.button,
.bold,
.features-description,
.footer-contact-title {
  font-family: 'Roboto-Bold'; 
}
.event-name {
  font-family: 'Roboto-Light'; 
}
.button {
  display: block;
  color: #fff;
  background: #FFBC00;
  border: none;
  border-radius: 25px;
  padding: 12px 0;
  font-size: 13px;
  text-align: center;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.contact-mob {
  padding: 17px 20px;
  background: #191166;
  display: none;
  text-align: center;
}
.contact-mob .contact-bar-item {
  display: inline-block;
}
.header-mob,.products-mob {
  display: none;
}
.header-mob {
/*! background: #999; */
  height: 95px;
  padding: 10px 20px;
  position: relative;
  text-align: right;
}
.mob-logo {
  padding-top: 10px;
  display: inline-block;
  transition: .4s ease-in;
  float: left;
}
.mob-logo.revealed {
  transform: translateX(0px);
  transition: .8s ease-in-out;
  position: relative;
}
.mob-logo img {
  width: 150px;
}
.mob-menu {
  padding-top: 24px; 
  padding-right: 35px;
  z-index: 1;
  transform: translateX(1000px);
  transition: 1s ease-in-out;
  display: inline-block;
}
.mob-menu.revealed {
  transform: translateX(-0);
  transition: 0.5s ease-out;
  position: relative;
}
.mob-menu-open {
  float: right;
  width: 30px;
  height: 25px;
  cursor: pointer;
  transform: translateY(14px);
  position: absolute;
  z-index: 2;
  background: #fff;
  right: 20px;
  top: 22px;
}
.mob-menu-icon {
  transform: translateX(5px) translateY(10px);
  width: 20px;
  height: 3px;
  background: #191166;
  position: relative;
  border-radius: 4px;
  
}
.mob-menu-icon::before,.mob-menu-icon::after {
  display: block;
  content: '';
  width: 20px;
  height: 3px;
  background: #191166;
  position: absolute;
  border-radius: 4px;
}
.mob-menu-icon::before {
  top: -6px;
}
.mob-menu-icon::after {
  bottom: -6px;
}
.mob-menu-item {
  display: inline-block;
  
}
.mob-menu-link {
  color: #191166;
  font-size: 13px;
  transition: 0.2s;
  padding: 4px;
}
.mob-menu-link:hover {
  color: #FFBC00;
  transition: 0.2s;
}
.header {
/*   position: relative; */
  width: 100%;
  /*! height: 757px; */
overflow-x: hidden;
}
.header-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 52.57%;
}
.header-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes slidy {
0% { left: 0%; }
16.6% { left: 0%; }
20% { left: -100%; }
36.6% { left: -100%; }
40% { left: -200%; }
56.6% { left: -200%; }
60% { left: -300%; }
76.6% { left: -300%; }
80% { left: -400%; }
96.6% { left: -400%; }
100% { left: -500%; }
}


.slider { overflow-x: hidden; }
.slider-image { 
  width: calc(100% / 6);
  float: left;
}
.slider-figure { 
  position: absolute;
  z-index: -1;
  width: 600%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite;
}
.slider-item {
  display: none;
  width: calc(100% / 6);
  height: 455px;
  float: left;
}
.slider-item-1 {
  background: url('../img/slider1.jpg');
  background-size: 150%;
  background-position: 40% 20%;
}
.slider-item-2 {
  background: url('../img/slider2.jpg');
  background-size: 150%;
  background-position: 60% 80%;
}
.slider-item-3 {
  background: url('../img/slider3.jpg');
  background-size: 150%;
  background-position: 100% 40%;
}
.slider-item-4 {
  background: url('../img/slider4.jpg');
  background-size: 150%;
  background-position: 30% 100%;
}
.slider-item-5 {
  background: url('../img/slider5.jpg');
  background-size: 150%;
  background-position: 40% 20%;
}
.slider-item-6 {
  background: url('../img/slider1.jpg');
  background-size: 150%;
  background-position: 40% 20%;
}

.header-container {
  padding: 40px 80px 40px 125px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 280px;
}
.menu {
}
.menu-list {
}
.menu-item {
  display: inline-block;
}
.menu-link {
  color: #fff;
  font-size: 13px;
  transition: 0.2s;
  padding: 22px;
}
.menu-link:hover {
  color: #FFBC00;
  transition: 0.2s;
}
.contact-menu-link {
  color: #191166;
}

.promo {
  padding-top: 82px;
}
.promo-title {
  font-size: 77px;
  color: #fff;
  line-height: 90px;
  padding: 0 253px 0 170px;
  text-shadow: 0 2px 6px rgba(129,129,129,0.50);
  display: inline-block;
  position: relative;
}
.promo-title::after {
  display: block;
  content: '';
  width: 230px;
  height: 2px;
  background: #FFD200;
  position: absolute;
  right: 0px;
  bottom: 125px;
  border-radius: 1px;
}
.promo-info {
  display: inline-block;
  padding: 35px 0 0 25px;
  vertical-align: top;
}
.promo-decription {
  font-size: 23.2px;
  color: #FFF;
  line-height: 38px;
  display: inline-block;
  width: 330px;
  margin-bottom: 18px;
  text-shadow: 0 2px 6px #555;
}
.promo-button {
  width: 145px;
}
.contact-bar {
  position: absolute;
  bottom: -26px;
  right: 140px;
  padding: 17px 20px;
  border-radius: 10px;
  background: #191166;
}
.contact-bar-item {
  display: inline-block;
  padding: 0 8px;
}
.contact-bar-tel,
.contact-bar-mail {
  color: #fff;
  font-size: 13px;
}
.contact-bar-tel::before,
.contact-bar-mail::before {
  display: inline-block;
  content: '';
  margin-right: 8px;
  margin-bottom: -2px;
/*   background-size: cover; */
}
.contact-bar-tel::before {
  background: url('../img/phone.svg') 0 0/cover;
  width: 13px;
  height: 13px;
}
.contact-bar-mail::before {
  background: url('../img/envelope.svg') 0 0/cover;
  width: 18px;
  height: 11px;
}

.partnership {
  display: block;
  width: 822px;
  padding: 63px 120px 73px 345px;
  position: relative;
  background: #fff;
  top: -145px;
}
.parntnership-title {
  font-size: 33px;
  color: #191166;
  position: relative;
  line-height: 44px;
  margin-bottom: 16px;
}
.parntnership-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 2px;
  background: #191166; 
  border-radius: 1px;
  position: absolute;
  left: -178px;
  top: 23px;
}
.parntnership-text {
  font-size: 14px;
  line-height: 20px;
  color: #454545;
  margin-bottom: 11px;
  padding-right: 30px;
}
.arrow-button {
  font-size: 14px; 
  color: #191166;
}
.arrow-button::after {
  display: inline-block;
  content: '';
  width: 18px;
  height:10px;
  background: url('../img/arrow.svg');
  margin-left: 10px;
}

.partnership::after {
  display: block;
  content: '';
  width: 613px;
  height: 115px;  
  position: absolute;
  bottom: 15px; 
  right: 0;
  box-shadow: 0 40px 115px 0 rgba(0,0,0,0.13);
  border-radius: 32px;
  z-index: -1;
}

.features-section {
  margin-top: -54px;
  margin-bottom: 70px;
  padding: 0 50px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.features-item {
  
}
.features-icon {
  display: block;
  margin: 0 auto;
  border-radius: 50%; 
}
.features-description {
  color: #191166;
  font-size: 14px;
  margin-top: -10px;
  text-align: center;
}
.features-button {
  width: 143px;
  margin: 0 auto;
  box-shadow: 0 10px 29px 0 rgba(179,179,179,0.50);
}

.products-section {
  height: 585px;
  display: flex;
  overflow: hidden;
}

.products-info {
  background-image: linear-gradient(45deg, rgba(17,60,102,0.05), rgba(25,17,102,1)), url('../img/products.jpg');
  background-size: 145%;
  background-repeat: no-repeat;
  background-position: 1% 0%;
  color: #fff;
  display: block;
  width: 57.5%;
  padding: 219px 120px 73px 335px;
  position: relative;
  max-width: 826px;
}
.products-title {
  font-size: 33px;
  color: #fff;
  position: relative;
  line-height: 44px;
  margin-bottom: 20px;
}
.products-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 2px;
  background: #FFBC00; 
  border-radius: 1px;
  position: absolute;
  left: -173px;
  top: 20px;  
}
.products-description {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 16px;
  padding-right: 40px;
}
.products-button {
  color: #fff;
  font-size: 14px;
}
.products-button .arrow {
  margin-left: 6px;
}
.products-button .arrow path {
  fill: #ffbc00;
}

.products-list {
  width: 40%;
  min-width: 555px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  left: -15px;
}
.products-item {
  height: 240px;
  margin-right: 35px;
  margin-bottom: 35px;
}
.products-item-link {
  height: 240px;
  width: 200px;
}
.products-item-img {
  height: 200px;
  width: 200px;
  position: relative;
}
.products-item-img::before {
  display: block;
  content: '';
  position: absolute;
  width: 177px;
  height: 200px;
  background: #fff;
  bottom: -40px;
  left: 11px;
  box-shadow: 0 2px 37px 0 rgba(0,0,0,0.50);
  border-radius: 32px;
  z-index: -1;
}
.item-1 {
  background: url('../img/product1.jpg') 50% 0%;
  background-size: 157%;
}
.item-2 {
  background: url('../img/product2.jpg') 50% 0%;
  background-size: 157%;
}
.item-3 {
  background: url('../img/product3.jpg') 50% 50%;
  background-size: 160%;
}
.item-4 {
  background: url('../img/product4.jpg') 50% 0%;
  background-size: 165%;
}
.products-item-title {
  color: #191166;
  font-size: 14px;
  height: 40px;
  background: #fff;
  border-radius: 0 0 14px 14px;
  padding: 8px 15px;
}
.products-item:last-of-type .products-item-link::after {
  display: block;
  content: '';
  position: absolute;
  right: -146px;
  bottom: 70px;
  width: 200px;
  height: 240px;
  border-radius: 0 0 14px 14px;
  background-image: url('../img/arrow2.svg'), linear-gradient(90deg, #e2e2e2 0%, #fff 40%);
  background-repeat: no-repeat;
  background-position: 13% 48%;
}
.footer {
  background: #191166;
  padding: 55px 90px 45px 110px;
}
.footer-logo {
  width: 26%;
  max-width: 304px;
  
}
.footer-container {
  width: 74%;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-left: 78px;
  padding-top: 24px;
  vertical-align: top;
}
.footer-column {
/*   flex-basis: 200px; */
}
.footer-association-img {
/*   display: block; */
  width: 152px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.footer-association-text {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.footer-nav {
  width: 105px;
}
.footer-nav-item {
  line-height: 20px;
}
.footer-nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.footer-contact {
}
.footer-contact-item {
  
  min-width: 175px;
}
.footer-contact-link {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.footer-contact-item:last-of-type .footer-contact-link {
  position: relative;
  top: -4px;
}
.footer-office {
  display: block;
  margin-bottom: 15px;
}
.footer-contact-title {
  display: block;
}
.footer-contact-info,
.inline-title {
  display: inline-block;
}
.footer-rights {
  margin-top: 43px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  padding-right: 47px;
}

.page-title {
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 2px 7px rgba(0,0,0,0.50);
}
.contact-bar-centered {
  position: relative;
  display: inline-block;
  bottom: -26px;
  right: auto;
}
.about-header {
  height: auto;
  background-image: linear-gradient(216deg, rgba(39,1,17, 0.65) 0%, rgba(180,119,119,0) 100%), url('../img/about-main.jpg');
  background-position: 80% 33%;
  background-size: 102%;
  background-repeat: no-repeat;
  text-align: center;
}
.about-header .page-title {
  padding-bottom: 20px;
}
.about-header .header-container {
  padding-bottom: 10px;
}
.services-section {
  padding: 107px 0 136px;
}
.services-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 180px 0 166px;
}
.services-img {
  display: block;
  width: 551px;
  height: 370px;
  background: url('../img/services.jpg') 40% 60%/cover;
  background-size: 110%;
  position: relative;
}
.services-img::after {
  display: block;
  content: '';
  width: 496px;
  height: 278px;
  position: absolute;
  bottom: 0px;
  left: 30px;
  box-shadow: 0 16px 70px 0 rgba(0,0,0,0.35);
  border-radius: 32px;
  z-index: -1;
}
.services-info {
  max-width: 410px;
  padding-top: 5px;
  padding-right: 5px;
}
.services-title {
  font-size: 33px;
  color: #3A3939;
  line-height: 44px;
  margin-bottom: 12px;
}
.services-title::before {
  display: block;
  content: '';
  width: 84px;
  height: 2px;
  background: #979797;
  position: relative;
  left: -110px;
  top: 24px;
}
.services-text {
  font-size: 14px;
  color: #454545;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 8px;
}
.services-button {
}

.about-section {
}
.about-list {
  max-width: 1120px;
  flex-flow: row wrap;
  justify-content: space-between;
}
.about-item {
  width: 25%;
  text-align: center;
  margin-bottom: 40px;
}
.events-section {
  max-width: 1110px;
  margin: 0 auto;
/*   padding: 0 180px; */
}
.events-title {
  font-size: 35px;
  color: #191166;
  padding-left: 8px;
}
.events-description {
  font-size: 14px;
  color: #454545;
  line-height: 20px;
  padding-left: 8px;
  margin-bottom: 40px;
}
.events-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 75px;
  padding-right: 20px;
}
.events-item {
  width: 50%;
  max-width: 528px;
  box-shadow: 15px 15px 50px 0 rgba(0,0,0,0.15);
  height: 250px;
  margin-bottom: 38px; 
  position: relative;
}
.event-1 {
  background-image: linear-gradient(158deg, rgba(17,60,102,0.00) 53%, rgba(25,17,102,0.66) 100%), url('../img/event1.jpg');
  background-size: cover;
  background-position: 0 20%;
}
.event-2 {
  background-image: linear-gradient(158deg, rgba(17,60,102,0.00) 53%, rgba(25,17,102,0.66) 100%), url('../img/event2.jpg');
  background-size: cover;
  background-position: 83% 0%;
  background-size: 162%;
}
.event-3 {
  background-image: linear-gradient(130deg, rgba(17,60,102,0.00) 45%, rgba(25,17,102,0.66) 100%), url('../img/event3.jpg');
  background-size: cover;
  background-position: 20% 52%;
  background-size: 104%;
}
.event-4 {
  background-image: linear-gradient(158deg, rgba(17,60,102,0.00) 53%, rgba(25,17,102,0.53) 100%), url('../img/event4.jpg');
  background-size: cover;
  background-position: 0 23%;
}
.event-5 {
  background-image: linear-gradient(130deg, rgba(17,60,102,0.00) 45%, rgba(25,17,102,0.66) 100%), url('../img/event5.jpg');
  background-size: cover;
  background-position: 0 47%;
}
.event-info {
  text-align: right;
  position: absolute;
  right: 27px;
  bottom: 20px;
}
.event-location {
  font-size: 14px;
  color: #FFFFFF;
  padding-right: 4px;
}
.event-name {
  font-size: 64px;
  color: #FFFFFF; 
  line-height: 1em;
  margin-top: 5px;
}

.products-header {
  height: auto;
  background-image: linear-gradient(-206deg, rgba(54,3,3,0.43) 24%, rgba(180,119,119,0.43) 100%), url('../img/products.jpg');
  background-position: 27% 35%;
  background-size: 105%;
  background-repeat: no-repeat;
  text-align: center;
}
.products-header .header-container {
  padding-bottom: 10px;
}
.products-header .page-title {
  margin-bottom: 22px;
}
.origin-section {
  padding: 107px 0 130px;
}
.origin-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 10px;
  max-width: 1100px;
  margin: 0 auto;
}
.origin-img {
  display: block;
  width: 551px;
  height: 370px;
  background: url('../img/origin.jpg') 12% 35%/cover;
  background-size: 132%;
  position: relative;
}
.origin-img::after {
  display: block;
  content: '';
  width: 496px;
  height: 278px;
  position: absolute;
  bottom: 0px;
  left: 30px;
  box-shadow: 0 16px 70px 0 rgba(0,0,0,0.35);
  border-radius: 32px;
  z-index: -1;
}
.origin-info {
  max-width: 337px;
  padding-top: 65px;
  padding-right: 5px;
}
.origin-title {
  font-size: 33px;
  color: #191166;
  line-height: 44px;
  margin-bottom: 18px;
}
.origin-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 2px;
  background: #191166;
  position: relative;
  left: -180px;
  top: 24px;
}
.origin-text {
  font-size: 14px;
  color: #454545;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 12px;
}
.products-mainsection {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 10px;
}
.products-mainlist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.main-item {
  max-width: 193px;
  margin-right: 0;
}
.products-mainlist .products-item-img {
  width: 193px;
}
.products-mainlist .products-item-img::before {
  width: 165px;
}
.item-5 {
  background: url('../img/product5.jpg') 50% 0;
  background-size: 140%;
}
.item-6 {
  background: url('../img/product6.jpg') 50% 0%;
  background-size: 137%;
}
.item-7 {
  background: url('../img/product7.jpg') 50% 0%;
  background-size: 160%;
}
.item-8 {
  background: url('../img/product8.jpg') 50% 0%;
  background-size: 158%;
}
.item-9 {
  background: url('../img/product9.jpg') 50% 0%;
  background-size: 138%;
}
.item-10 {
  background: url('../img/product10.jpg') 50% 0%;
  background-size: 140%;
}
.products-item-title {
  padding: 12px 10px;
}

.products-other {
   display: block;
  width: 822px;
  padding: 83px 20px 43px 345px;
  position: relative;
  background: #fff;
  margin-bottom: 100px;
}
.products-other::after {
  display: block;
  content: '';
  width: 613px;
  height: 115px;  
  position: absolute;
  bottom: 15px; 
  right: 0px;
  box-shadow: 0 40px 115px 0 rgba(0,0,0,0.13);
  border-radius: 32px;
  z-index: -1;
}
.other-info {
}
.other-title {
  font-size: 33px;
  color: #191166;
  position: relative;
  line-height: 44px;
  margin-bottom: 16px;
}
.other-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 2px;
  background: #191166; 
  border-radius: 1px;
  position: absolute;
  left: -178px;
  top: 23px;
}
.other-text {
  font-size: 14px;
  line-height: 20px;
  color: #454545;
  margin-bottom: 20px;
  padding-right: 30px;
}
.other-button {
  display: block;
  margin-top: 33px;
}

.contact-section {
  display: flex;
}
.contact-map {
  min-width: 465px;
}
.contact-container {
  background: url('../img/contacts.jpg') 5% 73%;
  background-size: 115%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 80px;
  position: relative;
  z-index: 0;
}
.contact-title {
  font-size: 33px;
  color: #FFFFFF;
  line-height: 44px;
  text-shadow: 0 3px 5px rgba(0,0,0,.5);
  position: relative;
  margin-right: 70px;
}
.contact-title::before {
  display: block;
  content: '';
  width: 137px;
  height: 2px;
  background: #FFBC00;
  position: absolute;
  left: -155px;
  top: 20px;
}

.contact-list {
  background: #fff;
  display: block;
  padding: 65px 60px 65px 70px;
  border-radius: 8px;
  position: relative;
  top: 15px;
}
.contact-list::before {
  display: block;
  content: '';
  width: 324px;
  height: 238px;
  background: #fff;
  box-shadow: 0 9px 70px 0 #000000;
  border-radius: 32px;
  position: absolute;
  left: 5px;
  bottom: -0px;
  z-index: -1;
}
.contact-link {
  font-size: 19px;
  color: #535353;
  line-height: 36px;
}
.contact-adress {
  margin-bottom: 30px;
  display: block;
}
.contact-adress p {
/*   padding-left: 10px; */
  display: inline-block;
}
.address-icon {
  transform: translateY(-58px);
}
.contact-icon {
  width: 30px;
}

@media screen and (max-width: 1400px) {
  .promo {
    padding-top: 50px;
  }
  .promo-title {
    padding-right: 180px;
  }
  .promo-title::after {
    width: 160px;
  }
  .partnership {
    width: 720px;
    padding-left: 265px;
    padding-right: 80px;
  }
  .parntnership-title::before {
    width: 90px;
    left: -118px;
  }
  .contact-bar {
    right: 120px;
  }
  .products-list {
    left: -20px;
  }
  .products-item {
    margin-right: 30px;
  }
  .products-item:last-of-type .products-item-link::after {
    right: -151px;
  }
  .footer-logo {
    width: 25%;
  }
  .footer-rights {
    padding-right: 0;
  }
}
@media screen and (max-width: 1300px) {
  .contact-bar {
    right: 80px;
  } 
  .partnership {
    width: 650px;
    padding-left: 185px;
    padding-right: 80px;
  }
  .parntnership-title::before {
    width: 90px;
    left: -118px;
  }
  .products-info {
    padding: 200px 100px 73px 225px;
    background-size: 175%;
  }
  .products-title::before {
    width: 100px;
    left: -120px;
  }
  .products-description {
    max-width: 360px;
  }
}
@media screen and (max-width: 1250px) {
  .promo {
    padding-top: 15px;
  }
  .promo-title {
    font-size: 4em;
  }
  .features-description {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1150px) {
  .promo {
    padding-left: 0px;
  }
  .promo-title {
    font-size: 3.5em;
    line-height: 1.3em;
    padding-right: 100px;
  }
  .promo-title::after {
    top: 40px;
    width: 90px;
    right: -10px;
  }
  .promo-info {
    padding-top: 21px;
  }
  .partnership {
    top: -100px;
    width: 550px;
    padding-left: 175px;
    padding-right: 50px;
    margin-bottom: 20px;
  }
  .parntnership-title {
    font-size: 1.8em;
  }
  .parntnership-title::before {
    left: -108px;
  }
  .contact-bar {
    right: 50px;
  }
  .products-info {
    padding: 180px 50px 73px 150px;
    background-size: 210%;
  }
  .products-title {
    font-size: 2em;
    line-height: 1em;
  }
  .products-title::before {
    top: 14px;
    width: 80px;
    left: -100px;
  }
  .products-description {
    max-width: 360px;
  }
  .header-container  {
    padding-left: 70px;
    padding-right: 40px;
  }
  .footer {
    padding-left: 70px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .promo {
    padding-top: 25px;
  }
  .promo-title {
    font-size: 2.6em;
    padding-left: 150px;
  }
  .promo-title::after {
    top: 30px;
  }
  .promo-info {
    padding-top: 12px;
  }
  .contact-bar {
    bottom: -40px;
    right: 70px;
  }
  .contact-bar-item {
    display: block;
  }
  .products-section {
    
  }
  .products-info {
    padding: 180px 50px 73px 50px;
    background-size: 300%;
    background-position: 30% 0;
    width: 45%;
/*     min-width: 320px; */
  }
  .products-title {
    font-size: 29px;
  }
  .products-title::before {
    width: 100px;
    left: -110px;
  }
}
@media screen and (max-width: 950px) {
  .partnership {
    top: -45px;
    width: 450px;
    width: 450px;
    padding: 40px 20px 40px 130px;
    margin-bottom: 60px;
  }
   .parntnership-title {
    font-size: 1.6em;
    line-height: 1.4em;
  }
  .parntnership-title::before {
    width: 70px;
    left: -85px;
    top: 16px;
  }
}
@media screen and (max-width: 900px) {
  .header-container {
    padding-left: 30px;
    padding-right: 20px;
  }
  .header-logo {
    width: 220px;
  }
  .footer {
    padding: 40px 0 15px;
  }
  .footer-logo {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
  }
  .footer-container {
    width: 100%;
    padding: 0;
  }
  .promo {
    padding-top: 0px;
  }
  .promo-title {
    font-size: 2.4em;
    padding-left: 110px;
  }
  .promo-title::after {
    top: 27px;
    right: 15px;
    width: 70px;
  }
  .promo-info {
    padding-left: 0;
  }
  .promo-decription {
    font-size: 1.2em;
    line-height: 1.6em;
    width: 230px;
  }
  .contact-bar {
    bottom: -40px;
    right: 40px;
  }
  .features-list {
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .features-item {
    width: 40%;
    margin-bottom: 40px;
  }
  .products-section {
    flex-flow: column nowrap;
    position: relative;
    height: auto;
    padding-bottom: 30px;
  }
  .products-section::after {
    display: block;
    content: '';
    width: 100%;
    height: 450px;
    background-image: linear-gradient(45deg, rgba(17,60,102,0.05), rgba(25,17,102,1)), url('../img/products.jpg');
    background-size: 180%;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
  }
  .products-info {
    width: 100%;
    max-width: none;
    background: none;
    padding: 100px 50px 73px 200px;
  }
  .products-title::before {
    left: -110px;
  }
  .products-description {
    font-size: 13px;
  }
  .products-list {
    width: 100%;
    justify-content: center;
    left: 0;
    margin-bottom: 20px;
  }
  .products-item {
    margin: 0px 15px 30px;
    width: 32%;
    min-width: 200px;
  }
  .products-item-link {
    margin: 0 auto;
    display: block;
  }
  .products-item-title {
    width: 200px;
/*     margin: 0 auto; */
  }
  .products-item:last-of-type .products-item-link::after {
    display: none;
  }
  .products-mob {
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .contact-bar,.header-top {
    display: none;
  }
  .contact-mob,.header-mob {
    display: block;
  }
  .header-responsive {
    padding-bottom: 0;
  }
  .header-content {
    position: relative;
  }
  .footer {
    padding-top: 28px;
  }
  .footer-container {
    flex-flow: column nowrap;
  }
  .footer-column {
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-column::before,
  .footer-association-text::before,
  .footer-rights::before {
    display: block;
    content: '';
    width: 150px;
    height: 1px;
    margin: 0 auto;
    position: relative;
    background: rgba(255,255,255, 0.5);
  }
  .footer-column::before {
    top: -22px;
  }
  .footer-association-img {
    width: 128px;
    margin-bottom: 26px;
  }
  .footer-association-text::before {
    width: 50px;
    top: -15px;
  }
  .footer-association-text {
    width: 200px;
    margin: 0 auto;
    font-size: 13px;
  }
  .footer-nav {
    margin: 0 auto;
    margin-top:-8px;
  }
  .footer-nav-link,
  .footer-contact-link{
    font-size: 13px;
  }
  
  .slider-image {
    display: none;  
  }
  .footer-rights {
    margin-top: 10px; 
  }
  .footer-rights::before {
    top: -40px;
  }
  .slider-item {
    display: block;
  }
   .promo {
    padding: 50px 100px;
    height: 455px;
  }
  
  .promo-title {
    padding: 0;
    display: block;
  }
  .promo-title::after {
    position: relative;
    width: 2px;
    height: 110px;
    bottom: -8px;
    left: 55px;
    top: auto;
    margin-bottom: 5px;
  }
  .partnership {
    top: 0;
    margin-bottom: 40px;
  }
  .features-section {
    padding: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 579px) {
  .slider-item-1 {
    background-size: 220%;
    background-position: 40% 90%;
  }
  .slider-item-2 {
    background-size: 220%;
    background-position: 60% 80%;
  }
  .slider-item-3 {
    background-size: 220%;
    background-position: 90% 90%;
  }
  .slider-item-4 {
    background-size: 220%;
    background-position: 40% 100%;
  }
  .slider-item-5 {
    background-size: 220%;
    background-position: 50% 20%;
  }
  .slider-item-6 {
    background-size: 220%;
    background-position: 40% 90%;
  }
  .contact-mob {
    padding: 3px 0 5px;
  }
  .contact-mob .contact-bar-mail, .contact-mob .contact-bar-tel {
    font-size: 11px;
  }
  .header-mob {
    height: 55px;
    text-align: center;
  }
  .mob-logo {
     transform: translateX(-400px);
    float: none;
    padding-top: 0px;
/*      position: absolute; */
/*     left: 20px; */
  }
  .mob-logo img {
    width: 105px;
  }
  .mob-menu {
    width: 100%;
    position: absolute;
    left: 0;
    padding-top: 4px;
    padding-right: 0px;
    min-width: 280px;
    transform: translateX(500px);
  }
  .mob-menu.revealed {
    position: absolute;
    transform: translateX(0px);
  }
  .mob-menu-open {
    right: 10px;
    top: 2px;
  }
  .features-section {
    margin-bottom: 0;
  }
  .features-item {
    width: 100%;
  }
  .features-description {
    font-size: 13px;
  }
  .features-button {
    display: none;
  }
  .products-section::after {
    height: 670px;
    background-size: 220%;
    background-position: 
  }
  .products-info {
    padding: 68px 50px 40px 60px;
  }
  .products-title {
    margin-bottom: 25px;
  }
  .products-title::before {
    left: -110px;
  }
  .products-description {
    width: 270px;
  }
  .products-list {
    margin-bottom: 8px;
    min-width: auto;
  }
  .products-item {
    width: 100%;
  }
  .arrow-button {
    font-size: 13px;
  }
  .arrow-button::after {
    position: relative;
    top: 1px;
  }
}
@media screen and (max-width: 470px) {
  .promo {
    padding: 50px 22px; 
  }
  .promo-title {
    font-size: 40px;
    line-height: 42px;
    width: 200px;
  }
  .promo-info {
    width: 100%;
  }
  .promo-decription {
    font-size: 17px;
    line-height: 20px;
    padding: 5px 0 10px;
  }
  .promo-button {
    margin: 0 auto;
    
  }
  .slider-item-1 {
    background-size: 310%;
    background-position: 40% 100%;
  }
  .slider-item-2 {
    background-size: 310%;
    background-position: 55% 10%;
  }
  .slider-item-3 {
    background-size: 300%;
    background-position: 90% 100%;
  }
  .slider-item-4 {
    background-size: 290%;
    background-position: 40% 100%;
  }
  .slider-item-5 {
    background-size: 310%;
    background-position: 50% 20%;
  }
  .slider-item-6 {
    background-size: 310%;
    background-position: 40% 100%;
  }
  .partnership {
    width: 300px;
    padding-left: 22px;
/*     margin-bottom: 30px; */
  }
  .partnership::after {
    width: 189px;
    height: 61px;
    box-shadow: 40px 40px 70px 0 rgba(0,0,0,0.13);
    bottom: 50px;
  }
  .parntnership-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  .parntnership-title::before {
    left: -76px;
    top: 12px;
  }
  .parntnership-text {
    font-size: 13px;
    line-height: 17px;
    padding-right: 55px;
    margin-bottom: 4px;
  }
  .parntnership-button {
    font-size: 13px;
  }
  .features-section {
    margin-top: 0;
  }
  .products-section::after {
    background-size: 340%;
    background-position: 31% 0%;
  }
  .products-info {
    padding: 68px 50px 40px 24px;
  }
  .products-title::before {
    left: -107px;
  }
}
