body {
  font-family: 'Roboto-Regular'; 
}
.menu-link,
.title,
.button,
.bold,
.features-description,
.footer-contact-title {
  font-family: 'Roboto-Bold'; 
}
.container {
/*   margin: 0 auto; */
  padding: 0 110px;
}
.button {
  display: block;
  color: #fff;
  background: #FFBC00;
  border: none;
  border-radius: 25px;
  padding: 12px 0;
  font-size: 13px;
  text-align: center;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.header {
  position: relative;
  height: 757px;
  background-image: linear-gradient(-211deg, rgba(54,3,3,0.42), rgba(180,119,119,0.42)), url('../img/slider1.jpg');
  background-position: 12% 42%;
  background-size: 110%;
  background-repeat: no-repeat;
}
.header-top .container {
  padding: 40px 80px 40px 125px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 280px;
}
.menu {
}
.menu-list {
}
.menu-item {
  display: inline-block;
}
.menu-link {
  color: #fff;
  font-size: 13px;
  transition: 0.2s;
  padding: 22px;
}
.menu-link:hover {
  color: #FFBC00;
  transition: 0.2s;
}

.promo {
  padding-top: 82px;
}
.promo-title {
  font-size: 77px;
  color: #fff;
  line-height: 90px;
  padding: 0 253px 0 170px;
  text-shadow: 0 2px 6px rgba(129,129,129,0.50);
  display: inline-block;
  position: relative;
}
.promo-title::after {
  display: block;
  content: '';
  width: 230px;
  height: 3px;
  background: #FFD200;
  position: absolute;
  right: 0px;
  bottom: 125px;
  border-radius: 1px;
}
.promo-info {
  display: inline-block;
  padding: 35px 0 0 25px;
  vertical-align: top;
}
.promo-decription {
  font-size: 23.2px;
  color: #FFF;
  line-height: 38px;
  display: inline-block;
  width: 330px;
  margin-bottom: 18px;
  text-shadow: 0 2px 6px #555;
}
.promo-button {
  width: 145px;
}
.contact-bar {
  position: absolute;
  bottom: -26px;
  right: 140px;
  padding: 17px 18px;
  border-radius: 10px;
  background: #191166;
}
.contact-bar-item {
  display: inline-block;
  padding: 0 8px;
}
.contact-bar-tel,
.contact-bar-mail {
  color: #fff;
  font-size: 13px;
}
.contact-bar-tel::before,
.contact-bar-mail::before {
  display: inline-block;
  content: '';
  margin-right: 8px;
  margin-bottom: -2px;
/*   background-size: cover; */
}
.contact-bar-tel::before {
  background: url('../img/phone.svg') 0 0/cover;
  width: 13px;
  height: 13px;
}
.contact-bar-mail::before {
  background: url('../img/envelope.svg') 0 0/cover;
  width: 18px;
  height: 11px;
}

.partnership {
  display: block;
  width: 822px;
  padding: 63px 120px 73px 345px;
  position: relative;
  background: #fff;
  top: -145px;
}
.parntnership-title {
  font-size: 33px;
  color: #191166;
  position: relative;
  line-height: 44px;
  margin-bottom: 16px;
}
.parntnership-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 3px;
  background: #191166; 
  border-radius: 1px;
  position: absolute;
  left: -178px;
  top: 23px;
}
.parntnership-text {
  font-size: 14px;
  line-height: 20px;
  color: #454545;
  margin-bottom: 11px;
  padding-right: 30px;
}
.parntnership-button {
  font-size: 14px; 
  color: #191166;
}
.parntnership-button::after {
  display: inline-block;
  content: '';
  width: 18px;
  height:10px;
  background: url('../img/arrow.svg');
  margin-left: 10px;
}
.partnership::after {
  display: block;
  content: '';
  width: 613px;
  height: 115px;  
  position: absolute;
  bottom: 15px; 
  right: 0px;
  box-shadow: 0 40px 115px 0 rgba(0,0,0,0.13);
  border-radius: 32px;
  z-index: -1;
}

.features-section {
  margin-top: -54px;
  margin-bottom: 70px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.features-item {
  
}
.features-icon {
  display: block;
  margin: 0 auto;
  width: 105px;
  height: 105px;
  background-color: #999;
  border-radius: 50%;
  box-shadow: 0 12px 24px 0 rgba(198,198,198,0.50);
  margin-bottom: 24px;
}
.features-description {
  color: #191166;
  font-size: 14px;
  
}
.features-button {
  width: 143px;
  margin: 0 auto;
  box-shadow: 0 10px 29px 0 rgba(179,179,179,0.50);
}

.products-section {
  height: 585px;
  display: flex;
  overflow: hidden;
}

.products-info {
  background-image: linear-gradient(45deg, rgba(17,60,102,0.05), rgba(25,17,102,1)), url('../img/products.jpg');
  background-size: 145%;
  background-repeat: no-repeat;
  background-position: 1% 0%;
  color: #fff;
  display: block;
  width: 57.5%;
  padding: 219px 120px 73px 335px;
  position: relative;
  max-width: 826px;
}
.products-title {
  font-size: 33px;
  color: #fff;
  position: relative;
  line-height: 44px;
  margin-bottom: 20px;
}
.products-title::before {
  display: block;
  content: '';
  width: 150px;
  height: 2px;
  background: #FFBC00; 
  border-radius: 1px;
  position: absolute;
  left: -173px;
  top: 20px;  
}
.products-description {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 16px;
  padding-right: 40px;
}
.products-button {
  color: #fff;
  font-size: 14px;
}
.products-button .arrow {
  margin-left: 6px;
}
.products-button .arrow path {
  fill: #ffbc00;
}

.products-list {
  width: 40%;
  min-width: 555px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  left: -15px;
}
.products-item {
  height: 240px;
  margin-right: 35px;
  margin-bottom: 35px;
}
.products-item-link {
  height: 240px;
}
.products-item-img {
  height: 200px;
  width: 200px;
  position: relative;
}
.products-item-img::before {
  display: block;
  content: '';
  position: absolute;
  width: 177px;
  height: 200px;
  background: #fff;
  bottom: -40px;
  left: 11px;
  box-shadow: 0 2px 37px 0 rgba(0,0,0,0.50);
  border-radius: 32px;
  z-index: -1;
}
.item-1 {
  background-image: url('../img/product1.jpg');
}
.item-2 {
  background-image: url('../img/product2.jpg');
}
.item-3 {
  background-image: url('../img/product3.jpg');
}
.item-4 {
  background-image: url('../img/product4.jpg');
}
.products-item-title {
  color: #191166;
  font-size: 14px;
  height: 40px;
  background: #fff;
  border-radius: 0 0 14px 14px;
  padding: 8px 15px;
}
.products-item:last-of-type .products-item-link::after {
  display: block;
  content: '';
  position: absolute;
  right: -146px;
  bottom: 70px;
  width: 200px;
  height: 240px;
  border-radius: 0 0 14px 14px;
  background-image: url('../img/arrow2.svg'), linear-gradient(90deg, #e2e2e2 0%, #fff 40%);
  background-repeat: no-repeat;
  background-position: 13% 48%;
}
.footer {
  background: #191166;
  padding: 55px 90px 45px 110px;
}
.footer-logo {
  width: 26%;
  max-width: 304px;
  
}
.footer-container {
  width: 74%;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-left: 78px;
  padding-top: 24px;
  vertical-align: top;
}
.footer-column {
/*   flex-basis: 200px; */
}
.footer-association-img {
/*   display: block; */
  width: 152px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.footer-association-text {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.footer-nav {
  width: 105px;
}
.footer-nav-item {
  line-height: 20px;
}
.footer-nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.footer-contact {
}
.footer-contact-item {
  
}
.footer-contact-link {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.footer-contact-item:last-of-type .footer-contact-link {
  position: relative;
  top: -4px;
}
.footer-office {
  display: block;
  margin-bottom: 15px;
}
.footer-contact-title {
  display: block;
}
.footer-contact-info,
.inline-title {
  display: inline-block;
}
.footer-rights {
  margin-top: 43px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  padding-right: 47px;
}






