@import "vars";

@media screen and (min-width: 1440px) {
	.contact {
	    background: url('../img/contact-bg.jpg') no-repeat right center/cover;
		&__container::before {
			background: url('../img/contact-bg.jpg') no-repeat right center/200%;
		}
	}
}
@media screen and (max-width: 1200px) {
	.header {
		padding-top: 10px;
		h1 {
			font-size: 80px;
			line-height: 1;
			span i {
				width: 35px;
				height: 40px;
			}
		}
		&__interactive-list {
			padding-left: 300px;
			li {
				padding: 0 5px; 
			}
		}
	}
	.promo {
		padding: 0 15px;
		.text-block {
			padding-left: 305px;
		}
	}
	.works {
		&__cards {
			justify-content: space-around;
			li {
				width: 45%;
				margin: 10px;
			}
		}
	}
	.partners {
		flex-flow: row wrap;
		justify-content: space-around;
		li {
			width: 23%;
			text-align: center;
		}
	}
	.who-for {
		padding: 0 15px 150px;
		.left {
			width: 35%;
		}
		.right {
			position: relative;
			left: 0;
			width: 60%;
			border-radius: 20px;
			overflow: hidden;
			ul {
				margin-bottom: 40px;
				transform: translate3d(0,100px,0);
				&:nth-of-type(1), &:nth-of-type(5), &:nth-of-type(7) {
					transform: translate3d(0px,100px,0);
				}
			}
			li {
				font-size: 15px;
				padding: 4px 15px;
				margin: 0 5px;
			}
		}
	}
	.who-for.in-view {
		.right ul {
			&:nth-of-type(1), &:nth-of-type(5), &:nth-of-type(7) {
				transform: translate3d(0px,0px,0);
			}
		}
	}
	.legacy {
		.left, .right {
			display: none;
		}
	}
	.team {
		.plane-container {
			z-index: -1;
		}
		.no-owl {
			display: none;
		}
		.people-mob {
			display: block;
		}
		.people.owl-carousel {
			.owl-item {
				opacity: .3;
				transition: .3s ease-in;
			}
			.active {
				opacity: 1;
				transition: .3s ease-out;
			}
		}
		.newsletter {
			position: relative;
			width: 100%;
			height: auto;
			background: none;
			padding: 30px 20px;
			top: -30px;
			form {
				max-width: 400px;
				margin: 0 auto;
				position: relative;
				left: auto;
				top: auto;
				bottom: auto;
				width: 100%;
				&::before {
					position: absolute;
					content: '';
					width: 96%;
					height: 85%;
					bottom: 2%;
					left: 2%;
					box-shadow: 0 0 40px #707070;
					z-index: -1;
					opacity: .4;
				}
			}
		}
		.text-block {
			padding: 0px 20px;
		}
		.text-block.advisors {
			padding-top: 0;
		}
	}
	.footer {
		&-container {
			flex-flow: column;
			padding: 35px 0;
		}
		&__logo {
			position: relative;
			margin-bottom: 20px;
		}
		&__contacts {
			display: flex;
			margin-bottom: 20px;
			li {
				display: inline-flex;
			}
			a {
				display: inline-flex;
				margin: 0 6px;
			}
		}
		&__info {
			position: relative;
			right: 0;
			li {
				display: inline-block;
				margin: 0 10px;
				font-size: 13px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.text-block {
		h2 {
			font-size: 25px;
			line-height: 32px;
			margin-bottom: 10px;
		}
		p {
			font-size: 12px;
			line-height: 22px;
		}
	}
	.header {
		min-height: auto;
		padding-top: 10px;
		box-shadow: 0 2px 40px rgba(0,0,0,.5);
		.logo {
			padding-left: 10px;
			max-width: 80px;
		}
		.open-mob {
			display: flex;
		}
		nav {
			display: none;
			&.mob {
				display: flex;
			}
		}
		h1 {
			padding-top: 150px;
			&::after {
				display: block;
				content: 'Click. Buy. Fly.';
				font-size: 17px;
				font-family: 'pt-sans';
				padding-top: 10px;
				line-height: 1;
			}
			br {
				display: block;
			}
		}
		&__interactive {
			display: none;
		}
	}
	.promo {
		margin-bottom: 50px;
		.plane-container{
			display: none;
		}
		.text-block {
			padding-left: 0;
			padding-top: 60px;
			h2 {
				color: $accent;
			}
		}
		&__phone {
			display: block;
		}
	}
	.works {
		padding: 30px 15px 200px;
		margin-bottom: 0;
		overflow:hidden;
		&::before,&::after {
			display: none;
		}
		.plane-container {
			display: block;
		}
		.container {
			flex-flow: column-reverse nowrap;
		}
		.left,.right {
			width: 100%;
			padding-left: 0;
		}
		&__cards {
			position: relative;
			left: 20px;
			li {
				padding: 50px 0;
				margin: 10px 0;
			}
			img {
				width: 40px;
				display: block;
				margin: 0 auto 12px;
			}
			span {
				font-size: 24px;
				line-height: 1;
				margin-bottom: 8px;
			}
			h3 {
				font-size: 10px;
				line-height: 1;
			}
		}
		.left {
			margin-top: 60px;
			position: relative;
			left: -20px;
			padding: 30px 0;
			&::before,&::after {
				content: '';
				position: absolute;
				width: 85%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 0px 20px 20px 0;
			}
			&::before {
				background: url('../img/works-bg.jpg') no-repeat left center/auto 100%;
			}
			&::after {
				box-shadow: 0 22px 80px #7781a8;
				z-index: -1;
				opacity: .55; 
				width: 50%;
			}
		}
	}
	.partners {
		display: none;
	}
	.who-for {
		padding-bottom: 50px;
		.right {
			display: none;
		}
		.left {
			padding-top: 30px;
			width: 100%;
		}
		.plane-container {
			display: none;
		}
	}
	.legacy {
		padding-top: 30px;
		padding-bottom: 160px;
		h2 {
			font-size: 25px;
		}
		ul {
			display: none;
		}
		.mob-list {
			display: block;
		}
		.plane-container {
			display: block;
		}
	}
	.team {
		.plane-container {
			display: none;
		}
	}
	.contact {
		// padding: 30px;
		&__container {
			width: 100%;
			padding: 40px 50px 60px;
			h2 {
				font-size: 25px;
			}
			form {
				label {
					order: 3;
					width: 100%;
					&:nth-child(1) {
						order: 1;
					}
					&:nth-child(3) {
						order: 2;
					}
				}
				
				input, textarea {
					padding-top: 8px;
				}
			}		
			&::after {
				border-radius: 0;
			}
			&::before {
				background: url('../img/contact-bg.jpg') no-repeat 15% center/cover;
			}
		}
	}
	.footer {
		&__info {
			display: flex;
			flex-flow: column;
			li {
				display: block;
				text-align: center;
				margin-bottom: 4px;
				order: 2;
				&:nth-child(3) {
					order: 1;
				}
			}
		}
	}
}
@media screen and (max-width:579px) {
	.works {
		.left {
			&::after {
				width: 65%;
			}
		}
	}
}