@import "vars";
@import "fonts";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.29;
	overflow-x: hidden;
	color: $text;
	font-family: $font;
	font-weight: 400;
	padding-top: 50px;
	padding-bottom: 70px;
}
button {
	-webkit-appearance: none;
	border-radius: 0;
	background: none;
	border: none;
	&:focus {
		outline: none;
	}
}
a {
	color: $text;
	text-decoration: none;
}
b {
	font-weight: 700; 
}
li {
	list-style: none;
}
.accent {
	color: $accent;
}
.link {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 600;
	&:hover, &active, &:focus {
		color: $accent;
	}
}
.italic {
	font-style: italic;
	opacity: .5;
}

section {
	padding: 0 30px;
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.container {
	display: block;
	max-width: 950px;
	margin: 0 auto;
}
h4 {
	display: block;
	font-size: 16px;
	margin-bottom: 14px;
}
.header { 
	box-shadow: 0 2px 6px rgba(0,0,0,.15);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 3;
	background: #fff;
	padding-right: 20px;
	padding-left: 12px;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
	}
	.hamburger {
		display: block;
		width: 30px;
		height: 30px;
		background: url('../img/hamb.svg') no-repeat center center/ 15px 13px;
	}
	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		img {
			display: block;
		}
	}
	&__cart {
		display: flex;
		a {
			padding-left: 5px;
		}
	}
}
.head {
	width: 100%;
	overflow: hidden;
	padding: 0;
	ul {
		display: flex;
	}
	&__slider {
		position: relative;
		img {
			display: block;
			width: 100%;
			height: auto;
		} 
	}
	.glide__bullets {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translate3d(-50%,0,0);
	}
	.glide__bullet {
		width: 20px;
		height: 25px;
		text-align: center;
		background: none;
		border: none;
		&:focus {
			outline: none;
		}
		span {
			width: 11px;
			height: 11px;
			display: inline-block;
			border-radius: 50%;
			background: #fff;
			opacity: .6;
			transition: opacity .2s;
		}
		&--active {
			span {
				opacity: 1;
				transition: opacity .2s;
			}
		}
	}
}
.sub-head {
	background: rgba(124, 114, 108, .05);
	p {
		margin-bottom: 14px;
		font-size: 16px;
		line-height: 1.42;
		&:last-child {
			margin-bottom: 0;
		}	
	}
}
.step {
	font-size: 16px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
}
.more-info {
	font-weight: 600;
	text-decoration: underline;
}
.icon-list {
	li {
		display: flex;
		align-items: center;
		margin-bottom: 12px;
	}
	img {
		width: 30px;
		display: block;
		height: auto;
		margin-right: 15px;
	}
	&.stacked {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		li {
			width: 50%;
		}
	}
}
.quantity {
	display: flex;
	align-items: center;
	width: 100px;
	justify-content: space-between;
	span {
		font-size: 16px;
		font-weight: 600;
	}
	button {
		width: 17px;
		height: 16px;
		border: 1px solid #494644;
		position: relative;
		&::after, &::before {
			position: absolute;
			content: '';
			width: 7px;
			height: 1px;
			background: #494644;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%,-50%,0);
		}
		&::before {
			height: 7px;
			width: 1px;
		}
		&.decrement {
			&::before {
				display: none;
			}
		}
		&.disabled {
			opacity: .3;
		}
	}
}
.product {
	padding-top: 8px;
	&__main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 20px;
		font-weight: 600;
		h5 {
			font-size: 20px;
		}
	}
	&__detail {
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 7px;
	}
	.icon-list {
		margin-top: 28px;
	}
	.link {
		display: block;
		margin-top: 22px;
		font-weight: 400;
	}
}
.pack {
	.container {
		position: relative;
		border-bottom: 1px solid rgba(112, 112, 112, .15);
	}
	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 14px;
		padding-left: 15px;
		padding-right: 15px;  
	}
	.size {
		display: flex;
		&::before {
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 50%;
			margin-right: 6px;
		}
	}
	.heavy {
		&::before {
			background: #F18070;
		}
	}
	.medium {
		&::before {
			background: #CCEBE0;
		}
	}
	.light {
		&::before {
			background: rgba(241, 128, 112, .4);
		}
	}
	&__total {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		background: #fff;
		font-size: 12px;
		border: 1px solid $text;
		padding: 4px 15px 3px;
		text-align: center;
		font-weight: 600;
	}
}
.purchase {
	.container {
		border-top: 1px solid rgba(112, 112, 112, .1);
		border-bottom: 1px solid rgba(112, 112, 112, .1);
	}
	&__options {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		li {
			width: 45%;
			max-width: 160px;
			&:first-of-type::after {
				content: 'or';
				font-size: 12px;
				position: absolute;
				left: 50%;
				color: #7C726C;
				transform: translateX(-50%);
				top: 15px;
			}
			span {
				display: block;
				text-align: center;
				font-size: 12px;
				line-height: 1.4;
			}
		}
		.btn {
			display: block;
			width: 100%;
			border: 1px solid transparent;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
			border-radius: 2px;
			padding: 12px 8px;
			margin-bottom: 6px;
			&.active {
				border: 1px solid $accent;
				box-shadow: none;
			}
		}
	}
}
.plan {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	.step {
		// margin-top: 35px;
	}
	&__inputs {
		display: flex;
		text-align: center;
		padding-bottom: 35px;
		border-bottom: 1px solid rgba(112, 112, 112, .15);
		> li {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&:first-child {
				border-right: 1px solid rgba(112, 112, 112, .15);
			}
		}
	}
	.quantity {
		margin: 8px auto 0;
		flex-wrap: wrap;
		b {
			margin: 5px 0;
			width: 100%;
		}
	}
	&__info {
		position: relative;
		padding-top: 35px;
		text-align: center;
		font-size: 12px;
		p {
			margin-bottom: 5px;
		}
		.italic {
			&::after {
				content: 'or';
				font-size: 14px;
				display: block;
				font-style: initial;
				margin-top: 18px;
				margin-bottom: 22px;
			}
		}
		.link {
			display: block;
		}
	}
	.total {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		border: 1px solid $text;
		text-align: center;
		white-space: nowrap;
		font-size: 12px;
		padding: 9px;
		.old-price {
			text-decoration: line-through;
		}
	}
}
.why {
	padding-top: 5px;
	h4 {
		margin-bottom: 18px;
	}
	li {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 5px;
		}
	}
}
.info-blocks {
	padding-left: 20px;
	padding-right: 20px;
	.container {
		padding-top: 0;
		padding-bottom: 0;
	}
	&__content {
		padding: 25px 10px 15px;
		> p, .icon-list {
			margin-top: 15px;
		}
	}
	&__list {
		> li {
			margin-bottom: 35px;
			// &:last-child {
				margin-bottom: 20px;
			// }
			>img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}

}
.reviews {
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	.container {
		padding-top: 5px;
		padding-bottom: 0px;
		padding-bottom: 35px;
	}
	h4 {
		margin-bottom: 22px;
	}
	li {
		display: flex;
		margin-bottom: 33px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 14px;
	}
	span {
		font-weight: 600;
		font-size: 12px;
	}
}
h3 {
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 16px;
}
.blog {
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
	.container {
		padding-bottom: 0;
	}
}
.products {
	padding-top: 10px;
	width: 100%;
	overflow: hidden;
}
.slider {
	ul {
		display: flex;
		li {
			min-width: 160px;
			max-width: 160px;
		}
	}
	img {
		margin-bottom: 10px;
	}
	.link {
		font-size: 12px;
		margin-top: 10px;
		display: block;
	}
}
.fixed-cart {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #FF6E5C;
	color: #fff;
	padding-left: 22px;
	padding-right: 22px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
	}
	&__price {
		.price {
			display: inline-block;
			margin-bottom: 3px;
			font-size: 20px;
			font-weight: 600;
			line-height: 1;
		}
		.old-price {
			margin-left: 3px;
			font-size: 12px;
			text-decoration: line-through;
		}
		p {
			font-size: 12px;
			line-height: 1;
		}
	}
	a {
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		&::after {
			padding: 3px;
			content: '';
			display: inline-block;
			border-top: 1px;
			border-bottom: 0;
			border-left: 0;
			border-right: 1px;
			border-color: #fff;
			border-style: solid;
			transform: rotate(45deg);
			position: relative;
			top: -1px;
			margin-left: 3px;
		}
	}
}


@import "media";
