
@font-face {
  font-family: 'VolteRounded-Regular';
  src: url('VolteRounded-Regular.eot?#iefix') format('embedded-opentype'),  url('VolteRounded-Regular.otf')  format('opentype'),
	     url('VolteRounded-Regular.woff') format('woff'), url('VolteRounded-Regular.ttf')  format('truetype'), url('VolteRounded-Regular.svg#VolteRounded-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
