// COMMON
@font-face { 
	font-family: 'Chromatica';  
	font-weight: 400;  
	font-style: normal;
	unicode-range: U+000-5FF;
	src: local('Chromatica'),       
		 url('../fonts/Chromatica-Regular.woff2') format('woff2'),
		 url('../fonts/Chromatica-Regular.woff') format('woff'),
		 url('../fonts/Chromatica-Regular.ttf') format('ttf'),
		 url('../fonts/Chromatica-Regular.eot') format('eot');
	font-display: swap;
}
@font-face { 
	font-family: 'Chromatica';  
	font-weight: 500;  
	font-style: normal;
	unicode-range: U+000-5FF;
	src: local('Chromatica-Medium'),       
		 url('../fonts/Chromatica-Medium.woff2') format('woff2'),
		 url('../fonts/Chromatica-Medium.woff') format('woff'),
		 url('../fonts/Chromatica-Medium.ttf') format('ttf'),
		 url('../fonts/Chromatica-Medium.eot') format('eot');
	font-display: swap;
}
@font-face { 
	font-family: 'Chromatica-Bold';  
	font-weight: 700;  
	font-style: normal;
	unicode-range: U+000-5FF;
	src: local('Chromatica'),       
		 url('../fonts/Chromatica-Bold.woff2') format('woff2'),
		 url('../fonts/Chromatica-Bold.woff') format('woff'),
		 url('../fonts/Chromatica-Bold.ttf') format('ttf'),
		 url('../fonts/Chromatica-Bold.eot') format('eot');
	font-display: swap;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-size: 21px;
	min-width: 320px;
	position: relative;
	line-height: 1.71;
	overflow-x: hidden;
	color: #000;
	font-family: 'Chromatica';
	font-weight: 400;
	-webkit-overflow-scroll: touch;
}
.overflow-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
a.content-link {
	position: relative;
	display: inline;
	color: #000;
	&::after {
		width: 0%;
		height: 2px;
		content: '';
		position: absolute;
		left: 50%;
		bottom: -1px;
		transform: translate3d(-50%,0,0);
		background: #000;
		transition: .2s;
	}
	&:hover::after {
		width: 100%;
		transition: .2s;
	}
	&.white {
		color: #fff;
		&::after {
			background: #fff;
		}
	}
}
h1 {
	font-size: 88px;
}
h2 {
	font-size: 64px;
}
h3 {
	font-size: 42px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 21px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
	line-height: 2;
	letter-spacing: 0.58px;
}
h1,h2,h3 {
	font-weight: 500;
	line-height: 1.27;
}
section {
	padding: 100px 20px;
	position: relative;
	z-index: 2;
}
.no-trans, .no-trans * {
	transition: 0s 0s !important;
}
.container {
	max-width: 1075px;
	width: 100%;
	display: block;
	margin: 0 auto;
	&--lg {
		max-width: 1285px;
	}
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&--text {
		align-items: flex-start;
		p {
			width: 48%;
		}
	}
}
.btn {
	width: 270px;
	min-width: 270px;
	height: 60px;
	text-align: center;
	font-size: 16px;
	padding: 0 20px;
	border-radius: 30px;
	border: 2px solid transparent;
	cursor: pointer;
	text-align: left;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: .25s;
	&::after {
		transition: .25s;
		content: '';
		display: inline-block;
		width: 47px;
		height: 20px;
		background: url('../img/arrow-b.svg') no-repeat center center / contain;
		animation: arrow-bounce 1.2s infinite;
		animation-play-state: paused;
	}
	&:hover {
		transition: .25s;
		&::after {
			animation-play-state: running;
		}
	}
	&.black {
		background: #000;
		color: #fff;
		border-color: #000;
		&::after {
			background: url('../img/arrow-w.svg') no-repeat center center / contain
		}
		&:hover {
			background: transparent;
			color: #000;
			&::after {
				background: url('../img/arrow-b.svg') no-repeat center center / contain
			}
		}
	}
	&.white {
		background: #fff;
		color: #000;
		&::after {
			background: url('../img/arrow-b.svg') no-repeat center center / contain
		}
		&:hover {
			background: #000;
			color: #fff;
			&::after {
				background: url('../img/arrow-w.svg') no-repeat center center / contain
			}
		}
	}
	&.blue {
		background: $blue;
		color: #fff;
		&::after {
			background: url('../img/arrow-w.svg') no-repeat center center / contain
		}
	}
	&.yellow {
		border-color: $yellow; 
		color: $yellow;
	}
	&.transp {
		background: transparent;
		padding-left: 0;
		padding-right: 0;
		justify-content: flex-start;
		width: 210px;
		min-width: auto;
		border-color: transparent;
		&::after {
			margin-left: 25px;
		}
		&:hover {
			background: transparent;
		}
		&.black {
			color: #000;
			&::after {
				background: url('../img/arrow-b.svg') no-repeat center center / contain
			}
		}
		&.white {
			color: #fff;
			&::after {
				background: url('../img/arrow-w.svg') no-repeat center center / contain
			}
		}
	}
}
.hamburger {
	position: relative;
	display: flex;
	width: 42px;
	height: 42px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-left: 60px;
	cursor: pointer;
	span {
		z-index: 3;
		width: 20px;
		height: 2px;
		position: relative;
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
		}
		&::before {
			top: -5px;
		}
		&::after {
			bottom: -5px;
		}
	}
}
.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    &__slide {
    	width: 100%;
    	height: 100%;
    	flex-shrink: 0;
    	white-space: normal;
    }
    &__slides {
    	cursor: grab;
    	position: relative;
    	width: 100%;
    	backface-visibility: hidden;
    	transform-style: preserve-3d;
    	touch-action: pan-Y;
    	overflow: hidden;
    	padding: 0;
    	white-space: nowrap;
    	display: flex;
    	flex-wrap: nowrap;
    	will-change: transform
    }
    &__bullet {
    	cursor: pointer;
    }
}
.glide * {
    box-sizing: inherit
}
.cursor {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	pointer-events: none;
	cursor: none;
	&::after {
		content: '';
		position: relative;
		display: block;
		width: 60px;
		height: 23px;
		background: url('../img/arrow-b.svg') no-repeat 0 0/ contain;
		animation: ease-in-out bounce .6s infinite;
	}
	&.left {
		&::after {
			transform: rotate(180deg);
		}
	}
}
.arrow {
	display: inline-block;
	width: 60px;
	height: 23px;
	background: url('../img/arrow-w.svg') no-repeat 0 0/ contain;
	transform: rotate(90deg);
	margin-left: -10px;
	&--black {
		background: url('../img/arrow-b.svg') no-repeat 0 0/ contain;
	}
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0px 20px 0;
	transform: translate3d(0,40px,0);
	z-index: 5;
	transition: transform .4s ease-out, opacity 1.2s 0s $easing;
	&.no-trans {
		opacity: 0;
	}
	&__logo {
		transition: transform .7s $easing;
		display: block;
		height: 80px;
		width: 75px;
		transform: rotate(180deg);
		svg {
			display: block;
			width: 100%;
			height: auto;
		}
		path {
			fill: #000;
			transition: fill .4s ease-out;
		}
	}
	&__link {
		color: #000;
		font-size: 16px;
		padding: 4px 10px;
		line-height: 1.3;
		position: relative;
		transition: opacity .4s .5s ease-out;
		&::after {
			content: '';
			width: 100%;
			position: absolute;
			left: 50%;
			height: 3px;
			transform: translate3d(-50%,0,0);
			bottom: 0;
			background: #000;
			transition: width .25s;
		}
		&:hover::after {
			width: 0%;
			transition: .25s;
		}
	}
	.hamburger {
		background-color: #000;
		transition: background-color .4s ease;
		span {
			background-color: #fff;
			transition: background-color .4s ease, transform .25s ease;
			&::after, &::before {
				background: #fff;
				transition: background-color .4s ease, transform .25s ease, top .2s .3s ease-out, bottom .2s .3s ease-out;
			}
		}
		&:hover {
			background: $yellow;
			span {
				background: #000;
				&::after, &::before {
					background: #000;
				}
			}
		}
	}
	&.homepage {
		.header__logo {
			path {
				fill: #fff;
				transition: fill .4s ease-out;
			}
		}
		.header__link {
			color: #fff;
			&::after {
				background: #fff;
			}
		}
		.hamburger {
			background: #fff;
			span {
				background: #000;
				&::after, &::before {
					background: #000;
				}
			}
			&:hover {
				background: $yellow;
				span {
					background: #000;
					&::after, &::before {
						background: #000;
					}
				}
			}
		}
		&.no-trans, &.no-trans * {
			transition: 0s;
		}
	}
	
	&.overlayed {
		transform: translate3d(0,40px,0);
		.header__logo {
			transform: scale(1) rotate(360deg);
			transition: transform .8s $easing;
			path {
				fill: #fff;
				transition: fill .4s .4s ease;
			}
		}
		.header__link {
			opacity: 0;
			visibility: hidden;
			transition: all .3s;
		}
		.hamburger {
			background: $yellow;
			span {
				background: #000;
				transform: rotate3d(0,0,1,-225deg);
				transition: transform .5s .3s ease-out;
				&::before, &::after {
					background: #000;
					transform: rotate3d(0,0,1,90deg);
					transition: transform .5s .3s ease-out, top .2s ease, bottom .2s ease, opacity 0s .2s;
				}
				&::before {
					top: 0;
					opacity: 0;
					visibility: hidden;
				}
				&:after {
					bottom: 0;
					transform: rotate3d(0,0,1,90deg);
				}

			}
			&:hover {
				span {
					background: #000;
					&::after, &::before {
						background: #000;
					}
				}
			}
		}
	}
	&.sticky {
		transform: translate3d(0,0,0);
		.header__logo {
			transform: scale(.6) rotate(0deg);
		}
		.header__link {
			opacity: 0;
			visibility: hidden;
			transition: .3s ease-out;
		}
		&.overlayed {
			transform: translate3d(0,40px,0);
			.header__logo {
				transform: scale(1) rotate(180deg);
			}
		}
	}
}



.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 4;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease-out, visibility .3s;
	&-block {
		position: fixed;
		z-index: 3;
		.container {
			height: 80px;
			justify-content: flex-end;
			position: relative;
		}
		.hamburger {
			position: relative;
		}
	}
	&-bg {
		position: absolute;
		left: 50%;
		top: 50%;
		display: block;
		height: 240vw;
		width: 240vw;
		transform-origin: 0% 0%;
		background: $blue;
		border-radius: 9999px;
		z-index: 3;
		transform: scale(0) translate3d(-50%,-50%,0);
		will-change: transform;
		transition: transform 1.2s cubic-bezier(.22,1,.39,.97);
		&.no-trans {
			transition: 0s;
		}
	}
	&.active {
		opacity: 1;
		visibility: visible;
		.overlay__nav {
			li {
				opacity: 1;
				transform: translate3d(0, 0, 0);
				transition: opacity .6s .5s $easing, transform .8s .5s $easing;
			}
		}
		.overlay__contact {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: opacity .6s .6s ease-out, transform .8s .6s $easing;
		}
		& + .overlay-block .overlay-bg {

			transform: scale(1) translate3d(-50%,-50%,0);
			transition: 1.2s $easing;
		}
	}
	&__scroll {
		height: 100%;
		overflow: auto;
		padding: 200px 20px 100px;
	}
	a {
		color: #fff;
		transition: color .3s;
		&:hover {
			color: $turq;
			transition: color .3s;
		}
	}
	nav {
		width: 60%;
	}
	&__nav {
		li {
			display: block;
			opacity: 0;
			transform: translate3d(0, 120px, 0);
			transition: opacity .2s ease-out, transform 1s;
		}
		a {
			font-size: 72px;
			font-weight: 500;
		}
	}
	&__contact {
		width: 40%;
		align-self: flex-end;
		opacity: 0;
		transform: translate3d(0, 120px, 0);
		transition: opacity .1s ease-out, transform 0s .5s;
		span {
			color: $yellow;
			font-size: 18px;
			display: block;
			margin-bottom: 40px;
			letter-spacing: .5px;
			font-weight: 500;
			text-transform: uppercase;
		}
		a {
			display: block;
			font-size: 28px;
			line-height: 1.95;
		}
	}
	&__social {
		margin-top: 55px;
		justify-content: flex-start;
		li {

		}
		svg {
			width: 43px;
			height: 43px;
		}
		path {
			fill: $blue;
		}
		.path-circle {
			fill: #fff;
			&:hover {
				fill: $yellow;
			}
		}
	}
}

.footer {
	padding: 120px 20px 40px;
	background: rgba(49, 66, 155, 0.015);
	.flex {
		align-items: flex-start;
	}
	&__logo {
		width: 120px;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__nav {
		font-weight: 500;
		li {
			display: inline-block;
			margin-left: 45px;
		}
		a {
			font-size: 24px;
			position: relative;
			padding-left: 2px;
			padding-right: 2px;
			&::after {
				content: '';
				width: 0%;
				position: absolute;
				left: 50%;
				height: 3px;
				transform: translate3d(-50%,0,0);
				bottom: -3px;
				background: #000;
				transition: width .25s;
			}
			&:hover::after {
				width: 100%;
				transition: .25s;
			}
		}
	}
	&__title {
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 20px;
		font-weight: 700;
		letter-spacing: .88px;
	}
	&__content {
		margin-top: 110px;
		a {
			font-size: 16px;
			line-height: 2;
		}
		p {
			text-transform: uppercase;
			font-size: 16px;
		}
	}
	&__social {
		li {
			margin-right: 10px;
		}
		.path-circle {
			transition: .2s;
		}
		a:hover {
			.path-circle {
				fill: $yellow;
				transition: .2s;
			}
		}
	}
	&__form {
		max-width: 400px;
		width: 33%;

		input, button, textarea {
			border: 0;
			outline: none;
			-webkit-appearance: none;
			border-radius: 0;
			background: transparent;
			&:focus {
				outline: none;
			}		
		}
		input, input::placeholder {
			font-size: 16px;
			font-family: 'Chromatica';
			color: #000;
			line-height: 1.3;
		}
		form {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			border-bottom: 2px solid #000;
			margin-bottom: 50px;
		}
		label {
			display: block;
			width: 100%;
		}
		input {
			padding: 13px 0;
			display: block;
			width: calc(100% - 38px);
			border: 0;
			outline: none;
			-webkit-appearance: none;
			border-radius: 0;
			&:focus {
				outline: none;
			}
		}
		button {
			width: 38px;
			background: url('../img/arrow-b.svg') no-repeat center center /contain;
			border:none;

		}
	}
}





