// STANDARD + PIC
@keyframes lines-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes faded--pic {
	0% {
		transform: scale(.3, .8);
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}

// HEAD ARROW BOUNCE
@keyframes arrow-fadein {
	0% {
		transform: rotate(90deg) translate3d(50px,0,0);
		opacity: 0;
	}
	25% {
		transform: rotate(90deg) translate3d(0,0,0);
		opacity: 1;
	}
	37.5% {
		transform: rotate(90deg) translate3d(15px,0,0);
	}
	50% {
		transform: rotate(90deg) translate3d(0,0,0);
	}
	62.5% {
		transform: rotate(90deg) translate3d(15px,0,0);
	}
	75% {
		transform: rotate(90deg) translate3d(0,0,0);
	}
	87.5% {
		transform: rotate(90deg) translate3d(15px,0,0);
	}
	100% {
		transform: rotate(90deg) translate3d(0,0,0);
		opacity: 1;
	}
}
// 

// BTN HOVER
@keyframes arrow-bounce {
	50% {
		transform: translate3d(5px,0,0);
	}
}
// 
// SCROLLER ARROW
@keyframes bounce {
	0% {
		right: 0;
	}
	50% {
		right: 8px;
	}
	100% {
		right: 0;
	}
}
// 

// TECHS LINES
@keyframes techs {
	0% {
		transform: translatex(0%);
	}
	100% {
		transform: translatex(-50.15%);
	}
}
@keyframes techs-reverse {
	0% {
		transform: translatex(-50.15%);
	}
	100% {
		transform: translatex(0%);
	}
}
// 