@import "vars";
@import "common";
@import "animations";


.head {
	color: #000;
	position: relative;
	overflow:hidden;
	padding: 0 40px;
	position: relative;
	z-index: 1;
	&.animated {
		p.faded--standard {
			animation-delay: .2s;
		}
		.arrow {
			animation: arrow-fadein 4.3s forwards;
			animation-timing-function: $easing;
			animation-delay: .3s;
		}
		.lines.loaded {
			animation: lines-fadein 1.2s .4s forwards;
			animation-timing-function: $easing;
		}
	}
	.container {
		position: relative;
		z-index: 2;
	}
	&__container {
		height: 100vh;
		min-height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 2;
		transform: rotate3d(1,1,0,0deg);
		.arrow {
			position: absolute;
			left: 0;
			bottom: 80px;
		}
	}
	.lines-block {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.lines {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0;
	}
	&-homepage {
		background: $blue;
		color: #fff;
		.container {
			padding-top: 100px;
		}
		&__text {
			margin-top: -50px;
			max-width: 520px;
			line-height: 2;
			align-self: flex-end;
		}
	}
	&-case {
		position: relative;
		padding-top: 200px;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 86vh;
			min-height: 600px;
			max-height: 725px;
			top: 0;
			left: 0;
			z-index: 1;
		}
		&.faded.animated .cases-page__img {
			animation-delay: .5s;
		}
		.flex {
			align-items: flex-start;
			p {
				max-width: 630px;
			}
		}
		&-list {
			overflow: visible;
			.lines-block {
				height: 140%;
			}
			.lines {
				background-position: center top;
			}
			h1 {
				margin-bottom: 50px;
			}
			p {
				font-size: 24px;
				font-weight: 500;
			}	
		}
	}
	&.case1 {
		&::before {
			background: $case1;	
		}
	}
	&-about {
		background: rgba(182, 225, 223, 0.25);
		padding-bottom: 100px;
		.lines {
			background-position: center top -90px;
			// background-size: 100% auto;
		}
		h3 {
			margin-top: 70px;
			line-height: 1.5;
			margin-bottom: 60px;
		}
		p {
			line-height: 1.75;
			font-size: 24px;
		}
	}
	&-services {
		background: #FFF8EB;
		position: relative;
		z-index: 1;
		.head__container {
			position: relative;
			z-index: 2;
		}
		.lines-block {
			min-height: 1400px;
			height: 200vh;
			z-index: 1;
		}
		h1 {
			font-size: 72px;
			max-width: 970px;
		}
		.lines {
			background-position: center top;
			background-size: 100% auto;
		}
	}
	&-contact {
		overflow: visible;
		background: rgba(182, 225, 223, .5);
		.lines {
			background-position: center top -90px;
			// background-size: 100% auto;
		}
		.lines-block {
			height: 150%;
		}
		h1 {
			margin-top: 80px;
		}
		p {
			max-width: 450px;
			font-size: 28px;
			margin-top: 0;
		}

	}
}
.sub-head {
	h5 {
		margin-bottom: 80px;
	}
	&__text {
		font-size: 42px;
		line-height: 1.54;
		font-weight: 500;
		max-width: 965px;
		color: rgba(0, 0, 0, 0.85);
	}
	&.faded {
		h5, .sub-head__text {
			opacity: 0;
		}
	}
	&.animated {
		.sub-head__text {
			animation-delay: .2s;
		}
	}
}
.scroller {
	position: relative;
	&__left, &__right {
		position: absolute;
		height: 100%;
		width: calc(100vw / 3);
		top: 0;
		left: 0;
		z-index: 3;
	}
	&__right {
		left: auto;
		right: 0;
	}
}
.perks {
	padding-top: 20px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	.container {
		transform: translate3d(-79px,0,0);
	}
	&__list {
		display: flex;
		transform: translate3d(-50%,0,0);
		will-change: transform;
		li {
			width: 520px;
			min-width: 520px;
			margin-left: 80px;
			margin-right: 80px;
		}
	}
	&__num {
		display: block;
		text-align: center;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		font-weight: 500;
		font-size: 36px;
		padding-top: 22px;
		color: #fff;
		background: $blue;
		margin-bottom: 70px;
	}
	h3 {
		margin-bottom: 44px;
	}
	p {
		font-size: 24px;
		line-height: 1.75;
	}
}
.clients {
	&.animated {
		.clients__list {
			&::after {
				width: 100%;
				transition: 1.6s 1.8s cubic-bezier(.18,.67,.11,.98);
			}
			&::before {
				height: 100%;
				transition: 1.4s .6s cubic-bezier(.18,.67,.11,.98);
			}
			&--top {
				&::before {
					height: 100%;
					transition: 1.4s 1.2s cubic-bezier(.18,.67,.11,.98);
				}
				li {
					&:nth-of-type(1) {
						transition-delay: .1s;
					}
					&:nth-of-type(2) {
						transition-delay: .2s;
					}
					&:nth-of-type(3) {
						transition-delay: .3s;
					}
				}
			}
		}
		li {
			opacity: 1;
			transition-duration: .4s;
			&:nth-of-type(1) {
				transition-delay: .4s;
			}
			&:nth-of-type(2) {
				transition-delay: .5s;
			}
			&:nth-of-type(3) {
				transition-delay: .6s;
			}
		}

	}
	&__list {
		flex-flow: row wrap;
		position: relative;
		max-width: 995px;
		margin: 0 auto;
		&::after, &::before {
			content: '';
			width: 0%;
			height: 2px;
			background: #000;
			position: absolute;
			top: 50%;
			left: 0;
		}
		&::before {
			width: 2px;
			height: 0%;
			left: calc(100% / 3);
			top: 0;
		}
		&--top {
			&::before {
				content: '';
				background: #000;
				position: absolute;
				width: 2px;
				height: 0%;
				right: calc(100% / 3);
				top: 0;
			}
		}
		li {
			height: 135px;
			width: calc(100% / 3);
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;

		}
		img {
			position: relative;
			transform: scale(.5);
		}
	}
}



.cases {
	color: #fff;
	padding-bottom: 220px;
	h5 {
		display: none;
	}
	&__container {
		max-width: 1300px;
		margin: 0 auto;
	}
	.faded {
		&.animated {
			.faded--standard {
				animation-delay: .5s;
			}
		}
	}
	&__list {
		.flex {
			max-width: 920px;
		}
		li {
			margin-bottom: 170px;
		}
		li:nth-child(2) .flex {
			flex-direction: row-reverse;
			justify-content: flex-end;
			.cases__info {
				padding-left: 160px;
			}
		}
	}
	&__info {
		padding-left: 30px;
		img {
			transform: scale(.5);
			transform-origin: 0% 50%;
		}
		p {
			max-width: 490px;
			font-size: 28px;
			line-height: 1.7;
			margin-bottom: 50px;
			font-weight: 400;
			animation-delay: 2s;
		}
	}
	&__img {
		position: relative;
		max-width: 260px;
		transform: scale(1.25);
	}
	.case1 {
		background: $case1;
		color: #000;
	}
	.case2 {
		background: $case2;
		.cases__info {
			img {
				margin-bottom: -60px;
				margin-top: -80px;
				margin-left: -15px;
			}
		}
	}
}
.reviews {
	background: $blue;
	padding-top: 135px;
	padding-bottom: 60px;
	text-align: center;
	color: #fff;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
	&__text {
		display: block;
		text-align: center;
		font-size: 42px;
		line-height: 1.52;
		font-weight: 500;
		max-width: 865px;
		margin: 0 auto;
		white-space: normal;
		&::after {
			content: '';
			width: 1px;
			height: 50px;
			background: #979797;
			display: block;
			margin: 15px auto 25px;
		}
	}
	.glide__bullets {

	}
	.glide__bullet {
		width: 25px;
		height: 25px;
		text-align: center;
		background: none;
		border: none;
		&:focus {
			outline: none;
		}
		span {
			width: 11px;
			height: 11px;
			display: inline-block;
			border-radius: 50%;
			background: #fff;
			opacity: .25;
			transition: opacity .2s;
		}
		&--active {
			span {
				opacity: 1;
				transition: opacity .2s;
			}
		}
	}
	&__author {
		color: $yellow;
		margin-bottom: 40px;
		span {
			font-weight: 500;
			font-size: 24px;
		}
		p {
			font-size: 16px;
		}
	}
}
.techs {
	padding-left: 0;
	padding-right: 0;
	padding-top: 120px;
	text-align: center;
	color: $blue;
	// &.animated {
	// 	.techs-line {
	// 		p {
	// 			// animation: linear techs 40s infinite;
	// 		}
	// 		&:nth-of-type(2) p {
	// 			// animation: linear techs-reverse 40s infinite;
	// 		}
	// 	}
	// }
	h5 {
		max-width: 640px;
		margin: 0 auto 20px;
	}
	&-line {
		font-size: 112px;
		line-height: 1.4;
		font-weight: 500;
		p {
			width: auto;
			white-space: nowrap;
			display: inline-block;
		}
		span {
			display: inline-block;
			margin-right: 35px;
		}
		
	}
}


.action {
	background: $yellow;
	position: relative;
	overflow:hidden;
	padding: 0 40px;
	z-index: auto;
	&.faded {
		.action__info {
			p {
				animation-delay: .2s;
			}
			.btn {
				animation-delay: .4s;
			}
		}
	}
	.lines {
		position: absolute;
		content: '';
		z-index: 1;
		width: 100%;
		height: 200%;
		top: -50%;
		left: 0;
		background-size: 100% auto;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.flex {
		position: relative;
		z-index: 2;
		min-height: 650px;
	}
	h3 {
		margin-top: -50px;
		max-width: 470px;
		font-size: 72px;
		line-height: 1.35;
		margin-right: 100px;
	}
	&__info {
		max-width: 520px;
		p {
			font-size: 28px;
			margin-bottom: 60px;
		}
	}
}

.featured {
	padding: 100px 40px;
	ul {
		border-top: 0;
	}
	.cases-page__featured {
		margin: 0 auto;
		padding: 0;
	}
}

.blog {
	padding-top: 150px;
	padding-bottom: 112px;
	padding-left: 40px;
	padding-right: 40px;
	background: rgba(49, 66, 155, 0.1547);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    .container {
    	// max-width: 1155px;
    }
	&.faded {
		.blog__glide {
			animation-delay: .2s;
		}
	}
	h5 {
		margin-bottom: 64px;
	}
	.glide__slides {
		overflow: visible;
	}
	.glide__track {
		overflow: visible;
		margin-bottom: 90px;
	}
	.glide__arrow {
		border: none;
		display: inline-block;
		width: 82px;
		height: 29px;
		cursor: pointer;
		background: url('../img/arrow-b.svg') no-repeat center center /contain;
		&:focus {
			outline: none;
		}
		&--left {
			transform: rotate(180deg);
			margin-right: 25px;
		}
	}
	&__list {
		li {
			background: #fff;
			transition: .3s;
			max-width: 406px;
			&:hover {
				transform: scale(1.05);
				box-shadow: 0 3px 12px rgba(0,0,0,.12);
				transition: .5s $easing;
				.path-circle {
					fill: $yellow;
					transition: .3s;
				}
				.path-arrow {
					stroke: #000;
					transition: .3s;
				}
			}
		}
		span {
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 45px;
			display: block;
			font-weight: 500;
			letter-spacing: 1px;
		}
		h4 {
			line-height: 1.3;
			margin-bottom: 25px;
			font-weight: 400;
		}
		p {
			font-size: 16px;
			line-height: 2;
		}
		a {
			padding: 50px 25px 147px;
			position: relative;
			display: block;
		}
		svg {
			width: 60px;
			height: 60px;
			display: block;
			position: absolute;
			bottom: 45px;
			left: 25px;
			path {
				transition: .2s;
			}
			.path-arrow {
				transition: .2s;
			}
		}
	}
}


.cases-page {
	&__slider {
		display: flex;
		justify-content: space-between;
		transform: translate3d(-50%,0,0);
		.lazyload,
		.lazyloading {
			// opacity: 1;
		}
		.lazyloaded {
			// opacity: 1;
			// transition: opacity 300ms;
		}
		li {
			width: 600px;
			min-width: 600px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	&__info {
		color: #000;
		padding-right: 50px;
		h2 {
			margin-bottom: 30px;
			max-width: 630px;
			line-height: 1.5;
		}
		p {
			line-height: 1.75;
			font-size: 24px;
			max-width: 575px;
			margin-bottom: 18px;
		}
	}
	&__img {
		margin-top: -20px;
		max-width: 315px;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__text-block {
		padding: 110px 40px 80px;
		h3 {
			max-width: 295px;
			// margin-right: 100px;
		}
		.flex {
			align-items: flex-start;
		}
		p {
			max-width: 740px;
			display: block;
			margin-bottom: 15px;
			line-height: 1.7;
		}

	}
	&__content {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 60px;
		h3 {
			line-height: 1.52;
		}
		span {
			display: inline-block;
			font-weight: 700;
			letter-spacing: .88px;
		}
	}
	&__banner {
		img {
			width: 100%;
			height: auto;
		}
	}
	&__quote {
		margin-top: 40px;
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 120px;
		p {
			font-size: 42px;
			line-height: 1.38;
			color: $yellow;
			margin-bottom: 20px;
			font-weight: 500;
		}
		span {
			font-size: 14px;
			color: $blue;
		}
	}
	&__tools {
		margin-top: 100px;
		padding-left: 40px;
		padding-right: 40px;

		h3 {
			margin-bottom: 60px;
		}
		&.faded.animated {
			.cases-page__tools-list {
				li {
					opacity: 1;
					transform: translate3d(0,0,0);
					transition: 1.2s $easing;
				}
				>li {
					li {
						transition-delay: .5s;
					}
					li:first-child {
						transition-delay: .2s;
					}
				}
				
			}
		}
		&-list {
			align-items: flex-start;
			flex-flow: row wrap;
			justify-content: flex-start;
			font-weight: 500;
			letter-spacing: .88px;
			li {
				opacity: 0;
				transform: translate3d(0,80px,0);
			}
			>li {
				width: 25%;
				padding-right: 30px;
				font-size: 14px;
				margin-bottom: 60px;
				line-height: 2.1;
				text-transform: uppercase;
				li {
					transform: translate3d(0,20px,0);
				}
				&:nth-child(1) {
					transition-delay: .3s;
				}
				&:nth-child(2) {
					transition-delay: .45s;
				}
				li:first-child {
					font-size: 16px;
					line-height: 1.35;
					font-weight: 700;
					margin-bottom: 12px;
					opacity: 0;
				}
			}
		}
	}
	&__featured {
		
		margin-top: 60px;
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 130px;
		position: relative;
		.container {
			padding-top: 90px;
			border-top: 2px solid #979797;
		}
		span {
			font-size: 14px;
			text-transform: uppercase;
			text-align: left;
			font-weight: 700;
			display: block;
			line-height: 1.5;
		}
		&.animated {
			li {
				opacity: 1;
				transition-timing-function: $easing;
				transition: .8s, opacity .5s;
				transform: translate3d(0,0,0);
			}
		}
		li {
			position: relative;
			left: 18px;
			opacity: 0;
			transform: translate3d(0,30px,0);
			&:nth-child(2) {
				transition-delay: .25s;
			}
			&:nth-child(3) {
				transition-delay: .4s;
			}
			&:nth-child(4) {
				transition-delay: .55s;
			}
			&:nth-child(5) {
				transition-delay: .7s;
			}
			&:nth-child(6) {
				transition-delay: .85s;
			}
			&.flex-start {
				min-width: 170px;
				left: 0px;
			}
			a {
				display: block;
			}
		}
		img {
			position: relative;
			width: 75%;
			display: block;
			margin: 0 auto;
		}
	}
	&__results {
		text-align: center;
		h3 {
			margin-bottom: 60px;
		}
		&.animated {
			.cases-page__results-list li {
				&::after {
					height: 100%;
					transition: 1.6s 0s cubic-bezier(.18,.67,.11,.98);
				}
				&:nth-child(2)::after {
					transition-delay: .5s;
				}
			}
		}
		&-list {
			max-width: 1000px;
			margin: 0 auto 50px;
			span {
				font-size: 72px;
				color: $blue;
				line-height: 1.1;
				margin-bottom: 10px;
				font-weight: 500;
			}
			b {
				font-weight: 500;
			}
			li {
				padding-top: 30px;
				padding-bottom: 30px;
				width: calc(100% / 3);
				position: relative;
				&::after {
					content: '';
					width: 2px;
					height: 0;
					background: rgba(49, 66, 155, .15);
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			li:last-child::after {
				display: none;
			}
		}
	}
	&__buttons {
		display: flex;
		justify-content: center;
		.btn {
			margin: 0 50px;
			height: 45px;
			width: 230px;
			border-width: 1px;
			text-align: center;
			font-weight: 400;
			font-size: 16px;
			&::after {
				display: none;
			}
		}
	}
	&__share {
		margin-top: 60px;
		margin-bottom: 60px;
		max-width: 300px;
		margin: 60px auto;
		span {
			display: inline-block;
			font-size: 14px;
			color: $blue;
			margin-bottom: 20px;
		}
		.path-circle {
			fill: $blue;
		}
	}
	&__other {
		padding-top: 0;
		text-align: center;
		padding-bottom: 60px;
		h5 {
			margin-bottom: 40px;
			color: #000;
		}
	}
	&__items {
		flex-wrap: wrap;
		align-items: stretch;
		.cases__info {
			padding: 20px 35px;
			position: relative;
			z-index: 2;
			margin-bottom: 50px;
		}
		.cases__img {
			top: 70px;
		}
		li {
			width: 48.2%;
			position: relative;
			margin-bottom: 20px;
			&.no-parallax, .parallax {
				overflow: hidden;
				height: 590px;
			}
		}
		.case1 {
			background: $case1;
		}
		.case2 {
			background: $case2;
		}
	}
}
.cases-list {
	padding-top: 120px;
	padding-bottom: 370px;
	.flex {
		li:nth-of-type(2n) {
			top: 70px;
		}
	}
	li {
		margin-bottom: 40px;
	}
}
.about {
	font-size: 16px;
	padding-bottom: 50px;
	h5 {
		margin-bottom: 60px;
	}
	.flex {
		align-items: flex-start;
		margin-bottom: 80px;
		&.animated {
			.about__info .faded--standard {
				animation-delay: .7s;
			}
			.about__descr {
				animation-delay: .3s;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-of-type(2n) {
			flex-direction: row-reverse;
			.about__descr {
				padding-top: 80px;
			}
		}
	}
	&__descr {
		width: 48%;
		padding-top: 40px;
	}
	p {
		line-height: 2;
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
		object-fit: cover;
	}
	&__info {
		width: 48%;
		text-align: center;
		span {
			font-size: 24px;
			margin-bottom: 10px;
			display: inline-block;
			font-weight: 500;
		}
		p {
			font-size: 14px;
			margin-bottom: 4px;
		}
	}
}
.impact {
	padding-bottom: 160px;
	&.faded {
		.impact__descr {
			animation-delay: .3s;
		}
	}
	&__descr {
		margin-top: 50px;
		font-size: 42px;
		font-weight: 500;
		line-height: 1.71;
		max-width: 900px;
	}
	.scroller {
		width: 100vw;
		margin-left: calc((1080px - 100vw)/2);
		.container {
			transform: translate3d(-43px,0,0);
		}
	}
	&__list {
		position: relative;
		display: flex;
		margin-top: 85px;
		transform: translate3d(-50%,0,0);
		li {
			width: 430px;
			min-width: 430px;
			margin-left: 65px;
			margin-right: 65px;
		}
		p {
			max-width: 405px;
			font-size: 28px;
			line-height: 1.7;
			color: rgba(0, 0, 0, 0.85);
		}
		li:nth-child(3n - 2) span{
			background: $blue;
			color: #fff;
		}
		li:nth-child(3n - 1) span{
			background: $turq;
			color: #000;
		}
		li:nth-child(3n) span{
			background: $yellow;
			color: #000;
		}
	}
	&__num {
		margin-bottom: 25px;
	}
}

.services {
	// background: #FFF8EB;
	z-index: 2;
	position: relative;
	.container {
		position: relative;
		z-index: 2;
	}
	&__list {
		> li {
			border-bottom: 3px solid #000;
			display: block;
		}
	}
	&__title {
		position: relative;
		display: block;
		font-size: 42px;
		font-weight: 500;
		line-height: 1.52;
		padding: 75px 0 50px;
		cursor: pointer;
		&.active {
			& + .services__content {
				opacity: 1;
				visibility: visible;
				transform: scaleY(1);
				transform-origin: 0% 0%;
				transition: .3s .1s, transform .5s, height .4s;
				padding-bottom: 85px;
			}
			.services__state {
				&::after {
					transform: rotate(270deg);
					opacity: 0;
					transition: transform .4s, opacity .1s .3s;
				}
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}
	&__state {
		position: absolute;
		display: block;
		right: 0;
		top: 87px;
		width: 33px;
		height: 35px;
		&::after, &::before {
			content: '';
			position: absolute;
			background: #000;
			border-radius: 3px;
			transition: transform .4s, opacity .3s .1s;
		}
		&::after {
			width: 3px;
			height: 100%;
			left: 15px;
			top: 0;
			opacity: 1;
		}
		&::before {
			width: 100%;
			height: 3px;
			left: 0;
			top: 16px;
		}
	}
	&__content {	
		display: flex;
		height: 0;
		flex-flow: row wrap;
		opacity: 0;
		transform: scaleY(0.3);
		transform-origin: 0 0;
		transition: .25s, transform .3s, height .4s;
		p {
			width: 100%;
			display: block;
			max-width: 725px;
			height: auto;
			margin-bottom: 35px;
		}
		ul {
			font-size: 18px;
			width: 50%;
			padding-right: 30px;
		}
		li {
			margin-bottom: 9px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		:last-child {
			margin-bottom: 0;
		}
	}
}

.contact {
	background: rgba(182, 225, 223, .5);
	font-size: 24px;
	font-weight: 500;
	letter-spacing: .33px;
	color: rgba(0, 0, 0, 0.85);
	padding-bottom: 120px;
	&.simple {
		.container {
			max-width: 680px;
		}
		.contact--convers {
			display: none;
		}
		.contact--simple {
			display: flex;
		}
	}
	.container {
		max-width: 790px;
		margin: 0 auto;
	}
	&__form {
		display: flex;
		flex-flow: column;
	}
	.btn {
		align-self: flex-end;
		margin-top: 40px;
		font-family: 'Chromatica';
		&:focus {
			outline: none;
		}
	}
	&__err {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1.55;
		height: 0;
		opacity: 0;
		transition: .3s;
		margin-bottom: 0;
		&.active {
			opacity: 1;
			height: 30px;
			transition: .4s ease-out;
			margin-bottom: 30px;
		}
	}
	input, select, textarea {
		-webkit-appearance: none;
		box-shadow: none;
		background: transparent;
		border-radius: 0;
		border: none;
		font-family: 'Chromatica';
		transition: .3s;
		&:focus {
			outline: none;
		}
	}
	.select {
		padding-left: 0;
		padding-right: 0;
		height: 50px;
		position: relative;
		select {
			position: relative;
			z-index: 2;
		}
		&::after {
			content: '';
			border: solid black;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 5px;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: rotate(45deg) translateY(-100%);
			z-index: 1;
		}
	}
	&--simple {
		display: none;
		textarea, select {
			height: 80px;
			resize: none;
			display: block;
			width: 100%;
			border-radius: 5px;
			margin-bottom: 16px;
			line-height: 1.62;
			font-size: 16px;
			padding: 10px 20px;
			border: 1px solid #000;
			opacity: .6;
			&:focus, &.active {
				opacity: 1;
				transition: .3s;
			}
			&.error {
				border-color: #e04f4f;
				transition: .25s;
			}
		}
		label:last-child textarea {
			height: 208px;
		}
		.select {
			margin-bottom: 16px;
			display: block;
			&::after {
				right: 25px;
			}
		}
		select {
			display: block;
			height: 50px;
		}
		::placeholder {
			opacity: 1;
			color: #000;
		}
	}
	&--convers {
		.select {
			display: inline;
			&::after {
				right: 35px;
			}
		}
		input, select {
			text-align: center;
			font-size: 18px;
			margin: 0 22px;
			padding: 18px 20px;
			border: 1px solid rgba(49, 66, 155, 0.08);
			background: rgba(155, 155, 155, .11);
			margin-bottom: 25px;
			letter-spacing: .33px;
			font-weight: 500;
			opacity: 1;
			&:focus, &.active {
				border-color: transparent;
				border-bottom: 1px solid #979797;
				background: transparent;
			}
			&.error {
				// border-color: transparent;
				border-color: #e04f4f;
				transition: .25s;
				&.active {
					border-color: transparent;
					border-bottom-color: #e04f4f;
				}
			}
		}
		input {
			&:nth-of-type(1) {
				width: 340px;
			}
			&:nth-of-type(2) {
				width: 320px;
			}
			&:nth-of-type(3) {
				width: 310px;
			}
			&:nth-of-type(4) {
				width: 345px;
			}
			&:nth-of-type(5) {
				width: 260px;
			}
		}
		select {
			width: 195px;
			color: rgba(0, 0, 0, 0.4);
			&.active {
				padding-left: 0;
				padding-right: 0;
				overflow-x: visible;
				color: rgba(0, 0, 0, 1);
			}
		}
		::placeholder {
			font-weight: 500;
			opacity: .7;
		}
		.btn {
			margin-right: 60px;
		}
	}
}
.scroller.touch {
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0;
	.container {
		transform: translate3d(0,0,0);
	}
	&.impact__scroller {
		padding-left: 0;
		padding-right: 0;
	}
	.scroller__list {
		transform: translate3d(0,0,0);
		display: flex;
		justify-content: flex-start;
		flex-flow: row wrap;
		li {
			width: 50%;
			min-width: auto;
			margin-left: 0;
			margin-right: 0;
			padding-right: 45px;
			margin-bottom: 70px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.cases-page__slider {
		li {
			margin-bottom: 40px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}


@import "media";
@import "keyframes";
