
html { overflow-x: hidden; }
body {
    width: 900px;
    margin: 0 auto;
    color: #404040;
    font-family: 'PT Sans', Lucida Sans, Segoe UI, Calibri, sans-serif;
    background-color: #f9f9f6;
}

h2, h3, h4 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #4CAF50;
    font-family: 'PT Sans Caption', serif;
   }
.wrapper {
    border: 1px solid #4CAF50;
    background: #fff;
}

.header {
    text-align: center;
    min-height: 150px;
    background: url(images/MenoGreen-logo.png) no-repeat center;
    background-size: contain;
    margin-top: 10px;
}
#header-first{
    font-size: 45px;
    text-align: center;
    font-family: 'Gloria+Hallelujah';
    background: url(images/background_header.jpg) center -60px no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}
#banner {
    min-height: 615px;
    background: url(images/banner.jpg) no-repeat;
    background-size: contain;
}
#list {
    padding-top: 207px;
    padding-left: 575px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #868686;
    font-size: 19px;
}
#logo {
    float: right;
    width: 300px;
    padding: 20px 100px 0 0;
}

#button {
    height: 20px;
    width: 100px;
    text-transform: uppercase;
    background: #f17000;
    text-align: center;
    padding: 10px;
    color: #fff;
    border: 2px solid #f17000;
    margin-top: 155px;
    margin-left: 697px;
}
#button:hover {
    background: #7efc3f;
    border: 2px solid #7efc3f;
}
#button a {
    text-decoration: none;
    color: #fff;

}
#arrow {
    min-height: 80px;
    background: url(images/arrow.png);
    background-size: 100px;
    background-repeat: no-repeat;
    margin-left: 640px;
}
#call-to-action {
    margin-left: 471px;
    font-family: 'Great Vibes', cursive;
    font-size: 34px;
    margin-top: -18px;
}
#advantages{
    min-height: 180px;
    background: grey;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'PT Sans Caption', sans-serif;
    margin-bottom: 60px;
}
#advantages img{
    height: 100px;
}
.advantages-item{
    float: left;
    padding: 20px 0 20px 38px;
}
#benefits {

}
.benefits_title {
    font-size: 30px;
    text-transform: none;
    text-align: center;
   
}
.benefits_description {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    text-align: center;
}
#benefits_items {
    padding-top: 30px;
}
.benefits-item_title{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    color: #868686;
}
#benefits img {
    height: 100px;
}
.benefits-item {
    padding-left: 20px;
    float: left;
    width: 274px;
    text-align: center;
}
.benefits_text {
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
.ingredients_title {
    font-size: 36px;
    font-family: 'PT Sans Caption', serif;
    text-transform: uppercase;
    text-align: center;
    color: #4CAF50;
}
.ingredients_img {
    display: block;
/*     position: relative; */
}

#img1 {
    
    z-index: 133;
}
#img2 {
    
    z-index: 134;
}
#img_tea {
    left: 381px;
    top: -314px;
    z-index: 134;
}
#img3 {
    left: 441px;
    top: 20px;
    z-index: 134;
}
#img4 {
    left: 246px;
    top: -835px;
    z-index: 134;
}
#img5 {
    left: 234px;
    top: -542px;
    z-index: 134;
}
#img6 {
    left: 237px;
    top: -757px;
    z-index: 134;
}
#img7 {
    left: 277px;
    top: -411px;
    z-index: 134;
}
#img8 {
    left: 246px;
    top: -881px;
    z-index: 134;
}
#ingredients {
/*     height: 2000px; */
}
#ingredients_description1 {
    display: block;
    border-style: none none none solid;
    border-width: 2px;
    border-color: #518B09;
    border-radius: 0px;
    left: 966px;
    top: 1822px;
    z-index: 146;
    width: 249px;
    height: 192px;
    position: absolute;
}
.white_back {
/*     background: #fff; */
    }
.ingredients_description_title1 {
    color: #868686;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 14px;
}
.ingredients_description_text1 {
    margin-top: -17px;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#line1 {
    left: -45px;
    top: 91px;
    width: 44px;
    position: absolute;
    border-bottom: 2px solid #518B09;
}
#ingredients_description2 {
    display: block;
    border-style: none solid none none;
    border-width: 2px;
    border-color: #518B09;
    border-radius: 0px;
    right: 988px;
    top: 1928px;
    z-index: 146;
    width: 249px;
    height: 192px;
    position: absolute;
}
.ingredients_description_title2 {
    color: #868686;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    padding-left: 43px;
    margin-top: 14px;
}
.ingredients_description_text2 {
    margin-top: -17px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #fff;
    margin-left: 43px;
}
#line2 {
    right: -71px;
    top: 154px;
    width: 70px;
    position: absolute;
    border-bottom: 2px solid #518B09;
}
#ingredients_description3 {
    display: block;
    border-style: none none none solid;
    border-width: 2px;
    border-color: #518B09;
    border-radius: 0px;
    left: 966px;
    top: 2150px;
    z-index: 146;
    width: 249px;
    height: 192px;
    position: absolute;
}
.ingredients_description_title3 {
    color: #868686;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    padding-left: 22px;
    margin-top: 14px;
}
.ingredients_description_text3 {
    margin-top: -17px;
    padding-left: 22px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#line3 {
    left: -52px;
    top: 70px;
    width: 50px;
    position: absolute;
    border-bottom: 2px solid #518B09;
}
#ingredients_description4 {
    display: block;
    border-style: none solid none none;
    border-width: 2px;
    border-color: #518B09;
    border-radius: 0px;
    right: 989px;
    top: 2305px;
    width: 249px;
    height: 192px;
    position: absolute;
    z-index: 400;
}
.ingredients_description_title4 {
    color: #868686;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    padding-left: 43px;
    margin-top: 14px;
}
.ingredients_description_text4 {
    margin-top: -17px;
    padding-left: 43px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#line4 {
    right: -67px;
    top: 179px;
    width: 66px;
    position: absolute;
    border-bottom: 2px solid #518B09;
}
#ingredients_description5 {
    display: block;
    border-style: none none none solid;
    border-width: 2px;
    border-color: #518B09;
    border-radius: 0px;
    left: 969px;
    top: 2481px;
    z-index: 146;
    width: 249px;
    height: 192px;
    position: absolute;
}
.ingredients_description_title5 {
    color: #868686;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    padding-left: 22px;
    margin-top: 14px;
}
.ingredients_description_text5 {
    margin-top: -17px;
    padding-left: 22px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#line5 {
    left: -73px;
    top: 139px;
    width: 72px;
    position: absolute;
    border-bottom: 2px solid #518B09;
}
#ingredients_description6 {
    display: block;
    border-style: none solid none none;
    border-width: 2px;
    border-color: #518B09;
    border-radius: 0px;
    right: 988px;
    top: 2672px;
    z-index: 146;
    width: 249px;
    height: 192px;
    position: absolute;
}
.ingredients_description_title6 {
    color: #868686;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    padding-left: 43px;
    margin-top: 14px;
}
.ingredients_description_text6 {
    margin-top: -17px;
    padding-left: 43px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#line6 {
    right: -77px;
    top: 150px;
    width: 75px;
    position: absolute;
    border-bottom: 2px solid #518B09;
}
#ingredients_description7 {
    display: block;
    border-style: none none none solid;
    border-width: 2px;
    border-color: #518B09;
    border-radius: 0px;
    left: 969px;
    top: 2844px;
    z-index: 146;
    width: 249px;
    height: 192px;
    position: absolute;
}
.ingredients_description_title7 {
    color: #868686;
    text-transform: uppercase;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 25px;
    padding-left: 22px;
    margin-top: 14px;
}
.ingredients_description_text7 {
    margin-top: -17px;
    padding-left: 22px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#line7 {
    left: -79px;
    top: 173px;
    width: 77px;
    position: absolute;
    border: 1px solid #518B09;
    z-index: 146;
}
#cooking {
    background: #e34a94;
    padding-bottom: 50px;
}
.cooking_title {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: -527px;
    color: #fff;
    padding-top: 50px;

}


.cooking_item {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
    color: #fff;
    float: left;
    width: 283px;
    text-align: center;
    margin-left: 12px;
}
.cooking_item img {
    width: 180px;
    border-radius: 50%;
    border: solid 2px #59b55f;
}
#guarantee {

}
.guarantee_title {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    color: #4CAF50;
}
#guarantee img {
    padding-left: 30px;
    float: left;
    padding-right: 55px;
    margin-top: -12px;
}
.guarantee_text {
    padding-top: 6px;
    line-height: 1.7em;
    margin-left: 13px;
    width: 800px;
    font-size: 16px;
    font-family: 'PT Sans Caption', sans-serif;
}
#order {

}
.order_title {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 34px;
    font-size: 30px;
    color: #4CAF50;
}
.order_action1 {
    text-align: center;
    font-size: 17px;
    margin-top: -17px;
    padding-bottom: 30px;
    font-family: 'PT Sans Caption', sans-serif;
}
.order_action2 {
    background: #4CAF50;
    color: #fff;
    font-size: 40px;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    margin: 0 auto;
}
#buy {
    float: left; 
    margin-left: 12px; 
}
.product_offer {
    display: inline-block;
    width: 29%;
    margin: 47px 5px;
    border: 1px solid rgba(185, 185, 185, 0.5);
    padding: 10px 10px 5px;
    border-radius: 0 0 10px 10px;
    font-size: 1.1em;
    text-align: center;
    background: rgb(255,255,255);
    vertical-align: top;
}
.product_offer_middle{
    display: inline-block;
    width: 29%;
    margin: 22px 5px;
    border: 1px solid rgba(185, 185, 185, 0.5);
    padding: 10px 10px 5px;
    border-radius: 0 0 10px 10px;
    font-size: 1.1em;
    text-align: center;
    background: rgb(255,255,255);
    vertical-align: top;
}
.title_card {
    font-size: 18px;
    color: #fff;
    background: #868685;
    margin: -20px -11px 0;
    padding: 15px 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.title_card_middle {
    font-size: 18px;
    color: #fff;
    background: #4CAF50;
    margin: -20px -11px 0;
    padding: 27px 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.product {
    padding: 1% 0 5%;
    border-bottom: 1px solid rgba(134, 134, 133, 0.25);
    margin-bottom: 4%;
}
#pot6 {
    padding-top: 20px;
}
#pot3 {
    padding-top: 1px;
}
#pot1 {
    padding-top: 1px;
}
.koop {
    text-align: center;
    font-size: 20px;
}
.small {
    text-align: center;
    margin-top: -16px;
    padding-top: 10px;
}
.price {
    font-size: 40px;
    color: #f10000;
    font-weight: bold;
    font-family: 'Cardo', Georgia, Times, serif;
    margin-top: -12px;
    text-align: center;
}
.saving {
    text-align: center;
    font-size: 20px;
    margin-top: -40px;
    padding-top: 20px;
}
#button2 {
    height: 24px;
    width: 235px;
    background: linear-gradient(to bottom, #fcc015, #f97801);
    text-align: center;
    padding: 8px;
    color: #000;
    border: 2px solid #f17000;
    border-radius: 50px;
    margin-bottom: 10px;
    line-height: 1px;
}
#button2:hover {
    background: #7efc3f;
    border: 2px solid #7efc3f;
}
#button2 a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 22px;
    font-style: italic;
}
.fa {
    display: inline-block;
    color: #fff;
    font-size: 19px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #000;
    border-radius: 50px;
    background: #1d2a40;
    padding: 5px 5px 5px 4px;
}
#pay_small1 {
    float: left;
    margin-bottom: 10px;
}
#pay_small1 img {
    width: 32px;
}

#faq_title {
    font-size: 30px;
    text-align: center;
    color: #4CAF50;
    margin-bottom: 30px;
    font-family: 'PT Sans', Lucida Sans, Segoe UI, Calibri, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 50px;
}
#faq {
    padding: 0 0 0 35px;
    font-size: 1.2em;
    line-height: 1.5em;
    background: #f4f4f4;
}
dl.faq {
    line-height: 150%;
    text-align: left;
    background-color: #bfc3c4;
    padding: 20px;
}
.open {
background: url(images/faq_button-open.png) no-repeat;
}
.answer {
    font-size: 16px;
    background-color: #bfc3c4;
    font-style: italic;
    width: 800px;
    padding: 10px;
}

.demo {
    max-width: 1024px;
    padding: 0 20px;
    margin: 5% 10%;
}
/* hide checkbox and blocks with content */
.hide,
.hide + label ~ div {
    display: none;
}
/* text label */
.hide + label {
    padding: 10px 25px 10px 25px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
    width: 100%;
    width: 90%;
}
.color1 {
    background: #f4f4f4;
}
.color2 {
    background: #ececec;
}
/* text label when active */
.hide:checked + label {
    color: #e34b94;
    border-bottom: 0;
}
/* when checkboxs active show blocks with content */
.hide:checked + label + div {
    display: block;
    font-style: italic;
    margin-left: 20px;
    -webkit-animation: fade ease-in 0.5s;
    -moz-animation: fade ease-in 0.5s;
    animation: fade ease-in 0.5s;
    width: 769px;
    padding: 0 20px 20px 20px;
    margin-left: 20px;
    width: 91%;
}
.hide:checked + label + div p{
    padding-left: 55px;
    margin: 0;
}
/* animation when a hidden */
@-moz-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }   
}
.hide + label:before {
    background-color: #1e90ff;
    content: url(images/faq_button-close.png);
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px 0 5px;
    text-align: center;
    width: 16px;
}
.hide:checked + label:before {
    content: url(images/faq_button-open.png);
}
.text_label {
    padding-left: 20px;
}
#button3 {
    width: 330px;
    background: linear-gradient(to bottom, #fcc015, #f97801);
    text-align: center;
    padding: 10px;
    color: #000;
    border: 2px solid #f17000;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 274px;
}
#button3:hover {
    background: #7efc3f;
    border: 2px solid #7efc3f;
}
#button3 a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 30px;
    font-style: italic;
}
.fa3 {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #000;
    border-radius: 50px;
    background: #1d2a40;
    padding: 8px 8px 8px 8px;
}
#button3 i fa {
    font-size: 25px;
    padding: 8px 8px 8px 8px;
}
#pay_small2 {
    text-align: center;
    padding-top: 10px;
}
.pointer {
    margin-left: 150px;
}
#arrow2 {
    min-height: 80px;
    background: url(images/arrow.png);
    background-size: 100px;
    background-repeat: no-repeat;
    margin-left: 200px;
}
#call-to-action2 {
    font-family: 'Great Vibes', cursive;
    font-size: 34px;
    margin-top: -18px;
    margin-right: 280px;
}
#partners img {
    display: inline-block;
    vertical-align: middle;
    width: 11%;
    margin-left: 20px;

}
#partners {
    text-align: center;
}

#nav-bottom {
    float:right;
    background: #428bca;
    color: white;
    height: 35px;
    text-align: center;
    overflow: hidden;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-top: 0.2em;
    border-radius: 8px 0 0;
}
#nav-bottom a {
    color:#fff;
}
.footer_text {
    text-align: center;
    font-weight: 700;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
#ingredients_description1 {
    left: 807px;
}
#ingredients_description2 {
     right: 834px;
}
#ingredients_description3 {
    left: 812px;
}

#ingredients_description4 {
    right: 836px;
}
#ingredients_description5 {
    left: 763px;
}
#ingredients_description6 {
    right: 838px;
}
#ingredients_description7 {
    left: 813px;
}
}

@media screen and (max-width: 1024px){
        .wrapper {
    overflow-x: hidden;
}

#ingredients_description1 {
    left: 677px;
}
#ingredients_description2 {
    right: 709px;
}
#ingredients_description3 {
    left: 684px;
}

#ingredients_description4 {
    right: 700px;
}
#ingredients_description5 {
    left: 660px;
}
#ingredients_description6 {
    right: 710px;
}
#ingredients_description7 {
    left: 651px;
}

}
@media screen and (max-width: 768px) {
    .wrapper {
    overflow-x: hidden;
    border:0;
}
#ingredients_description1 {
    left: 611px;
}
#ingredients_description2 {
    right: 536px;
}
#ingredients_description3 {
    left: 635px;
}

#ingredients_description4 {
    right: 538px;
}
#ingredients_description5 {
    left: 544px;
}
#ingredients_description6 {
    right: 529px;
}
#ingredients_description7 {
    left: 602px;
}
#nav-bottom {
    border-radius: 8px 0 0 8px;
}
}
@media screen and (max-width: 480px){

#ingredients_description2 {
    right: 250px;
}
#ingredients_description3 {
    left: 647px;
}
#ingredients_description4 {
    right: 250px;
}
#ingredients_description5 {
    left: 611px;
}
#ingredients_description6 {
    right: 250px;
}
}

@media screen and (max-width: 320px) {

#ingredients_description2 {
    right: 90px;
}
#ingredients_description4 {
    right: 90px;
}
#ingredients_description6 {
    right: 90px;
}
}

h2.subtitle {
    margin: 1% 0 2%;
    font-style: italic;
    color: #898988;
}

h3 {
    margin-bottom: 1em;
    font-size: 2em;
    margin-top: 2em;
    color: #e34a94;
}

h2+h3 { margin-top: -20px; }

h4, h5 {
color: #76bfb1;
}

h4 { 
    margin-bottom: 20px;
    font-size: 1.8em;
    margin-top: 30px;
    line-height: 1.5em;
    margin-bottom: 1em;
}

h5 {
font-size: 1.4em;
}

h6 {
    font-size: 1.3em;
    text-align: left;
    margin: 0.3em 0;
}


.aligncenter, div.aligncenter, .art-article .aligncenter img, .aligncenter img.art-article, .aligncenter img, img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft { float: left; margin-right: 5%; }
.alignright { float: right; margin-left: 3%; }
.rightedge { margin-right: -5%; }
.leftedge { margin-left: -5%; }

.alignright, .alignleft {  max-width: 50%; }

#head, #content { 
max-width: 900px; 
}


#head { 
    width: 95%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
}



#head center {
     margin-bottom: -1%;
}

#head h1 {
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 6em;
    line-height: 1em;
    text-align: center;
    background: url('images/Title-typo.png') no-repeat center center;
    text-indent: -10000px;
    background-size: contain;
    width: 100%;
    position: relative;
}

#head h2 {
    font-size: 1.5em;
    margin: 2% auto 0;
    max-width: 700px;
}

#head h4 {
    margin-bottom: 20px;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    color: black;
}

#banner {
padding: 0;
text-align: center;
margin: 1% auto;
max-width: 900px;
}

#banner.buytitle {
background: none;
}



#banner h4 {
margin: 0;
font-size: 1.2em;
text-align: center;
padding: 4% 0;
}

#banner li {
    margin-bottom: 0;
}

#bestellbutt {
    float: right;
    position: relative;
    bottom: 90px;
    right: 30px;
    margin-bottom: -30px;
}

.halver { display: inline-block; width:47%; }

.smallimages { 
    background: #878786;
    text-align: center;
    margin-bottom: 2em;
    padding: 2% 0;
    color: white;
    clear:both;
}

.smallimages div { 
display:inline-block; 
width:23%;     
vertical-align: top;
line-height: 1.2em; 
}


ul.productimages {   list-style: none;  padding: 0;  margin: 1em 0;  text-align: left; }

ul.productimages li {  display: inline-block;   height: 80px;  width: 80px;}

a.button {
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transition: .2s all linear;
    -moz-transition: .2s all linear;
    transition: .2s all linear;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #1664B8;
    border: 1px solid #76bfb1;
    font-style: italic;
}

a.button:hover {
background:white;
color: #878786;
}

#content { 
    width: 90%;
    margin: 0 auto;
    background: #FFF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: hidden;
}

.content {
padding: 0 4% 2%;
}

.maincontent h1 {
text-align: center;
margin-top: 0.5em;
}

#content.secondcontent { margin-top:0; }

h1.motto {
    color: #F30808;
    font-size: 2.2em;
    margin-bottom: 0.7em;
    line-height: 1.2em;
}

h1.maintitle {
    font-size: 3em;
    line-height: 1.3em;
    padding: 4% 0;
}


h3.phases {
margin: 25px 0 0;
background: #428DA8;
padding: 15px 0 10px;
color: white;
border-bottom: 1px solid black;
font-size: 2em;
}


h3.Gratisaanbod { margin-top: 15px; }

h3.Gratisaanbod a {
    color: #f44c92;
    text-decoration: underline;
}

h4.bonus {
    margin-bottom:0;
}




ul {
margin-left: 1em;
display: block;
list-style-type: disc;
}

li { 
text-align: left; 
margin-bottom: 0.5em;
}

p {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    text-align: left;
}

ol.icon-list, ol.graph-list {
    margin: 0 auto 50px;
    background: rgba(96, 175, 203, 0.25);
}

.Icons-box {
    background: #76bfb1;
    text-align: center;
    margin-bottom: 2em;
    padding: 2% 0;
    color: white;
}

.Icons-box h3 {
    color:white;
    margin:0;
}

.Icons-box ul.column-icons li {
    margin-bottom: 3%;
}


ul.column-icons {
    list-style-type: none;
    margin: 1em  auto;
    text-align: center;
}

ul.column-icons li {
    margin: 1%;
    text-align: center;
    font-size: 1.3em;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}


ul.column-icons li img { 
display: block;
margin: 0.3em auto;
}


li img.icon { margin-bottom: 5px; }

li img.icon.alignleft { margin-right:20px; }

li img.icon.alignright { margin-left:20px; }

.review .signo { 
    text-align:left; 
    margin-top: 5px;
    font-weight: bold;
}

#facebook { float: right; margin-left:3%; }

.review, .checkmarks, .redcross { list-style-type: none; }

.longlist { 
    width: 100%; 
    list-style:circle; 
}


.longlist img.leftedge { margin-left: -4em; }

.longlist img.rightedge { margin-right: -1em; }


.nofloat-ul { float: left; }

.nofloat-ul.widepic { width: 47%; }

.mobilehalf { width:50% }


.review { margin: 2% 0; }

.review h5 {
    margin-bottom: 0.3em;
    color: #2F2F2F;
    text-align: left;
    clear: none;
    font-size: 1.7em;
}

.review p {
    font-style: italic;
}


.checkmarks li {
background: url(images/check.png) no-repeat 0 0;
margin-left: -20px;
padding-left: 40px;
margin-bottom: 10px;
min-height: 35px;
}



.checkmarks.besideleftfloat li { 
margin-left: 330px;
}

.checkmarks.floatleft {
    float: left;
    width: 53%;
    margin-bottom: 5%;
}

.alignleft.checkbesides {
    width: 45%;
}


.redcross li { 
background: url(images/redcross.png) no-repeat 0 5px;
    margin-left: -20px;
    padding-left: 44px;
    margin-bottom: 10px;
    min-height: 40px;
}

li.check {
background: url(images/check.png) no-repeat 0 0;
}

li.cross { 
background: url(images/redcross.png) no-repeat 0 5px;
}

.longlist li { 
margin-left: 1em; 
}

.longlist img { margin-top: 10px; }


ol.icon-list, ol.graph-list {
margin: 0 auto;
}

ol.bonuses { margin-top:1%; padding-bottom: 1%; }

ol.icon-list li, ol.graph-list li {
padding: 25px 3% 35px;
height: 200px;
}

ol.bonuses li { height: auto; padding-bottom: 5px; }

ol.graph-list li {  height: 230px; }

ol.graph-list li.third {
    height: 260px;
}

ol.icon-list li img {
border: 7px solid white;
border-radius: 160px;
box-shadow: 0 0 10px #c7c7c7;
width: 200px;  
}

ol.bonuses li img {
border: none;
border-radius: 0;
box-shadow: none;
width: auto;  
}


ol.icon-list li h5, ol.graph-list li h5 { 
font-size: 1.7em;
clear: none;
text-align: left;
margin-bottom: 0;
color: black;
}

ol.graph-list li h5 {  line-height: 1.2em; }

ol.bonuses li h5 {   line-height: 1.2em;   margin-bottom: 0.5em; }


ol.icon-list li p { }

.alignright.picholder { margin-right: -5%; }

.picholder p { 
text-align: center;
font-weight: bold;
margin: 3%;
font-style: italic; 
font-size: 0.9em;
}

div.separate-floral, div.separate-floral-bottom {
display: block;
height: 200px;
width: 116%;
margin: 7% -8% 0;
}

div.separate-floral-bottom {
margin: 4% -8% 7%;
}


div.separate, div.separate-bottom {
display: block;
background: url(images/separate-lines.jpg) no-repeat 0 0;
height: 72px;
width: 110%;
margin: 7% -5% 0;
}

div.separate-bottom {
background: url(images/separate-lines.jpg) no-repeat 0 -72px;
margin: 0 -5% 7%;
}



.right {
float: right;
width: 27%;
text-align: center;
}

.quotebox {
background-color: #FAFAFA;
border: 1px solid #CCCCCC;
border-radius: 10px 10px 10px 10px;
display: block;
font-size: 0.9em;
line-height: 1.4em;
margin-bottom: 40px;
padding: 10px 12px 0px;
text-align: left;
}


.bqstart, .bqend {
color: #E01212;
font-size: 70px;
font-family: serif;
height: 10px;
}

.bqstart {
float: left;
margin-left: -5px;
margin-top: 10px;
margin-right: 5px;
}

.bqend {
float: right;
margin-right: -5px;
margin-top: -2px;
padding-top: 0;
}

.winkelwagen {
line-height: 1.5em;
}

table.cart {
border-spacing: 0;
margin-bottom: 4%;
}

table.cart tbody td {
border-bottom: 1px solid #DDDDDD;
vertical-align: top;
    padding:2% 1%;
}

table.cart tbody td.image {
padding: 2% 3% 2% 0;
text-align: center;
width:25%;
}

table.cart tbody td.image img { width:95%; 
height: auto;
}

table.cart tbody td.image.module img { 
border: 6px solid white;
border-radius: 160px;
box-shadow: 0 0 6px #c7c7c7;
width: 150px;
}


table.cart tbody td.name {
width: 50%;
}

table.cart tbody td.name h2 {
font-size: 1.5em;
margin: 0 0 1%;
text-align: left;
line-height: 1.2em;
}

table.cart tbody td.name p {
font-size: 0.9em;
}


table.cart tbody td.price {
padding-top: 2%;
    padding-left: 2%;
width: 20%;
text-align: right;
    font-size: 0.9em;
}

table.cart tbody td.price p {
text-align: right;
}

table.cart tfoot {
border-top: 4px double lightgrey;
}

.price.total { 
text-align: right; 
font-weight: bold;
padding: 10px 0;
}

td.price .aanbiedingsprijs {
font-weight: bold;
font-size: 1.2em;
color: #FF2900;
    line-height: 0.5em;
}

.summary {  
    margin: 1em 0 1em;
    padding: 0;
    border-bottom: 3px solid #76bfb1;
    background: white;
}

.summary h2 {  
    background: #76bfb1;
    margin: 0;
    padding: 1%;
    font-family: 'PT Sans', Lucida Sans, Segoe UI, Calibri, sans-serif;
    color:white;
}

.summary h4 { 
    line-height: 1.2em;
    font-size: 1.4em;
    color: #FFFFFF;
    background: #868685;
    margin: -20px -11px 0;
    padding: 15px 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.summary h5 {
    text-align: left;
    font-size: 1.2em;
    color:grey;
    text-align: center;
}


.summary .meesthold h5 {  color: #76bfb1; }


.summary h5.prijs {
    font-size: 2em;
    color: #F10000;
    font-weight: bold;
}

.summary .prod {
    padding: 1% 0 5%;
    border-bottom: 1px solid rgba(134, 134, 133, 0.25);
    margin-bottom: 4%;
}

.summary p { 
    margin:0;
    padding:0;
    text-align: center;
}

.summary p.small { 
font-size:0.8em;
}

.summary img { 
    display:block; 
    margin:auto; 
}

.summary .imagecontainer {
padding: 0;
margin-bottom: 5px;
    text-align:center;
}

.summary .checkmarks { margin: 0 10%; }

.summary .klikk { 
    font-family: 'Gloria Hallelujah', cursive;
    color: red;
    font-size: 1.3em;
    text-align: center;
    margin: 3% 0 1%;
    line-height: 1.4em;
}

.summary .product-offer {
    display: inline-block;
    width: 29%;
    margin: 20px 5px;
    vertical-align: bottom;
    border: 1px solid rgba(185, 185, 185, 0.5);
    padding: 10px 10px 5px;
    border-radius: 0 0 10px 10px;
    font-size: 1.1em;
    text-align: center;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,f9f9f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(249,249,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(249,249,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(249,249,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f6',GradientType=0 ); /* IE6-9 */


}

.summary .product-offer.meesthold {
    background: white;
    margin: 20px 2px;
}

.summary .prod-info {
    line-height: 1.3em;
}


.summary .meestgekozen {
    position: absolute;
    margin: 5px;
}

.summary .meesthold h4 {
    color: #FFFFFF;
    background: #76bfb1;
    margin: -20px -11px 0;
    padding: 23px 5px;
}


h1.bottom-link {
font-size: 2.8em;
text-transform: uppercase;
}


.foot { padding:15px 0; }


.buylink img {
margin-top: 15px;
}


.mobilefull { width:100%; }

.betaalen {
width: 75%;
text-align: center;
background: rgb(255, 254, 148);
border: 4px dashed #f44c92;
margin: 4% auto;
padding: 3%;
}

.betaalen p { 
text-align:center;
}

.betaalen h3 { 
font-weight: bold;
margin-top: 15px;
color: #f44c92;
}

.guarantee {
text-align: center;
clear: both;
}

.guarantee img {
display: inline-block; max-width: 40vw;
}

a#paypro {
display:none;
}  

a#paypro-iframe {
display:block;
}      



.col {
width: 32%;
margin: 0%;
display: inline-block;
vertical-align: top;
}

.col p, .col h5 { padding: 0 5%; }

.col h5 {
font-size: 1.6em;
line-height: 1.2em;
margin-top: 2%;
margin-bottom: 5%;
color: #B58C08;
}


.col img.center {
margin: 15px auto;
display: block;
max-width: 30vw;
}


.info-box {
clear: both;
background: rgba(255,255,255,0.5);
padding: 15px 20px;
margin: 30px auto;
border: 2px dotted #d4d4d4;
color: #555;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 15px;
width: 90%;
}

div.separate {
margin-top:0;
}

.Screen img {
    max-width:100%;
}

.imagecontainer.product img { max-width:80%; }

.review li  { 
    padding: 4%;
    margin-bottom: 0;
    background-color: rgb(244, 244, 244);
    line-height: 1.6em;
}

.review li:nth-child(even) { 
    background-color: rgb(236, 236, 236);
}


dl.faq {
line-height: 150%;
    text-align:left;
    background-color: rgba(244, 244, 244, 1);
    padding: 4%;
}

dl.faq:nth-child(odd) {
    background-color: rgba(236, 236, 236, 1);
}

.faq dt {
text-align:left;
font-weight: bold;
padding: 0 0 0 35px;
cursor: pointer;
background: url(images/faq_button-close.png) no-repeat 0 5px;
min-height: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}

.faq dt.open {
background: url(images/faq_button-open.png) no-repeat 0 5px;
}

.faq dd {
text-align:left;
padding: 5px 0 5px;
margin-left: 35px;
font-weight: normal;
font-style:italic;
}

.faq dd li {
    margin-bottom: 0;
}

#handtekkening {
background: url(images/Ria-Handtekenning-web.png) no-repeat center center;
    text-indent: -1000px;
height: 100px;
background-size: contain;
max-width: 50vw;
    margin: 3% auto 0;
}

ol.numbered {
list-style-type: decimal;
}

ol.numbered li {
margin-left: 1.5em;
}


.probeer {
margin-top:-4%;
}

.probeer.top {
    position: relative;
    right: -220px;
    color: black;
    float: right;
    margin-bottom: 2%;
}


.paypro {
}

.inneriframe {
}

.inneriframe iframe{
}

img.e-mail-testimonial {
  width: 100%;
  max-width: 870px;
}

.video-holder { 
    text-align:center; 
}

.video-holder.rightinsert {
    float: right;
    margin-left: 1em;
}

.video-holder iframe{
width: 560px;
height: 315px;
}


/* Slankers */

p.caption {
font-style: italic;
    font-size: medium;
    margin: 0 20px;
    text-align: center;
}

.picbox {
    width: 60%;
}

.buikvet-title {
    background-color:#76bfb1;
    padding: 3%;
    margin-top: 3%;
    text-align: left;
    color: #F9F9F9;
    line-height: 1.6em;
}

.buikvet-title h4 {
    color:white;
    margin: 0 0 1%;
    text-align: left;
}

.buikvet-title h5 {
    color: #f9f9f9;
    font-size: 1.3em;
    margin: 0 0 1%;
    text-align: left;
}

.buikvet-list-holder {
    border-left: 5px solid #76bfb1; 
    border-right: 5px solid #76bfb1;
    border-bottom: 5px solid #76bfb1;
    padding-bottom: 3%;
}

.buikvet-list {
    padding: 1% 1em 3%;
    clear: both;
}

.buikvet-list h5 {
    color: #76bfb1;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.6em;
    margin-top: 3%;
    clear: both;
}

.buikvet-list .alignleft, .buikvet-list .alignright {
    margin-top: 0.5em;
}

.buikvet-list .alignleft {
    margin-left:-1em;
}

.buikvet-list .alignright {
    margin-right:-1em;
}


.buikvet-list ul {
    display: table;
}


/* Counter */

.actie #content {   margin-bottom: 110px; }

#countdown-holder {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #F44C92;
    text-align: center;
    padding-top: 15px;
    z-index: 100;
}

#countercontent { 
margin: 0 auto;
max-width:1000px;
}

#countdown-holder .countdown-half {
    width:48%; 
    display:inline-block;
    vertical-align: middle;
}

#countdown-holder .countdown-half h3 {
    color:white;
    text-align:right;
    font-size: 2em;
    line-height: 1em;
}

#first_countdown {

}    

#first_countdown canvas { 
    display: block; 
    margin-top: 10px;
}

p.center img {
display:block;
margin: 0 auto;
max-width:90%;
}

p.numbers {
    padding-left: 75px;
    margin: 2% 3% 1% 0;
    text-align: left;
    min-height: 50px;
    background: left top no-repeat transparent;
    font-size: 1.2em;
    line-height: 1.3em;
    display: table;
}

p.num1 {    background-image: url(images/menoxium-numbers-1.png); }
p.num2 {    background-image: url(images/menoxium-numbers-2.png); }
p.num3 {    background-image: url(images/menoxium-numbers-3.png); }
p.num4 {    background-image: url(images/menoxium-numbers-4.png); }
p.num5 {    background-image: url(images/menoxium-numbers-5.png); }

p.numbers span {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.recipes {
    background-image: url(images/wood.jpg);
    padding: 1% 3% 5%;
    box-shadow: 0 0 6px #6F4E0B;
    margin: 3% 0;
}

.recipes h3 {
    color: #3E3E3E;
    margin: 0.5em;
    font-family: 'Open Sans', Lucida Sans, Segoe UI, Calibri, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}


.recipes .halver { 
    width: 43%;
    margin: 2% 1%;
    background: white;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.recipes .halver h5 { 
font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
        color: #16901E;
    font-size: 1.2em;
}


.bonus-holder {
    background: #1664B8;
    padding: 1em 2em;
    color: white;
}

.bonus-holder h5 {  
    color: #FFA900;
    text-align: left; 
    margin-top: 1%;

}

.bonus-holder ul { margin: 2% 3% 5%; }

.bonus-holder ul p {
padding: 0;
    line-height: 1.5em;
    margin: 0;
}

.bonus-holder img {
margin-top: 3%;
}

.halver-box {  
    display: inline-block;
    vertical-align: top;
    width: 47%;
    border: 1px solid #DEDEDE;
    margin: 1%;
    border-radius: 5px;
}

.halver-box .box-title { 
    background: #F9F9F9;
    border-bottom: 1px solid #B9B9B9;
}

.halver-box p {
    padding: 1em 1.5em;
    font-size: 0.9em;
}


.halver-box .box-title .title-1 { 
color: #14C303;
}

.halver-box .box-title .title-2 { 
color: #D600D6;
}

.halver-box .box-title .title-3 { 
color: #00B4FF;
}

.halver-box .box-title .title-4 { 
color: #F5209C;
}

.facebooktestis h6 {
    font-size: 1.2em;
    margin: 1.2em 0 0.7em;
    text-align: center;
    font-style: italic;
}


footer { text-align:center; }
footer p { text-align:center; }

div.partners img {
    display: inline-block;
    vertical-align: middle;
    width: 11%;
    margin: 1%;
}

.nav-bottom {
    float: right;
    background-color: #428bca;
    color: white;
    height: 35px;
    text-align: center;
    overflow: hidden;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-top: 0.2em;
    border-radius: 8px 0 0;
}

.nav-bottom ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: relative;
}

.nav-bottom li {
    float: left;
}

.nav-bottom a {
    color: white;
    margin: 0 0.5em;
}


/* Wacht */

#content.upsell {
margin-top:0;
}

.wachtwrap {
margin: 2em;
}

.wachtwrap .wachtext {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding-top: 1em;
    line-height: 1.5em;
}

h2.upgrade {
    color: #0056ff;
    margin-top: 2em;
    font-family: 'Cardo', Georgia, Times, serif;
    text-transform: none;
    font-weight: 400;
    font-size: 2.3em;
}

a.rondje {
    color: #0056ff;
    text-decoration: none;
    font-size: 1.1em;
}

.upsell p {
    padding: 0;
}
h3.thank {
    text-transform: none;
    font-weight: 400;
    font-size: 2em;
}
p.thank {
    font-size: 1.1em;
        line-height: 1.6;
}

/* 
----------
Responsive
----------
*/  


/* Desktops and laptops ----------- */

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

@media only screen and (min-width : 1024px) {
/* Styles for desktop screen */

#content { }

.rightedge { margin-right: -50px; }
.leftedge { margin-left: -50px; }

.col {
}

div.separate, div.separate-bottom {
}
    
div.separate-floral, div.separate-floral-bottom {
height: 200px;
width: 116%;
}

}


@media only screen and (max-width : 1024px) { /* Styles for smaller than desktop screen */


img { height:auto; }

ul.column-icons li {  width:45%;  }
ul.column-icons li img { width:100%;  }  
div.separate-floral img, div.separate-floral-bottom img { width:100%; }
.guarantee img { margin-top: 0; }
table.cart tbody td.image.module img { width: 80%; }

ol.graph-list li {  height: 250px; margin-bottom: 30px; }
ol.graph-list li.third {   height: 330px; }
    
}



/* Tablet 768----------- */

@media all and (max-width:768px) {

#content { width: 97%; }
.content { padding: 0 3% 4%; }

.text-content { width: 88%;margin-right: 0; margin-bottom: 5%; }

table.cart tbody td.image.module img { border: 3px solid white; }
table.cart tbody td.name h2 { font-size: 1.2em; }

.betaalen { width: 100%; }

ol.graph-list li { height:auto;    margin: 0;   padding-bottom: 5px; }
ol.graph-list li.third {   height: auto; padding-bottom: 35px; }
ol.graph-list li img, ol.bonuses li img {  float:none; margin: 15px 0;   width: auto;  max-width: 95%; }
ol.bonuses li img {  margin: 0 auto 2%; display: block; }

.video-holder iframe{ width: 100%; }

.bonus-holder img {    margin-top: 2%;    display: block;    float: none; }

.halver-box {   width: 95%; margin:2% 0; }

#bestellbutt {   float: none;   position: static;   bottom: 0;   right: 0;   margin: 0 auto;    display: block; }

.probeer.top {   right: 0;  float: none;  margin: -2% 0 3% 0%; }

.summary .product-offer {  width: 45%; }

/* End 768 */
}


/* mobile 570----------- */
@media only screen and (max-width:570px) {

img { height:auto; }

table.cart tbody td.name { width: 40%; }
td.price .aanbiedingsprijs { font-size: 1em; }

.imageholder { width: 95%; vertical-align: top; }

#head h1 { font-size: 5em; margin-bottom: -3%; }
h1.maintitle { font-size: 2em; }
h2 { font-size: 2.2em; margin: 5% 0 7%; }
h3 { font-size: 2em;     margin-top: 1em; line-height: 1.2em; }    
h2+h3 { font-size: 1.8em; margin-top:15px; }
h4 { font-size: 1.5em; } 
h5 { font-size: 1.3em; }


.col { width: 85%; margin-bottom: 5%; }

.info-box { width: 70%; }

table.cart tbody td.name p { font-size:1em; }

.pictureholder-gradient img {  max-width: 100%;  margin-top: 3%;  width: auto; }

.video-holder iframe, .video-holder video {width: 100%;    height:250px}

.recipes .halver {  width: 90%; }

.alignright, .alignleft, .alignleft.checkbesides, .checkmarks.floatleft { }
.leftedge, .rightedge, .alignleft.checkbesides {  width: 100%;}
.checkmarks.floatleft {  width: 95%; margin-left:5%;}

.review, .checkmarks, .redcross {  }

div.partners img {  width: 20%; }

.maincontent h1 {   font-size: 2em; }
.smallimages div {     font-size: 0.8em; }
p.numbers {  font-size: 1em; }
ul.column-icons li {  font-size: 1.1em; }
.Icons-box h3 { font-size:1.7em;     margin: 2% 7%; }


/* End 570 */
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width : 320px) and (max-width : 570px) {
/* Styles */


img.alignleft, img.alignright { }

.review img.alignleft, .review img.alignright {   width: auto; }
.review img.alignleft { margin-right:3%; }
.review img.alignright { margin-left:3%; }

img.leftedge, img.rightedge { margin-left:-5%; margin-right:-5%; }
li img.icon { margin: 5px auto; width:40%; clear:both; }
.bestell img { height: auto;margin: 1% auto; }
.bestell img.probeer { margin-top: -5%; }
.summary img { width:75%; height:auto; margin: 5px auto; }
img.book { width:auto; }
.review img.icon { width: 40%; margin: 5px auto; }
table.cart tbody td.image img { height:auto; }

h1, h2, h3, h4, h5, h6 {  }    

#banner h4 { line-height: 1.4em; }    

.summary h2 { font-size: 1.6em; }
h1.bottom-link { font-size: 1.7em; }
table.cart tbody td.name h2 { font-size:1.2em; }

.summary { }
.summary .product-offer {  width: 42%; }

.winkelwagen {
float: none;
width: 100%;
}

.right {
float: none;
width: 100%;
}

.quotebox { max-width: 100%; }

 ol.icon-list li { 
     height:auto; 
     border-bottom: 1px solid #c7c7c7; 
     padding-bottom: 15px;
 }  
    
ol.icon-list li img, ol.graph-list li img { display: block; }



.nofloat-ul.widepic { width: 90%; }
    
img.mobilehalf.alignleft, img.mobilehalf.alignright { 
    width:110%; 
} 
    
.picholder { display: block; float:none; margin: 10px -5%;  }
    
.checkmarks.besideleftfloat li {  margin-left:-1em; } 


div.separate-floral, div.separate-floral-bottom {
height: 80px;    
}
    
ul.column-icons li {
width: 42%;
}
    
.buylink img {
width:100%;
}
    
.alignright.picholder, .alignleft.picholder {
margin: 0 auto; width:80%; float:none;
}

  
.alignright.picholder img, .alignleft.picholder img 
    { width:90%; }    

.longlist { margin-left:0; }    
    
ol.icon-list li.third {
height: auto;
}
    
.betaalen { width:85%; }    

.betaalen h3 {
margin: 0;
padding: 1%;
font-size: 1.4em; 
}    
    
a#paypro {display:block;}  

a#paypro-iframe {display:none;}      
   
#facebook { float: none; margin-left:0; }

.nav-bottom { font-size: 0.8em;  }
  
   
/* End Smarthphone global */    
}



/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape) { 
/* Styles */

body { font-size: 0.9em; }

#head h1 { margin: 1% -1%; font-size: 5em; }
h1.maintitle { font-size: 1.4em; }
h2 {  }

div.separate, div.separate-bottom { height: 55px; }

li img.icon { width:30%; }
.book-main { width:50%; }
.review img.icon { width: 40%; }
.col img.center { width:30%; }

table.cart tbody td {
font-size: 0.8em;
}

img.guarantee { 
    width:50%; 
}

img.checkmark-image { width: 60%; margin: 2% auto; }

img.alignleft, img.alignright {    width:50%; }
    
img.alignleft { margin-right:10px; } 

img.alignright { margin-left:10px; }    
    
    
ul.column-icons li { height:190px; }    

ol.icon-list li, ol.graph-list li { border-bottom:none; } 
    
ol.icon-list li img {
width: 25%;
border-width: 4px;
box-shadow: 0 0 4px #c7c7c7;
}  

.review  li img.alignleft {  
margin-right:10px; 
float: left;
}

.review  li img.alignright {  
margin-left:10px; 
float: right;
}   
    
.checkmarks li { margin-left: -10px; }    
    
}



/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {

.content { padding: 0 4% 4%; }
    
h2 { font-size: 2.3em; }    
h3 { font-size: 1.5em; padding: 0 2%; }  
h4 { font-size: 1.4em; }    
        
img.alignleft, img.alignright {  float:none;   width: 100%;  max-width: 100%;  }
    
li img.icon.alignleft, li img.icon.alignright {  margin: 10px auto 20px; width: 90%; display: block; }

.auteur img { margin-bottom:2%; }

.imageholder { width:100%; }

.imageholder ul { margin-left: 6em; }

.imagecontainer img { width: 100%; }

  
.longlist img.rightedge, .longlist img.leftedge {
width:100%;
}   
    
ul.column-icons li { 
width: 80%;
margin: 0 auto;
float: none;
height: auto;
}   

   
ul.bjqs { height: 400px !important; line-height:1.4em; }
.bjqs-wrapper, li.bjqs-slide { height: 400px !important; }
li.bjqs-slide .wrap-inside { padding: 1% 2%; width: 85%; }
ul.bjqs-controls { display: none; }
  
   
ol.icon-list li img, ol.graph-list li img { margin-bottom: 10%; }   
   
table.cart tbody td.image { display: none; }  

.bestell img { width:100%; }

.maincontent h1 {   font-size: 1.4em;   line-height: 1.2em; }
#head h1 {  margin-bottom: -2%;  margin-top: 2%; }
.buikvet-list { padding: 3% 0.7em 3%; }
.buikvet-title h5 {  font-size: 1.1em; }
.buikvet-list h5 {  font-size: 1.4em; }
.buikvet-list .alignleft {  margin-left: -0.7em; }
.summary .product-offer {  width: 88%; }
.faq dt {   font-size: 1em;  line-height: 1.4em; }
   
/* End 320 */    
}
#pots img {
    width: 750px;
}


