
@font-face {
  font-family: 'BleedingCowboys';
  src: url('BleedingCowboys.eot?#iefix') format('embedded-opentype'),  url('BleedingCowboys.woff') format('woff'), url('BleedingCowboys.ttf')  format('truetype'), url('BleedingCowboys.svg#BleedingCowboys') format('svg');
  font-weight: normal;
  font-style: normal;
}
