@import "vars";

@media (min-width: 1500px) {
	.homepage-header {
		.header__top {
			max-width: 85%;
		}
	}
	.advantages {
		&::before {
			// width: 120%;
			// top: 0;
			// left: -25%;
			// background: url('../img/homepage/advantages-bg.svg') no-repeat right 0/100% 100%;
		}
	}
	.features {
		&__list::before {
			// width: 100%;
			// height: 100%;
			// top: 0;
			// left: 0;
			// background: url('../img/homepage/features-bg.svg') no-repeat right center/cover;
		}
	}
	.quote-section {
		padding-bottom: 100px;
		&__banner {
			height: 800px;
		}
	}
}

@media (min-width: 768px) { 
	body {
		.new {

			.homepage-header {
				&__banner {
					top: 12.5vh;
				}
			}
			.about {
				margin: 0 auto 200px;
			}
			.advantages {
				position: relative;
				top: -200px;
				padding-top: 0;
				&__list {
					position: relative;
					top: 200px;
				}
			}
			.features {
				padding-top: 150px;
				.section-title {
					margin-bottom: 150px;
				}
				&__list {
					li {
						position: relative;
						top: 50vh;
					}
				}
				&__combination {
					padding-top: 400px;
					padding-bottom: 200px;
					&-title {
						margin-bottom: 320px;
					}
				}
			}
		}
	}
}

@media (max-width: 1250px) {
	.quote-section {
		padding-bottom: 0;
		.section-title {
			padding-top: 80px;
		}
		&__quote {
			width: 50%;
			min-width: 300px;
			padding: 0 50px;
			transform: translate3d(0px,-35%,0);
			blockquote {
				font-size: 18px;
				line-height: 28px;
			}
		}
	}
	.advantages {
		&::before {
			// background: url('../img/homepage/advantages-bg.svg') no-repeat right 0/cover;
		}
	}
	.benefits {
		padding-bottom: 200px;
		&::after {
			bottom: 50px;
		}
		.section-title {
			margin-bottom: 100px;
			h2 {
				margin-bottom: 30px;
			}
		}
	}
	.contact {
		margin-bottom: 250px;
		.section-title {
			margin-bottom: 70px;
		}
	}
	.positions {
		&::before {
			display: none;
		}
	}
	.job-section {
		&::before {
			display: none;
		}
	}
	.quote-section.jobpage {
		.quote-section__quote {
			transform: translate3d(0px,0,0);
		}
	}
	.tale {
		&__description {
			display: none;
		}
		&__screen {
			margin-top: 50px;
		}
		.portfolio-flex {
			display: flex;
		}
		.portfolio__screens {
			&.screen {
				display: none;
			}
		}
	}
}
@media (max-width: 1150px) {
	.portfolio {
		&-section {
			padding: 80px 20px;
		}
		&-flex {
			&--wide  {
				padding-top: 0;
				flex-flow: column;
			}
		}
	}
	.nira {
		display: flex;
		flex-flow: row-reverse nowrap;
	}
	.zenuity {
		padding-bottom: 80px;
		display: flex;
		flex-flow: row nowrap;
	}
	.tele2, .tale {
		.portfolio-flex {
			flex-flow: column;
		}
		.portfolio__description {
			margin-bottom: -100px;
		} 
	}
}
@media (max-width: 1023px) {
	body {
		.section-title {
			margin-bottom: 60px;
			h2 {
				margin-bottom: 20px;
			}
			p {
				font-size: 16px;
				line-height: 26px;
			}
		}
		.new {
			.features {
				padding-top: 150px;
				.section-title {
					margin-bottom: 0px;
				}
				&__combination {
					&-title {
						margin-bottom: 280px;
					}
				}
			}
		}
	}
	.about {
		// background: url('../img/homepage/about-bg.svg') no-repeat bottom center/100%;
		.container {
			// padding: 250px 20px 250px;
			padding: 0px 20px;
		}
		&__content {
			position: relative;
		}
		h2 {
			font-size: 26px;
		}
		p {
			font-size: 16px;
			line-height: 1.6;
		}
	}
	.advantages {
		&__content {
			margin-left: 20px;
		}
		&__list {
			h2 {
				font-size: 25px;
				letter-spacing: 2px;
				margin-bottom: 15px;
			}
			p {

			}
			li {
				&.right {
					.advantages__content {
						margin-right: 20px;
					}
				}
			}
		}
	}
	.features {
		margin-top: 200px;
		&__list {
			li:nth-of-type(1) {
				.features__text-block {
					transform: translate3d(-30px,0,0);
				}
			}
		}
		&__text-block {
			h3 {
				font-size: 20px;
				br {
					display: none;
				}
			}
			p {
				font-size: 18px;
			}
		}
		&__combination {
		}
	}
	.header {
		&__banner {
			&::after {
				top: 20px;
			}
			h1 {
				font-size: 35px;
			}
			p {
				font-size: 18px;
				max-width: 600px;
			}
		}
	}
	.quote-section {
		padding-bottom: 100px;
		&__banner {
			height: 600px;
			// background: url('../img/career/hero.jpg') no-repeat right top/150%;
		}
		&__quote {
			position: absolute;
			right: 35px;
			transform: translate3d(0, -65%,0);
		}
		.section-title {
			padding-top: 150px;
			width: 80%;
			p {
				width: 100%;
			}
		}
	}
	.benefits {
		&__list {
			flex-flow: row wrap;
			justify-content: space-around;
			li {
				width: 40%;
				margin-bottom: 30px;
			}
		}
	}
	.contact {
		margin-bottom: 170px;
		.section-title {
			margin-bottom: 30px;
			font-size: 32px;
		}
		&__list {
			justify-content: space-around;
		}
	}
	.about-description {
		background-size: contain;
	}
	.management {
		&__list {
			flex-flow: row wrap;
			justify-content: space-around;
			li {
				width: 45%;
				max-width: none;
				margin-bottom: 50px;
			}
			li:nth-of-type(2) {
				padding-top: 0px;
			}
		}
		&.advisors {
			h2 {
				margin-bottom: 40px;
			}
			.management__list {
				li {
					padding-top: 0;
				}
			}
		}
	}
	.quote-section.jobpage {
		.section-title {
			padding-top: 0px;
		}
		.quote-section__quote {
			right: 25px;
			transform: translate3d(0,35%,0);
			top: 0;
		}
		.quote-section__banner {
			margin-top: 0px;
		}
	}
	.portfolio {
		&-flex {
			flex-flow: column-reverse;
			&--wide {
				align-items: center;
				.portfolio__description {
					padding-left: 0;
				}
			}
		}
		&__screens {
			margin-right: 0;
		}
	}
	.seb {
		&__diagram {
			margin-bottom: 60px;
		}
	}
	.zenuity, .nira {
		flex-flow: column;
		align-items: center;
	}
	.midroc {
		.container {
			flex-flow: row nowrap;
			& > img {
				transform: translate3d(0,0,0);
				width: 70%;
				margin-right: -130px;
			}
			.portfolio__description {
				transform: translate3d(-0px,0,0);
				padding-top: 20px;
				width: 100%;
			}
		}
	}
	.jerrie {
		.portfolio-flex {
			flex-flow: column;
		}
		.portfolio__description {
			margin-bottom: 80px;
		}
	}
}
@media (max-width: 767px) {
	body {
		.section-title {
			h2 {
				font-size: 24px;
				line-height: 32px;
			}
			p {
				font-size: 15px;
				line-height: 24px;
				max-width: 580px;
				margin: 0 auto;
			}
		}
		.new {
		}
	}
	.header {
		&__mob {
			transform: translate3d(110%,0,0);
			nav a {
				font-size: 12px;
			}
		}
	}
	.homepage-header__banner {
		.header__title {
			font-size: 24px;
			line-height: 1.25;
			margin-bottom: 15px;
			letter-spacing: 3px;
			br {
				display: none;
			}
		}
		p {
			line-height: 1.4;
			margin-bottom: 20px;
		}
	}
	.overflow-wrapper {
		&.homepage {
			.flir {
				padding-bottom: 20px;
				&__images {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
	.form {
		background: url('../img/form-bg.svg') no-repeat center center/ auto 130%;
		.container {
			padding: 100px 20px;
			div {
				margin-bottom: 40px;
			}
		}
		label {
			font-size: 10px;
		}
		input {
			font-size: 20px;
		}
	}
	.about {
		margin-top: 50px;
		margin-bottom: 0;
		// background: url('../img/homepage/about-bg.svg') no-repeat bottom center /cover;
		background: none;
		.container {
			// padding: 250px 15px 150px;
			padding: 0px 15px;
		}
		h2 {
			font-size: 18px;
			letter-spacing: 2px;
		}
		p {
			font-size: 15px;
			margin-bottom: 25px;
		}
		ul {
			padding: 0 20px;
		}
	}
	.advantages {
		// padding-top: 200px;
		padding-top: 80px;
		margin-top: 300px;
		margin-bottom: 150px;
		&::after {
			display: none;
		}
		&::before {
			left: auto;
			// background: url('../img/homepage/advantages-bg.svg') no-repeat 70% 0/cover;
			background: url('../img/homepage/advantages-bg1.svg') no-repeat 70% center/auto 85%;
		}
		&__content {
			margin-left: 0px;
		}
		&__list {
			padding: 0 15px;
			&::after {
				display: none;
			}
			h2 {
				font-size: 20px;
				letter-spacing: 1.5px;
				margin-bottom: 15px;
			}
			p {
				font-size: 15px;
			}
			li {
				flex-flow: column;
				&.right {
					.advantages__content {
						margin-right: 0px;
						width: 100%;
					}
				}
			}
			li:nth-of-type(2) {
				flex-flow: column;
			}
			img, .gif-wrapper {
				width: 80%;
				margin-bottom: 15px;
			}
		}
	}
	.features {
		margin-top: 0;
		padding-top: 150px;
		.section-title {
			margin-bottom: 100px;
			padding: 0 15px;
		}
		&__list-wrap {
			&::before {
				background: url('../img/homepage/features-bg.svg') no-repeat right center/auto 130%;
			}
		}
		&__list {
			padding: 0 15px;
			&::after {
				display: none;
			}
			li {
				flex-flow: column;
				.features__text-block {
					margin-bottom: 20px;
				}
			}
			li:nth-of-type(1) {
				padding-top: 0;
				flex-flow: column;
				align-items: flex-start;
				&::after {
					display: none;
				}
				.features__img-wrapper {
					margin-left: 0;
				    margin-bottom: -2px;
				    padding-right: 0;
				    padding-left: 0;
				    width: 100%;
				    max-width: none;
					img {
						max-width: 50%;
						margin: auto;
						transform: translateX(-27%);
					}
				}
				.features__text-block {
					margin-bottom: 100px;
					transform: translate3d(0px,0,0);
				}
			}
			li:nth-of-type(2) {
				padding-top: 60px;
				margin-bottom: 60px;
				flex-flow: column;
				.features__text-block {
					margin-right: 0;
				}
			}
			li:nth-of-type(3) {
				.features__text-block {
					margin-left: 0;
				}
			}
		}
		&__img-wrapper {
			width: 150%;
		}
		&__text-block {
			width: 100%;
			h3 {
				font-size: 18px;
				line-height: 1.5;
			}
			p {
				font-size: 15px;
			}
		}
		&__combination {
			// padding-top: 250px;
			padding-top: 180px;
			padding-bottom: 100px;
			&::after {
				display: none;
			}
			.section-title {
				margin-bottom: 30px;
				h3 {
					font-size: 22px;
					line-height: 1.5;
				}
				p {
					font-size: 15px;
				}
			}
			ul {
				
				li {
				}
				img {
					width: 180%;
					margin: 0 auto;
					transform: translate3d(-27.5%,0,0);
					height: auto;
				}
			}
			li:nth-of-type(1) {
				// transform: translate3d(17%,0,0);
			}
			li:nth-of-type(2) {
				z-index: 3;
			}
			li:nth-of-type(3) {
				// transform: translate3d(-17%,0,0);
			}
		}
	}
	.header {
		&__top {
			padding: 15px 0;
			.logo {
				img {
					top: 1px;
				}
			}
			nav {
				display: none;
			}
			.hamburger {
				display: flex;
			}
		}
		&__mob {
			display: flex;
		}
		&__banner {
			h1 {
				font-size: 28px;
				line-height: 35px;
				text-align: center;
				margin-bottom: 20px;

			}
			p {
				font-size: 15px;
				line-height: 24px;
			}
			&::before, &::after {
				display: none;
			}
		}
	}
	.quote-section {
		padding-bottom: 150px;
		&::before {
			// display: none;
			bottom: 40px;
		}
		&__banner {
			height: 300px;
			// background: url('../img/career/hero.jpg') no-repeat center top/cover;
		}
		.section-title {
			// padding-top: 0px;
			padding: 0 20px;
			width: 100%;
			margin: -50px auto 0;
			text-align: center;
			h2 {
				font-size: 24px;
				line-height: 32px;
				max-width: none;
			}
			p {
				font-size: 15px;
				line-height: 24px;
				margin: 0 auto;
			}
		}
		.container {
			flex-flow: column-reverse;
			justify-content: center;
			align-items: center;
			padding: 0;
		}
		&__quote {
			margin: 0 auto;
			right: auto;
			position: relative;
			width: 300px;
			height: 345px;
			transform: translate3d(0, -25%,0);
			padding: 0 25px;
			blockquote {
				font-size: 14px;
				line-height: 22px;
				margin-bottom: 10px;
			}
			span {
				font-size: 15px;
				line-height: 24px;
			}
		}
		
	}
	.benefits {
		padding-bottom: 140px;
		&::after {
			// display: none;
		}
		.section-title {
			margin-bottom: 60px;
		}
		&__list {
			flex-flow: row wrap;
			justify-content: space-around;
			li {
				width: 90%;
			}
			h3 {
				font-size: 18px;
				line-height: 26px;
				margin-bottom: 10px;
			}
			p {
				font-size: 15px;
				line-height: 22px;
			}
		}
	}
	.positions {
		&::after {
			left: 30px;
		}
		&__list {
			li {
				background: linear-gradient(to right, #b24af5 0%, #7c1e7c 60%, transparent 90%);
				border-radius: 15px;
				padding: 2px;
				& > a {
					border-radius: 13px;
					background: #370060;
					padding: 20px 15px;
					padding-right: 50px;
				}
				h3 {
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 5px;
				}
				p {
					font-size: 14px;
					line-height: 20px;
				}
			}
			&-contact-us {
				font-size: 15px;
				line-height: 22px;
				br {
					display: none;
				}
			}
		}
	}
	.contact {
		margin-bottom: 140px;
		.section-title {
			margin-bottom: 40px;
			font-size: 25px;
			line-height: 32px;
		}
		&__list {
			flex-flow: column;
			text-align: center;
			li {
				margin-bottom: 20px;
			}
			a {
				font-size: 26px;
				margin-bottom: 0;
				line-height: 1.2;
			}
			span {
				font-size: 15px;
			}
		}
	}
	.footer {
		height: 520px;
		h3 {
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 25px;
		}
		&__button {
			margin-bottom: 30px;
		}
		ul {
			li, a {
				padding: 3px;
			}
		}
		.contact {
			margin-bottom:10px;
			&__list {
				flex-flow: row;
			}
			li {
				a {
					font-size: 18px;
				}
				span {
					font-size: 12px;
				}
			}
		}
		&__links {
			margin-top: 0px;
			// padding-top: 15px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			li {
				width: 50%;
				text-align: center;
				a {
					padding: 0px 20px;
				}
			}
		}
	}
	.about-header {
		padding: 0 10px;
		.header__banner {
			display: flex;
			h1 {
				font-size: 24px;
				margin-bottom: 12px;
			}
			p {
				line-height: 1.35;
				margin-bottom: 0;
			}
		}
		&__container {
		    height: 120vh;
		    min-height: 550px;
		}
	}
	.about-description {
		display: none;
	}
	.management {
		h2 {
			font-size: 24px;
			line-height: 1.4;
			margin-bottom: 30px;
		}
		h3 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		&__list {
			flex-flow: column;
			li {
				width: 100%;
				max-width: 500px;
				margin: 0 auto 40px;
			}
			span {
				font-size: 16px;
				margin-bottom: 10px;
			}
			p {
				font-size: 15px;
				line-height: 1.6;
				margin-bottom: 18px;
			}
		}
		&.advisors {
			.management__list {
				li {
					margin-bottom: 25px;
				}
			}
		}
	}
	.quote-section.jobpage {
		.container {
			flex-flow: column;
		}
		.quote-section__quote {
			right: 0px;
			transform: translate3d(0,0px,0);
			margin: 30px 0;
		}
	}
	.generic {
		margin-bottom: 100px;
	}
	.job-section {
		padding: 0 20px;
		padding-top: 60px;
		.section-title {
			span {
				font-size: 10px;
				a::after {
					padding: 0 8px; 
				}
			}
			h1 {
				font-size: 25px;
				margin-top: 0px;
			}
		}
		&__text-block {
			margin-bottom: 40px;
			h2 {
				font-size: 18px;
				margin-bottom: 15px;
			}
			h3 {
				font-size: 17px;
				line-height: 1.4;
			}
			p {
				font-size: 15px;
				line-height: 22px;
				margin-bottom: 20px;
				&.marked {
					font-size: 17px;
					padding: 0;
				}
			}
			ul {
				li {
					font-size: 15px;
					line-height: 22px;
					margin-bottom: 15px;
					&::before {
						margin-right: 10px;
					}
				}
			}
		}
	}
	.blog {
		margin-top: 15px;
		&__categories {
			margin-bottom: 20px;
		}
		&__info {
			img {
				margin-right: 14px;
			}
			a {
				display: block;
				font-size: 12px;
			}
			.author {
				&::after {
					display: none;
				}
			}
		}
		&-post {
			.blog__main-info {
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
			}
			.blog__main .img {
				display: block;
			}
		}
		&__main {
			margin-bottom: 80px;
			h1 {
				font-size: 25px;
				line-height: 1.4;
				letter-spacing: 1px;
				margin-bottom: 20px;
			}
			p {
				font-size: 14px;
				line-height: 1.9;
				margin-bottom: 20px;
			}
			.img {
				display: none;
			}
			&-info {
				flex-flow: column;
				align-items: flex-start;
			}
			.full {
				margin-top: 20px;
				align-self: flex-end;
			}
		}
		&__articles {
			h2 {
				font-size: 22px;
				line-height: 30px;
				letter-spacing: .5px;
				margin-bottom: 15px;
			}
			.blog__categories {
				margin-bottom: 10px;
			}
			.no-image.margin-top {
				margin-top: 0;
			}
			.grid-item {
				width: 100%;
				color: #fff;
				position: relative;
				margin-bottom: 40px;
				padding: 35px 20px;
				border-radius: 20px;
				overflow: hidden;
				&:not(.no-image) {
					position: relative;
					* {
						position: relative;
						z-index: 2;
					}
					&::after {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: rgba(0,0,0,.6);
						z-index: 1;
					}
				}

			}
			.img {
				display: none;
			}
			.no-image {
				padding: 35px 20px;
			}
		}
		&__text-block {
			p {
				font-size: 15px;
				line-height: 1.75;
				margin-bottom: 30px;
			}
			h2 {
				font-size: 19px;
				line-height: 1.4;
				margin: 30px 0;
			}
			h3 {
				font-size: 17px;
			}
			h4 {
				font-size: 15px;
			}

			ul {
				padding-left: 20px;
				li {
					font-size: 15px;
					line-height: 1.75;
					&::before {
						left: -16px;
						top: 9px;
					}
				}
			}
			blockquote {
				font-size: 16px;
				padding: 15px;
				line-height: 1.6;
			}
		}
		&__navigation {
			margin-top: 50px;
			.share {
				background: transparent;
				margin-top: 0;
				margin-bottom: 15px;
			}
			&-list {
				flex-flow: column;
				li {
					width: 100%;
				}
			}
		}
	}
	.portfolio {
		&__screens {
			&.right {
				margin-left: 0;
			}
		}
		&-flex {
			&--wide {
				.portfolio__screens {
					margin: 0;
				}
				.portfolio__description {
					padding-left: 0px;
				}
			}
		}
		&__description {
			&--gradient {
				padding: 120px 20px 80px;
				max-width: 300px;
			}
			h2 {
				font-size: 20px;
				margin-bottom: 0px;
			}
			p {
				font-size: 15px;
			}
		}
	}
	.flir {
		.section-title {
			margin-bottom: 40px;
			h2 {
				font-size: 24px;
				line-height: 1.4;
				letter-spacing: 2px;
			}
		}
		&__images {
			ul {
				&.in-view {
					li:nth-of-type(1),
					li:nth-of-type(3) {
						transform: translate3d(0,0,0);
						img {
							transform: translate3d(-12%,0,0);
						}
					}
				}
				li:nth-of-type(1) {
					transform: translate3d(80%,0,0);
					img {
						width: 130%;	
					}
				}
				li:nth-of-type(3) {
					transform: translate3d(-80%,0,0);
					img {
						width: 130%;	
					}
				}
				img {
					width: 150%;
					transform: translate3d(-15%,0,0);
				}
			}
		}
		.portfolio__description {
			margin-top: -140px;
			img {
				margin-bottom: 0;
				bottom: -35px;
			}
		}
	}
	.seb {
		&__diagram {
			margin-bottom: 60px;
			h2 {
				font-size: 20px;
				margin-bottom: 75px;
			}
			&-info {
				p {
					font-size: 18px;
				}
				ul {
					margin-top: 20px;
				}
			}
		}
	}
	.tele2 {

		.portfolio__description {
			margin-bottom: 0;
			p {
				margin-bottom: 15px;
			}
			.person {
				img {
					margin-right: 10px;
				}
				span {
					font-size: 14px;
					font-family: "montserrat-sb";
					line-height: 1.3;
				}
			}
			img {
				top: -30px;
			}
		}
		.portfolio__screens {
			margin-left: 0;
			margin-top: 40px;
		}
	}
	.midroc {
		padding: 0 20px 30px;
		.container {
			flex-flow: column-reverse nowrap;
			& > img {
				width: 100%;
				margin-right: 0;
			}
			.portfolio__description {
				transform: translate3d(-0px,0,0);
				padding-top: 20px;
				width: 100%;
			}
		}
	}
	.tale {
		.portfolio-flex {
			.portfolio__description {
				img {
					top: -25px;
				}
			}
		}
		&__screen {
			margin-top: 25px;
		}
	}
	.jerrie {
		.portfolio__description {
			margin-bottom: 40px;
			p {
				margin-bottom: 25px;
			}
		}
	}
}
@media (max-width: 350px) {
	.about-header {
		&__container {
			height: 140vh;
			// min-height: 550px;
		}
		.header__banner {
			height: 130vh;
			padding-top: 0;
		}
	}
	.management {
		margin-top: -70px;
		&.advisors {
			margin-top: 0;
		}
	}
}