@import "vars";
@import "fonts";

.bg-canvas {
	z-index: 1;
	position: fixed;
}
.overflow-wrapper {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	background: linear-gradient(180deg, #0F003D 0%, #730096 125.55%);
	&.blog {
		background: #fff;
	}
	& > * {
		position: relative;
		z-index: 2;
	}
	&.homepage {
		.flir {
			&::before {
				background: none;
			}
		}
	}
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	color: #fff;
	.new {
		h2, h3 {
			text-transform: initial !important;
			letter-spacing: 1.5px;
		}
		.homepage-header__banner {
			// h1 {
			// 	background: $text-bg;
			// 	-webkit-text-fill-color: transparent;
			// 	background-clip: text;
			// 	text-transform: initial;
			// 	letter-spacing: 2px;
			// }
			// a {
			// 	background: none;
			// 	border: 2px solid #fff;
			// 	&:hover {
			// 		span {
			// 			background: none;
			// 		}
			// 	}
			// }
		}
	}
	h1,h2 {
		font-family: "conthrax";
		text-transform: uppercase;
		font-weight: 500;
		background: $text-bg;
		letter-spacing: 2px;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: #ff4bf0;
	}
	
	.section-title {
		display: block;
		text-align: center;
		p {
			display: block;
			max-width: 740px;
			margin: 0 auto;
			font-size: 18px;
			line-height: 32px;
			color: #fff;
		}
		h2 {
			font-size: 32px;
			line-height: 45px;
			letter-spacing: 1.5px;
		}
	}
}
.parallax-slider {
	max-width: 100%;
}
.container {
	display: block;
	max-width: 1140px;
	margin: 0 auto;
}
.button-border {
	font-family: 'montserrat-b';
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.7px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
	background: url('../img/btn-border.svg') no-repeat center center/contain;
	color: #fff;
	transition: .25s !important;
	border-radius: 25px;
	position: relative;
	overflow: hidden;
	border: none;
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;

	&:hover {
		background: url('../img/btn-fill.svg') no-repeat center center/contain;
		transition: .25s !important;
	}
}
.header {
	position: relative;
	padding: 0;
	z-index: 30;
	&__top {
		max-width: 1140px;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0px;
		width: 100%;
		position: relative;
		z-index: 15;
		.logo {
			display: block;
			width: 150px;
			height: 20px;
			// background: url('../img/Object.svg') no-repeat 0 0/contain;
			img {
				position: relative;
				top: 6px;
				width: 100%;
				height: auto;
			}
		}
		nav {
			display: none;
			li {
				display: inline-block;
				
			}
			a {
				font-family: "montserrat";
				font-size: 12px;
				text-transform: uppercase;
				color: #fff;
				transition: .25s ease;
				padding: 10px;
				&:hover, &.active {
					color: #FF47BD;
					transition: .25s ease;
				}
			}
		}
	}
	&__banner {
		position: relative;
		height: 100vh;
		min-height: 550px;
		max-height: 590px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		& > * {
			opacity: 0;
		}

		&.in-view {
			& > * {
				opacity: 1;
				transition: .5s;
			}
		}
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			animation: fade 4s infinite;
			z-index: 1;
		}
		// &::before {
		// 	width: 240px;
		// 	height: 90px;
		// 	bottom: 120px;
		// 	left: -20px;
		// 	background: url('../img/lines2.png') no-repeat center center/contain;
		// }
		// &::after {
		// 	width: 350px;
		// 	height: 70px;
		// 	position: absolute;
		// 	top: 60px;
		// 	right: -20px;
		// 	background: url('../img/lines6.png') no-repeat center center/contain;
		// }
		h1 {
			margin-top: -40px;
			font-size: 40px;
			margin-bottom: 35px;
			position: relative;
			z-index: 2;
		}
		p {
			text-align: center;
			max-width: 780px;
			margin: 0 auto;
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 50px;
			font-family: "montserrat-l";
			position: relative;
			z-index: 2;
		}
		// a {
		// 	border: none;
		// 	padding: 2px;
		// 	border-radius: 25px;
		// 	background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
		// 	span {
		// 		font-family: "montserrat-b";
		// 		font-size: 12px;
		// 		line-height: 15px;
		// 		letter-spacing: 2px;
		// 		color: #fff;
		// 		text-transform: uppercase;
		// 		padding: 16px 35px;
		// 		display: block;
		// 		background: #1d004a;
		// 		border-radius: 25px;
		// 		transition: .25s ease-in;
		// 	}
		// 	&:hover {
		// 		span {
		// 			background: transparent;
		// 			transition: .25s ease-out;
		// 		}
		// 	}
		// }
	}
	.hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		cursor: pointer;
		position: relative;
		left: 10px;
		z-index: 10;
		span {
			display: block;
			position: relative;
			width: 30px;
			height: 4px;
			border-radius: 5px;
			background: #fff;
			&::after, &::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 4px;
				background: #fff;
				border-radius: 5px;
			}
			&::after {
				top: -10px;
			}
			&::before {
				bottom: -10px;
			}
		}
	}
	&__mob {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: linear-gradient(180deg, #0F003D 0%, #3f0068 100%);
		z-index: 50;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		transform: translate3d(0,-100%,0);
		transition: .3s ease-out;
		&-container {
			width: 100%;
			max-width: 1180px;
			margin: 0 auto;
			position: fixed;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: 100;

		}
		&.active {
			transform: translate3d(0,0,0);
			transition: .3s ease-out;
		}
		nav {
			margin-bottom: 20px;
			a {
				font-family: "montserrat";
				font-size: 20px;
				text-transform: uppercase;
				color: #fff;
				transition: .25s ease;
				padding: 10px;
				display: block;
				&:hover, &.active {
					color: #FF47BD;
					transition: .25s ease;
				}
			}
		}
		.close {
			display: flex;
			position: absolute;
			top: 30px;
			right: 20px;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			cursor: pointer;
			transform: rotate(45deg);
			// z-index: 22;
			opacity: .7;
			transition: .3s ease;
			&:active {
				opacity: 1;
				transition: .3s ease;
			}
			span {
				position: relative;
				width: 30px;
				height: 4px;
				border-radius: 5px;
				background: #fff;
				&::after {
					content: '';
					position: absolute;
					width: 30px;
					height: 4px;
					top: 0;
					left: 0;
					transform: rotate(90deg);
					background: #fff;
					border-radius: 5px;
				}
			}
		}
	}
}
.homepage-header {
	.header__top {
		max-width: 1180px;
		position: absolute;
		top: 0;
		width: 100%;
		left: 50%;
		transform: translate3d(-50%,0,0);
		padding-left: 20px;
		padding-right: 20px;
	}
	&__container {
		background: url('../img/homepage/main-bg.png') center top/cover;
		position: absolute;
		width: 100%;
		min-height: 120vh;
		top: 0;
		left: 0;
		padding-bottom: 63%;
		z-index: 1;
		transition: .2s ease-out;
	}
	&__banner {
		position: relative;
		z-index: 5;
		padding: 50px 20px 0;
		max-height: none;

		& > * {
			opacity: 0;
		}
		&.in-view {
			& > * {
				opacity: 1;
				transition: 0.6s ease-out;
			}
		}
		&.hidden {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			transform: scale(0.05);
			opacity: 0;
			transition: transform 1s cubic-bezier(.87,0,.31,.79), opacity .3s .7s ease-out;
		}
		&::before, &::after {
			display: none;
		}
		h1,.header__title {
			font-family: "conthrax";
			font-weight: 800;
			line-height: 1.4;
			text-align: center;
			letter-spacing: 4px;
			-webkit-text-fill-color: initial;
			color: #fff;
			text-transform: uppercase;
			// letter-spacing: 2px;
		}
		p {
			color: #fff;
			font-family: 'montserrat-l';
			// font-weight: 500;
		}
		// a {
		// 	padding: 0;
		// 	background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
		// 	background: #FF47BD;
		// 	// background: none;
		// 	// border: 2px solid #fff;
		// 	box-shadow: 0 4px 20px rgba(255,71,189,.5);
		// 	position: relative;
		// 	z-index: 2;
		// 	transition: .2s;
		// 	&:hover {
		// 		transform: scale(1.05);
		// 		transition: .25s;
		// 	}
		// 	span {
		// 		font-family: "montserrat-b";
		// 		font-size: 12px;
		// 		line-height: 15px;
		// 		letter-spacing: 2px;
		// 		color: #fff;
		// 		text-transform: uppercase;
		// 		padding: 16px 35px;
		// 		display: block;
		// 		background: none;
		// 		border-radius: 25px;
		// 		transition: .25s ease-in;
		// 	}
		// 	&:hover {
		// 		span {
		// 			background: none;
		// 			transition: .25s ease-out;
		// 		}
		// 	}
		// }
	}
}

.form {
	text-align: center;
	max-width: 1840px;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background: url('../img/form-bg.svg') no-repeat center center/ auto 135%;
	padding-top: 150px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;

	transform: scale(0.2);
	opacity: 0;
	&.revealed {
		position: relative;
		transform: scale(1);
		opacity: 1;
		transition: transform 1s 1.5s cubic-bezier(.73,.04,.24,.98), opacity .5s 2s ease-out;

	}
	.container {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 200px 20px;
		padding-top: 200px;
		padding-bottom: 200px;
		div {
			display: block;
			margin-bottom: 60px;
			position: relative;
			cursor: pointer;
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: linear-gradient(to right, transparent, rgba(255,255,255,.3), transparent);
			}
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: linear-gradient(to right, transparent, #fff, transparent);
				opacity: 0;
				transition: .25s;
			}
			&.active {
				label {
					transition: .3s;
					color: #fff;
				}
				&::before {
					opacity: 1;
					transition: .3s;
				}
			}
		}
	}
	label {
		display: block;
		font-family: 'montserrat-b';
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: rgba(255,255,255,.3);
		transition: .25s;
		position: relative;
		cursor: pointer;
	}
	input {
		display: block;
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 16px 0;
		font-size: 32px;
		font-family: 'montserrat-sb';
		color: #fff;
		text-align: center;
		border: none;
		background: transparent;
		border-radius: 0;
		appearance: none;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    order: 4;

	    &::placeholder {
	    	color: rgba(255,255,255,.3);
	    }
	   	&:-webkit-autofill,
	   	&:-webkit-autofill:hover, 
	   	&:-webkit-autofill:focus, 
	   	&:-webkit-autofill:active  {
	   	    -webkit-animation-name: autofill;
   	     	-webkit-animation-fill-mode: both;
	   	}
	}
	button {
		margin-top: 5px;
	}
}
@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}
.about {
	position: relative;
	z-index: 3;
	max-width: 960px;
	margin: 0 auto;
	// background: url('../img/homepage/about-bg.svg') no-repeat center center/100% 100%;
	&.in-view {
		.about__content {
			opacity: 1;
			transition: .6s ease-out;
		}
	}
	.container {
		position: relative;
		// max-width: 780px;
		margin: 0 auto;
		// padding-bottom: 113%;
	}
	&__content {
		opacity: 0;
		// position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	h2 {
		max-width: 800px;
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 32px;
		letter-spacing: 1.5px;
		line-height: 1.5;
		font-weight: 700;
	}
	p {
		font-family: 'montserrat-l';
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
		max-width: 760px;
		margin: 0 auto 40px;
	}
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		li {
			margin: 10px 20px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
.rellax {
	transition: opacity 0.5s ease-out, transform 0s ease-in !important;
}
.advantages {
	position: relative;
	margin-top: 400px;
	z-index: 2;
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	animation: fade 4s infinite;
	// 	width: 240px;
	// 	height: 90px;
	// 	top: 150px;
	// 	right: -20px;
	// 	background: url('../img/lines1.png') no-repeat center center/contain;
	// 	z-index: 1;
	// }
	&::before {
		content: '';
		position: absolute;
		height: 150%;
		width: 100%;
		top: -23%;
		left: -13%;
		background: url('../img/homepage/advantages-bg1.svg') no-repeat right center/cover;
		z-index: 1;
	}
	&__list {
		max-width: 1220px;
		margin: 0 auto;
		position: relative;
		z-index: 10;
		padding: 0 20px;
		// &::after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	animation: fade 4s infinite;
		// 	width: 350px;
		// 	height: 70px;
		// 	position: absolute;
		// 	bottom: -100px;
		// 	right: -80px;
		// 	background: url('../img/lines7.png') no-repeat center center/contain;
		// 	z-index: 1;
		// }
		li {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			margin-bottom: 70px;
			&.in-view {
				img, .gif-wrapper {
					opacity: 1;
					transition: .5s ease-out;
				}
				.advantages__content {
					opacity: 1;
					transition: .5s ease-out;
					transition-delay: .1s;
				}
			}
			&.right {
				flex-flow: row-reverse nowrap;
				.advantages__content {
					width: 50%;
					margin-right: 70px;
					margin-left: 0;
				}
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		
		img {
			width: 50%;
			max-width: 540px;
			opacity: 0;
		}
		.gif-wrapper {
			opacity: 0;
			width: 50%;
			position: relative;
			max-width: 540px;
			span {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 115%;
				background: url('../img/homepage/advantages-frame1.svg') center center/cover;
			}
			&::after {
				position: absolute;
				content: '';
				top: 7.5%;
				left: 6.5%;
				background: url('../img/homepage/advantages-frame2.svg') no-repeat center center/contain;
				width: 87%;
				height: 85%;
				z-index: 4;
			}
			img {
				// display: none;
				position: absolute;
				top: 7.8%;
				left: 7.2%;
				width: 85.6%;
				height: 84.4%;
				z-index: 3;
			}
		}
		h2 {
			font-size: 32px;
			line-height: 1.4;
			margin-bottom: 20px;
			letter-spacing: 1.5px;
		}
		p {
			font-size: 16px;
			line-height: 1.75;
		}
	}
	&__content {
		margin-left: 70px;
		opacity: 0;
	}
}
.features {
	margin-top: -200px;
	padding-top: 600px;
	position: relative;
	z-index: 2;
	
	.section-title {
		margin-bottom: 150px;
		& > * {
			opacity: 0;
		}
		&.in-view > * {
			opacity: 1;
			transition: .5s ease-out;
		}
		h2 {
			margin-bottom: 20px;
			font-weight: 700;
		}
		p {
			max-width: 620px;
		}
	}
	&__list-wrap {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0%;
			left: -16%;
			background: url('../img/homepage/features-bg.svg') no-repeat right center/cover;
			z-index: 1;
		}
	}
	&__list {
		position: relative;
		padding: 0 20px;
		max-width: 1200px;
		margin: 0 auto;
		// &::after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	animation: fade 4s infinite;
		// 	width: 350px;
		// 	height: 70px;
		// 	position: absolute;
		// 	top: -50px;
		// 	right: -60px;
		// 	background: url('../img/lines4.png') no-repeat center center/contain;
		// 	z-index: 1;
		// }
		
		li {
			display: flex;
			flex-flow: row-reverse nowrap;
			justify-content: space-between;
			align-items: center;
			position: relative;
			z-index: 10;
			img {
				opacity: 0;
			}
			.features__text-block {
				h3, p {
					opacity: 0;
				}
			}
			&.in-view {
				img {
					opacity: 1;
					transition: .5s ease-out;
				}
				.features__text-block {
					h3, p {
						opacity: 1;
						transition: .5s ease-out;
					}
					h3 {
						transition-delay: .15s;
					}
					p {
						transition-delay: .25s;
					}
				}
			}
		}
		li:nth-of-type(1) {
			justify-content: flex-end;
			padding-top: 150px;
			background: url('../img/homepage/features11.svg') no-repeat 0 100%/contain;
			// &::after {
			// 	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	animation: fade 4s infinite;
			// 	width: 350px;
			// 	height: 70px;
			// 	position: absolute;
			// 	bottom: -120px;
			// 	left: -100px;
			// 	background: url('../img/lines5.png') no-repeat center center/contain;
			// 	z-index: 1;
			// }
			.wrapper1 {
				width: auto;
				padding-left: 60px;
				padding-right: 60px;
				margin-left: calc(3% + 3px);
				margin-bottom: -1px;
				span {
					display: none;
				}
				img {
					display: block;
					max-width: 100%;
					position: relative;
					width: 476px;
					height: auto;
					left: auto;
					transform: none;
				}
			}
		}
		li:nth-of-type(2) {
			padding-top: 180px;
			margin-bottom: 100px;
			flex-flow: row nowrap;
			.features__text-block {
				margin-right: 25px;
			}
		}
		li:nth-of-type(3) {
			.features__text-block {
				margin-left: 30px;
			}
		}
	}
	&__text-block {
		width: 40%;
		max-width: 440px;

		h3 {
			font-size: 26px;
			line-height: 1.75;
			margin-bottom: 20px;
			font-family: "conthrax";
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
		p {
			font-size: 26px;
			line-height: 1.55;
		}
	}
	&__img-wrapper {
		width: 60%;
		position: relative;
		max-width: 640px;
		// background: url('../img/homepage/features1.svg') center center/100% 100%;
		
		span {
			display: block;
			position: relative;
			width: 100%;
			padding-bottom: 113%;
			// background: url('../img/homepage/features2.svg') center center/0 100%;
		}
		img {
			position: absolute;
			bottom: 0px;
			width: 50%;
			left: 50%;
			transform: translate3d(-50%,0,0);
		}
	}

	.wrapper2 {
		background: url('../img/homepage/features12.svg') center center/100% 100%;
	}
	.wrapper3 {
		background: url('../img/homepage/features12.svg') center center/100% 100%;
	}
	&__combination {
		padding-top: 240px;
		padding-bottom: 300px;
		text-align: center;
		position: relative;
		z-index: 2;
		.section-title {
			max-width: 760px;
			margin: 0 auto;
			padding: 0 15px;
			margin-bottom: 0;
			& > * {
				opacity: 0;
			}
			&.in-view > * {
				opacity: 1;
				transition: .5s ease-out;
			}
		}
		// &::after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	animation: fade 4s infinite;
		// 	width: 350px;
		// 	height: 70px;
		// 	position: absolute;
		// 	bottom: 30px;
		// 	right: -20px;
		// 	background: url('../img/lines4.png') no-repeat center center/contain;
		// 	z-index: 1;
		// }
		ul {
			max-width: 1150px;
			margin: 0 auto;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			&.in-view {
				li:nth-of-type(1) {
					transform: translate3d(15%,0,0);
					transition: 1s ease;
				}
				li:nth-of-type(3) {
					transform: translate3d(-15%,0,0);
					transition: 1s ease;
				}
			}
			li {
				position: relative;
				z-index: 2;
			}
			img {
				width: 150%;
				transform: translate3d(-22.5%,0,0);
				height: auto;
			}
		}
		li:nth-of-type(1) {
			transform: translate3d(100%,0,0);
			z-index: 2;
		}
		li:nth-of-type(2) {
			z-index: 3;
		}
		li:nth-of-type(3) {
			transform: translate3d(-100%,0,0);
			z-index: 2;
		}
	}
}
.quote-section {
	padding-top: 0;
	padding-bottom: 330px;
	position: relative;
	.container.in-view {
		.quote-section__description,
		.quote-section__quote  {
			opacity: 1;
			transition: .6s ease-out;
		}
		.quote-section__description {
			transition-delay: .15s;
		}
	}
	// &::before {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	animation: fade 4s infinite;
	// 	width: 240px;
	// 	height: 90px;
	// 	bottom: 120px;
	// 	left: -20px;
	// 	background: url('../img/lines2.png') no-repeat center center/contain;
	// 	z-index: 1;
	// }
	&__banner {
		width: 100%;
		height: 600px;
		// background: url('../img/career/hero.jpg') no-repeat center center/cover;
	}
	.container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 0 35px;
	}
	.section-title {
		padding: 150px 0 0 0;
		max-width: 1140px;
		text-align: left;
		width: 45%;
		opacity: 0;
		h2,p {
			display: block;
			max-width: 580px;
		}
		h2 {
			margin-bottom: 25px;
		}
		p {
			margin: 0;
			font-size: 16px;
			line-height: 28px;
		}
	}
	&__quote {
		opacity: 0;
		display: block;
		width: 570px;
		height: 655px;
		padding: 0 110px;
		transform: translate3d(70px,-35%,0);
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background: url('../img/blockquote-bg.svg') no-repeat center center/contain;
		blockquote {
			display: block;
			font-size: 26px;
			line-height: 40px;
			margin-bottom: 20px;
		}
		span {
			display: block;
			width: 100%;
			font-family: "montserrat-b";
			font-size: 16px;
			line-height: 1.75;
		}
	}
}
.benefits {
	position: relative;
	padding: 0 20px;
	padding-bottom: 220px;
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	animation: fade 4s infinite;
	// 	width: 350px;
	// 	height: 70px;
	// 	position: absolute;
	// 	bottom: 0px;
	// 	right: -20px;
	// 	background: url('../img/lines6.png') no-repeat center center/contain;
	// 	z-index: 1;
	// }
	.section-title {
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
		margin-bottom: 150px;
		h2 {
			margin-bottom: 60px;
		}
	}
	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
		li {
			text-align: center;
			width: 33%;
		}
		&-img {
			max-width: 330px;
			margin: 0 auto 10px;

			img {
				width: 100%;
				height: auto;
			}
		}
		h3 {
			font-family: "conthrax";
			text-transform: uppercase;
			font-weight: 300;
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 3px;
			margin-bottom: 20px;
		}
		p {
			max-width: 320px;
			margin: 0 auto;
			font-size: 16px;
			line-height: 28px;
		}
	}
}
.positions {
	position: relative;
	padding: 150px 20px 200px;
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	animation: fade 4s infinite;
	// 	width: 350px;
	// 	height: 70px;
	// 	position: absolute;
	// 	bottom: 80px;
	// 	right: -20px;
	// 	background: url('../img/lines6.png') no-repeat center center/contain;
	// 	z-index: 1;
	// }
	// &::before {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	animation: fade 4s infinite;
	// 	width: 240px;
	// 	height: 90px;
	// 	bottom: 45%;
	// 	left: -20px;
	// 	background: url('../img/lines2.png') no-repeat center center/contain;
	// 	z-index: 1;
	// }
	.section-title {
		margin-bottom: 95px;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
		h2 {
			margin-bottom: 15px;
		}
	}
	&__list {
		max-width: 630px;
		margin: 0 auto;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
		li {
			position: relative;
			width: 100%;
			margin-bottom: 20px;
			background: url('../img/career/position-border.svg') no-repeat top left/contain;
			& > a {
				color: #fff;
				display: flex;
				flex-flow: column;
				justify-content: center;
				padding: 40px;
			}
		}
		
		h3 {
			font-family: "montserrat-l";
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 1px;
		}
		button {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate3d(0,-50%,0);
			display: block;
			padding: 2px;
			width: 50px;
			height: 50px;
			border: none;
			border-radius: 50%;
			overflow: hidden;
			background: linear-gradient(130deg, #B44DFF 0%, #FF4361 100%);
			&:hover {
				span {
					background: transparent;
					transition: .25s ease;
				}
			}
			span {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: #370060;
				transition: .25s ease;
			}
			&::before {
				content: '';
				margin: 0 auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%,-50%,0);
				display: block;
				width: 11px;
				height: 18px;
				background: url('../img/arrow.svg') center center/contain;
			}
		}
		&-contact-us {
			max-width: 540px;
			margin: 40px auto 0;
			text-align: center;
			a {
				color: #FF47BD;
			}
		}
	}
}
.contact {
	max-width: 890px;
	margin: 0 auto;
	margin-bottom: 400px;
	opacity: 0;
	&.in-view {
		opacity: 1;
		transition: .5s ease-out;
	}
	.section-title {
		font-size: 40px;
		line-height: 60px;
		margin-bottom: 90px;

	}
	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		li {

		}
		a {
			font-size: 40px;
			line-height: 49px;
			color: #fff;
			display: block;
			margin-bottom: 10px;
		}
		span {
			display: block;
			font-size: 18px;
			line-height: 28px;
			color: #FF47BD;
			text-align: center;
		}
	}
}
.footer {
	height: 600px;
	background: url('../img/footer-bg.svg') no-repeat center top/cover;
	position: relative;
	z-index: 2;
	&.in-view {
		.container {
			opacity: 1;
			transition: .5s ease-out;
		}
	}
	.container {
		opacity: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
	}
	h3 {
		display: block;
		font-family: "montserrat-l";
		font-size: 26px;
		line-height: 40px;
		margin-bottom: 60px;
	}

	&__button {
		display: block;
		font-family: "montserrat-b";
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #ff47bd;
		font-size: 12px;
		line-height: 15px;
		border-radius: 30px;
		overflow: hidden;
		background: #fff;
		padding: 18px 40px;
		box-shadow: 0 5px 25px rgba(255,255,255,.6);
		margin-bottom: 50px;
		transition: .25s ease;
		&:hover {		
			transition: .25s ease;
			background: #46006e;
			color: #fff;
			box-shadow: 0 5px 25px rgba(70, 0, 110,.6);
		}
	}
	ul {
		li, a {
			display: inline-block;
			font-size: 12px;
			line-height: 15px;
			padding: 5px;
			font-family: "montserrat";
			color: #fff;
			letter-spacing: 1px;
		}
	}
		
	&__contact {
		margin-bottom: 5px;
		li {
			a {
				font-size: 16px;
			}
		}
		
	}
	&__links {
		margin-top: 15px;
		padding: 30px 0;
		li {
			a {
				color: rgba(255,255,255,.6);
				transition: .25s ease;
				&:hover {
					color: #fff;
					transition: .25s ease;
				}
			}
		}
		
	}
}
.about-header {
	.header__banner {
		display: none;
		transition: none;
		&.in-view {
			h1,p {
				opacity: 1;
				transition: .5s ease-out;
			}
		}
		h1 {
			opacity: 0;
			background: $text-bg;
			letter-spacing: 4px;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: #ff4bf0;
		}
		p {
			opacity: 0;
		}
	}
	&__container {
		min-height: 80vh;
	}
}
.about-description {
	margin-top: 150px;
	position: relative;
	z-index: 31;
	&.in-view {
		.about__content {
			opacity: 1;
			transition: .5s ease-out;
		}
	}
	.about__content {
		opacity: 0;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 25px;
		font-weight: 700;	
	}
}
.management {
	position: relative;
	padding: 0 15px 200px;
	// &::after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	animation: fade 4s infinite;
	// 	width: 350px;
	// 	height: 70px;
	// 	position: absolute;
	// 	bottom: 80px;
	// 	left:-20px;
	// 	background: url('../img/lines5.png') no-repeat center center/contain;
	// 	z-index: 1;
	// }
	.container {
		max-width: 1200px;
	}
	h2 {
		opacity: 0;
		font-size: 40px;
		margin-bottom: 50px;
		font-weight: 700;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
	}
	
	&__list {
		display: flex;
		justify-content: space-between;
		li {
			text-align: center;
			width: 33%;
			max-width: 350px;
			opacity: 0;
			margin: 0 10px;
			&.in-view {
				opacity: 1;
				transition: .5s ease-out;
			}
			&:nth-of-type(2) {
				padding-top: 100px;
			}
		}
		h3 {
			font-size: 26px;
			font-family: "conthrax";
			text-transform: uppercase;
			font-weight: 700;
			background: $text-bg;
			letter-spacing: 3px;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: #ff4bf0;
			line-height: 1.4;
			margin-bottom: 20px;
		}
		span {
			font-size: 20px;
			font-family: "montserrat";
			margin-bottom: 20px;
			display: inline-block;
		}
		p {
			margin-bottom: 25px;
		}
		a {
			display: inline-block;
			border: none;
			padding: 2px;
			border-radius: 25px;
			background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
			span {
				font-family: "montserrat-b";
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 2px;
				color: #fff;
				text-transform: uppercase;
				padding: 16px 35px;
				display: block;
				background: #250950;
				border-radius: 25px;
				transition: .25s ease-in;
				margin-bottom: 0;
			}
			&:hover {
				span {
					background: transparent;
					transition: .25s ease-out;
				}
			}
		}
	}
	&.advisors {
		position: relative;
		padding-bottom: 250px;
		// &::after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	animation: fade 4s infinite;
		// 	width: 240px;
		// 	height: 90px;
		// 	bottom: 100px;
		// 	right: -20px;
		// 	left: auto;
		// 	background: url('../img/lines1.png') no-repeat center center/contain;
		// 	z-index: 1;
		// }
		.management__list {
			li {
				padding-top: 100px;
				&:nth-of-type(2) {
					padding-top: 0px;
				}
			}
			img {
				max-width: 340px;
				margin-bottom: 0;
			}
			a {
				span {
					background: #34005e;
				}
				&:hover {
					span {
						background: transparent;
						transition: .25s ease-out;
					}
				}
			}
		}
	}
	&__img-holder:hover img:nth-child(2) {
	        -webkit-animation: glitch-horizontal 3s infinite linear alternate;
	           -moz-animation: glitch-horizontal 3s infinite linear alternate;
	             -o-animation: glitch-horizontal 3s infinite linear alternate;
	                animation: glitch-horizontal 3s infinite linear alternate;
	      }
	&__img-holder:hover img:nth-child(3) {
	        -webkit-animation: glitch-horizontal-2 2s infinite linear alternate;
	           -moz-animation: glitch-horizontal-2 2s infinite linear alternate;
	             -o-animation: glitch-horizontal-2 2s infinite linear alternate;
	                animation: glitch-horizontal-2 2s infinite linear alternate;
	      }
	&__img-holder:hover img:nth-child(4) {
	        -webkit-animation: glitch-vertical 1s infinite linear alternate;
	           -moz-animation: glitch-vertical 1s infinite linear alternate;
	             -o-animation: glitch-vertical 1s infinite linear alternate;
	                animation: glitch-vertical 1s infinite linear alternate;
	      }
	&__img-holder:hover img:nth-child(5) {
	        -webkit-animation: glitch-flash 0.5s steps(1, end) infinite;
	           -moz-animation: glitch-flash 0.5s steps(1, end) infinite;
	             -o-animation: glitch-flash 0.5s steps(1, end) infinite;
	                animation: glitch-flash 0.5s steps(1, end) infinite;
	      }
	&__img-holder:hover img:nth-child(6) {
	        -webkit-animation: glitch-flash-2 0.5s steps(1, end) infinite;
	           -moz-animation: glitch-flash-2 0.5s steps(1, end) infinite;
	             -o-animation: glitch-flash-2 0.5s steps(1, end) infinite;
	                animation: glitch-flash-2 0.5s steps(1, end) infinite;
	      }
	&__img-holder {
		// position: relative;
		// max-width: 320px;
		// width: 100%;
		// padding-bottom: 100%;

		margin: 0 auto 20px;
		position: relative;
		width: 100%;
		max-width: 310px;
		height: 340px;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		img:nth-child(n+1) {
		    opacity: 1;
		 }
		img:nth-child(n+2) {
		    opacity: 0;
		    -webkit-transform: translate3d(1.1, 0, 0);
		       -moz-transform: translate3d(1.1, 0, 0);
		            transform: translate3d(1.1, 0, 0);
		 }
		img:nth-child(1) {
		    opacity: 1;
		  }
		img:nth-child(2) {
		    opacity: 1;
		    -webkit-transform: translate3d(1.1, 0, 0);
		       -moz-transform: translate3d(1.1, 0, 0);
		            transform: translate3d(1.1, 0, 0);
		  }
		img:nth-child(3) {
		    -webkit-transform: translate3d(-1.1, 0, 0);
		       -moz-transform: translate3d(-1.1, 0, 0);
		            transform: translate3d(-1.1, 0, 0);
		  }
		img:nth-child(4) {
		    -webkit-transform: translate3d(-1.1, 0, 0);
		       -moz-transform: translate3d(-1.1, 0, 0);
		            transform: translate3d(-1.1, 0, 0);
		  }
		img:nth-child(5) {
		    -webkit-transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
		       -moz-transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
		            transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
		  }
		img:nth-child(6) {
		    -webkit-transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
		       -moz-transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
		            transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
		  }
	}
	// img {
	//   position: absolute;
	//   top: 0;
	//   left: 0;
	//   width: 100%;
	//   max-height: 340px;

	// }
	
}

@keyframes glitch-horizontal {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
            clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  10% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
            clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
            clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
            clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  50% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
            clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  70% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
            clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
            clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
}

@keyframes glitch-horizontal-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-10px, 0, 0);
       -moz-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
            clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
            clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
            clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
            clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
            clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
            clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
            clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
            clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
            clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
            clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
            clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(-10px, 0, 0);
       -moz-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-vertical {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, -5px, 0) scale3d(-1,-1,1);
       -moz-transform: translate3d(0, -5px, 0) scale3d(-1,-1,1);
            transform: translate3d(0, -5px, 0) scale3d(-1,-1,1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
            clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
            clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
            clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
            clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
            clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
            clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
            clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
            clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
            clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
            clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
            clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
            clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
            clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
            clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
            clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
            clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
            clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
            clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
            clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0) scale3d(-1,-1,1);
       -moz-transform: translate3d(0, -10px, 0) scale3d(-1,-1,1);
            transform: translate3d(0, -10px, 0) scale3d(-1,-1,1);
  }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-flash {
  0% {
    opacity: 0.2;
    -webkit-transform: translate3d(10px, 5px, 0);
       -moz-transform: translate3d(10px, 5px, 0);
            transform: translate3d(10px, 5px, 0);
  }
  33%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes glitch-flash-2 {
  0% {
    opacity: 0.2;
    -webkit-transform: translate3d(5px, 10px, 0);
       -moz-transform: translate3d(5px, 10px, 0);
            transform: translate3d(5px, 10px, 0);
  }
  13%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.generic {
	margin-bottom: 180px;
}
.job-section {
	padding: 0 35px;
	padding-top: 115px;
	position: relative;
	// &::before {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	animation: fade 4s infinite;
	// 	width: 240px;
	// 	height: 90px;
	// 	bottom: 45%;
	// 	left: -20px;
	// 	background: url('../img/lines2.png') no-repeat center center/contain;
	// 	z-index: 1;
	// }
	.container {
		max-width: 900px;
	}
	.section-title {
		margin-bottom: 48px;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
		span {
			font-size: 12px;
			text-transform: uppercase;
			font-family: "montserrat-b";
			letter-spacing: 2px;
			a {
				color: #fff;
				&::after {
					display: inline-block;
					content: '/';
					padding: 0 16px;
				}
			}
		}
		h1 {
			font-size: 40px;
			line-height: 45px;
			margin-top: 12px;
		}
	}
	&__text-block {
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
		h2 {
			font-family: "conthrax";
			text-transform: uppercase;
			font-size: 26px;
			letter-spacing: 3px;
			font-weight: 400;
			margin-top: 50px;
			margin-bottom: 30px;
		}
		h3 {
			display: block;
			font-family: "montserrat-b";
			font-size: 24px;
			color: #fff;
			margin-bottom: 20px;
		}
		strong {
			font-family: "montserrat-b";
		}
		p {
			display: inline-block;
			font-family: "montserrat-l";
			margin-bottom: 18px;
			&.marked {
				font-size: 20px;
				line-height: 28px;
				padding: 0;
				font-family: "montserrat-b";
			}
		}
		ul {
			li {
				position: relative;
				margin-bottom: 18px;
				padding-left: 23px;
				&::before {
					content: '';
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #FF47BD;
					position: absolute;
					top: 10px;
					left: 0;
				}
			}
		}
		a {
			color: #ff47bd;
		    transition: .25s ease;
		    &:hover {
		    	text-decoration: underline !important;
		    }
		}
	}
	&__apply {
		display: block;
		width: 200px;
		margin: 45px auto 0;
		text-align: center;
		padding: 2px;
		border-radius: 25px;
		background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
		span {
			font-family: "montserrat-b";
			font-size: 12px;
			line-height: 15px;
			letter-spacing: 2px;
			color: #fff;
			text-transform: uppercase;
			padding: 16px 35px;
			display: block;
			background: #2D0058;
			border-radius: 26px;
			transition: .25s ease-in;
		}
		&:hover {
			span {
				background: transparent;
				transition: .25s ease-out;
			}
		}
	}
}
.quote-section.jobpage {
	padding-top: 100px;
	.section-title {
		padding-top: 80px;
	}
	.quote-section__quote {
		transform: translate3d(70px,0,0);
	}
	.quote-section__banner {
		margin-top: -200px;
	}
}

.blog {
	color: #fff;
	margin-top: 100px;
	padding: 50px 20px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		height: 105%;
		width: 100%;
		top: 0;
		left: 0;
		background: url('../img/blog/blog-bg.svg') no-repeat left top/82% auto;
		z-index: 1;
	}
	.container {
		max-width: 1040px;
	}
	a {
		display: block;
	}
	h1,h2 {
		background: none;
		letter-spacing: 0px;
		-webkit-text-fill-color: initial;
		background-clip: initial;
		font-family: "montserrat-b";
		color: #fff;
	}
	h1 {
		font-size: 54px;
		line-height: 64px;
		margin-bottom: 70px;
		letter-spacing: 5px;
	}
	h2 {
		font-size: 24px;
		line-height: 36px;
		letter-spacing: 2.25px;
		margin-bottom: 25px;
	}
	.img {
		border-radius: 40px;
		overflow: hidden;
		padding-bottom: 53%;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	
	p {
		font-size: 16px;
		line-height: 26px;
		color: #fff;
	}
	&__categories {
		margin-bottom: 25px;
		li {
			display: inline-block;
			margin-right: 6px;
		}
		a {
			padding: 7px 10px 5px;
			color: #373737;
			font-family: "montserrat-b";
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: 2px;
			background: #fff;
			border-radius: 20px;
			line-height: 1;
		}
	}
	&__info {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		img {
			width: 48px;
			height: 48px;
			border-radius: 50%;
			margin-right: 20px;
		}
		&-flex {
			a {
				display: inline;
				color: #fff;
				font-size: 14px;
				letter-spacing: 1px;
			}
			.author {
				font-family: "montserrat-b";
				span {
					font-family: "montserrat";
				}
				&::after {
					display: inline-block;
					width: 1px;
					height: 13px;
					vertical-align: middle;
					background: #fff;
					content: '';
					margin: 0 10px 0 15px;
				}
			}
		}
	}
	&__main {
		position: relative;
		z-index: 2;
		max-width: 940px;
		margin: 0 auto 150px;
		.img {
			margin-bottom: 60px;
		}
		p {
			font-size: 18px;
			line-height: 32px;
			margin-bottom: 40px;
		}
		&-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.full {
				color: #FF47BD;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 1.7px;
				font-family: "montserrat-b";
			}
		}
	}
	&__articles {
		position: relative;
		z-index: 2;
		.grid-item {
			width: 45%;
			color: #fff;
			position: relative;
			margin-bottom: 10%;
		}
		.gutter-sizer {
			width: 10%; 
		}
		.blog__info {
			&-flex {
				a {
					font-size: 12px;
				}
			}
		}
		.no-image {
			background: linear-gradient(315deg, #FF47BD 0%, #B969FF 100%);
			border-radius: 40px;
			padding: 90px 40px;
			&.margin-top {
				margin-top: 50px;
			}
		}
		.img {
			margin-bottom: 36px;
			padding-bottom: 125%; 
		}
		p {
			margin-bottom: 20px;
		}
	}
	&__text-block {
		max-width: 790px;
		position: relative;
		z-index: 2;
		margin: 0 auto;
		font-size: 20px;
		line-height: 34px;
		h2 {
			font-size: 25px;
			line-height: 34px;
			margin: 60px 0;
		}
		h3,h4 {
			font-family: "montserrat-sb";
			margin-bottom: 20px;
			font-size: 22px;
			letter-spacing: 1px;
		}
		h4 {
			font-size: 18px;
		}
		p {
			font-size: 20px;
			line-height: 34px;
			margin-bottom: 50px;
		}
		blockquote {
			position: relative;
			font-size: 26px;
			line-height: 40px;
			color: #ff78f5;
			font-family: "montserrat";
			padding: 25px 30px;
			background: url('../img/blog/border.png') center center/100% 100%;
			p {
				position: relative;
				z-index: 2;
				
				margin-bottom: 0;
				border: 3px solid;
				border-image: linear-gradient(160deg, #B44DFF 0%, rgba(255,67,97,.2) 80%, rgba(255,67,97,.01) 100%) 3;
				border-radius: 50%;
			}
			&::before {
				position: absolute;
				z-index: 1;
				// content: '';
				width: 100%;
				height: 100%;
				// height: calc(100% + 4px);
				left: 0px;
				top: 0px;
				border-radius: 10px;
				// border: 2px solid;
				// background: linear-gradient(160deg, #B44DFF 0%, rgba(255,67,97,.2) 80%, rgba(255,67,97,.01) 100%);
				
			}
		}
		ul {
			padding-left: 28px;
			li {
				position: relative;
				margin-bottom: 12px;
				&::before {
					content: '';
					display: inline-block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #fff;
					position: absolute;
					left: -25px;
					top: 12px;
				}
			}
		}
		a {
			color: #FF73F7;
			&:hover, &:visited {
				color: #e21dd7;
			}
		}
	}
	&__navigation {
		max-width: 950px;
		margin: 100px auto 110px;
		padding: 0 20px;
		text-align: center;
		span {
			display: block;
			font-family: "montserrat";
			text-transform: uppercase;
			font-size: 12px;
			margin-bottom: 4px;
			color: #fff;
			letter-spacing: 1px;
		}
		.share {
			width: 200px;
			height: 50px;
			border-radius: 25px;
			display: flex;
			margin: 0 auto;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			margin-bottom: -25px;
			position: relative;
			background: #4a0071;
			z-index: 2;
			a {
				display: block;
				width: 25px;
				margin: 0 4px;
			}
		}
		&-list {
			position: relative;
			z-index: 1;
			width: 100%;
			display: flex;
			border-radius: 5px;
			overflow: hidden;
			text-align: left;
			li {
				display: block;
				width: 50%;
				background: #46006E;
				h2 {
					color: #FF78F5;
				}
				&.right {
					text-align: right;
					background: linear-gradient(113.27deg, #B969FF 0%, #FF47BD 100%);
					h2 {
						margin-right: 0;
						margin-left: auto;
						color: #fff;
					}
				}
			}
			a {
				display: block;
				position: relative;
				padding: 58px 25px;
			}
			h2 {
				background: none;
				letter-spacing: 0px;
				-webkit-text-fill-color: initial;
				background-clip: initial;
				font-family: "montserrat-sb";
				color: #fff;
				font-size: 18px;
				line-height: 28px;
				max-width: 340px;
			}
		}
	}
}
.blog-post {
	h1 {
		margin-bottom: 40px;
	}
	.blog__main {
		margin-bottom: 60px;
	}
	.blog__main-info {
		margin-bottom: 40px;
		.min-read {
			color: #fff;
			font-size: 14px;
		}
		.author {
			&::after {
				display: none;
			}
		}
	}
}
.portfolio {
	&-section {
		padding: 130px 20px;
	}
	&-flex {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		&--wide {
			padding: 0px;
			max-width: 1340px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			.portfolio__screens {
				margin: 0 20px;
			}
			.portfolio__description {
				padding-left: 50px;
			}
		}
	}
	&__description {
		max-width: 440px;
		color: #fff;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s;
		}
		img {
			margin-bottom: 20px;
		}
		h2 {
			font-size: 24px;
			font-family: "conthrax";
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 25px;
			-webkit-text-fill-color: initial;
			background-clip: initial;
			background: none;
			color: #fff;
		}
		p {
			font-size: 26px;
			letter-spacing: .4px;
			font-family: "montserrat";
			line-height: 1.4;
			margin-bottom: 40px;
		}
		&--gradient {
			position: relative;
			max-width: 570px;
			// margin: -170px auto 0;
			background: url('../img/blockquote-bg.svg') no-repeat center center/contain;
			padding: 190px 70px;
			img {
				position: absolute;
				bottom: 0;
				left: 12%;
			}
		}
	}
	&__screens {
		margin-right: 50px;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s;
		}
		ul {
			max-width: 625px;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			&.in-view {
				li:nth-of-type(2) {
					transform: translate3d(0,0,0);
					transition: 1s ease;
				}
			}
			li {
				position: relative;
				z-index: 2;
			}
			img {
				width: 100%;
				height: auto;
			}
			li:nth-of-type(1) {
				z-index: 3;
				margin-right: -11%;
				width: 60%;
			}
			li:nth-of-type(2) {
				z-index: 2;
				transform: translate3d(-80%,0,0);
				width: 55%;
			}
		}
		&.right {
			margin-right: 0;
			margin-left: -30px;
			ul {
				&.in-view {
					li:nth-of-type(2) {
						
						
					}
					li:nth-of-type(1) {
						transform: translate3d(0,0,0);
						transition: 1s ease;
					}
				}
				li:nth-of-type(2) {
					z-index: 3;
					transform: translate3d(0,0,0);
					margin-left: -11%;
					width: 60%;
				}
				li:nth-of-type(1) {
					z-index: 2;
					transform: translate3d(80%,0,0);
					margin-right: 0;
					width: 55%;
				}
			}
		}
		&.screen {
			max-width: 440px;
			position: absolute;
			right: -25px;
		    bottom: -7px;
		    ul {
		    	align-items: flex-end;
		    }
			li {
				&:nth-of-type(1) {
					width: 55%;
				}
				&:nth-of-type(2) {
					width: 60%;
				}
			}
		}
	}
}
.flir {
	position: relative;
	&::before {
		position: absolute;
		top: 20%;
		left: 0;
		content: '';
		width: 90%;
		height: 150%;
		background: url('../img/portfolio/main-bg.svg') no-repeat left top/contain;
		z-index: 1;
	}
	.fading {
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s;
		}
	}
	.section-title {
		margin-bottom: 100px;
		h2 {
			font-size: 40px;
			line-height: 60px;
			letter-spacing: 4px;
			margin-bottom: 20px;
		}
		p {
			max-width: 780px;
			font-size: 16px;
			letter-spacing: .5px;
			line-height: 1.7;
		}
	}
	&__images {
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
		z-index: 3;
		&::after {
			display: none;
		}
		ul {
			&.in-view {
				li:nth-of-type(1) {
					transform: translate3d(25%,0,0);
				}
				li:nth-of-type(3) {
					transform: translate3d(-25%,0,0);
				}
			}
			img {
				width: 100%;
				height: auto;
				transform: translate3d(0%,0,0);
			}
		}
		li:nth-of-type(1) {
			img {
				width: 90%;
			}
		}
		li:nth-of-type(3) {
			img {
				width: 90%;
			}
		}
	}
	&__description {
		position: relative;
		z-index: 2;
		margin: -170px auto 0;
	}
}
.seb {
	position: relative;
	z-index: 2;
	&__diagram {
		max-width: 440px;
		width: 100%;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s;
		    .svg-circles {
		        circle {
		            animation: load2 2s forwards;
		            animation-delay: .5s;
					&:nth-child(2) {
						animation: load 2.5s forwards;
						animation-delay: .5s;
					}
					&:nth-child(2n-1) {
						animation: none;
					}
		        }
		    }
		}
		h2 {
			margin-bottom: 100px;
			font-size: 24px;
			font-family: "conthrax";
			text-transform: uppercase;
			letter-spacing: 1px;
			-webkit-text-fill-color: initial;
			background-clip: initial;
			background: none;
			color: #fff;
		}
		&-circles {
			position: relative;
			text-align: center;
			width: 100%;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 20px;
			padding: 70px 50px 40px;
			margin-bottom: 40px;
			img {
				position: absolute;
				top: -65px;
				left: 0;
			}
			.increase {
				text-align: center;
				font-size: 16px;
				font-family: "montserrat-b";
				text-transform: uppercase;
				color: rgba(255,255,255,.3);
				position: absolute;
				line-height: 1;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%,-50%,0);
				.percent {
					display: block;
					font-size: 30px;
					font-family: "montserrat-sb";
					line-height: 1;
					color: #fff;
				}
				.odometer {
					font-family: "montserrat-sb";
					font-size: 32px;
					display: inline-block;
					transform: translate3d(0px,-2px,0);
				}
			}
		}
		&-info {
			// max-width: 350px;
			margin: 0 auto;
			text-align: center;
			font-size: 24px;
			font-family: "montserrat";
			line-height: 34px;
			& > p {
				margin-bottom: 15px;
			}
			ul {
				max-width: 290px;
				margin: 0 auto;
				margin-top: 30px;
				letter-spacing: 1.5px;
				text-align: left;
				img, p {
					display: inline-block;
				}
				img {
					margin-right: 4px;
					position: relative;
					top: 3px;
				}
			}
		}
	}
    .svg-circles {
    	display: block;
    	margin: 0 auto;
        max-width: 250px;
        max-height: 250px;
		transform: rotate(-90deg);
        circle {
            stroke-dashoffset: 630;
            fill: none;
            stroke-dasharray: 630;
			&:nth-child(2n-1) {
				animation: none;
				stroke-dashoffset: 0;
			}
        }
    }

    @keyframes load {
    	0% {
    		stroke-dashoffset: 630;
    	}
    	100% {
    		stroke-dashoffset: 0;
    	}
    }
    @keyframes load2 {
    	0% {
    		stroke-dashoffset: 630;
    	}
    	100% {
    		stroke-dashoffset: 520;
    	}
    }
}
.tele2 {
	.portfolio__description {
		img {
			top: 20px;
		}
		
	}
}
.person {
	display: flex;
	align-items: center;
	img {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 15px;
	}
	span {
		display: block;
		font-family: 'montserrat-b';
	}
}
.bg-wrapper {
	position: relative;
	&::before {
		position: absolute;
		top: 10%;
		left: 0;
		content: '';
		width: 80%;
		height: 85%;
		background: url('../img/portfolio/portfolio-bg.svg') no-repeat left top/contain;
		z-index: 1;
	}
	section {
		position: relative;
		z-index: 2;
	}
}
.midroc {
	.portfolio-flex {
		justify-content: center;
		align-items: flex-start;
		& > img {
			max-width: 640px;
			transform: translate3d(65px,0,0);
			opacity: 0;
			&.in-view {
				opacity: 1;
				transition: .5s;
			}
		}
		.portfolio__description {
			transform: translate3d(-65px,0,0);
			padding-top: 80px;
		}
	}
	
}
.tale {
	max-width: 1180px;
	margin: 0 auto;
	.portfolio-flex {
		display: none;
		.portfolio__description {
			img {
				top: 20px;
			}
		}
	}
	&__description {
		margin: 0 auto;
		img {
			top: 20px;
		}
	}
	&__screen {
		opacity: 0;
		position: relative;
		width: 100%;
		margin: -120px auto 0;
		padding-bottom: 58%;
		&.in-view {
			opacity: 1;
			transition: .5s;
		}
		&-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../img/portfolio/screen.svg') center center/100% 100%;
		}
		iframe, &-thumbnail {
			position: absolute;
			width: 75%;
			left: 12.5%;
			height: 84%;
			top: 6%;
		}
		&-thumbnail {
			background: url('../img/portfolio/compressed/screen.jpg') center center/cover;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				cursor: pointer;
			}
		}
	}
}
.jerrie {
	.portfolio__screens {
		margin-right: 0;
	}
}
@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@import "media";