@import "vars";
@import "fonts";


.overflow-wrapper {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	background: linear-gradient(-180deg, #0F003D 0%, #46006e 100%);
	&.blog {
		background: #fff;
	}
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	color: #fff;
	section {
		// padding-top: 50px;
	}
	h1,h2 {
		font-family: "playerone";
		font-weight: 500;
		background: $text-bg;
		letter-spacing: 4px;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: #ff4bf0;
	}
	.container {
		display: block;
		max-width: 1140px;
		margin: 0 auto;
	}
	.section-title {
		display: block;
		text-align: center;
		p {
			display: block;
			max-width: 740px;
			margin: 0 auto;
			font-size: 18px;
			line-height: 32px;
			color: #fff;
		}
		h2 {
			font-size: 32px;
			line-height: 45px;
			letter-spacing: 3px;
		}
	}
}
.parallax-slider {
	max-width: 100%;
}

.header {
	position: relative;
	padding: 0 20px;
	&__top {
		max-width: 1140px;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0px;
		width: 100%;
		position: relative;
		z-index: 15;
		.logo {
			img {
				position: relative;
				top: 6px;
				width: 100%;
				height: auto;
			}
		}
		nav {
			li {
				display: inline-block;
				
			}
			a {
				font-family: "montserrat";
				font-size: 12px;
				text-transform: uppercase;
				color: #fff;
				transition: .25s ease;
				padding: 10px;
				&:hover, &.active {
					color: #FF47BD;
					transition: .25s ease;
				}
			}
		}
	}
	&__banner {
		position: relative;
		height: 100vh;
		min-height: 450px;
		max-height: 590px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			animation: fade 4s infinite;
			z-index: 1;
		}
		&::before {
			width: 240px;
			height: 90px;
			bottom: 120px;
			left: -20px;
			background: url('../img/lines2.png') no-repeat center center/contain;
		}
		&::after {
			width: 350px;
			height: 70px;
			position: absolute;
			top: 60px;
			right: -20px;
			background: url('../img/lines6.png') no-repeat center center/contain;
		}
		h1 {
			margin-top: -40px;
			font-size: 40px;
			margin-bottom: 35px;
			position: relative;
			z-index: 2;
		}
		p {
			text-align: center;
			max-width: 780px;
			margin: 0 auto;
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 50px;
			font-family: "montserrat-l";
			position: relative;
			z-index: 2;
		}
		a {
			border: none;
			padding: 2px;
			border-radius: 25px;
			background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
			span {
				font-family: "montserrat-b";
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 2px;
				color: #fff;
				text-transform: uppercase;
				padding: 16px 35px;
				display: block;
				background: #1d004a;
				border-radius: 25px;
				transition: .25s ease-in;
			}
			&:hover {
				span {
					background: transparent;
					transition: .25s ease-out;
				}
			}
		}
	}
	.hamburger {
		display: none;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		cursor: pointer;
		position: relative;
		left: 10px;
		z-index: 10;
		span {
			position: relative;
			width: 30px;
			height: 4px;
			border-radius: 5px;
			background: #fff;
			&::after, &::before {
				content: '';
				position: absolute;
				width: 30px;
				height: 4px;
				background: #fff;
				border-radius: 5px;
			}
			&::after {
				top: -10px;
			}
			&::before {
				bottom: -10px;
			}
		}
	}
	&__mob {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: linear-gradient(180deg, #0F003D 0%, #730096 100%);
		z-index: 16;
		display: none;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		transform: translate3d(110%,0,0);
		transition: .3s ease-out;
		&.active {
			transform: translate3d(0,0,0);
			transition: .3s ease-out;
		}
		nav {
			margin-bottom: 20px;
			a {
				font-family: "montserrat";
				font-size: 12px;
				text-transform: uppercase;
				color: #fff;
				transition: .25s ease;
				padding: 10px;
				display: block;
				&:hover, &.active {
					color: #FF47BD;
					transition: .25s ease;
				}
			}
		}
		.close {
			display: flex;
			position: fixed;
			top: 10px;
			right: 10px;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			cursor: pointer;
			transform: rotate(45deg);
			z-index: 22;
			opacity: .7;
			transition: .3s ease;
			&:active {
				opacity: 1;
				transition: .3s ease;
			}
			span {
				position: relative;
				width: 30px;
				height: 4px;
				border-radius: 5px;
				background: #fff;
				&::after {
					content: '';
					position: absolute;
					width: 30px;
					height: 4px;
					top: 0;
					left: 0;
					transform: rotate(90deg);
					background: #fff;
					border-radius: 5px;
				}
			}
		}
	}
}
.homepage-header {
	.header__top {
		position: absolute;
		top: 0;
		width: 100%;
		left: 50%;
		transform: translate3d(-50%,0,0);
		padding-left: 20px;
		padding-right: 20px;
	}
	&__banner {
		padding-top: 50px;
		max-height: none; 
	}
	&__container {
		background: url('../img/homepage/main-bg.png') center top/cover;
		position: absolute;
		width: 100%;
		min-height: 120vh;
		top: 0;
		left: 0;
		padding-bottom: 63%;
		z-index: 1;
	}
	&__banner {
		position: relative;
		z-index: 5;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: 0.6s ease-out;
		}
		&::before, &::after {
			display: none;
		}
		h1,.header__title {
			font-family: "playerone";
			font-weight: 800;
			line-height: 1.4;
			text-align: center;
			letter-spacing: 4px;
			-webkit-text-fill-color: initial;
			color: #fff;
		}
		p {
			color: #fff;
			font-family: 'montserrat';
			font-weight: 500;
		}
		a {
			padding: 0;
			// background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
			background: #FF47BD;
			position: relative;
			z-index: 2;
			span {
				font-family: "montserrat-b";
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 2px;
				color: #fff;
				text-transform: uppercase;
				padding: 16px 35px;
				display: block;
				background: none;
				border-radius: 25px;
				transition: .25s ease-in;
			}
			&:hover {
				span {
					background: #FF526D;
					transition: .25s ease-out;
				}
			}
		}
	}
}

.about {
	max-width: 960px;
	margin: 0 auto;
	background: url('../img/homepage/about-bg.svg') no-repeat center center/100% 100%;
	&.in-view {
		.about__content {
			opacity: 1;
			transition: .6s ease-out;
		}
	}
	.container {
		position: relative;
		max-width: 750px;
		margin: 0 auto;
		padding-bottom: 113%;
	}
	&__content {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	h2 {
		margin-bottom: 20px;
		font-size: 32px;
		letter-spacing: 3px;
		line-height: 1.5;
		font-weight: 700;
	}
	p {
		font-size: 20px;
		line-height: 1.6;
		font-weight: 400;
		margin-bottom: 60px;
	}
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		li {
			margin: 10px 20px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
.advantages {
	position: relative;
	margin-top: 0px;
	padding-top: 400px;
	&::after {
		content: '';
		display: block;
		position: absolute;
		animation: fade 4s infinite;
		width: 240px;
		height: 90px;
		top: 150px;
		right: -20px;
		background: url('../img/lines1.png') no-repeat center center/contain;
		z-index: 1;
	}
	&::before {
		content: '';
		position: absolute;
		height: 105%;
		width: 100%;
		top: 0;
		left: -25%;
		background: url(../img/homepage/advantages-bg.svg) no-repeat right 0/cover;
		z-index: 1;
	}
	&__list {
		max-width: 1150px;
		margin: 0 auto;
		position: relative;
		z-index: 10;
		padding: 0 20px;
		&::after {
			content: '';
			display: block;
			position: absolute;
			animation: fade 4s infinite;
			width: 350px;
			height: 70px;
			position: absolute;
			bottom: -100px;
			right: -80px;
			background: url('../img/lines7.png') no-repeat center center/contain;
			z-index: 1;
		}
		li {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			margin-bottom: 70px;
			&.in-view {
				img, .gif-wrapper {
					opacity: 1;
					transition: .5s ease-out;
				}
				.advantages__content {
					opacity: 1;
					transition: .5s ease-out;
					transition-delay: .1s;
				}
			}
			&.right {
				flex-flow: row-reverse nowrap;
				.advantages__content {
					width: 50%;
					margin-right: 70px;
					margin-left: 0;
				}
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		
		img {
			width: 50%;
			max-width: 550px;
			opacity: 0;
		}
		.gif-wrapper {
			opacity: 0;
			width: 50%;
			position: relative;
			max-width: 550px;
			span {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 115%;
				background: url('../img/homepage/advantages-frame.svg') center center/cover;
			}
			&::after {
				position: absolute;
				content: '';
				top: 6.7%;
				left: 7.2%;
				background: url('../img/homepage/advantages-frame2.svg') center center/cover;
				width: 88.5%;
				height: 86.5%;
			}
			img {
				position: absolute;
				top: 7%;
				left: 7.5%;
				width: 88%;
				height: 86%;
			}
		}
		h2 {
			font-size: 32px;
			line-height: 1.4;
			margin-bottom: 20px;
		}
		p {
			font-size: 16px;
			line-height: 1.75;
		}
	}
	&__content {
		margin-left: 70px;
		opacity: 0;
	}
}
.features {
	padding-top: 400px;
	.section-title {
		margin-bottom: 150px;
		opacity: 0;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
		h2 {
			margin-bottom: 20px;
			font-weight: 700;
		}
		p {
			max-width: 620px;
		}
	}
	&__list {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
		&::after {
			content: '';
			display: block;
			position: absolute;
			animation: fade 4s infinite;
			width: 350px;
			height: 70px;
			position: absolute;
			top: -50px;
			right: -60px;
			background: url('../img/lines4.png') no-repeat center center/contain;
			z-index: 1;
		}
		&::before {
			content: '';
			position: absolute;
			height: 130%;
			width: 100%;
			top: -15%;
			left: -15%;
			background: url('../img/homepage/features-bg.svg') no-repeat right center/cover;
			z-index: 1;
		}
		li {
			display: flex;
			flex-flow: row-reverse nowrap;
			justify-content: space-between;
			align-items: center;
			position: relative;
			z-index: 10;
			img {
				opacity: 0;
			}
			.features__text-block {
				h3, p {
					opacity: 0;
				}
			}
			&.in-view {
				img {
					opacity: 1;
					transition: .5s ease-out;
				}
				.features__text-block {
					h3, p {
						opacity: 1;
						transition: .5s ease-out;
					}
					h3 {
						transition-delay: .15s;
					}
					p {
						transition-delay: .25s;
					}
				}
			}
		}
		li:nth-of-type(1) {
			justify-content: flex-end;
			padding-top: 150px;
			background: url('../img/homepage/features1.svg') no-repeat 0 100%;
			&::after {
				content: '';
				display: block;
				position: absolute;
				animation: fade 4s infinite;
				width: 350px;
				height: 70px;
				position: absolute;
				bottom: -120px;
				left: -100px;
				background: url('../img/lines5.png') no-repeat center center/contain;
				z-index: 1;
			}
			.wrapper1 {
				width: auto;
				padding-left: 60px;
				padding-right: 60px;
				margin-left: calc(3% + 3px);
				margin-bottom: -1px;
				span {
					display: none;
				}
				img {
					display: block;
					max-width: 100%;
					position: relative;
					width: 476px;
					height: auto;
					// top: 10px;
					left: auto;
					transform: none;
				}
			}
		}
		li:nth-of-type(2) {
			padding-top: 180px;
			margin-bottom: 100px;
			flex-flow: row nowrap;
			.features__text-block {
				margin-right: 25px;
			}
		}
		li:nth-of-type(3) {
			.features__text-block {
				margin-left: 30px;
			}
		}
	}
	&__text-block {
		width: 40%;
		max-width: 440px;

		h3 {
			font-size: 26px;
			line-height: 1.75;
			margin-bottom: 20px;
			font-family: "playerone";
			letter-spacing: 3.3px;
		}
		p {
			font-size: 26px;
			line-height: 1.55;
		}
	}
	&__img-wrapper {
		width: 60%;
		position: relative;
		max-width: 640px;
		// background: url('../img/homepage/features1.svg') center center/100% 100%;
		
		span {
			display: block;
			position: relative;
			width: 100%;
			padding-bottom: 113%;
			// background: url('../img/homepage/features2.svg') center center/0 100%;
		}
		img {
			position: absolute;
			bottom: 0px;
			width: 50%;
			left: 50%;
			transform: translate3d(-50%,0,0);
		}
	}

	.wrapper2 {
		background: url('../img/homepage/features2.svg') center center/100% 100%;
	}
	.wrapper3 {
		background: url('../img/homepage/features3.svg') center center/100% 100%;
	}
	&__combination {
		padding-top: 120px;
		padding-bottom: 120px;
		text-align: center;
		position: relative;
		&-title {
			max-width: 760px;
			margin: 0 auto;
			padding: 0 15px;
			opacity: 0;
			&.in-view {
				opacity: 1;
				transition: .5s ease-out;
			}
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			animation: fade 4s infinite;
			width: 350px;
			height: 70px;
			position: absolute;
			bottom: 30px;
			right: -20px;
			background: url('../img/lines4.png') no-repeat center center/contain;
			z-index: 1;
		}
		h3 {
			font-size: 26px;
		    line-height: 1.73;
		    letter-spacing: 3.3px;
		    margin-bottom: 20px;
			font-family: "playerone";
		}
		p {
			font-size: 18px;
			line-height: 1.77;
		}
		ul {
			max-width: 1150px;
			margin: 0 auto;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			&.in-view {
				li:nth-of-type(1) {
					transform: translate3d(15%,0,0);
					transition: 1s ease;
				}
				li:nth-of-type(3) {
					transform: translate3d(-15%,0,0);
					transition: 1s ease;
				}
			}
			li {
				position: relative;
				z-index: 2;
			}
			img {
				width: 150%;
				transform: translate3d(-22.5%,0,0);
				height: auto;
			}
		}
		li:nth-of-type(1) {
			transform: translate3d(100%,0,0);
			z-index: 2;
		}
		li:nth-of-type(2) {
			z-index: 3;
		}
		li:nth-of-type(3) {
			transform: translate3d(-100%,0,0);
			z-index: 2;
		}
	}
}
.quote-section {
	padding-top: 0;
	padding-bottom: 330px;
	position: relative;
		
	&::before {
		content: '';
		display: block;
		position: absolute;
		animation: fade 4s infinite;
		width: 240px;
		height: 90px;
		bottom: 120px;
		left: -20px;
		background: url('../img/lines2.png') no-repeat center center/contain;
		z-index: 1;
	}
	&__banner {
		width: 100%;
		height: 600px;
		background: url('../img/hero.jpg') no-repeat center center/cover;
	}
	.container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 0 35px;
	}
	.section-title {
		padding: 150px 0 0 0;
		max-width: 1140px;
		text-align: left;
		width: 45%;
		h2,p {
			display: block;
			max-width: 580px;
		}
		h2 {
			margin-bottom: 25px;
		}
		p {
			margin: 0;
			font-size: 16px;
			line-height: 28px;
		}
	}
	&__quote {
		display: block;
		width: 570px;
		height: 655px;
		padding: 0 110px;
		transform: translate3d(70px,-35%,0);
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background: url('../img/blockquote-bg.svg') no-repeat center center/contain;
		blockquote {
			display: block;
			font-size: 26px;
			line-height: 40px;
			margin-bottom: 20px;
		}
		span {
			display: block;
			width: 100%;
			font-family: "montserrat-b";
			font-size: 16px;
			line-height: 1.75;
		}
	}
}
.benefits {
	position: relative;
	padding: 0 20px;
	padding-bottom: 370px;
	&::after {
		content: '';
		display: block;
		position: absolute;
		animation: fade 4s infinite;
		width: 350px;
		height: 70px;
		position: absolute;
		bottom: 150px;
		right: -20px;
		background: url('../img/lines6.png') no-repeat center center/contain;
		z-index: 1;
	}
	.section-title {
		margin-bottom: 150px;
		h2 {
			margin-bottom: 60px;
		}
	}
	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;
		li {
			text-align: center;
			width: 33%;
		}
		&-img {
			max-width: 300px;
			margin: 0 auto 20px;

			span {
				display: block;
				width: 100%;
				padding-bottom: 113.5%;
				position: relative;
				background: url('../img/benefit-border.png') no-repeat center center/contain;
			}
			img {
				width: 116%;
				position: absolute;
				left: -9.3%;
				top: -6%;
				height: auto;
			}
		}
		h3 {
			font-family: "playerone";
			font-weight: 300;
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 3px;
			margin-bottom: 20px;
		}
		p {
			max-width: 300px;
			margin: 0 auto;
			font-size: 16px;
			line-height: 28px;
		}
	}
}
.positions {
	position: relative;
	padding: 0 20px;
	padding-bottom: 200px;
	&::after {
		content: '';
		display: block;
		position: absolute;
		animation: fade 4s infinite;
		width: 350px;
		height: 70px;
		position: absolute;
		bottom: 80px;
		right: -20px;
		background: url('../img/lines6.png') no-repeat center center/contain;
		z-index: 1;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		animation: fade 4s infinite;
		width: 240px;
		height: 90px;
		bottom: 45%;
		left: -20px;
		background: url('../img/lines2.png') no-repeat center center/contain;
		z-index: 1;
	}
	.section-title {
		margin-bottom: 95px;
		h2 {
			margin-bottom: 15px;
		}
	}
	&__list {
		max-width: 630px;
		margin: 0 auto;
		li {
			position: relative;
			width: 100%;
			margin-bottom: 20px;
			background: url('../img/position-border.svg') no-repeat top left/contain;
			& > a {
				color: #fff;
				display: flex;
				flex-flow: column;
				justify-content: center;
				padding: 40px;
			}
		}
		
		h3 {
			font-family: "montserrat-l";
			font-size: 20px;
			line-height: 32px;
			margin-bottom: 1px;
		}
		button {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate3d(0,-50%,0);
			display: block;
			padding: 2px;
			width: 50px;
			height: 50px;
			border: none;
			border-radius: 50%;
			overflow: hidden;
			background: linear-gradient(130deg, #B44DFF 0%, #FF4361 100%);
			&:hover {
				span {
					background: transparent;
					transition: .25s ease;
				}
			}
			span {
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: #370060;
				transition: .25s ease;
			}
			&::before {
				content: '';
				margin: 0 auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%,-50%,0);
				display: block;
				width: 11px;
				height: 18px;
				background: url('../img/arrow.svg') center center/contain;
			}
		}
		&-contact-us {
			max-width: 540px;
			margin: 40px auto 0;
			text-align: center;
			a {
				color: #FF47BD;
			}
		}
	}
}
.contact {
	max-width: 890px;
	margin: 0 auto;
	margin-bottom: 400px;
	opacity: 0;
	&.in-view {
		opacity: 1;
		transition: .5s ease-out;
	}
	.section-title {
		font-size: 40px;
		line-height: 60px;
		margin-bottom: 90px;

	}
	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		li {

		}
		a {
			font-size: 40px;
			line-height: 49px;
			color: #fff;
			display: block;
			margin-bottom: 10px;
		}
		span {
			display: block;
			font-size: 18px;
			line-height: 28px;
			color: #FF47BD;
			text-align: center;
		}
	}
}
.footer {
	height: 600px;
	background: url('../img/footer-bg.svg') no-repeat center top/cover;
	&.in-view {
		.container {
			opacity: 1;
			transition: .5s ease-out;
		}
	}
	.container {
		opacity: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
	}
	h3 {
		display: block;
		font-family: "montserrat";
		font-size: 26px;
		line-height: 40px;
		margin-bottom: 60px;
	}

	&__button {
		display: block;
		font-family: "montserrat-b";
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #ff47bd;
		font-size: 12px;
		line-height: 15px;
		border-radius: 30px;
		overflow: hidden;
		background: #fff;
		padding: 18px 40px;
		box-shadow: 0 5px 25px rgba(255,255,255,.6);
		margin-bottom: 50px;
		transition: .25s ease;
		&:hover {		
			transition: .25s ease;
			background: #46006e;
			color: #fff;
			box-shadow: 0 5px 25px rgba(70, 0, 110,.6);
		}
	}
	ul {
		li, a {
			display: inline-block;
			font-size: 12px;
			line-height: 15px;
			padding: 5px;
			font-family: "montserrat";
			color: #fff;
			letter-spacing: 1px;
		}
	}
		
	&__contact {
		margin-bottom: 5px;
		li {
			a {
				font-size: 16px;
			}
		}
		
	}
	&__links {
		margin-top: 15px;
		padding: 30px 0;
		li {
			a {
				color: rgba(255,255,255,.6);
				transition: .25s ease;
				&:hover {
					color: #fff;
					transition: .25s ease;
				}
			}
		}
		
	}
}
.about-header {
	.header__banner {
		display: none;
		transition: none;
		&.in-view {
			h1,p {
				opacity: 1;
				transition: .5s ease-out;
			}
		}
		h1 {
			opacity: 0;
			background: $text-bg;
			letter-spacing: 4px;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: #ff4bf0;
		}
		p {
			opacity: 0;
		}
	}
	&__container {
		min-height: 80vh;
	}
}
.about-description {
	margin-top: 150px;
	position: relative;
	z-index: 3;
	&.in-view {
		.about__content {
			opacity: 1;
			transition: .5s ease-out;
		}
	}
	.about__content {
		opacity: 0;
	}
	h1 {
		font-size: 40px;
		margin-bottom: 25px;
		font-weight: 700;	
	}
}
.management {
	position: relative;
	padding: 0 15px 200px;
	&::after {
		content: '';
		display: block;
		position: absolute;
		animation: fade 4s infinite;
		width: 350px;
		height: 70px;
		position: absolute;
		bottom: 80px;
		left:-20px;
		background: url('../img/lines5.png') no-repeat center center/contain;
		z-index: 1;
	}
	.container {
		max-width: 1200px;
	}
	h2 {
		opacity: 0;
		font-size: 40px;
		margin-bottom: 50px;
		font-weight: 700;
		&.in-view {
			opacity: 1;
			transition: .5s ease-out;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		li {
			text-align: center;
			width: 33%;
			max-width: 350px;
			opacity: 0;
			margin: 0 10px;
			&.in-view {
				opacity: 1;
				transition: .5s ease-out;
			}
			&:nth-of-type(2) {
				padding-top: 100px;
			}
		}
		img {
			max-width: 320px;
			width: 100%;
			height: auto;
			margin-bottom: 20px;
		}
		h3 {
			font-size: 26px;
			font-family: "playerone";
			font-weight: 700;
			background: $text-bg;
			letter-spacing: 3px;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: #ff4bf0;
			line-height: 1.4;
			margin-bottom: 20px;
		}
		span {
			font-size: 20px;
			font-family: "montserrat";
			margin-bottom: 20px;
			display: inline-block;
		}
		p {
			margin-bottom: 25px;
		}
		a {
			display: inline-block;
			border: none;
			padding: 2px;
			border-radius: 25px;
			background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
			span {
				font-family: "montserrat-b";
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 2px;
				color: #fff;
				text-transform: uppercase;
				padding: 16px 35px;
				display: block;
				background: #250950;
				border-radius: 25px;
				transition: .25s ease-in;
				margin-bottom: 0;
			}
			&:hover {
				span {
					background: transparent;
					transition: .25s ease-out;
				}
			}
		}
	}
	&.advisors {
		position: relative;
		padding-bottom: 250px;
		&::after {
			content: '';
			display: block;
			position: absolute;
			animation: fade 4s infinite;
			width: 240px;
			height: 90px;
			bottom: 100px;
			right: -20px;
			left: auto;
			background: url('../img/lines1.png') no-repeat center center/contain;
			z-index: 1;
		}
		.management__list {
			li {
				padding-top: 100px;
				&:nth-of-type(2) {
					padding-top: 0px;
				}
			}
			img {
				max-width: 340px;
				margin-bottom: 0;
			}
			a {
				span {
					background: #34005e;
				}
				&:hover {
					span {
						background: transparent;
						transition: .25s ease-out;
					}
				}
			}
		}
	}
}
.job-section {
	padding: 0 35px;
	padding-top: 115px;
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		animation: fade 4s infinite;
		width: 240px;
		height: 90px;
		bottom: 45%;
		left: -20px;
		background: url('../img/lines2.png') no-repeat center center/contain;
		z-index: 1;
	}
	.container {
		max-width: 900px;
	}
	.section-title {
		margin-bottom: 48px;
		span {
			font-size: 12px;
			text-transform: uppercase;
			font-family: "montserrat-b";
			letter-spacing: 2px;
			a {
				color: #fff;
				&::after {
					display: inline-block;
					content: '/';
					padding: 0 16px;
				}
			}
		}
		h1 {
			font-size: 40px;
			line-height: 45px;
			margin-top: 12px;
		}
	}
	&__text-block {
		margin-bottom: 50px;
		h2 {
			font-family: "playerone";
			font-size: 26px;
			letter-spacing: 3px;
			font-weight: 400;
			margin-bottom: 30px;
		}
		p {
			font-family: "montserrat-l";
			margin-bottom: 18px;
			&.marked {
				font-size: 20px;
				line-height: 28px;
				padding: 0;
				font-family: "montserrat-b";
			}
		}
		ul {
			li {
				position: relative;
				margin-bottom: 18px;
				&::before {
					content: '';
					display: inline-block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #FF47BD;
					position: relative;
					top: -2px;
					margin-right: 18px;
				}
			}
		}
		a {
			display: block;
			width: 200px;
			margin: 45px auto 0;
			text-align: center;
			padding: 2px;
			border-radius: 25px;
			background: linear-gradient(to right,#b54dff 0,#ff4362 100%);
			span {
				font-family: "montserrat-b";
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 2px;
				color: #fff;
				text-transform: uppercase;
				padding: 16px 35px;
				display: block;
				background: #2D0058;
				border-radius: 26px;
				transition: .25s ease-in;
			}
			&:hover {
				span {
					background: transparent;
					transition: .25s ease-out;
				}
			}
		}
	}
}
.quote-section.jobpage {
	padding-top: 100px;
	.section-title {
		padding-top: 80px;
	}
	.quote-section__quote {
		transform: translate3d(70px,0,0);
	}
	.quote-section__banner {
		margin-top: -200px;
	}
}

.blog-header {
	font-family: 'lora';
	padding: 10px 15px;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	background: #fff;
	z-index: 10;
	&-container {
		max-width: 1110px;
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		max-width: 40px;
		display: block;
		position: relative;
		left: 5px;
		img {
			width: 100%;
			height: auto;
			position: relative;
			top: 4px;
		}
	}
	ul {
		li {
			display: inline-block;
		}
		a {
			padding: 8px;
			color: rgba(0,0,0,.5);
			text-transform: uppercase;
			font-size: 13px;
			transition: .3s;
			&:hover {
				color: #212529;
				transition: .3s;
			}
		}
	}
	.hamburger {
		display: none;
	}

}
.blog-listing {
	color: #212529;
	max-width: 890px;
	margin: 0 auto;
	font-family: "lora";
	line-height: 1.6;
	padding: 68px 20px 0;
	h1,h2 {
		background: none;
		letter-spacing: 0px;
		-webkit-text-fill-color: initial;
		background-clip: initial;
		font-family: "lora";
	}
	&__main {
		margin: 70px 0 40px;
		a {
			display: block;
		}
		h1 {
			color: #161a3f;
			font-weight: 700;
			font-size: 40px;
			line-height: 1.25;
		}
		&-description {
			margin: 45px 0;
			font-size: 20px;
			color: #212529;
		}
		.blog-listing__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				color: #161a3f;
			}
			.full-story {
				color: #710096;
				font-weight: 700;
				font-size: 16px;
			}
		}
	}
	&__articles {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 40px 0 80px;
		li {
			display: block;
			width: 45%;
			background: url('../img/blog/blog-bg.jpg') center center/100% 100%;
			border-radius: 25px;
			margin-bottom: 100px;
			color: #fff;
			position: relative;
			display: flex;
		}
		a {
			display: flex;
			padding: 35px 25px;
			flex-flow: column nowrap;
			align-items: flex-start;
		}
		h2 {
			color: #fff;
			font-size: 24px;
			line-height: 1.3;
			margin-bottom: 25px;
			display: block;
			width: 100%;
		}
		.blog-listing__description {
			font-size: 15px;
			line-height: 1.75;
			color: #fff;
			display: block;
			width: 100%;
			margin-bottom: 25px;
		}
		.blog-post__info-wrapper {
			margin-top: auto;
			p {
				display: block;
				line-height: 1.4;
			}
			span {
				font-size: 13px;
			}
			.author::after {
				display: none;
			}
		}
	}
}
.blog-post {
	padding-top: 68px;
	font-family: "lora";
	color: #212529;
	&__banner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		background: url('../img/blog/blog-bg.jpg') center center/cover;
		border-radius: 5px;
		max-width: 1100px;
		margin: 0 auto;
		padding: 90px 110px;
		height: 520px; 
		position: relative;
		z-index: 1;
	}
	h1,h2 {
		background: none;
		letter-spacing: 0px;
		-webkit-text-fill-color: initial;
		background-clip: initial;
		font-family: "lora";
	}
	h1 {
		font-size: 40px;
		color: #fff;
		line-height: 1.4;
	}
	&__info-wrapper {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin-right: 15px;
		}
	}
	&__info {
		p {
			display: inline;
		}
		span {
			color: #fff;
			font-size: 16px;
		}
		.author {
			font-weight: 700;
			&::after {
				content: '|';
				display: inline-block;
				font-size: 18px;
				font-weight: 300;
				margin: 0 6px 0 10px;
			}
		}
	}
	&__text-block {
		position: relative;
		z-index: 2;
		max-width: 890px;
		margin: 0 auto;
		padding: 80px 40px;
		border-radius: 20px;
		margin-top: -50px;
		background: #fff;
		p {
			font-size: 19px;
			margin-bottom: 16px;
		}
		h2,h3,h4 {
			margin-top: 20px;
			font-size: 32px;
			color: #212529;
			margin-bottom: 10px;
			font-weight: 500;
			line-height: 1.4;
		}
		h3 {
			font-size: 28px;
		}
		h4 {
			font-size: 24px;
		}
		img {
			width: 100%;
			height: auto;
		}
		ul {
			margin-bottom: 16px;
			padding-left: 40px;
			li {
				font-size: 19px;
				margin-bottom: 16px;
				position: relative;
				&::before {
					content: '';
					display: inline-block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #212529;
					position: absolute;
					left: -25px;
					top: 12px;
				}
			}
		}
		a {
			color: #007bff;
			&:hover, &:visited {
				color: #0056b3;
			}
		}
	}
}
.blog-navigation {
	max-width: 900px;
	padding: 0 15px;
	margin: 0 auto;
	margin-bottom: 110px; 
	.share-title {
		display: block;
		text-align: center;
		font-family: "lora";
		color: #212529;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.share-list {
		width: 200px;
		height: 50px;
		border-radius: 25px;
		display: flex;
		margin: 0 auto;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		margin-bottom: -25px;
		position: relative;
		background: #fff;
		z-index: 2;
		li {
			width: 25px;
			margin: 0 5px;
		}
		a {
			display: block;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__list {
		position: relative;
		z-index: 1;
		width: 100%;
		display: flex;
		border-radius: 5px;
		overflow: hidden;
		li {
			display: block;
			width: 50%;
			background: url('../img/blog/blog-bg.jpg') center center/cover;
			&.right {
				text-align: right;
				h2 {
					margin-right: 0;
					margin-left: auto;
				}
			}
		}
		a {
			display: block;
			padding: 45px 25px 50px;
		}
		span {
			color: #fff;
			font-size: 24px;
			font-family: "lora";
			text-transform: uppercase;

		}
		h2 {
			background: none;
			letter-spacing: 0px;
			-webkit-text-fill-color: initial;
			background-clip: initial;
			font-family: "lora";
			color: #fff;
			font-size: 20px;
			line-height: 1.4;
			max-width: 340px;
		}
	}
}
.blog-footer {
	padding: 0 15px;
	&.listing {
		.container {
			border-top: none;
			padding-top: 0px;
		}
	}
	.container {
		border-top: 1px solid rgba(0,0,0, 0.2);
		padding-top: 90px;
		padding-bottom: 40px;
		text-align: center;
		font-family: "lora";
	}
	h2 {
		background: none;
		letter-spacing: 0px;
		-webkit-text-fill-color: initial;
		background-clip: initial;
		color: #212529;
		font-size: 32px;
		line-height: 1.3;
		margin-bottom: 40px;
		font-family: "lora";
	}
	&__button {
		color: white;
	    font-weight: 700;
	    background-color: #230050;
	    padding: 10px 30px;
	    border-radius: 25px;
	    display: inline-block;
	    text-transform: uppercase;
	    margin-bottom: 50px;
	    transition: .3s;
	    &:hover {
	    	background: #37027b;
	    	transition: .3s;
	    }
	}
	span {
		display: block;
		font-size: 13px;
		margin-bottom: 35px;
		color: #444;
		font-weight: 700;
	}
	&__links {
		margin: 0 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		max-width: 700px;
		li {
			a {
				font-size: 13px;
				color: #444;
				text-decoration: underline !important;
			}
		}
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@import "media";