
@font-face {
  font-family: 'AvantGardeAlternatesBold';
  src: url('AvantGardeAlternatesBold.eot?#iefix') format('embedded-opentype'),  url('AvantGardeAlternatesBold.woff') format('woff'), url('AvantGardeAlternatesBold.ttf')  format('truetype'), url('AvantGardeAlternatesBold.svg#AvantGardeAlternatesBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
