@import "vars";

@media (max-width: 1439px) {
	.shareholder-dropdown {
		right: 0;
		left: auto;
	}
	.headerMenu {
		&__nav {
			&-list {
				transform: translate3d(-20px,0,0);
			}
		}
	}
}
@media (max-width: 1365px) {
	.headerMenu {
		&__top-menu {
			padding-top: 15px;
			flex-flow: column;
			align-items: flex-end;
		}
		&__search {
			width: 100%;
		}
		&__nav-list {
			li:nth-child(4) {
				.headerMenu__nav-dropdown {
					left: -375px;
				}
			}
		}
	}
	
}
@media (max-width: 1023px) {
	body {
		padding-top: 58px;
	}
	.headerMenu {
		padding: 0;
		border-top: 0;
		> .container {
			margin-bottom: 0;
			padding: 10px 15px;
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 7;
			box-shadow: 0 1px 1px  #EFEFEF;
			background: #fff;
		}
		.hamburger {
			display: flex;
		}
		&__top-menu, &__nav {
			display: none;
		}
		&__logo {
			max-width: 110px;
			padding: 0;
		}
	}
	.headerMenu-mob {
		display: block;
		width: 33%;
	    min-width: 375px;
	    right: 0;
	    &__search {
	    	width: 33%;
		    min-width: 375px;
		    left: auto;
		    right: -375px;
		    &.active {
		    	right: 0;
		    	left: auto;
		    }
	    }
	}
	.strategies {
		&__flex {
			justify-content: space-between;
			> li {
				width: 48.5%;
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

	}
	
}
@media (max-width: 767px) {
	.headerMenu-mob {
		width: 100%;
	    min-width: auto;
	    &__search {
	    	width: 100%;
		    min-width: auto;
		    left: 100%;
		    right: auto;
		    &.active {
		    	right: auto;
		    	left: 0;
		    }
	    }
	}
	.strategies {
		padding-bottom: 40px;
		&__nav {
			display: none;
		}
		&__header {
			padding: 25px 0;
			border-bottom: 1px solid #C8C7C1;
			p {
				display: none;
			}
			h2 {
				font-size: 20px;

			}
		}
		&__flex {
			padding-top: 20px;
			> li {
				width: 100%;
				margin-bottom: 25px;
			}
		}
		&__container {
			> div {
				position: relative;
				opacity: 1;
				visibility: visible;
				padding-bottom: 0px;
			}
			.mob-title {
				display: block;
			}
			.mob-wrapper {
				height: 0;
				opacity: 0;
				transition: .8s;
				&.active {
					opacity: 1;
					transition: .8s;
				}
			}
		}
	}
	.overview {
		padding-top: 0;
		.strategies__flex {
			padding-top: 0;
			li:first-of-type {
				padding-top: 20px;
			}
		}
	}
	.vehicles {
		&__list {
			h3 {
				font-size: 	18px;
				padding-top: 30px;
				margin-bottom: 0;
			}
		}
		&__flex-2cols {
			flex-flow: column;
			font-size: 13px;
			>div {
				width: 100%;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			h4 {
				font-size: 14px;
			}
			p {
				font-size: 13px;
			}
		}
	}
	.engage {
		padding-top: 0;
		&__wrapper {
			padding-top: 20px;

		}
		&__form {
			margin-bottom: 30px;
			border: none;
			&-info {
				padding: 0;
				width: 100%;
				background: #fff;
				padding-top: 0;
				h4 {
					display: none;
				}
				p {
					margin-bottom: 25px;
				}
			}
			.close {
				display: flex;
			}
		}
		&__button {
			margin-top: 20px;
		}
		.open-form {
			display: block;
		}
		&__form-wrapper { 
			padding: 15px 15px 20px;
			position: fixed;
			background: #fff;
			z-index: 5;
			width: 100%;
			top: 58px;
			height: calc(100vh - 58px);
			overflow-x: hidden;
			overflow-y: scroll;
			left: 0;
			padding-top: 50px;
			opacity: 0;
			visibility: hidden;
			transition: .2s;
			&.active {
				opacity: 1;
				visibility: visible;
				transition: .3s;
			}
			h4 {
				font-size: 20px;
				margin-bottom: 15px;
				font-weight: 400;
			}
			input, textarea {
				padding: 8px;
				margin-bottom: 20px;
			}
			label {
				color: #1a1a1a;
				background: none;
				display: block;
				margin-bottom: 10px;
				padding: 0;
				left: 0;
				top: 0;
			}
			.checkbox {
				margin-bottom: 0;
			}
			label[for='checkbox'] {
				margin-bottom: 0;
				top: -15px;
			}
			
		}
		&__people {
			flex-flow: column;
			li {
				width: 100%;
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}













