@import "vars";

@media (max-width: 992px) {
	.hamburger, .close {
		display: flex;
	}
	.header {
		margin-bottom: 40px;
		> .ui.segment {
			width: 100%;
			margin-left: 0 !important;
			margin-right: 0 !important;
			border-radius: 0;
		}
		&__top {
			display: none !important;
		}
		&__main {
			padding-top: 0;
			&-logo {
				max-width: 170px;
			}
			.input {
				display: block !important;
				margin-bottom: 30px;
			}
			&-menu {
				padding-left: 0;
				margin: 0;
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: #111;
				z-index: 5;
				transform: translate3d(100%,0,0);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				transition: .4s;
				a {
					display: block;
				}
				&.active {
					transform: translate3d(0,0,0);
					transition: .4s;
				}
			}
		}
	}
	.slider {
		padding-bottom: 50px !important;
		position: relative;
		&__list {
			.img {
				display: block;
				height: 350px;
			}
			li {
				height: auto;
			}
			a {
				display: block;
				position: relative;
			}
		}
		&__main-title {
			position: relative;
			padding-top: 15px;
			font-size: 18px;
			padding-bottom: 0;
		}
		&__info {
			position: relative;
			transform: translate3d(0,0,0);
			visibility: visible;
			transition: .4s .2s;
		}
		.owl-dots {
			position: absolute;
			bottom: 18px;
			width: 100%;
			text-align: center;
		}
		.owl-dot {
			-webkit-appearance:none;
			border: none;
			background: transparent;
			span {
				width: 12px;
				height: 12px;
				background: #ddd;
				display: inline-block;
				border-radius: 50%;
				transition: .2s;
			}
			&:focus {
				outline: none;
			}
			&.active {
				span {
					background: #aaa;
					transition: .2s;
				}
			}
		}
	}
	.place {
		flex-direction: column;
		&__info {
			width: 100%;
		}
		&__additional {
			margin-top: 20px;
			text-align: center;
		}
	}
	.events {
		padding-top: 5px;
		&__item::after {
			display: none;
		}
		&__block {
			flex-direction: column;
			>div {
				width: 100%;
			}
		}
		&__info {
			padding-bottom: 25px;
			margin-bottom: 25px;
			border-bottom: 1px solid #ddd;
			img {
				margin-right: 15px;
			}
		}
		&__purchase:not(.event__purchase) {
			padding-left: 0;
		}
	}
	.browse-container {
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	.browse {
		&__inputs {
			.ui.grid {
				margin-top: 0;
				.column {
					padding-bottom: 0 !important;
					padding-top: 0 !important;
					margin-bottom: 0;
				}
			}
		}
		&__item, &__labels {
			> div:nth-child(2) {
				width: calc(60% - 50px);
			}
			> div:nth-child(3) {
				width: calc(40% - 50px);
			}
		}
		&__info {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
			.events__info-headline {
				font-size: 16px;
			}
			img {
				margin-right: 0;
			}
		}
		&__flex {
			flex-direction: column;
			.ui.input {
				margin-right: 0;
				margin-bottom: 10px;
				width: 100%;
			}
			.ui.checkbox {
				width: 100%;
			}
		}
	}
	.footer {
		&.ui.segment {
			width: 100%;
			margin-left: 0 !important;
			margin-right: 0 !important;
			border-radius: 0;
		}
		text-align: center;
		&__top {
			.column {
				padding-bottom: 0 !important;
			}
		}
		img {

			margin: 0 auto;
		}
		&__bottom.ui.grid {
			p {
				display: block;
				text-align: center;
				margin-bottom: 10px;
			}
			
		}
	}
}
@media (max-width: 767px) {
	.ui.segment.container {
		box-shadow: none !important;
		border: none !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.browse {
		&__item {
			flex-direction: column;
			> div:nth-child(1), > div:nth-child(2), > div:nth-child(3) {
				width: 100%;
			}
		}
		&__labels {
			display: none;
		}
		&__date {
			margin-right: 0;
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ddd; 
			border-right: 0;
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			div {
				width: 50%;
				&:first-of-type {
					border-right: 1px solid #ddd;
				}
			}
			&-week {
				margin-top: 0;
			}
		}
		&__info {
			padding: 0 15px 15px;
			border-bottom: 1px solid #ddd; 
			margin-bottom: 15px;
			border-right: 0;
			> a {
				margin-right: 15px;
			}
			img {
				width: 80px;
				margin-bottom: 15px;
			}
			.ui.button {
				margin-right: 0;
				padding: 8px;
			}
			.events__info-headline {
				font-size: 15px;
			}
		}
		&__pagination {
			.ui.pagination.menu {
				height: 30px;
				margin: 0 8px;
				.item {
					padding: 5px 10px;
					min-width: auto;
					&.active {
						padding-top: 5px;
					}
				}
			}
			&-flex {
				display: flex;
				justify-content: center;
				p {
					margin: 0 10px;
				}
			}
			.ui.button {
				padding: 8px 14px;
				margin: 0;
				&.mob-hidden {
					display: none;
				}
				&.mob-btn {
					display: block;
				}
			}
		}
	}
	.event {
		&__main {
			border-top: 1px solid #ddd;
			flex-direction: column;
			border-bottom: 1px solid #ddd;
			padding-bottom: 15px;
			padding: 15px;
			&-title, &-headline {
				font-size: 17px;
			}
			&-info {
				border-right: 0;
				margin-bottom: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid #ddd;
			}
			> div {
				width: 100% !important;
				&:nth-child(1) {
					margin-left: 0;
				}
			}
		}
		&__purchase {
			padding-left: 0;
		}
		&__bands {
			flex-direction: column;
			&-item:not(.band-secondary) {
				max-width: none;
				width: 100%;
				margin-bottom: 30px;
				margin-right: 0;
				padding-right: 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
			img {
				min-width: 80px;
				width: 80px;
				margin-right: 15px;
			}
			&-secondary {
				width: 100%;
			}
		}
	}
}