@import "vars";
@import "fonts";
@import "libs";


body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $text;
}
.close {
 	position: absolute;
 	display: none;
 	justify-content: center;
 	align-items: center;
 	width: 40px;
 	height: 40px;
 	z-index: 6;
 	top: 20px;
 	right: 15px;
 	span {
 		display: block;
 		width: 18px;
 		height: 2px;
 		position: relative;
 		background: #fff;
 		transform: rotate(45deg);
 		&::after {
 			position: absolute;
 			width: 100%;
 			height: 100%;
 			transform: rotate(90deg);
 			left: 0;
 			top: 0;
 			content: '';
 			background: #fff;
 		}
 	}
}
.hamburger {
	display: none;
	width: 38px;
	height: 38px;
	background: #111;
	border-radius: 2px;
	justify-content: center;
	align-items: center;
	span {
		width: 20px;
		height: 2px;
		background: #fff;
		position: relative;
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			background: #fff;
		}
		&::before {
			top: -6px;
		}
		&::after {
			bottom: -6px;
		}
	}
}
.header {
	color: #fff;
	margin-bottom: 30px;
	a {
		transition: .2s;
		&:hover {
			color: #fff;
			transition: .2s;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #a0a0a0;
		padding-bottom: 15px;
		&-links {
			a {
				color: #bbb;
				padding: 2px 10px;
				border-right: 1px solid #aaa;
				&:last-child {
					border-right: 0;
				}
			}
		}
	}
	> .segment {
		background: #111 !important;
	}
	&__main {
		padding-top: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.input {
			display: none !important;
		}
		&-logo {
			display: block;
			max-width: 220px;
			img {
				width: 100%;
				display: block;
				height: auto;
			}
		}
		&-menu {
			li {
				list-style: none;
				display: inline-block;
				margin: 0 10px;
			}
			a {
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				padding: 8px 4px;
				position: relative;
				&::after {
					display: block;
					content: '';
					width: 0%;
					height: 2px;
					background: #fff;
					position: absolute;
					left: 50%;
					transform: translate3d(-50%,0,0);
					bottom: 0;
					transition: .2s;
				}
				&:hover::after {
					width: 100%;
					transition: .2s;
				}
			}
		}
	}
}
.slider {
	&.ui.segment {
		padding: 0;
	}
	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		overflow: hidden;
		.img {
			display: none;
		}
		a {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		li {
			position: relative;
			list-style: none;
			flex-basis: calc(100% / 6);
			position: relative;
			overflow: hidden;
			transition: .4s .2s;
			height: 300px;
			&:hover {
				flex-basis: 50%;
				transition: .4s;
				.slider__info {
					transform: translate3d(0,0,0);
					visibility: visible;
					transition: .4s .2s;
				}
			}
		}
	}
	.owl-item {
		display: inline-block;
	}

	&__main-title {
		position: absolute;
		display: block;
		width: 100%;
		bottom: 0;
		color: #fff;
		background: #000;
		margin: 0;
		text-align: center;
		padding: 10px;
		z-index: 1;
	}
	&__info {
		background: #000;
		position: absolute;
		width: 100%;
		bottom: 0;
		color: #fff;
		padding: 15px;
		z-index: 2;
		transform: translate3d(0,100%,0);
		visibility: hidden;
		transition: .4s;
		h4 {
			font-weight: 700;
			margin-bottom: 5px;
		}
		p {
			font-size: 13px;
			line-height: 1.2;
		}
		.location {
			font-weight: 700;
		}
	}
}
.upcoming {
	margin-bottom: 25px !important;
	&__info {
		color: #000;
		padding: 10px;
		h4 {
			margin: 0 0 5px;
			span {
				display: block;
				font-weight: 400;
				font-size: 13px;
			}
		}
		p {
			margin: 0;
		}
		.date {
			font-weight: 700;
		}
	}
}
.tonight {
	margin-top: 25px;
	margin-bottom: 20px;
	&__list {
		> .ui.segment {
			padding-bottom: 0;
			margin-bottom: 25px;
		}
	}
}
.place {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	&__info {
		display: flex;
		align-items: center;
		img {
			width: 65px;
			margin-right: 15px;
		}
		&-title {
			margin: 0;
			a {
				font-size: 18px;
				display: block;
				color: #000;
				margin: 0 0 6px;
			}
			color: #000;
		}
		p {
			margin: 0 0 5px;
		}
	}
	&__additional {
		text-align: right;
		&-type {
			font-weight: 700;
		}
		p{
			font-size: 14px;
			display: block;
			margin:5px 0;
		}
	}
}
.events {
	padding: 0;
	margin-bottom: 0;

	a {
		color: #2185d0;
	}
	&__item {
		padding-bottom: 35px;
		margin-bottom: 15px;
		list-style: none;
		border-bottom: 1px solid #ddd;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: calc(100% - 15px);
			background: #ddd;
			left: 50%;
			top: 0;
			transform: translate3d(-50%,0,0);
		}
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
	&__time {
		margin-bottom: 25px !important;
	}
	&__block {
		display: flex;
		justify-content: space-between;
		>div {
			width: 50%;
		}
	}
	&__info {
		display: flex;
		padding-right: 15px;
		div {
			max-width: 70%;
		}
		img {
			width: 100px;
			margin-right: 25px;
		}
		&-title {
			font-size: 14px;
			margin-bottom: 3px;
			display: block;
			color: #000;
		}
		&-headline {
			font-size: 17px;
			display: block;
			font-weight: 700;
			margin-bottom: 6px;
		}
		&-genres {
			font-weight: 700;
			font-size: 13px;
		}
	}
	&__purchase {
		text-align: center;
		padding-left: 15px;
		p {
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 15px;
		}
		img {
			display: block;
			max-width: 230px;
			margin: 0 auto;
			width: 100%;
		}
	}
	&__available {
		input[type="number"] {
			height: 36px;
			position: relative;
			top: 1px;
			width: 60px;
			margin-right: 5px !important;
		}
		&-remedy {
			padding-top: 15px;
			border-top: 1px solid #ddd;
			margin-top: 25px;
			img {
				margin-bottom: 10px;
			}
			span {
				display: block;
			}
		}
	}
}
.yeg-info {
	text-align: center;
	h4 {
		padding: 10px;
		background: #333;
		color: #fff;
	}
	p {
		padding: 15px;
		font-size: 17px;
	}
	.button {
		margin-top: auto !important;
	}
}
.browse {
	margin-top: 10px;
	padding-bottom: 10px;
	&__flex {
		margin: 20px 0;
		display: flex;
		align-items: center;
		>div  {
			width: 50%;
		}
		.ui.input {
			margin-right: 50px;
		}
	}
	&__inputs {
		margin-bottom: 20px;
		p {
			display: inline-block;
			font-weight: 400;
			margin-left: 5px;
		}
		.ui.checkbox {
			display: block;
			margin-bottom: 10px;
			label {
				cursor: pointer;
			}
		}
	}
	&__labels {
		text-align: center;
		div:first-child {
			padding-right: 5px;
		}
		div:last-child {
			padding-left: 5px;
		}
	}
	&__date {
		font-weight: 700;
		line-height: 1;
		a {
			display: block;
		}
		&-month {
			font-size: 18px;
		}
		&-day {
			font-size: 34px;
			line-height: 1;
		}
		&-week {
			font-size: 15px;
			text-transform: uppercase;
			margin-bottom: 10px;
			margin-top: 5px;
		}
	}
	&__buttons {
		text-align: center;
		margin-bottom: 30px;
	}
	&__labels, &__item {
		display: flex;
		margin-bottom: 10px;
		> div:nth-child(1) {
			width: 100px;
		}
		> div:nth-child(2) {
			width: calc(50% - 50px);
		}
		> div:nth-child(3) {
			width: calc(50% - 50px);
		}
	}
	&__item {
		box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
		padding: 15px 0 20px;
		border-radius: 5px;
		border: 1px solid rgba(34,36,38,.15);
		margin-bottom: 15px;
		&.highlighted {
			background: #f5f5f5;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__info {
		border-right: 1px solid #ddd;
		> a {
			margin-right: 20px;
		}
		.ui.button {
			display: block;
			margin: 0;
		}
		img {
			display: block;
			margin-bottom: 20px;
			margin-right: 0;
		}
		&-feat {
			margin-bottom: 8px;
			a {
				font-weight: 700;
			}
		}
		&-genres {
			margin-bottom: 8px;
			font-size: 14px;
			font-weight: 700;
		}
		&-place {
			span {
				display: block;
			}
			a {
				font-weight: 700;
			}
		}
		&-with {
			span {
				display: block;
			}
		}
	}
	&__date {
		text-align: center;
		margin-right: 15px;
		border-right: 1px solid #ddd;
		span {
			display: block;
		}
	}
	.events__purchase {
		padding: 0 15px;
	}
	&__pagination {
		text-align: center;
		margin-top: 25px;
		&-flex {
			display: inline-flex;
			align-items: center;
			margin-bottom: 15px;
		}
		.ui.pagination.menu {
			min-height: auto;
			height: 36px;
			margin: 0 10px;
		}
		.ui.button {
			margin: 0 2px;
			width: 60px;
			&.mob-btn {
				display: none;
			}
		}
		&-pages {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 15px;
		}

		&-counter {
			font-size: 13px;
			font-weight: 700;
			margin-bottom: 0;
		}
		.ui.selection.dropdown {
			width: 65px;
			margin: 0 8px;
			min-width: auto;
		}
		.mob-btn {
			
		}
	}
}
.event {
	padding: 0 !important;
	&__main {
		display: flex;
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
		padding: 15px;
		&.highlighted {
			background: #f5f5f5;
		}
		&-info {
			border-right: 1px solid #ddd;
		}
		> div:nth-child(1) {
			width: 100px;
			margin-left: -15px;
		}
		> div:nth-child(2) {
			width: calc(50% - 50px);
		}
		> div:nth-child(3) {
			width: calc(50% - 50px);
		}
		&-headline, &-title {
			font-size: 20px;
			font-weight: 700;
			display: block;
			margin-bottom: 5px;
		}
		p {
			margin-bottom: 10px;
		}
		&-part {
			margin-bottom: 20px;
		}

	}
	&__place {
		&-title {
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 16px;
			a {
				font-weight: 700;
			}
		}
	}
	&__bands {
		padding: 20px 15px;
		border-bottom: 1px solid #ddd;
		display: flex;
		justify-content: space-between;
		&-item:not(.band-secondary) {
			padding-right: 15px;
			margin-right: 15px;
			max-width: 70%;
			width: 70%;
			display: inline-flex;
			align-items: flex-start;
		}
		img {
			display: block;
			margin-right: 20px;
			min-width: 150px;
			width: 150px;
			height: auto;
		}
		&-info {
			h4 {
				font-size: 17px;
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 8px;
			}
		}
		&-genres {
			font-weight: 700;
		}
		&-secondary {
			width: 50%;
		}
		.band-secondary {
			display: flex;
			align-items: flex-start;
			max-width: none;
			padding-bottom: 15px;
			margin-bottom: 15px;
			&:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
			}
			img {
				min-width: 80px;
				width: 80px;
				margin-right: 15px;
			}
		}
	}
	&__additional {
		padding: 20px 15px;
	}
}
.footer {
	background: #000 !important;
	color: #fff;
	margin: 30px auto 0 !important;
	.column {
		padding: 15px !important;
	}
	&__top {
		
		border-bottom: 1px solid #a0a0a0;
		a {
			display: block;
			margin-bottom: 8px;
			color: #ccc;
			font-size: 13px;
			&:hover {
				color: #fff;
			}
		}
	}
	&__bottom.ui.grid {
		padding: 15px;
		align-items: flex-end;
		span {
			margin-bottom: 10px;
			font-size: 13px;
			display: block;
		}
		p {
			text-align: right;
		}
	}
}



@import "media";
